.cmp-info-radio {
  position: relative;
  margin-top: 1rem;

  &.has-border-green {
    outline: 2px solid $primary;
  }

  .info-wrapper {
    padding: 0.5rem 0;
    border-bottom: 1px solid get-color(light-grey, grey);

    &__label {
      font-size: 0.875rem;
      line-height: 1.25;
      font-weight: 400;
    }

    &__value {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  .form-check [type=radio]+label {
    position: relative;
    padding-left: 0;
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 32px;
    font-size: 1rem;
    user-select: none;
    margin-bottom: .25rem;
    display: block;
}

.form-check [type=radio]+label::after, 
.form-check [type=radio]+label::before {
  content: "";
  right: 0;
  top: 0;
  left: unset;
}

  .big-title {
    @include font(24, 32);
    font-weight: 600;
    line-height: 1.25;
    padding-bottom: 0.5rem;
    max-width: 85%;
    color: get-color(black, main);
  }

  .name {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .card-info {
    @include font(14, 16);
    line-height: 1.5;
    margin: 0.25rem 0;

    &+.card-info {
      margin-top: 0.25rem;
    }

    span {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
