.cmp-card-radio-list {
  .radio-body {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: get-color(black, main);
    padding: 0.75rem 0;
  }

  .form-check label {
    line-height: 1.5;
  }

  .form-check [type=radio]:not(:checked)+label::after,
  .form-check [type=radio]:not(:checked)+label::before {
    border-color: get-color(black, main);
  }

  .form-check [type=checkbox]+label,
  .form-check [type=radio]+label {
    padding-left: 45px;
  }
}
