<div class="cmp-card-radio-list mt-4">
  <div class="card p-3">
    <div class="card-body p-0">
      <div class="form-check m-0">
        <fieldset>
          <legend class="visually-hidden">Seleziona un giorno e orario</legend>
          {{#each radio-list as |item|}}
            <div class="radio-body border-bottom border-light">
              <input name="radio" type="radio" id="radio-{{id}}">
              <label for="radio-{{id}}">{{label}}</label>
            </div>
          {{/each}}
        </fieldset>
      </div>
    </div>
  </div>
</div>
