body {
  font-family: 'Titillium Web';
  color: get-color(black, main);
}

.shadow-contacts {
  @include media-breakpoint-up(md) {
    box-shadow: inset 0 10px 14px -12px rgba(0,0,0,0.34);
  }
}

.underline {
  text-decoration: underline;
}

.t-primary{
  color: get-color(primary,main);
}

.t-alert{
  color: get-color(alert,main);
}

.bg-grey-dsk {
	@include media-breakpoint-up(md) {
    background-color: #EBEEF0;
  }
}

.p-contacts {
  padding: 2.5rem 1.5rem;

  @include media-breakpoint-up(md) {
    padding-top: 2.666rem;
    padding-bottom: 2.666rem;
  }
}
