html, body {
  font-size: 16px;
}

body {
  font-family: 'Titillium Web';
  font-size: 1rem;
  color: get-color(black, main);
}

.shadow-contacts {
  @include media-breakpoint-up(md) {
    box-shadow: inset 0 10px 14px -12px rgba(0,0,0,0.34);
  }
}

.underline {
  text-decoration: underline;
}

.t-primary{
  color: get-color(primary,main);
}

.t-alert{
  color: get-color(alert,main);
}

.bg-grey-dsk {
	@include media-breakpoint-up(md) {
    background-color: #EBEEF0;
  }
}

.p-contacts {
  padding: um(40px) um(24px);

  @include media-breakpoint-up(md) {
    padding-top: um(48px);
    padding-bottom: um(48px);
  }
}
