{{#>base/base title="Iscrizione scheda servizio" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Iscrizioni"}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center mb-40 mb-lg-80">
      <div class="col-12 col-lg-10 pb-2">
        {{> cmp-heading/cmp-heading
        title="Iscrizione alla Scuola dell’infanzia"
        titleClass="mb-4"
        subTitle="Come iscrivere i propri figli alle Scuole dell'infanzia comunali o nelle strutture accreditate."
        button=true
        primary=true
        class="text-button"
        label="Richiedi iscrizione online"
        aria-label="Richiedi iscrizione online alla Scuola dell'infanzia"
        description="Termine presentazione: <span><strong>entro 10 giorni</strong></span>"
        label-tag="Servizio attivo"
        servizio-attivo=true
        }}
      </div>
      <hr class="d-none d-lg-block mb-0">
    </div>
  </div>

  <div class="container">
    <div class="row pb-4 pb-lg-80">
      <div class="col-12 col-lg-3 mb-4 border-col">
        {{>cmp-navscroll/cmp-navscroll accordion-title="INDICE DELLA PAGINA" id="one"
        link-list=iscrizione-graduatoria.trovare-informazione-servizio.navscroll}}
      </div>

      <div class="col-12 col-lg-8 offset-lg-1">
        <section class="mb-30">
          <h2 class="title-xxlarge mb-3" id="who-needs">A chi è rivolto</h2>
          <ul class="list-wrapper link-list lora">
            {{#each iscrizione-graduatoria.trovare-informazione-servizio.chi-rivolto.lista-1 as |info-list|}}
            <li class="list-item"><span>{{info-list.text}}</span></li>
            {{/each}}
          </ul>
        </section>

        <section class="mb-30">
          <h2 class="title-xxlarge mb-3" id="description">Descrizione</h2>
          <p class="text-paragraph lora">La scuola dell’infanzia fa parte del Sistema integrato di educazione e di
            istruzione dalla nascita ai 6 anni. È il primo gradino del percorso di istruzione e ha durata triennale.
            Fanno parte del sistema nazionale di istruzione le scuole dell’infanzia statali e paritarie a gestione
            pubblica e privata.
          </p>
        </section>

        <section class="mb-30">
          <h2 class="title-xxlarge mb-3" id="how-to">Come fare</h2>
          <p class="text-paragraph lora"> Puoi presentare la richiesta di iscrizione esclusivamente online dalle ore
            10:00 del 4 gennaio 2022 alle 20:00
            del 4 febbraio 2022. I posti assegnati vanno accettati entro 15 giorni dalla pubblicazione della
            graduatoria.
          </p>
        </section>

        <section class="mb-30 has-bg-grey p-3">
          <h2 class="title-xxlarge mb-3" id="needed">Cosa serve</h2>
          <p class="text-paragraph lora fw-semibold mb-0">Per accedere al servizio, assicurati di avere:</p>
          <ul class="list-wrapper link-list lora">
            {{#each iscrizione-graduatoria.trovare-informazione-servizio.cosa-serve.lista-1 as |info-list|}}
            <li class="list-item"><span>{{info-list.text}}</span></li>
            {{/each}}
          </ul>
        </section>

        <section class="mb-30">
          <h2 class="title-xxlarge mb-3" id="obtain">Cosa si ottiene</h2>
          <p class="text-paragraph lora">Se - in base ai requisiti e alla graduatoria - la richiesta verrà accettata,
            sarà possibile perfezionare l’iscrizione all’asilo.</p>
        </section>

        <section class="mb-30">
          {{>cmp-timeline/cmp-timeline
          title="Tempi e scadenze"
          id-title="deadlines"
          timeline=iscrizione-graduatoria.trovare-informazione-servizio.timeline
          description="Le graduatorie verranno aggiornate ogni mese con nuove assegnazioni e trasferimenti in base ai
          posti disponibili."
          }}
        </section>

        <section class="mb-30">
          <h2 class="title-xxlarge mb-3" id="costs">Costi</h2>
          <p class="text-paragraph lora">L’importo della retta si
            basa sul reddito del nucleo famigliare in base al certificato ISEE. Per maggiori informazioni, consulta la
            tabella allegata al bando.</p>
          {{>cmp-icon-link/cmp-icon-link link="Tabella rette in base al reddito" dimensione-file="(PDF 80KB)"}}
        </section>

        <section class="mb-30 has-bg-grey p-4">
          <h2 class="mb-3" id="service-access">Accedi al servizio</h2>
          <p class="text-paragraph lora mb-4">Puoi richiedere l’iscrizione alla Scuola dell’infanzia direttamente online
            tramite identità digitale.</p>
          <button type="button" aria-label="Richiedi iscrizione online alla Scuola dell'infanzia"
            class="btn btn-primary mobile-full">
            <span>Richiedi iscrizione online</span>
          </button>
          <p class="text-paragraph lora mt-4">Oppure, puoi prenotare un appuntamento e presentarti presso gli uffici.
          </p>
          <button type="button" aria-label="Vai alla pagina prenota appuntamento"
            class="btn btn-outline-primary t-primary bg-white mobile-full">
            <span>Prenota appuntamento</span>
          </button>
        </section>

        <section class="mb-30">
          <h2 class="title-xxlarge mb-3" id="more-info">Ulteriori informazioni</h2>
          <h3 class="mb-3 subtitle-medium">Graduatorie di accesso</h3>
          <p class="text-paragraph lora">I bambini già ammessi alla frequenza nell’anno scolastico in corso scolastico
            successivo previa richiesta, su appositi moduli trasmessi alle strutture di riferimento.<br>
            Alle domande viene attribuito un punteggio secondo i criteri stabiliti dall'Amministrazione Comunale. La
            famiglia può in qualsiasi momento rinunciare al posto, presentando al responsabile del servizio specifica
            dichiarazione scritta di rinuncia.</p>
          <p class='text-paragraph lora'>Se hai già inviato la richiesta di iscrizione puoi vedere le
            graduatorie d’accesso nella sezione documenti."</p>
        </section>

        <section class="mb-30">
          <h2 class="title-xxlarge mb-3" id="conditions">Condizioni di servizio</h2>
          <p class="text-paragraph lora">Per conoscere i dettagli di
            scadenze, requisiti e altre informazioni importanti, leggi i termini e le condizioni di servizio.</p>
          {{>cmp-icon-link/cmp-icon-link link="Termini e condizioni di servizio" dimensione-file="(PDF 1MB)"}}
        </section>

        <section class="it-page-section">
          <h2 class="mb-3" id="contacts">Contatti</h2>
          <div class="row">
            <div class="col-12 col-md-8 col-lg-6 mb-30">
              <div class="card-wrapper rounded h-auto pb-0">
                <div class="card card-teaser card-teaser-info align-items-center rounded shadow-sm p-3">
                  <div class="card-body pe-3">
                    <span class="card-title mb-2 title-small">
                          <a class="u-main-primary" href="#" aria-label="Vai alla pagina di Ufficio scuola" title="Vai alla pagina di Ufficio scuola">Ufficio scuola</a>
                        </span>
                    <p class="subtitle-small mb-0">Via Dei Transiti 21, 50302
                      <br>
                      05 0505
                      <br>
                      <a class="u-main-primary" href="mailto:ufficioscuola@email.it" aria-label="Invia una email a ufficioscuola@email.it"
                        title="Invia una email a ufficioscuola@email.it">ufficioscuola@email.it</a>
                    </p>
                  </div>
                  <div class="avatar size-xl">
                    <img src="https://picsum.photos/200/200" alt="Immagine" />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 mb-30">
              <span class="text-paragraph-small">Argomenti:</span>
              <div class="d-flex flex-wrap gap-2 mt-10 mb-30">
                {{>partials/cmp-tag/cmp-tag label-tag="Educazione" class="t-primary bg-tag"}}
                {{>partials/cmp-tag/cmp-tag label-tag="Famiglia" class="t-primary bg-tag"}}
                {{>partials/cmp-tag/cmp-tag label-tag="Scuola materna" class="t-primary bg-tag"}}
                {{>partials/cmp-tag/cmp-tag label-tag="Bambini 3 - 5 anni" class="t-primary bg-tag"}}
              </div>
              <p class="text-paragraph-small mb-0">Pagina aggiornata il 14/04/2022</p>
            </div>
        </section>
      </div>
    </div>
  </div>


  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 p-lg-0 px-4">
          {{>cmp-rating/cmp-rating}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-5">
          {{>cmp-carousel/cmp-carousel carousel-title="Contenuti correlati" class="carousel-4-card"
          carTitle-class="pb-0"}}
        </div>
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}