{{#>base/base title="Servizi scolastici - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs 
          link1="Home" 
          link2="Servizi" 
          link3="Servizi scolastici"
        }}
      </div>
    </div>
  </div>

  <div class="container" >
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-heading/cmp-heading-detail
        title="Richiesta servizio mensa scolastica"
        subTitle="Il servizio di mensa scolastica per le scuole dell’infanzia e primarie statali."
        pClass="mb-3"
        button=true
        label="Richiedi online"
        primary=true
        class="text-button"
        label-tag-up="Servizio attivo"
        aria-label="Richiedi online il servizio di mensa scolastica"
        servizio-attivo=true
        }}
      </div>
      <hr class="d-none d-lg-block mb-0 mt-2">
    </div>
  </div>

  <div class="container">
    <div class="row mt-4 mt-lg-80">

      <div class="col-12 col-lg-3 mb-4 border-col">
        {{>cmp-navscroll/cmp-navscroll 
          accordion-title="INDICE DELLA PAGINA" id="one"
          link-list=servizi-pagamento.trovare-informazioni-servizio.navscroll
        }}
      </div>

      <div class="col-12 col-lg-8 offset-lg-1">
        <section class="mb-30">
          <h2 class="title-xxlarge mb-3" id="who-needs">A chi è rivolto</h2>
          <ul class="list-wrapper lora">
            {{#each servizi-pagamento.trovare-informazioni-servizio.list-1 as |info-list|}}
              <li class="list-item"><span>{{info-list.text}}</span></li>
            {{/each}}
          </ul>
        </section>

        <section class="mb-30">
          <h2 class="title-xxlarge mb-3" id="description">Descrizione</h2>
          <p class="text-paragraph lora mb-0">
            Per la <strong>Scuola dell’infanzia</strong> il servizio è attivo tutti i giorni. La richiesta dovrà essere
            ripresentata ogni anno contestualmente alla riconferma alla scuola.
            <br><br>
            Per la <strong>Scuola primaria</strong>, la richiesta di iscrizione alla classe prima comporta l'iscrizione
            automatica al servizio mensa e si intende valida per l'intero ciclo scolastico.
            <br><br>
            I menù sono articolati su otto settimane per il menù invernale e su quattro settimane per il menù estivo e
            diversificati per tipo d’utenza.
            Sono predisposti osservando le Linee Guida Regionali sulla ristorazione scolastica.
          </p>
        </section>

        <section class="mb-30">
          <h2 class="title-xxlarge mb-3" id="how-to">Come fare</h2>
          <p class="text-paragraph lora mb-0">
            L’iscrizione e l’eventuale richiesta di dieta speciale devono essere effettuate obbligatoriamente ogni anno
            per tutti gli iscritti che consumeranno il pasto a scuola.
          </p>
        </section>

        <section class="mb-30 has-bg-grey p-3">
          <h2 class="title-xxlarge mb-3" id="needed">Cosa serve</h2>
          <p class="text-paragraph lora mb-0">Per accedere al servizio, assicurati di avere:</p>
          <ul class="list-wrapper lora">
            {{#each servizi-pagamento.trovare-informazioni-servizio.list-2 as |info-list|}}
              <li class="list-item"><span>{{info-list.text}}</span></li>
            {{/each}}
          </ul>
        </section>

        <section class="mb-30">
          {{>cmp-timeline/cmp-timeline
            title="Tempi e scadenze"
            id-title="deadlines"
            timeline=servizi-pagamento.trovare-informazioni-servizio.timeline
          }}
        </section>

        <section class="mb-30">
          <h2 class="title-xxlarge mb-3" id="costs">Costi</h2>
          <p class="text-paragraph lora">
            L'utente del servizio mensa è tenuto a versare, per ciascun pasto, la quota stabilita in base alle fasce Isee approvate con
            delibera di Giunta comunale n. 3/2019. 
            <br><br>
            È riconosciuta l’esenzione per ISEE compreso tra € 0,00 ed € 10.000,00."
          </p>
          {{>cmp-icon-link/cmp-icon-link 
            link="Tariffe per la mensa scolastica" 
            dimensione-file="(PDF1MB)"
          }}
        </section>

        <section class="mb-30 has-bg-grey p-3">
           <h2 class="title-xxlarge mb-3" id="service-access">Accedi al servizio</h2>
           <p class="text-paragraph lora">Puoi richiedere il servizio mensa direttamente online tramite identità digitale.</p>
          {{>partials/button/button 
            label="Richiedi online" 
            aria-label="Accedi al servizio e richiedi online il servizio di mensa scolastica" 
            primary="true" 
            class="mobile-full" 
          }}
          <p class="text-paragraph mt-4 lora">Oppure, puoi prenotare un appuntamento e presentarti presso gli uffici.</p>
          {{>partials/button/button 
            label="Prenota appuntamento" 
            aria-label="Vai alla pagina Prenota Appuntamento"
            class="mobile-full btn-outline-primary bg-white t-primary" 
          }}
        </section>

        <section class="mb-30">
          <h2 class="title-xxlarge mb-3" id="conditions">Condizioni di servizio</h2>
          <p class="text-paragraph lora">Per conoscere i dettagli di scadenze, requisiti e altre informazioni importanti, leggi i termini e le condizioni di servizio." </p>
          {{>cmp-icon-link/cmp-icon-link 
            link="Termini e condizioni di servizio" 
            dimensione-file="(PDF 1MB)"
          }}
        </section>

        <section class="it-page-section">
          <h2 class="mb-3" id="contacts">Contatti</h2>
          <div class="row">
            <div class="col-12 col-md-8 col-lg-6 mb-30">
              <div class="card-wrapper rounded h-auto pb-0">
              <div class="card card-teaser card-teaser-info rounded shadow-sm p-3">
                <div class="card-body pe-3">
                  <span class="title-small">
                    <a class="" href="#" aria-label="Vai alla pagina di Ufficio scuola" title="Vai alla pagina di Ufficio scuola">Ufficio scuola</a>
                  </span>
                    <p class="subtitle-small mb-0">Via Dei Transiti 21, 50302
                      <br>
                       05 0505
                      <br>
                      <a class="" href='mailto:ufficioscuola@email.it' aria-label='Invia una email a ufficioscuola@email.it' title='Invia una email a ufficioscuola@email.it'>ufficioscuola@email.it</a>
                    </p>
                </div>
                <div class="avatar size-xl">
                  <img src="https://picsum.photos/200/200" alt="Immagine" />
                </div>
              </div>
            </div>
            </div>

            <div class="col-12 mb-30">
              <span class="text-paragraph-small">Argomenti:</span>
              <div class="d-flex flex-wrap gap-2 mt-10 mb-30">
                {{>partials/cmp-tag/cmp-tag label-tag="Educazione" class="t-primary bg-tag"}}
                {{>partials/cmp-tag/cmp-tag label-tag="Famiglia" class="t-primary bg-tag"}}
                {{>partials/cmp-tag/cmp-tag label-tag="Scuola" class="t-primary bg-tag"}}
              </div>
              <p class="text-paragraph-small mb-0">Pagina aggiornata il 14/04/2022</p>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>


  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 p-lg-0 px-4">
          {{>cmp-rating/cmp-rating}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-5">
          {{>cmp-carousel/cmp-carousel carousel-title="Contenuti correlati" class="carousel-4-card"}}
        </div>
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}