{{#>base/base title="Servizi scolastici - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Servizi scolastici"}}
        {{> cmp-heading/cmp-heading
        title="Richiesta servizio mensa scolastica"
        subTitle="Inserisci le informazioni necessarie per richiedere il servizio di mensa scolastica.
        Potrai ricontrollare tutti i dati nel riepilogo, prima di inviare la richiesta."
        description="Hai bisogno di assistenza? <a class='title-small-semi-bold t-primary'
         aria-label='contattaci per richiedere assistenza' title='contattaci per richiedere assistenza'
          href='#'>Contattaci</a>"
        desClass="mt-lg-2"
        }}
      </div>
      <div class="col-12">
        {{> cmp-info-progress/cmp-info-progress
        step-list=servizi-pagamento.acconsentire-trattamento-dati-inseriti.step-2
        step-num="2"
        step-title="Dati generali"
        step-tot="4"
        }}
      </div>
    </div>
    <div class="steppers-content" aria-live="polite">
      <div class="row">
        <div class="col-12 col-lg-3 mb-4 d-none d-lg-block">
          {{>cmp-navscroll/cmp-navscroll accordion-title="INFORMAZIONI RICHIESTE" id="one"
          link-list=servizi-pagamento.controllare-dati-personali.navscroll
          br-none="true"}}
        </div>
        <div class="col-12 col-lg-8 offset-lg-1">

          {{> cmp-alert-box/cmp-alert-box warning=true message="Ci sono alcune informazioni mancanti o errate"
          alertSpan-class="title-small-semi-bold"
          description-class="mb-1"
          class="mb-50"
          alert-link-list=servizi-pagamento.controllare-dati-personali.alert-list}}

          {{#>cmp-card/cmp-card-content-box
          h2-class="mb-1"
          bg-grey=true
          card-title="Richiedente"
          id-title="applicant-info"
          subtitle="Informazione su di te"
          margin-class="mb-40"
          }}

          {{> cmp-info-button-card/cmp-info-button-card big-title="Giulia Bianchi"
          label-2="Codice Fiscale <br> <span>GLABNC72H25H501Y</span>"
          show-more-anagrafica-4=true
          btn-label-text="Aggiungi"
          collapse-id="collapse-parents"
          modalId="modal-documents"}}
          {{/cmp-card/cmp-card-content-box}}

          {{#>cmp-card/cmp-card-content-box bg-grey=true
          card-title="Beneficiario"
          id-title="beneficiary-info"
          subtitle="Informazioni sulla persona che utilizzerà il servizio"
          h2-class="mb-1"
          margin-class="mb-40"
          }}

            {{> cmp-info-button-card/cmp-info-button-card radio=true group="beneficiaries" idRadio="son"
            radio-title="Francesco Rossi"
            label-2="Codice Fiscale <br> <span>FRARSS72H25H501Y</span>"
            show-more-anagrafica-3=true
            acc-open=true
            anagrafica=servizi-pagamento.controllare-dati-personali.anagrafica
            indirizzo=servizi-pagamento.controllare-dati-personali.indirizzo
            documenti=servizi-pagamento.controllare-dati-personali.documenti
            btnDocumenti=true
            btn-label-text="Aggiungi"
            collapse-id="collapse-benef-1"
            modalId="modal-documents"}}

          {{> cmp-info-button-card/cmp-info-button-card radio=true group="beneficiaries" idRadio="daughter"
          radio-title="Lucia Rossi" label-2="Codice Fiscale <br> <span>LCARSS72H25H501Y</span>"
          show-more-anagrafica-3=true
          anagrafica=servizi-pagamento.controllare-dati-personali.anagrafica-2
          indirizzo=servizi-pagamento.controllare-dati-personali.indirizzo-2
          documenti=servizi-pagamento.controllare-dati-personali.documenti-2
          btnDocumenti=true
          btn-label-text="Aggiungi"
          collapse-id="collapse-benef-2"
          modalId="modal-documents"}}

          {{>partials/button/button label="Aggiungi beneficiario"
          iconBtn="it-plus-circle"
          sm=true
          class="plus-text mt-20 p-0"
          aria-label="Vai alla modale aggiungi beneficiario"}}
          {{/cmp-card/cmp-card-content-box}}


          {{#>cmp-card/cmp-card-content-box bg-grey=true
          card-title="ISEE"
          h2-class="mb-1"
          id-title="isee-info"
          subtitle="Informazioni sul valore dell’ISEE del tuo nucleo familiare basato sulla tua
          ultima
          dichiarazione"}}
          {{> cmp-info-button-card/cmp-info-button-card big-title="ISEE: 18.000,00€" label-2="Scadenza ISEE <br>
          <span>01/10/2019</span>"
          show-more-isee="true"
          isee-success=true
          collapse-id="collapse2"
          modalId="modal-isee"
          }}
          {{/cmp-card/cmp-card-content-box}}

          {{>cmp-nav-steps/cmp-nav-steps save="true" saveBtn=true aria-label-save="del servizio mensa"
          modalId="modal-save-1"

          }}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
  {{>cmp-modal/modal-documents
  label1-text="Certificato disabilità"
  label1-id="doc-dis"
  document1="francesco_rossi_certificat..."
  label2-text="Certificato dieta patologica"
  label2-id="doc-diet"
  document2="francesco_rossi_dieta.pdf"}}

  {{>cmp-modal/modal-isee}}

  {{>cmp-modal/modal-save}}
</main>
{{/base/base }}