.card-teaser {
  padding: 0;

  .card-body {
    padding: 0;
    height: 100%;
  }

  .teaser-content {
    padding: 16px 24px;
  }

  .category-top {
    text-transform: uppercase;
    letter-spacing: 1.1px;
    color: #435a70;
    margin-bottom: 16px;
    line-height: 1.3;

    @include media-breakpoint-up(sm) {
      font-size: 0.778rem;
    }
  }

  .card-image {
    width: 30%;
    flex-shrink: 0;
    max-height: 200px;
    
    img {
      width: 100%;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      object-fit: cover;
      height: 100%;
    }
  }
}