{{#>base/base title="Index" }}
<main class="my-5">
  <div class="container">
    <p class="h1">Archetipo</p>
    <ul>
      <li><a href="./trovare-informazioni-servizio.html">Trovare informazioni sul servizio</a></li>
      <li><a href="./accedere-servizio.html">Accedere al servizio</a></li>
      <li><a href="./acconsentire-trattamento-dati-inseriti.html">Acconsentire al trattamento dei dati inseriti</a>
      </li>
      <li><a href="./controllare-dati-personali.html">Inserire / Controllare i dati personali</a></li>
      <li><a href="./inserire-dati-specifici.html">Inserire i dati specifici del servizio</a></li>
      <li><a href="./conferma-riepilogo-informazioni-inserite.html">Confermare riepilogo informazioni inserite</a>
      </li>
      <li><a href="./finalizzare-procedura.html">Finalizzare procedura</a></li>
      <li><a href="./area-personale.html">Area Personale</a></li>
      <li><a href="./documenti.html">Documenti</a></li>
      <li><a href="./perfezionare-richiesta.html">Perfezionare la richiesta</a></li>
      <li><a href="./effettuare-pagamento.html">Effettuare il pagamento</a></li>
    </ul>

    <p class="h1">Archetipo: Permessi e autorizzazioni</p>
    <ul>
      <li><a href="./ztl-dati-servizio.html">Inserire i dati specifici del servizio</a></li>
    </ul>

    <p class="h1">Segnalazione disservizio</p>
    <ul>
      <li><a href="./trovare-informazioni-servizio-disservizio.html">Trovare informazioni sul servizio</a></li>
      <li><a href="./acconsentire-trattamento-dati-inseriti-disservizio.html">Acconsentire al trattamento dei dati inseriti</a></li>
      <li><a href="./inserire-dati-specifici-disservizio.html">Inserire i dati specifici del servizio</a></li>
      <li><a href="./conferma-riepilogo-informazioni-inserite-disservizio.html">Confermare riepilogo informazioni inserite</a></li>
      <li><a href="./finalizzare-procedura-disservizio.html">Finalizzare procedura</a></li>
    </ul>

    <p class="h1">Segnalazione disservizio - Tutte le segnalazioni</p>
    <ul>
      <li><a href="./segnalazione-disservizio.html">Trovare informazioni sul servizio</a></li>
      <li><a href="./disservizio-lista.html">Segnalazioni disservizio - Mappa e Lista</a></li>
    </ul>

    <p class="h1">Modali</p>
    <ul>
      <li><a href="./iscrizione-modali.html">Modali</a></li>
    </ul>
  </div>
</main>
{{/base/base }}
