{{#>base/base title="Index" }}
<main class="my-5">
  <div class="container">
    <p class="h1">Archetipo: Iscrizione a graduatoria</p>
    <ul>
      <li><a href="./iscrizione-graduatoria-trovare-informazioni-servizio.html">Trovare informazioni sul servizio</a>
      </li>
      <li><a href="./iscrizione-graduatoria-accedere-servizio.html">Accedere al servizio</a></li>
      <li><a href="./iscrizione-graduatoria-acconsentire-trattamento-dati-inseriti.html">Acconsentire al trattamento dei
          dati
          inseriti</a>
      </li>
      <li><a href="./iscrizione-graduatoria-controllare-dati-personali.html">Inserire / Controllare i dati personali</a>
      </li>
      <li><a href="./iscrizione-graduatoria-inserire-dati-specifici.html">Inserire i dati specifici del servizio</a>
      </li>
      <li><a href="./iscrizione-graduatoria-conferma-riepilogo-informazioni-inserite.html">Confermare riepilogo
          informazioni inserite</a>
      </li>
      <li><a href="./iscrizione-graduatoria-finalizzare-procedura.html">Finalizzare la procedura</a></li>
      <li><a href="./iscrizione-graduatoria-area-personale.html">Area Personale</a></li>
      <li><a href="./iscrizione-graduatoria-area-personale-doc.html">Area Personale Documenti</a></li>
      <li><a href="./iscrizione-graduatoria-perfezionare-richiesta.html">Perfezionare la richiesta</a></li>
      <li><a href="./iscrizione-graduatoria-effettuare-pagamento.html">Effettuare il pagamento(opzionale)</a></li>
    </ul>


    <p class="h1">Archetipo: Permessi e autorizzazioni</p>
    <ul>
      <li><a href="./permessi-autorizzazioni-trovare-informazioni-servizio.html">Trovare informazioni sul servizio</a>
      </li>
      <li><a href="./iscrizione-graduatoria-accedere-servizio.html">Accedere al servizio</a></li>
      <li><a href="./permessi-autorizzazioni-acconsentire-trattamento-dati-inseriti.html">Acconsentire al trattamento
          dei dati
          inseriti</a></li>
      <li><a href="./permessi-autorizzazioni-controllare-dati-personali.html">Inserire / Controllare i dati
          personali</a></li>
      <li><a href="./permessi-autorizzazioni-inserire-dati-specifici.html">Inserire i dati specifici del servizio</a>
      </li>
      <li><a href="./permessi-autorizzazioni-conferma-riepilogo-informazioni-inserite.html">Confermare riepilogo
          informazioni inserite</a>
      <li><a href="./permessi-autorizzazioni-finalizzare-procedura.html">Finalizzare la procedura</a></li>
      <li><a href="./permessi-autorizzazioni-area-personale.html">Area Personale</a></li>
      <li><a href="./permessi-autorizzazioni-effettuare-pagamento.html">Effettuare il pagamento</a></li>
      </li>
    </ul>


    <p class="h1">Archetipo: Vantaggi economici</p>
    <ul>
      <li><a href="./vantaggi-economici-trovare-informazioni-servizio.html">Trovare informazioni sul servizio</a></li>
      <li><a href="./iscrizione-graduatoria-accedere-servizio.html">Accedere al servizio</a></li>
      <li><a href="./vantaggi-economici-acconsentire-trattamento-dati-inseriti.html">Acconsentire al trattamento dei
          dati
          inseriti</a>
      </li>
      <li><a href="./vantaggi-economici-controllare-dati-personali.html">Inserire / Controllare i dati personali</a>
      </li>
      <li><a href="./vantaggi-economici-controllare-dati-personali-var-1.html">Inserire / Controllare i dati personali
          var-1</a>
      </li>
      <li><a href="./vantaggi-economici-conferma-riepilogo-informazioni-inserite.html">Confermare riepilogo informazioni
          inserite</a>
      </li>
      <li><a href="./vantaggi-economici-finalizzare-procedura.html">Finalizzare procedura</a></li>
      <li><a href="./vantaggi-economici-area-personale.html">Area Personale</a></li>
    </ul>


    <p class="h1">Archetipo: Pagamenti dovuti - IMU</p>
    <ul>
      <li><a href="./pagamenti-dovuti-trovare-informazioni-servizio.html">Trovare informazioni sul servizio</a></li>
      <li><a href="./iscrizione-graduatoria-accedere-servizio.html">Accedere al servizio</a></li>
      <li><a href="./pagamenti-dovuti-acconsentire-trattamento-dati-inseriti.html">Acconsentire al trattamento dei dati
          inseriti</a></li>
      <li><a href="./pagamenti-dovuti-controllare-dati-personali.html">Inserire/Controllare i dati personali</a></li>
      <li><a href="./pagamenti-dovuti-confermare-riepilogo-informazioni-inserite.html">Confermare riepilogo informazioni
          inserite</a></li>
      <li><a href="./pagamenti-dovuti-preferenze-pagamento.html">Preferenze di pagamento</a></li>
      <li><a href="./pagamenti-dovuti-effettuare-pagamento.html">Effettuare il pagamento</a></li>
      <li><a href="./pagamenti-dovuti-finalizzare-procedura.html">Finalizzare procedura</a></li>
      <li><a href="./pagamenti-dovuti-area-personale.html">Area Personale</a></li>
    </ul>


    <p class="h1">Archetipo: Pagamenti dovuti - MULTA</p>
    <ul>
      <li><a href="./pagamenti-dovuti-multa-trovare-informazioni-servizio.html">Trovare informazioni sul servizio</a>
      </li>
      <li><a href="./iscrizione-graduatoria-accedere-servizio.html">Accedere al servizio</a></li>
      <li><a href="./pagamenti-dovuti-multa-acconsentire-trattamento-dati-inseriti.html">Acconsentire al trattamento dei
          dati
          inseriti</a></li>
      <li><a href="./pagamenti-dovuti-multa-controllare-dati-personali.html">Inserire/Controllare i dati personali</a>
      </li>
      <li><a href="./pagamenti-dovuti-multa-inserire-dati-specifici.html">Inserire i dati specifici del servizio</a>
      </li>
      <li><a href="./pagamenti-dovuti-multa-confermare-riepilogo-informazioni-inserite.html">Confermare riepilogo
          informazioni
          inserite</a></li>
      <li><a href="./pagamenti-dovuti-effettuare-pagamento.html">Effettuare il pagamento</a></li>
      <li><a href="./pagamenti-dovuti-multa-finalizzare-procedura.html">Finalizzare procedura</a></li>
      <li><a href="./pagamenti-dovuti-multa-area-personale.html">Area Personale</a></li>
    </ul>


    <p class="h1">Archetipo: Servizi a pagamento</p>
    <ul>
      <li><a href="./servizi-pagamento-trovare-informazioni-sul-servizio.html">Trovare informazioni sul servizio</a>
      </li>
      <li><a href="./iscrizione-graduatoria-accedere-servizio.html">Accedere al servizio</a></li>
      <li><a href="./servizi-pagamento-acconsentire-trattamento-dati-inseriti.html">Acconsentire al trattamento dei dati
          inseriti</a></li>
      <li><a href="./servizi-pagamento-controllare-dati-personali.html">Inserire / Controllare i dati personali</a></li>
      <li><a href="./servizi-pagamento-inserire-dati-specifici.html">Inserire i dati specifici del servizio</a></li>
      <li><a href="./servizi-pagamento-conferma-riepilogo-informazioni-inserite.html">Confermare riepilogo informazioni
          inserite</a>
      </li>
      <li><a href="./servizi-pagamento-finalizzare-procedura.html">Finalizzare procedura</a></li>
      <li><a href="./servizi-pagamento-area-personale.html">Area Personale</a></li>
      <li><a href="./servizi-pagamento-effettuare-pagamento.html">Effettuare il pagamento</a></li>
    </ul>


    <p class="h1">Servizio: Segnalazione disservizio</p>
    <ul>
      <li><a href="./segnalazione-disservizio-trovare-informazioni-servizio.html">Trovare informazioni sul servizio</a>
      </li>
      <li><a href="./segnalazione-disservizio-acconsentire-trattamento-dati-inseriti.html">Acconsentire al trattamento
          dei dati
          inseriti</a></li>
      <li><a href="./segnalazione-disservizio-inserire-dati-specifici.html">Inserire i dati specifici del servizio</a>
      </li>
      <li><a href="./segnalazione-disservizio-conferma-riepilogo-informazioni-inserite.html">Confermare riepilogo
          informazioni
          inserite</a></li>
      <li><a href="./segnalazione-disservizio-finalizzare-procedura.html">Finalizzare procedura</a></li>
    </ul>


    <p class="h1">Servizio: Segnalazione disservizio - Tutte le segnalazioni</p>
    <ul>
      <li><a href="./segnalazione-disservizio-tutte-segnalazioni-trovare-informazioni.html">Trovare informazioni sul
          servizio</a></li>
      <li><a href="./segnalazione-disservizio-tutte-segnalazioni-mappa-lista.html">Mappa e Lista</a></li>
    </ul>


    <p class="h1">Trasversale: Prenota Appuntamento</p>
    <ul>
      <li><a href="./prenota-appuntamento-inserire-dati-specifici-servizio.html">Inserire i dati specifici del
          servizio</a></li>
      <li><a href="./prenota-appuntamento-inserire-dati-specifici-servizio-var-1.html">Inserire i dati specifici del
          servizio
          variante-1</a></li>
      <li><a href="./prenota-appuntamento-inserire-dati-specifici-servizio-step-2.html">Inserire i dati specifici del
          servizio step
          2</a>
      </li>
      <li><a href="./prenota-appuntamento-inserire-dati-specifici-servizio-step-3.html">Inserire i dati specifici del
          servizio step
          3</a>
      </li>
      <li><a href="./prenota-appuntamento-controllare-dati-personali.html">Inserire/Controllare i dati personali</a>
      </li>
      <li><a href="./prenota-appuntamento-controllare-dati-personali-var-1.html">Inserire/Controllare i dati personali
          variante-1</a>
      </li>
      <li><a href="./prenota-appuntamento-conferma-riepilogo-informazioni-inserite.html">Confermare riepilogo
          informazioni inserite</a>
      </li>
      <li><a href="./prenota-appuntamento-finalizzare-procedura.html">Finalizzare procedura</a></li>
    </ul>


    <p class="h1">Trasversale: Richiedi Assistenza</p>
    <ul>
      <li><a href="./richiedi-assistenza-controllare-dati-personali.html">Inserire/Controllare i dati personali</a></li>

      <li><a href="./richiedi-assistenza-finalizzare-procedura.html">Finalizzare procedura</a></li>
    </ul>


    <p class="h1">Trasversale: Domande Frequenti</p>
    <ul>
      <li><a href="./domande-frequenti.html">Domande frequenti</a></li>
    </ul>


    <p class="h1">Sito pubblico: Sezione Servizi</p>
    <ul>
      <li><a href="./template-servizi.html">Primo Livello - Tutti i servizi</a></li>
      <li><a href="./template-servizi-servizio.html">Secondo Livello - Categoria di servizio</a></li>
    </ul>


    <p class="h1">Sito pubblico: Ricerca globale</p>
    <ul>
      <li><a href="./template-risultati.html">Risultati</a></li>
    </ul>


    <p class="h1">Sito pubblico: Pagina amministrazione</p>
    <ul>
      <li><a href="./template-amministrazione.html">Amministrazione</a></li>
    </ul>


    <p class="h1">Sito pubblico: Pagina vivi {Nome Comune}</p>
    <ul>
      <li><a href="./template-vivi.html">Vivi {Nome Comune}</a></li>
    </ul>


    <p class="h1">Sito pubblico: Templates</p>
    <ul>
      <li><a href="./template-homepage.html">Homepage</a></li>
      <li><a href="./template-lista-contenuti-categorie.html">Lista con contenuti e categorie</a></li>
      <li><a href="./template-lista-solo-contenuti.html">Lista solo contenuti</a></li>
      <li><a href="./template-lista-solo-categorie.html">Lista solo categorie</a></li>
      <li><a href="./template-documenti.html">Pagina di primo livello - Documenti</a></li>
      <li><a href="./template-novita-evento.html">Pagina di secondo livello - Evento</a></li>
      <li><a href="./template-novita-notizia.html">Pagina di secondo livello - Notizia</a></li>
      <li><a href="./template-argomenti.html">Pagina di primo livello - Lista Argomenti</a></li>
      <li><a href="./template-argomenti-argomento.html">Pagina di secondo livello - Argomento</a></li>
      <li><a href="./template-area-personale.html">Pagina "Area Personale"</a></li>
      <li><a href="./template-area-personale-dettaglio-pratica.html">Pagina "Area Personale - Dettaglio Pratica"</a>
      </li>
    </ul>


    <p class="h1">Modali</p>
    <ul>
      <li><a href="./modali.html">Modali</a></li>
    </ul>
  </div>
</main>
{{/base/base }}