{{#>base/base-index title="Index" path="./" }}
  <main class="my-5">
    <div class="container">
      <p>Vai alla sezione di Sito pubblico</p>
      <a href="./sito/index.html" class="btn btn-primary" style="width: 230px;height: 50px;">SITO</a>

      <p class="mt-5">Vai alla sezione di Servizi</p>
      <a href="./servizi/index.html" class="btn btn-primary" style="width: 230px;height: 50px;">SERVIZI</a>
    </div>
  </main>
{{/base/base-index }}