{{#>base/base title="Iscrizione scuola infanzia richiesta"}}
<main>
  <div class="container" id="main-container">
    <div class="row">
       <div class="col-12 col-lg-10 offset-lg-1">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Area personale" link3="Pagamento"}}
         {{>cmp-heading/cmp-heading
          title="Pagamento"
          heading-p0=true
          title-class="mb-4"
        }}
      </div>
    </div>
    <hr class="d-none d-lg-block mb-40 mt-0">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2 pt-0">
        {{#>cmp-card/cmp-card-content-box
        header-m0=true
          class="mb-0"
          bg-grey=true
          card-title="Permesso ZTL"
        }}

        {{>cmp-info-summary/cmp-info-summary-no-modify
          class="card-summary-inline"
          header-class="d-none"
          info=true
          effettuare-pagamento=info-list
        }}

        <div class="bg-white">
          <p class="title-large-semi-bold card-white">Importo pagamento: 16,00 €</p>
        </div>

        {{/cmp-card/cmp-card-content-box}}

        {{#>cmp-text-button/cmp-text-button
          linkLabel="Che cos’è pagoPA"
          sBtn=true
          classLink="u-grey-dark"
        }}
          {{>partials/button/button label="paga con pagoPA" aria-label="Paga con pagoPA" primary=true class="btn-icon btn-re square mb-2"   iconBtnUrl="./assets/images/pagopa.svg"}}
        {{/cmp-text-button/cmp-text-button}}
      </div>
    </div>
  </div>
  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}
