{{#>base/base title="Archetipo: Pagamenti dovuti"}}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Iscrizioni"}}
        {{> cmp-heading/cmp-heading title="Iscrizione alla scuola dell'infanzia"}}
      </div>

      <div class="col-12">
        {{> cmp-info-progress/cmp-info-progress
        step-list=pagamenti-dovuti.info-progress.step-5
        step-num="5"
        step-title="Pagamento"
        step-tot="5"
        }}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
       {{#>cmp-card/cmp-card-content-box
          class="mb-0"
          bg-grey=true
          h3-title=true
          card-title="Motivo del pagamento"
        }}
          {{>cmp-info-summary/cmp-info-summary
            class="mt-4 mb-30 p-4"
            info-title="Contribuente"
            info=true
            info-list=pagamenti-dovuti.effettuare-pagamento.motivo-pagamento.list-1
          }}

          {{>cmp-info-summary/cmp-info-summary
            class="mt-4 mb-30 p-4"
            info-title="H501-Roma"
            info=true
            info-list=pagamenti-dovuti.effettuare-pagamento.motivo-pagamento.list-2
          }}

           {{>cmp-info-summary/cmp-info-summary
            class="mt-4 mb-30 p-4"
            info-title="L736-Venezia"
            info=true
            info-list=pagamenti-dovuti.effettuare-pagamento.motivo-pagamento.list-3
          }}

           {{>cmp-info-summary/cmp-info-summary
            class="mt-4 mb-30 p-4"
            info-title="L065-Tavagnacco"
            info=true
            info-list=pagamenti-dovuti.effettuare-pagamento.motivo-pagamento.list-4
          }}

          <div class="bg-white">
            <p class="title-large-semi-bold card-white">Importo pagamento: 1800,00 €</p>
          </div>

        {{/cmp-card/cmp-card-content-box}}

        {{#>cmp-text-button/cmp-text-button
          linkLabel="Che cos’è pagoPA"
          sBtn=true
          classLink="u-grey-dark"
        }}
          {{>partials/button/button label="paga con pagoPA" primary=true class="btn-icon btn-re square mb-2"   iconBtnUrl="../images/pagopa.svg"}}
        {{/cmp-text-button/cmp-text-button}}

        {{>cmp-nav-steps/cmp-nav-steps modalId="modal-terms" next=true}}
      </div>
    </div>
  </div>
  </div>

  <div class="bg-grey-card">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 py-5">
          {{>cmp-contacts/cmp-contacts appuntamento=true}}
        </div>
      </div>
    </div>
  </div>

  {{>cmp-modal/modal-terms-and-conditions}}
</main>
{{/base/base }}

