{{#>base/base title="Archetipo: Pagamenti dovuti"}}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Pagamenti"}}
        {{> cmp-heading/cmp-heading
          title="Pagamento IMU"
          pClass="mt-3"
          label-tag="Servizio attivo"
          description="L'IMU è l'Imposta municipale unica istituita in via sperimentale nel 2012 e ridisciplinata dalla legge di bilancio 2020."
          button=true
          label="Paga online"
          primary=true
          btnClass="mt-4"
          class="text-button"

          }}
      </div>
      <hr class="d-none d-lg-block mb-0 mt-2">
    </div>

    <div class="row mt-lg-40">
      <div class="col-12 col-lg-3 mb-4 ">
        {{>cmp-navscroll/cmp-navscroll accordion-title="INDICE DELLA PAGINA"
          link-list=pagamenti-dovuti.trovare-informazioni-servizio.navscroll}}
      </div>
      <div class="col-12 col-lg-8 offset-lg-1">
        {{#>cmp-card/cmp-card-content-box card-title="A chi è rivolto"  h2-class="mb-3" id-title="who-needs"}}
          {{>cmp-ul-list/cmp-ul-list
          info-list=pagamenti-dovuti.trovare-informazioni-servizio.a-chi-rivolto.list-1 description="Propreitario di immobili, ovvero:" font-list="lora"}}

          {{>cmp-ul-list/cmp-ul-list
          info-list=pagamenti-dovuti.trovare-informazioni-servizio.a-chi-rivolto.list-2 description="In caso di decesso del possessore gli eredi, divenuti titolari dei diritti sull'immobile, dovranno versare l'imposta fino alla data del decesso provvedendo al pagamento dell'IMU:" font-list="lora"}}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Descrizione" id-title="description"}}
          {{>cmp-ul-list/cmp-ul-list
            info-list=pagamenti-dovuti.trovare-informazioni-servizio.descrizione description="L'IMU è l'Imposta Municipale Unica che viene applicata sugli immobili di proprietà e su cui sono istituiti diritti reali di godimento. <br> Il presupposto dell'imposta è dato dal possesso di immobili, ovvero fabbricati, aree edificabili e terreni agricoli:" font-list="lora"
          }}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Come fare" id-title="how-to"}}
        <p class="text-paragraph lora">
          Il pagamento si esegue con l’apposito bollettino postale, con il modello F24 oppure online.<br><br>Il Comune mette a disposizione un sistema per calcolare online l’importo dell’acconto, del saldo e di eventuali ravvedimenti, con stampa di modello F24 per il versamento.

        </p>
        {{/cmp-card/cmp-card-content-box}}



        {{#>cmp-card/cmp-card-content-box card-title="Cosa serve" id-title="needed" bg-grey="true" bg-grey-primary=true}}
          {{>cmp-ul-list/cmp-ul-list description="Per accedere al servizio, assicurati di avere:" font-title="lora" font-list="titillium" info-list=pagamenti-dovuti.trovare-informazioni-servizio.cosa-serve }}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Tempi e scadenze" id-title="deadlines"}}
          {{>cmp-ul-list/cmp-ul-list description="Le scadenze fondamentali sono:" font-list="titillium" info-list=pagamenti-dovuti.trovare-informazioni-servizio.timeline }}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Costi" id-title="costs" subtitle="Il versamento della prima rata è pari all'imposta dovuta per il primo semestre applicando l'aliquota e la detrazione dei dodici mesi dell'anno precedente.<br><br>Il versamento della rata a saldo dell'imposta dovuta per l'intero anno è eseguita, a conguaglio, sulla base delle aliquote risultanti dal prospetto delle aliquote pubblicato nel sito Internet del Dipartimento delle finanze del Ministero dell'Economia e delle Finanze (Mef), alla data del 28 ottobre di ciascun anno. " class="mb-2 mt-40" }}
          {{>cmp-icon-link/cmp-icon-link link="Aliquote e detrazioni IMU 2022 (PDF 80KB)"}}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Accedi al servizio" id-title="service-access" subtitle="Puoi pagare l’IMU direttamente online tramite identità digitale." bg-grey="true" bg-grey-primary=true}}
          {{>partials/button/button label="Paga online" primary="true" class="mobile-full"  }}
          <p class="text-paragraph mt-25 mb-25">Oppure puoi prenotare un appuntamento e presentarti presso gli uffici.
          </p>
          {{>partials/button/button label="Prenota appuntamento" primary="true" class="mobile-full btn-outline-primary t-primary" }}
        {{/cmp-card/cmp-card-content-box}}

        {{#>cmp-card/cmp-card-content-box card-title="Condizioni di servizio" lora=true id-title="conditions" subtitle="Per conoscere i dettagli di scadenze, requisiti e altre informazioni importanti, leggi i termini e le condizioni di servizio." }}
          {{>cmp-icon-link/cmp-icon-link link="Termini e condizioni di servizio (PDF 1MB)"}}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Contatti" id-title="contacts"}}
          <div class="mt-15">
            {{>cmp-card-img/cmp-card-img card-title="Ufficio tributi"
            card-description="Via Dei Transiti 21, 50302<br> 05 0505 <br> ufficiotributi@email.it" img=true}}
          </div>
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box }}
        <span class="text-paragraph-small" >Argomenti:</span>
        <div class="d-flex flex-wrap gap-2 mt-10 mb-30 ">
          {{>partials/cmp-tag/cmp-tag label-tag="Abitazione" class="bg-tag"}}
          {{>partials/cmp-tag/cmp-tag label-tag="Pagamenti" class="bg-tag"}}
        </div>
        <p class="text-paragraph-small">Pagina aggiornata il 14/04/2022</p>
        {{/cmp-card/cmp-card-content-box}}
      </div>
    </div>
    </div>


  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 p-lg-0 px-3">
          {{>cmp-rating/cmp-rating}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card">
    <div class="container">
      <div class="row">
        <div class="col-12 py-4">
          {{>cmp-carousel/cmp-carousel carousel-title="Contenuti correlati" class="carousel-4-card"}}
        </div>
        <div class="col-12 col-lg-6 offset-lg-3 py-5">
          {{>cmp-contacts/cmp-contacts appuntamento=true}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}
