{{#>base/base title="Archetipo: Pagamenti dovuti"}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Pagamenti"}}
        {{>cmp-heading/cmp-heading
        title="Pagamento effettuato"
        btnClass="mt-3"
        subTitle="Grazie abbiamo ricevuto il <strong>pagamento PA3028</strong> per la <strong>richiesta AN4059281
          pagamento IMU.</strong></p>
        <p class='mt-4'>Importo: <strong>44,00 €</strong></p>
        <p>Inviato il: <strong>21/07/2022</strong></p>
        <p class='pt-4 pt-lg-40 d-lg-flex flex-column'>Abbiamo inviato il riepilogo all’email:
          <strong>giulia.rossi@gmail.com</strong>"
          iconTitle="it-check-circle"
          iconClass="mr-10 icon-sm mb-1"
          button=true
          label="Scarica la ricevuta (PDF 100KB)"
          outline-primary=true
          iconBtn="it-download"
          sm=true
          }}
        <p class="mt-4 mt-lg-3 mb-40 mb-lg-80">Puoi consultare il resoconto del pagamento e scaricare la ricevuta in
          qualunque momento dalla tua<a class='t-primary underline' href='#'> area personale.</a> </p>
      </div>
    </div>
  </div>

  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 p-lg-0 px-3">
          {{>cmp-rating/cmp-rating}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}