{{#>base/base title="Archetipo: Pagamenti dovuti - Riepilogo" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Pagamenti"}}
        {{> cmp-heading/cmp-heading
        title="Pagamento IMU"
        description="Hai bisogno di assistenza?
        <a href='' class='title-small-semi-bold t-primary'>Contattaci</a>"
        }}
      </div>

      <div class="col-12">
        {{> cmp-info-progress/cmp-info-progress
        step-list=pagamenti-dovuti.info-progress.step-3
        step-num="3"
        step-title="Riepilogo"
        step-tot="5"
        }}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">

        {{>cmp-callout/callout
        calloutType="warning"
        icon="it-horn"
        calloutTitle="Attenzione"
        calloutText="Le informazioni che hai fornito hanno valore di dichiarazione.<span class='d-lg-block'> Verifica che siano corrette.</span>"
        textClass="titillium text-paragraph"
        }}

        <h2 class="title-xxlarge mb-4 mt-40">Dati Generali</h2>

        {{#>cmp-card/cmp-card-content-box
        class="mb-0"
        bg-grey=true
        h3-title=true
        h3-class="mb-0"
        margin-class="mb-4"
        card-title="Contribuente"
        }}

        {{>cmp-info-summary/cmp-info-summary
        class="mb-4 mb-lg-30 p-3 p-lg-4"
        info-title="Giulia Rossi"
        info=true
        info-list=pagamenti-dovuti.confermare-riepilogo-informazioni-inserite.info-1.list
        }}

        {{>cmp-info-summary/cmp-info-summary
        class="p-3 p-lg-4 mb-0"
        info-title="Indirizzo"
        info=true
        info-list=pagamenti-dovuti.confermare-riepilogo-informazioni-inserite.info-1.indirizzo
        }}
        {{/cmp-card/cmp-card-content-box}}


        <div class="pt-3 pt-lg-0"">
          {{#>cmp-card/cmp-card-content-box
          class="mb-0"
          bg-grey=true
          h3-title=true
          h3-class="mb-0"
          margin-class="mb-4"
          card-title="Coobligato"
          }}
          {{>cmp-info-summary/cmp-info-summary
          class="p-3 p-lg-4"
          info-title="Giovanni Rossi"
          info=true
          info-list=pagamenti-dovuti.confermare-riepilogo-informazioni-inserite.info-2.list
          }}
          {{/cmp-card/cmp-card-content-box}}
        </div>

        <div class="pt-3 pt-lg-0"">
          {{#>cmp-card/cmp-card-content-box
          class="mb-0"
          bg-grey=true
          h3-title=true
          h3-class="mb-0"
          margin-class="mb-4"
          card-title="Immobili"
          }}

          {{>cmp-info-summary/cmp-info-summary
          class="mb-4 mb-lg-30 p-3 p-lg-4"
          info-title="H501 - Roma"
          info=true
          info-list=pagamenti-dovuti.confermare-riepilogo-informazioni-inserite.immobili-info-1.list
          }}

          {{>cmp-info-summary/cmp-info-summary
          class="mb-4 mb-lg-30 p-3 p-lg-4"
          info-title="L736 - Venezia"
          info=true
          info-list=pagamenti-dovuti.confermare-riepilogo-informazioni-inserite.immobili-info-2.list
          }}

          {{>cmp-info-summary/cmp-info-summary
          class="p-3 p-lg-4"
          info-title="L065 - Tavagnacco"
          info=true
          info-list=pagamenti-dovuti.confermare-riepilogo-informazioni-inserite.immobili-info-3.list
          }}
          {{/cmp-card/cmp-card-content-box}}
        </div>
        {{>cmp-nav-steps/cmp-nav-steps modalId="modal-terms" saveBtn=true }}
      </div>
    </div>
  </div>


  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>

  {{>cmp-modal/modal-terms-and-conditions}}
</main>
{{/base/base }}