{{#>base/base title="Inserire dati specifici del servizio SZTL" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Permessi mobilità"}}
        {{> cmp-heading/cmp-heading title="Permesso ZTL" description="Hai bisogno di assistenza?
        <a href='' class='title-small-semi-bold t-primary' aria-label='Vai alla pagina Contatti per ricevere assistenza' title='Vai alla pagina Contatti per ricevere assistenza'>Contattaci</a>"}}
      </div>
      <div class="col-12">
        {{> cmp-info-progress/cmp-info-progress
        step-list=permessi-autorizzazioni.inserire-dati-specifici.step-3
        step-num="3"
        step-tot="4"
        step-title="Preferenze di Servizio"
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-3 d-lg-block mb-4 d-none ">
        {{>cmp-navscroll/cmp-navscroll
        accordion-title="INFORMAZIONI RICHIESTE"
        link-list=permessi-autorizzazioni.inserire-dati-specifici.navscroll}}
      </div>

      <div class="col-12 col-lg-8 offset-lg-1">
        <div class="steppers-content" aria-live="polite">
          <div>
            {{#>cmp-card/cmp-card-content-box
            class="p-big"
            id-title="permission-type"
            bg-grey=true
            h2-class="mb-1"
            margin-class="mb-40 mt-2"
            required-icon=true
            card-title="Tipo di permesso"
            subtitle="Scegli il tipo di permesso ZTL"}}
            {{>partials/checkbox/checkbox
            class="d-flex flex-column align-items-center bg-white w-100 p-3 p-lg-4"
            info-list=ztl-dati-checkbox.checkbox}}
            {{/cmp-card/cmp-card-content-box}}
          </div>

          <div>
            {{#>cmp-card/cmp-card-content-box
            class="p-big"
            id-title="validity-period"
            bg-grey=true
            h2-class="mb-1"
            required-icon=true
            card-title="Periodo di validità"
            subtitle="Indica il periodo di validità del permesso ZTL"}}

            <div class="d-lg-flex justify-content-between flex-column flex-lg-row">
              {{>partials/input-calendar/input-calendar
              form-class="mb-0 me-lg-4 p-3 pt-lg-40 pb-lg-40 pl-lg-40"
              label-text="Dal"}}
              {{>partials/input-calendar/input-calendar
              form-class="mb-0 p-3 pt-lg-40 pb-lg-40 ps-lg-8 pr-lg-40"
              label-text="Al"}}
            </div>
            {{/cmp-card/cmp-card-content-box}}
          </div>
          {{> cmp-nav-steps/cmp-nav-steps save="true" saveBtn=true}}
        </div>
      </div>
    </div>
  </div>

 <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}
