{{#>base/base title="Prenota Appuntamento - Verifica dei dati" headerActive3=true}}
  <main>
    <div class="container" id="main-container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Prenotazioni"}}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          {{> cmp-heading/cmp-heading
        title="Prenotazione appuntamento" }}
        </div>
      </div>
    </div>

    <div class="container">
      {{> cmp-info-progress/cmp-info-progress
        step-list=step-list.prenota-appuntamento-step-5
        step-num="5"
        step-tot="5"
        step-title="Verifica dei dati"
        }}
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="mt-2">
            <h2 class="visually-hidden">Dettagli dell'appuntamento</h2>
            {{#>cmp-card/cmp-card-content-box
        class="mb-0"
        bg-grey=true
        h2-class="mb-0"
        margin-class="mb-4"
        card-title="Riepilogo" }}

              {{>cmp-info-summary/cmp-info-summary
        class="mb-3 mb-lg-4 p-3 p-lg-4"
        info-title="Ufficio"
        info=true
        info-list=prenota-appuntamento.office
        }}

              {{>cmp-info-summary/cmp-info-summary
        class="mb-3 mb-lg-4 p-3 p-lg-4"
        info-title="Data e orario"
        info=true
        info-list=prenota-appuntamento.date
        }}

              {{>cmp-info-summary/cmp-info-summary
        class="mb-3 mb-lg-4 p-3 p-lg-4"
        info-title="Dettagli appuntamento"
        info=true
        info-list=prenota-appuntamento.appointment-details
        }}

              {{>cmp-info-summary/cmp-info-summary
        class="p-3 p-lg-4 mb-0"
        info-title="Richiedente"
        info=true
        info-list=prenota-appuntamento.applicant
        }}

              {{/cmp-card/cmp-card-content-box}}
          </div>

          {{>cmp-nav-steps/cmp-nav-steps next=true modalId="modal-terms" saveBtn=true aria-label-save="di prenotazione appuntamento"}}
        </div>
      </div>
    </div>

    <div class="bg-grey-card shadow-contacts">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-lg-6 p-contacts">
            {{>cmp-contacts/cmp-contacts-trasversali faq=true assistance=true}}
          </div>
        </div>
      </div>
    </div>

    {{>cmp-modal/modal-terms-and-conditions}}
  </main>
  {{/base/base }}