{{#>base/base title="Prenotazione pagamento | Finalizzare procedura" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Prenotazioni"}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{>cmp-heading/cmp-heading
        title="Appuntamento confermato"
        subTitle="L’appuntamento è fissato per<strong> Giovedì 11 marzo 2022 dalle ore 10:00 alle ore 10:30</strong>
        </p>
        <p class='subtitle-small pt-3 pt-lg-4'>Abbiamo inviato il riepilogo all’email:<br>
          <strong>giulia.bianchi@gmail.com</strong>"
          iconTitle="it-check-circle"
          iconClass="mr-10 icons-sm mb-1"
          }}
      </div>
    </div>
    <hr class="d-none d-lg-block mt-40 mb-40">
  </div>

  <div class="container">
    <div class="row mb-4 mb-lg-80">
      <div class="d-none d-sm-none d-lg-block col-lg-3">
        {{>cmp-navscroll/cmp-navscroll
        accordion-title="INDICE DELLA PAGINA"
        link-list=link-list.links-procedura-pagamento
        }}
      </div>

      <div class="col-12 col-lg-8 offset-lg-1 mt-3 mt-lg-0">
        {{#>cmp-card/cmp-card-content-box card-title="Cosa serve" id-title="needed" bg-grey-primary=true id-title="needed"
        class="p-3" cmpClass="mb-50" h2-class="mb-0"}}
        {{>cmp-ul-list/cmp-ul-list font-list="titillium" info-list=info-prenotazione.lista-1 }}
        {{/cmp-card/cmp-card-content-box}}

        <div class="address-wrapper mb-50">
          <h2 class="title-xxlarge mb-10" id="address">Indirizzo</h2>
          {{>cmp-card-img/cmp-card-img card-title="Ufficio anagrafe 03" card-description="Via Grazia Deledda 9/a -
          20127<br> Milano <br> anagrafe@comune.it"}}
        </div>

        {{>cmp-icon-list/cmp-icon-list
        title="Aggiungi al tuo calendario"
        icon-list=icon-list.calendario-reservation-pagamento
        classMenu="mt-3"
        id-title="calendar"
        }}
      </div>
    </div>
  </div>

  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 px-4 p-lg-0">
          {{>cmp-rating/cmp-rating public-template=true rating-title="Quanto è stato facile compilare questa richiesta online?"}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-6 p-contacts">
          {{>cmp-contacts/cmp-contacts-trasversali faq=true assistance=true}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}
