{{#>base/base title="Segnalazione disservizio | Trovare informazioni sul servizio"}}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Segnalazione disservizio"}}
        {{> cmp-heading/cmp-heading
        title="Segnalazione disservizio"
        pClass="mt-3"
        double-button=true
        label="Richiedi iscrizione online"
        second-label="Tutte le segnalazioni"
        btnClass="mt-4 mb-4 mb-lg-0  full-mobile"
        second-btnClass="mt-4 mb-4 mb-lg-0 full-mobile"
        class="text-button"
        label-tag="Servizio attivo"
        descriptionAfterTag="Un servizio aperto a tutti i cittadini per segnalare disservizi, guasti e criticità rilevati sul
        territorio comunale."
        }}

      </div>
      <hr class="d-none d-lg-block mb-2">
    </div>

    <div class="row mt-lg-80 mt-3">
      <div class="col-12 col-lg-3 mb-4 ">
        {{>cmp-navscroll/cmp-navscroll accordion-title="INDICE DELLA PAGINA"
        link-list=link-list.segnalazioni-disservizio-1}}
      </div>
      <div class="col-12 col-lg-8 offset-lg-1">
        {{#>cmp-card/cmp-card-content-box card-title="A chi è rivolto" h2-class="mb-3" id-title="who-needs"}}
        <p class="text-paragraph mb-0">
          Possono segnalare un disservizio tutte le persone residenti e non residenti nel comune.
        </p>
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Descrizione" id-title="description"}}
        <p class="text-paragraph lora mb-0">
          Il servizio permette di segnalare in modo dettagliato un problema all’amministrazione comunale. È possibile
          indicare il luogo del disservizio su mappa o tramite indirizzo e allegare foto. Le segnalazioni sono gestite
          dall’Ufficio Relazioni con il Pubblico (URP).
        </p>
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Come fare" id-title="how-to"}}
        <p class="text-paragraph lora mb-4">
          Si può inviare una segnalazione online da smartphone o computer, oppure a sportello presso l’URP.
        </p>
        <p class="text-paragraph lora mb-4">
          Alcune tipologie di segnalazioni online richiedono l'accesso con identità digitale SPID o CIE. Non ci sono
          limitazioni per le segnalazioni generiche.
        </p>
        <p class="text-paragraph lora mb-0">
          Le segnalazioni per disservizi e guasti possono riguardare solo il territorio comunale.
        </p>

        {{/cmp-card/cmp-card-content-box}}



        {{#>cmp-card/cmp-card-content-box card-title="Cosa serve" id-title="needed" class="p-3" bg-grey="true" bg-grey-primary=true}}
        {{>cmp-ul-list/cmp-ul-list heading-title="Per accedere al servizio, assicurati di avere:" font-title="lora fw-normal"
        font-list="lora " info-list=scheda-servizio-lista-disservizio.lista-2 }}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Cosa si ottiene" h2-class="mb-3" id-title="obtain" subtitle="Chi segnala un disservizio online identificandosi con identità digitale riceverà, tramite posta elettronica, gli aggiornamenti sullo stato di avanzamento della segnalazione." header-m0=true}}
        {{/cmp-card/cmp-card-content-box}}

        {{#>cmp-card/cmp-card-content-box card-title="Costi" h2-class="mb-3" id-title="costs" subtitle="Il servizio è gratuito" class="mt-30" }}
        {{>cmp-icon-link/cmp-icon-link link="Allegato se necessario"}}
        {{/cmp-card/cmp-card-content-box}}






        {{#>cmp-card/cmp-card-content-box card-title="Fai una segnalazione" class="p-3" id-title="service-access" subtitle="Invia una segnalazione online dal tuo smartphone o computer" bg-grey="true" }}
        {{>partials/button/button label="Segnala disservizio" primary="true" class="mobile-full" }}
        <p class="text-paragraph mt-4 mb-3">Oppure, prenota un appuntamento all’Ufficio Relazioni con il Pubblico (URP)
        </p>
        {{>partials/button/button label="Prenota appuntamento" primary="true" class="mobile-full btn-outline-primary
        t-primary" }}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Condizioni di servizio" id-title="conditions" subtitle="Per conoscere i dettagli di scadenze, requisiti e altre informazioni importanti, leggi i termini e le condizioni di servizio." }}
        {{>cmp-icon-link/cmp-icon-link link="Termini e condizioni di servizio (PDF 1MB)"}}
        {{/cmp-card/cmp-card-content-box}}

                {{#>cmp-card/cmp-card-content-box card-title="Contatti" id-title="contacts"}}

        <div class="mt-15">
          {{>cmp-card-img/cmp-card-img card-title="Ufficio scuola" card-description="Via Dei Transiti 21, 50302<br> 05
          0505 <br> ufficioscuola@email.it" img=true}}
        </div>
        {{/cmp-card/cmp-card-content-box}}

        {{#>cmp-card/cmp-card-content-box }}
        <span class="text-paragraph-small">Argomenti:</span>
        <div class="d-flex flex-wrap gap-2 mt-10 mb-30 ">
          {{>partials/cmp-tag/cmp-tag label-tag="Gestione rifiuti" class="t-primary"}}
          {{>partials/cmp-tag/cmp-tag label-tag="Igiene pubblica" class="t-primary"}}
          {{>partials/cmp-tag/cmp-tag label-tag="Spazi verdi" class="t-primary"}}
          {{>partials/cmp-tag/cmp-tag label-tag="Inquinamento" class="t-primary"}}
        </div>
        <p class="text-paragraph-small mb-0">Pagina aggiornata il 14/04/2022</p>
        {{/cmp-card/cmp-card-content-box}}
      </div>
    </div>
  </div>


  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 p-lg-0 px-3">
          {{>cmp-rating/cmp-rating}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-5">
          {{>cmp-carousel/cmp-carousel carousel-title="Contenuti correlati" class="carousel-4-card"}}
        </div>
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}
