{{#>base/base title="Segnalazione disservizio" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Segnalazione disservizio"}}
        {{> cmp-heading/cmp-heading
        title="Segnalazione disservizio"
        subTitle="Un servizio aperto a tutti i cittadini per segnalare disservizi, guasti e criticità rilevati sul
        territorio comunale."
        pClass="mt-3"
        double-button=true
        label="Segnala disservizio"
        second-label="Tutte le segnalazioni"
        aria-label="Vai alla pagina Segnala disservizio"
        second-ariaLabel="Vai alla pagina Tutte le segnalazioni"
        btnClass="mt-4 mb-4 mb-lg-0 full-mobile"
        second-btnClass="mt-4 mb- mb-lg-0 full-mobile"
        class="text-button"
        label-tag-up="Servizio attivo"
        label-tag-class="my-4"
        servizio-attivo=true
        }}
      </div>
      <hr class="d-none d-lg-block mb-lg-80 mt-2">
    </div>

    <div class="row">
      <div class="col-12 col-lg-3 mb-4 ">
        {{>cmp-navscroll/cmp-navscroll accordion-title="INDICE DELLA PAGINA"
        link-list=link-list.segnalazioni-disservizio-1}}
      </div>
      <div class="col-12 col-lg-8 offset-lg-1 pb-lg-80">
        {{#>cmp-card/cmp-card-content-box card-title="A chi è rivolto" h2-class="mb-3" header-m0=true id-title="who-needs"}}
        <p class="text-paragraph lora mb-4">
          Il servizio è accessibile a persone residenti e non residenti.
        </p>
        <p class="text paragraph lora mb-4">
          Chi preferisce non utilizzare le nuove tecnologie può contattare l'Urp (Ufficio relazioni con il pubblico)
          attraverso numero verde, whatsapp e sportello.
        </p>
        <p class="text-paragraph lora mb-0">
          Le segnalazioni per disservizi e guasti possono riguardare solo il territorio comunale.
        </p>
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Descrizione" h2-class="mb-3" header-m0=true id-title="description"}}
        <p class="text-paragraph lora mb-0">
          Tramite il servizio online è possibile segnalare in modo dettagliato il problema, fissare con il cursore la
          posizione sulla mappa,
          oppure inserire l'indirizzo esatto e, se serve, allegare una foto del luogo in cui si è verificato il
          disservizio.
        </p>
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Come fare" h2-class="mb-3" header-m0=true id-title="how-to"}}
        <p class="text-paragraph lora mb-4">
          Si può inviare la segnalazione di disservizio dal proprio smartphone o computer, seguendo la procedura online.
        </p>
        <p class="text-paragraph lora mb-0">
          Per alcune tipologie di segnalazioni è richiesto l'accesso con credenziali Spid (Sistema pubblico di identità
          digitale). Nessuna limitazione per richiedere informazioni e inviare segnalazioni generiche.
        </p>
        {{/cmp-card/cmp-card-content-box}}



        {{#>cmp-card/cmp-card-content-box card-title="Cosa serve" h2-class="mb-3" header-m0=true id-title="needed"
        bg-grey-primary=true class="p-3"}}
        {{>cmp-ul-list/cmp-ul-list heading-title="Per accedere al servizio, assicurati di avere:" font-title="lora"
        font-list="lora" info-list=segnalazione-disservizio.list }}
        {{/cmp-card/cmp-card-content-box}}

        {{#>cmp-card/cmp-card-content-box card-title="Cosa si ottiene" h2-class="mb-3" id-title="obtain" subtitle="Chi effettua la
        segnalazione, identificandosi con le proprie credenziali Spid, riceverà sulla sua casella di
        posta elettronica le comunicazioni sullo stato di avanzamento della sua richiesta, dall'assegnazione all'ufficio
        competente fino alla chiusura dell'intervento." header-m0=true}}
        {{/cmp-card/cmp-card-content-box}}

        {{#>cmp-card/cmp-card-content-box card-title="Costi" h2-class="mb-3" header-m0=true id-title="costs" subtitle="Il servizio è gratuito."
        class="mb-2 mt-30" }}
        {{>cmp-icon-link/cmp-icon-link link="Tabella rette in base al reddito" dimensione-file="(PDF 80KB)" link-class="mt-3"}}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Fai una segnalazione" class="p-4" h2-class="mb-3" header-m0=true id-title="service-access" lora=true subtitle="Si può presentare la segnalazione online oppure all'Urp (Ufficio relazioni con il pubblico)" bg-grey-primary=true }}
        {{>partials/button/button label="Segnala disservizio" aria-label="Vai alla pagina Segnala disservizio" class="mt-3 mobile-full" primary="true" class="mobile-full" }}
        <p class="text-paragraph lora mt-4 mb-3">Uffici dove presentare la richiesta su appuntamento.
        </p>
        {{>partials/button/button label="Prenota appuntamento" aria-label="Vai alla pagina Prenota appuntamento" primary="true" class="mobile-full btn-outline-primary
        t-primary bg-white" }}
        {{/cmp-card/cmp-card-content-box}}

        {{#>cmp-card/cmp-card-content-box card-title="Condizioni di servizio" h2-class="mb-3" header-m0=true id-title="conditions" lora=true subtitle="Per
        conoscere i dettagli di
        scadenze, requisiti e altre informazioni importanti, leggi i termini e le condizioni di servizio." }}
        {{>cmp-icon-link/cmp-icon-link link="Termini e condizioni di servizio" link-class="mt-3"}}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Contatti" h2-class="mb-3" header-m0=true id-title="contacts"}}
          {{>cmp-card-img/cmp-card-img card-title="Ufficio servizio pubblico" card-description="Via Dei Transiti 21, 50302<br> 05
          0505 <br> ufficioserviziopubblico@email.it" img=true}}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box }}
        <span class="text-paragraph-small">Argomenti:</span>
        <div class="d-flex flex-wrap gap-2 mt-10 mb-30 ">
          {{>partials/cmp-tag/cmp-tag label-tag="Servizio pubblico" class="text-white bg-primary"}}
        </div>
        <p class="text-paragraph-small mb-0">Pagina aggiornata il 14/04/2022</p>
        {{/cmp-card/cmp-card-content-box}}
      </div>
    </div>
  </div>


  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 p-lg-0 px-4">
          {{>cmp-rating/cmp-rating}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-5 pb-4 pt-lg-30">
          {{>cmp-carousel/cmp-carousel carousel-title="Contenuti correlati" class="carousel-4-card"}}
        </div>
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}