{{#>base/base title="Iscrizione mensa scolastica"}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Servizi scolastici"}}
        {{> cmp-heading/cmp-heading
          title="Richiesta servizio mensa scolastica"
          pClass="mt-3"
          button=true
          label="Richiedi iscrizione online"
          description="Il servizio di mensa scolastica per le scuole dell’infanzia e primarie statali."
          primary=true
          btnClass="mt-4"
          class="text-button"
          label-tag="Servizio attivo"
          }}
      </div>
      <hr class="d-none d-lg-block mb-0 mt-2">
    </div>

    <div class="row mt-lg-80 mt-3 mb-3 mb-md-5">
      <div class="col-12 col-lg-3 mb-4 ">
        {{>cmp-navscroll/cmp-navscroll accordion-title="INDICE DELLA PAGINA"
          link-list=servizi-pagamento.trovare-informazioni-servizio.navscroll}}
      </div>
      <div class="col-12 col-lg-8 offset-lg-1">
        {{#>cmp-card/cmp-card-content-box card-title="A chi è rivolto" h2-class="mb-3" id-title="who-needs"}}

        {{>cmp-ul-list/cmp-ul-list
        info-list=servizi-pagamento.trovare-informazioni-servizio.list-1 font-list="lora"}}
        {{/cmp-card/cmp-card-content-box}}



        {{#>cmp-card/cmp-card-content-box card-title="Descrizione" id-title="description"}}
        <p class="text-paragraph lora mb-4">
          Per la <strong>Scuola dell’infanzia</strong> il servizio è attivo tutti i giorni. La richiesta dovrà essere ripresentata ogni anno contestualmente alla riconferma alla scuola.
        </p>
        <p class="text-paragraph lora mb-4">
          Per la <strong>Scuola primaria</strong>, la richiesta di iscrizione alla classe prima comporta l'iscrizione automatica al servizio mensa e si intende valida per l'intero ciclo scolastico.
        </p>
        <p class="text-paragraph lora mb-0">
          I menù sono articolati su otto settimane per il menù invernale e su quattro settimane per il menù estivo e diversificati per tipo d’utenza.
          Sono predisposti osservando le Linee Guida Regionali sulla ristorazione scolastica.
        </p>
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Come fare" id-title="how-to"}}
        <p class="text-paragraph lora mb-0">
          L’iscrizione e l’eventuale richiesta di dieta speciale devono essere effettuate obbligatoriamente ogni anno per tutti gli iscritti che consumeranno il pasto a scuola.
        </p>
        {{/cmp-card/cmp-card-content-box}}



        {{#>cmp-card/cmp-card-content-box card-title="Cosa serve" class="p-3" id-title="needed" bg-grey="true" bg-grey-primary=true}}
        {{>cmp-ul-list/cmp-ul-list heading-title="Per accedere al servizio, assicurati di avere:" font-title="lora" font-list="lora" info-list=servizi-pagamento.trovare-informazioni-servizio.list-2 }}
        {{/cmp-card/cmp-card-content-box}}

        {{>cmp-timeline/cmp-timeline
        title="Tempi e scadenze"
        id-title="deadlines"
        timeline=servizi-pagamento.trovare-informazioni-servizio.timeline
        }}

        {{#>cmp-card/cmp-card-content-box card-title="Costi" h2-class="mb-3" id-title="costs" subtitle="L'utente del servizio mensa è tenuto a versare, per ciascun pasto, la quota stabilita in base alle fasce Isee approvate con delibera di Giunta comunale n. 3/2019. <br><br>
          È riconosciuta l’esenzione per ISEE compreso tra € 0,00 ed € 10.000,00." class="mt-30" }}
        {{>cmp-icon-link/cmp-icon-link link="Tariffe per la mensa scolastica (PDF 1MB)"}}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Accedi al servizio" class="p-3" id-title="service-access" subtitle="Puoi richiedere il servizio mensa direttamente online tramite identità digitale." bg-grey="true" }}
        {{>partials/button/button label="Richiedi online" primary="true" class="mobile-full"  }}
        <p class="text-paragraph mt-4 mb-3">Oppure, puoi prenotare un appuntamento e presentarti presso gli uffici.
        </p>
        {{>partials/button/button label="Prenota appuntamento" primary="true" class="mobile-full btn-outline-primary t-primary" }}
        {{/cmp-card/cmp-card-content-box}}

        {{#>cmp-card/cmp-card-content-box card-title="Condizioni di servizio" id-title="conditions" subtitle="Per conoscere i dettagli di
        scadenze, requisiti e altre informazioni importanti, leggi i termini e le condizioni di servizio." }}
        {{>cmp-icon-link/cmp-icon-link link="Termini e condizioni di servizio (PDF 1MB)"}}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box card-title="Contatti" id-title="contacts"}}

        <div class="mt-15">
          {{>cmp-card-img/cmp-card-img card-title="Ufficio scuola" card-description="Via Dei Transiti 21, 50302<br> 05
          0505 <br> ufficioscuola@email.it" img=true}}
        </div>
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box }}
        <span class="text-paragraph-small" >Argomenti:</span>
        <div class="d-flex flex-wrap gap-2 mt-10 mb-30 ">
          {{>partials/cmp-tag/cmp-tag label-tag="Educazione" class="t-primary"}}
          {{>partials/cmp-tag/cmp-tag label-tag="Famiglia" class="t-primary"}}
          {{>partials/cmp-tag/cmp-tag label-tag="Scuola d’infanzia" class="t-primary"}}
          {{>partials/cmp-tag/cmp-tag label-tag="Bambini 3 - 5 anni" class="t-primary"}}
        </div>
        <p class="text-paragraph-small mb-0">Pagina aggiornata il 14/04/2022</p>
        {{/cmp-card/cmp-card-content-box}}
      </div>
    </div>
    </div>


  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 p-lg-0 px-3">
          {{>cmp-rating/cmp-rating}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-5">
          {{>cmp-carousel/cmp-carousel carousel-title="Contenuti correlati" class="carousel-4-card"}}
        </div>
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}
