{{#>base/base title="Novità notizia"headerActive2=true}}
<main>
  <div class="container" id="main-container">
    <div class="row">
      <div class="col px-lg-4">
        {{>cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Novità" link3="Osservatorio sul turismo"}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 px-lg-4 py-lg-2">
        <h1>
          Osservatorio sul turismo
        </h1>
        <h2 class="visually-hidden">Dettagli della notizia</h2>
        <p>
          Donec in consequat nunc. Duis semper fermentum lacus, ac condimentum
          justo auctor a. Nam erat erat, porta vel pharetra in, ullamcorper vel
          turpis.
        </p>
        <div class="row mt-5 mb-4">
          <div class="col-6">
            <small>Data:</small>
            <p class="fw-semibold font-monospace">03 dicembre 2019</p>
          </div>
          <div class="col-6">
            <small>Tempo di lettura:</small>
            <p class="fw-semibold">3 min</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <div class="dropdown d-inline">
          <button aria-label="condividi sui social" class="btn btn-dropdown dropdown-toggle" type="button"
            id="shareActions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg class="icon">
              <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-share"></use>
            </svg>
            <small>Condividi</small>
          </button>
          <div class="dropdown-menu shadow-lg" aria-labelledby="shareActions">
            <div class="link-list-wrapper">
              <ul class="link-list">
                <li>
                  <a class="list-item" href="#" aria-label="facebook" title="facebook">
                    <svg class="icon">
                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-facebook"></use>
                    </svg>
                    <span>Facebook</span>
                  </a>
                </li>
                <li>
                  <a class="list-item" href="#" aria-label="twitter" title="twitter">
                    <svg class="icon">
                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-twitter"></use>
                    </svg>
                    <span>Twitter</span>
                  </a>
                </li>
                <li>
                  <a class="list-item" href="#" aria-label="linkedin" title="linkedin">
                    <svg class="icon">
                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-linkedin"></use>
                    </svg>
                    <span>Linkedin</span>
                  </a>
                </li>
                <li>
                  <a class="list-item" href="#" aria-label="whatsapp" title="whatsapp">
                    <svg class="icon">
                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-whatsapp"></use>
                    </svg>
                    <span>Whatsapp</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="dropdown d-inline">
          <button class="btn btn-dropdown dropdown-toggle" aria-label="vedi azioni da compiere sulla pagina"
            type="button" id="viewActions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg class="icon">
              <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-more-items"></use>
            </svg>
            <small>Vedi azioni</small>
          </button>
          <div class="dropdown-menu shadow-lg" aria-labelledby="viewActions">
            <div class="link-list-wrapper">
              <ul class="link-list">
                <li>
                  <a class="list-item" href="#" aria-label="Scarica notizia" title="Scarica notizia">
                    <svg class="icon">
                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
                    </svg>
                    <span>Scarica</span>
                  </a>
                </li>
                <li>
                  <a class="list-item" href="#" aria-label="Stampa notizia" title="Stampa notizia">
                    <svg class="icon">
                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-print"></use>
                    </svg>
                    <span>Stampa</span>
                  </a>
                </li>
                <li>
                  <a class="list-item" href="#" aria-label="Ascolta notizia" title="Ascolta notizia">
                    <svg class="icon">
                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-hearing"></use>
                    </svg>
                    <span>Ascolta</span>
                  </a>
                </li>
                <li>
                  <a class="list-item" href="#" aria-label="Invia notizia" title="Invia notizia">
                    <svg class="icon">
                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-mail"></use>
                    </svg>
                    <span>Invia</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="mt-4 mb-4">
          <div class="row">
            <span class="mb-2 small">Argomenti</span>
          </div>
          <a href="#" title="vai all'argomento - Cultura" aria-label="vai all'argomento - Cultura">
            <div class="chip chip-simple chip-primary">
              <span class="chip-label">Cultura</span>
            </div>
          </a>
          <a href="#" title="vai all'argomento - Muoversi" aria-label="vai all'argomento - Muoversi">
            <div class="chip chip-simple chip-primary">
              <span class="chip-label">Muoversi</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid my-3">
    <div class="row">
      <figure class="figure px-0 img-full">
        <img src="https://picsum.photos/800/400" class="figure-img img-fluid"
          alt="Un'immagine generica segnaposto con angoli arrotondati in una figura.">
        <figcaption class="figure-caption text-center pt-3">Una didascalia per l'immagine sopra.</figcaption>
      </figure>
    </div>
  </div>
  <div class="container">
    <div class="row border-top border-light row-column-border row-column-menu-left">
      <aside class="col-lg-4">
        <div class="sticky-wrapper navbar-wrapper">
          <nav class="navbar it-navscroll-wrapper it-top-navscroll navbar-expand-lg">
            <button class="custom-navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false"
              aria-label="Toggle navigation" data-bs-target="#navbarNav">
              <span class="it-list"></span>Indice della pagina
            </button>
            <div class="navbar-collapsable" id="navbarNav">
              <div class="overlay"></div>
              <div class="close-div visually-hidden">
                <button class="btn close-menu" type="button">
                  <span class="it-close"></span>Chiudi
                </button>
              </div>
              <a class="it-back-button" href="#">
                <svg class="icon icon-sm icon-primary align-top">
                  <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-left"></use>
                </svg>
                <span>Torna indietro</span></a>
              <div class="menu-wrapper">
                <div class="link-list-wrapper menu-link-list">
                  <h3 class="no_toc border-light">Indice della pagina</h3>
                  <ul class="link-list">
                    <li class="nav-item active">
                      <a class="nav-link active" href="#descrizione" aria-label="Vai alla sezione Descrizione"
                        title="Vai alla sezione Descrizione"><span>Descrizione</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#documenti" aria-label="Vai alla sezione Documenti"
                        title="Vai alla sezione Documenti"><span>Documenti</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#a-cura-di" aria-label="Vai alla sezione A cura di"
                        title="Vai alla sezione A cura di"><span>A cura di</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#ulteriori-informazioni"
                        aria-label="Vai alla sezione Ulteriori informazioni"
                        title="Vai alla sezione Ulteriori informazioni"><span>Ulteriori informazioni</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </aside>
      <section class="col-lg-8 it-page-sections-container border-light">
        <article id="descrizione" class="it-page-section anchor-offset">
          <h4>Descrizione</h4>
          <p class="font-serif">
            Vivamus orci risus, fringilla sit amet enim vel, semper faucibus
            elit. Aliquam nec laoreet leo. Integer eu venenatis purus, eu
            tincidunt eros. Aliquam egestas est quis lacinia ultrices.
            Vestibulum vehicula sit amet purus id suscipit. Sed gravida urna
            tellus, sed aliquet erat faucibus porta. Aenean condimentum.
          </p>
        </article>
        <article id="documenti" class="it-page-section anchor-offset mt-5">
          <h4>Documenti</h4>
          <div class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal">
            <div class="card card-teaser shadow-sm p-4 mt-3 rounded border border-light flex-nowrap">
              <svg class="icon">
                <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-clip"></use>
              </svg>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#" title="vai alla pagina - Lo speciale di National Geographic sulle regate in
                    Sardegna" aria-label="vai alla pagina - Lo speciale di National Geographic sulle regate in
                    Sardegna">Lo speciale di National Geographic sulle regate in
                    Sardegna</a>
                </h5>
              </div>
            </div>
            <div class="card card-teaser shadow-sm p-4 mt-3 rounded border border-light flex-nowrap">
              <svg class="icon">
                <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-clip"></use>
              </svg>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#" title="vai alla pagina - Le rotte del mare: porti e approdi sulle coste
                    dell'Isola" aria-label="vai alla pagina - Le rotte del mare: porti e approdi sulle coste
                    dell'Isola">Le rotte del mare: porti e approdi sulle coste
                    dell'Isola</a>
                </h5>
              </div>
            </div>
          </div>
        </article>
        <article id="a-cura-di" class="it-page-section anchor-offset mt-5">
          <h4>A cura di</h4>
          <div class="row">
            <div class="col-12 col-sm-8">
              <p class="h6"><small>Questa pagina è gestita da</small></p>
              <div class="card-wrapper rounded shadow-sm h-auto">
                <div class="card card-teaser card-teaser-info rounded shadow-sm p-4">
                  <div class="card-body pe-3">
                    <h5 class="card-title">
                      <a href="#" aria-label="Vai alla pagina di Assessorato al Turismo"
                        title="Vai alla pagina di Assessorato al Turismo">
                        Assessorato al Turismo
                      </a>
                    </h5>
                    <div class="card-text">
                      <p>Via Roma 1</p>
                      <p>00100 Roma</p>
                    </div>
                  </div>
                  <div class="avatar size-xl">
                    <img src="https://picsum.photos/200/200" alt="Immagine" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <h6><small>Persone</small></h6>
              <a href="#" title="vai alla scheda di Mario Rossi" aria-label="vai alla scheda di Mario Rossi">
                <div class="chip chip-simple chip-primary">
                  <span class="chip-label">Mario Rossi</span>
                </div>
              </a>
              <a href="#" title="vai alla scheda di Alessandro Bianchi"
                aria-label="vai alla scheda di Alessandro Bianchi">
                <div class="chip chip-simple chip-primary">
                  <span class="chip-label">Alessandro Bianchi</span>
                </div>
              </a>
            </div>
          </div>
        </article>
        <article id="ulteriori-informazioni" class="it-page-section anchor-offset mt-5">
          <h4 class="mb-3">Ulteriori informazioni</h4>

        </article>
        <article id="ultimo-aggiornamento" class="anchor-offset mt-5">
          <h5 class="font-serif">Ultimo aggiornamento</h5>
          <p class="h6"><strong>10/06/2019, 16:00</strong></p>
        </article>
      </section>
    </div>
  </div>
</main>

{{/base/base }}