{{#>base/base title="Documenti" headerActive1=true}}
<main>
  <div class="container px-4" id="main-container">
    <div class="row justify-content-center w-100 row-shadow">
      <div class="col-12 col-lg-10">
        {{>cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Amministrazione" link3="Documenti e Dati"}}

        {{>cmp-hero/cmp-hero
        hero-title="Documenti e Dati"
        hero-text="Donec in consequat nunc. Duis semper fermentum lacus, ac condimentum justo auctor a. Nam erat erat,
        porta vel pharetra in, ullamcorper vel turpis."
        wrapper-class="pt-0 ps-0 pb-4 pb-lg-60"}}
      </div>
    </div>
  </div>

  <div class="container px-4">
    <h2 class="title-xxlarge mt-70 mb-4 mt-lg-40 pt-lg-2 mb-lg-40">In evidenza</h2>
    <div class="row pb-60">
      <div class="col-12 col-md-4">
        <div class="card-wrapper rounded shadow-sm border border-light">
          <div class="card bg-none">
            <div class="card-body">
              <div class="categoryicon-top">
                <svg class="icon icon-sm">
                  <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
                </svg>
                <span class="text fw-semibold">
                  <a href="#" aria-label="Vai a categoria Bandi e avvisi" title="Vai a categoria Bandi e avvisi">Bandi e avvisi</a></span>
              </div>
              <a href="#" aria-label="Vai a Avviso per richiedere il bonus idrico integrativo 2022" title="Vai a Avviso per richiedere il bonus idrico integrativo 2022">
                <h3 class="card-title h5 ">Avviso per richiedere il bonus idrico integrativo 2022</h3>
              </a>
              <p class="card-text">Avviata la procedura per richiedere il contributo finalizzato alla riduzione dei costi della bolletta dell'acqua o delle situazioni di morosità pregresse.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card-wrapper rounded shadow-sm border border-light">
          <div class="card bg-none">
            <div class="card-body">
              <div class="categoryicon-top">
                <svg class="icon icon-sm">
                  <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
                </svg>
                <span class="text fw-semibold">
                  <a href="#" aria-label="Vai a categoria Bandi e avvisi" title="Vai a categoria Bandi e avvisi">Bandi e avvisi</a></span>
              </div>
              <a href="#" aria-label="Vai a Borsa di studio nazionale, anno scolastico 2021/2022" title="Vai a Borsa di studio nazionale, anno scolastico 2021/2022">
                <h3 class="card-title h5 ">Borsa di studio nazionale, anno scolastico 2021/2022</h3>
              </a>
              <p class="card-text">Il contributo è rivolto agli studenti iscritti nelle scuole secondarie di secondo grado, statali e paritarie, resdienti nel comune.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card-wrapper rounded shadow-sm border border-light">
          <div class="card bg-none">
            <div class="card-body">
              <div class="categoryicon-top">
                <svg class="icon icon-sm">
                  <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
                </svg>
                <span class="text fw-semibold">
                  <a href="#" aria-label="Vai a categoria Bandi e avvisi" title="Vai a categoria Bandi e avvisi">Bandi e avvisi</a>
                  </span>
              </div>
              <a href="#" aria-label="Vai a Avviso iscrizioni al servizio di mensa scolastica per l'anno 2022/2023" title="Vai a Avviso iscrizioni al servizio di mensa scolastica per l'anno 2022/2023">
                <h3 class="card-title h5 ">Avviso iscrizioni al servizio di mensa scolastica per l'anno 2022/2023</h3>
              </a>
              <p class="card-text">Le iscrizioni al servizio sono aperte per nuovi iscritti e riconferme.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card pb-30 pb-lg-50">
    <div class="container px-4">
      <div class="row">
        <div class="col-12">
          <h2 class="title-xxlarge mb-4 mt-30 mt-lg-40 mb-lg-30 pt-lg-2">Esplora tutte le novità</h2>

          <div>
            {{>partials/input-search/input-search
            id="autocomplete-three"
            placeholder-text="Cerca per parola chiave"
            search-subtitle=true
            text-subtitle="62 notizie trovate in ordine alfabetico"
            text-subtitle-class="u-grey-light text-paragraph-card mt-2 mb-30 mt-lg-3 mb-lg-40"
            wrapper-class="mb-0"
            icon-class="icon-primary"
            }}
          </div>
        </div>
      </div>

      {{>cmp-list-card-img/cmp-list-card-img-hr cards=cards.card-all-news rowClass="pb-4"}}
      <p class="text-center text-paragraph-regular-medium mb-0">Nessun altro risultato</p>
    </div>
  </div>


  <div class="container px-4" id="argomento">
    <h2 class="title-xxlarge mt-40 mt-lg-60 mb-4 mb-lg-40">Esplora per categoria</h2>
    <div class="row flex-wrap justify-content-start gy-4 pb-40 pb-lg-60 mb-lg-1 align-items-stretch">

      <div class="col-12 col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Documento albo pretorio"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        }}
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Modulistica"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        }}
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Documento funzionamento interno"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        }}
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Atto normativo"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi servizi (32)"
        card-link-accessibility="Visualizza tutte le notizie riguardanti l'argomento"
        }}
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Accordo tra enti"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi servizi (32)"
        }}
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Documento attività politica"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        }}
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Documento (tecnico) di supporto, Istanza"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        }}
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Documento di programmazione e rendicontazione"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        }}
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Dataset"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        }}
      </div>
    </div>
  </div>

  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6">
          {{>cmp-rating/cmp-rating public-template=true rating-title="Quanto è utile questa pagina?"}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center p-contacts">
        <div class="col-12 col-lg-6">
          {{>cmp-contacts/cmp-contacts city-problems=true}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}