{{#>base/base title="Novità" headerActive2=true}}
<main>
  <div class="container px-4" id="main-container">
    <div class="row justify-content-center w-100 row-shadow">
      <div class="col-12 col-lg-10">

        {{>cmp-breadcrumbs/cmp-breadcrumbs link2="Home" link3="Novità"}}

        {{>cmp-hero/cmp-hero
        hero-title="Notizie"
        hero-text="Tutte le novità comunali per i cittadini per restare aggiornati."
        wrapper-class="pt-0 ps-0 pb-4 pb-lg-60"}}
      </div>
    </div>

    <h2 class="title-xxlarge mt-70 mb-4 mt-lg-40 pt-lg-2 mb-lg-40 ">Notizie in evidenza</h2>
    {{>cmp-list-card-img/cmp-list-card-img-hr cards=cards.card-news rowClass="pb-60"}}
  </div>

  <div class="container px-4" id="argomento">
    <h2 class="title-xxlarge mt-40 mt-lg-60 mb-4 mb-lg-40">Esplora per argomento</h2>
    <div class="row flex-wrap justify-content-start gy-4 pb-40 pb-lg-60 mb-lg-1 align-items-stretch">

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Agricoltura"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Animale domestico"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Assistenza sociale"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Associazioni"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Concorsi"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Formazione professionale"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Imposte"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Imprese"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Inquinamento"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Integrazione sociale"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Istruzione"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Lavoro"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Parcheggi"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Patrimonio culturale"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Piano di sviluppo "
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Pista ciclabile"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Patrimonio culturale"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Piano di sviluppo"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Trasporto pubblico "
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>

      <div class="col-12 col-lg-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        classText="description"
        card-title="Zone pedonali"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        card-link="Vedi Notizie (32)"
        card-link-accessibility="Visualizza tutte le notizie di"
        }}
      </div>
    </div>
  </div>

  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6">
          {{>cmp-rating/cmp-rating public-template=true rating-title="Quanto è utile questa pagina?"}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center p-contacts">
        <div class="col-12 col-lg-6">
          {{>cmp-contacts/cmp-contacts city-problems=true}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}