{{#>base/base title="Area personale" logged=true}}
  <main>
    <section id="main-container">
      <div class="section section-background-header section-user-header py-5">
        <div class="container position-relative">
          <div class="row">
            <div class="col-xl-8 offset-xl-2 position-static px-0">
              <h1 class="text-center h4">Bentornato Mario!</h1>
              <div class="row me-xl-2 user-settings">
                <div class="col-12 col-sm-6 offset-sm-3 col-md-12 offset-md-0">
                  <div class="d-flex justify-content-center">
                    <div class="pe-4">
                      <a href="#" title="vai al profilo personale" aria-label="vai al profilo personale">
                        <span>Profilo</span>
                        <svg class="icon icon-primary icon-xs right">
                          <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-settings"></use>
                        </svg>
                      </a>
                    </div>
                    <div class="ps-4">
                      <a href="#" title="logout dal profilo personale" aria-label="logout dal profilo personale">
                        <span>Logout</span>
                        <svg class="icon icon-primary icon-xs right">
                          <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="nav-tabs-hidescroll mt-4 mt-md-5">
                <ul class="nav nav-tabs auto no-border no-background" id="myTab" role="tabpanel">
                  <li class="nav-item" role="tab">
                    <a class="nav-link text-primary active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="button"
                      aria-controls="tab1" aria-selected="true" title="vai al tab - le mie pratiche" aria-label="vai al tab - le mie pratiche">Le mie pratiche</a>
                  </li>
                  <li class="nav-item" role="tab">
                    <a class="nav-link text-primary" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="button"
                      aria-controls="tab2" aria-selected="false" title="vai al tab - pagamenti" aria-label="vai al tab - pagamenti">Pagamenti</a>
                  </li>
                  <li class="nav-item" role="tab">
                    <a class="nav-link text-primary" id="tab3-tab" data-bs-toggle="tab" href="#tab3" role="button"
                      aria-controls="tab3" aria-selected="false" title="vai al tab - documenti" aria-label="vai al tab- documenti">Documenti</a>
                  </li>
                  <li class="nav-item" role="tab">
                    <a class="nav-link text-primary" id="tab4-tab" data-bs-toggle="tab" href="#tab4" role="button"
                      aria-controls="tab4" aria-selected="false" title="vai al tab - messaggi" aria-label="vai al tab - messaggi">Messaggi</a>
                  </li>
                  <li class="nav-item" role="tab">
                    <a class="nav-link text-primary" id="tab5-tab" data-bs-toggle="tab" href="#tab5" role="button"
                      aria-controls="tab5" aria-selected="false" title="vai al tab - scadenze" aria-label="vai al tab - scadenze">Scadenze</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <!-- prettier-ignore -->
              <div class="tab-content mt-5 mt-md-3" id="myTabContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                  <div class="row pt-md-5">
                    <div class="col d-lg-inline-flex">
                      <h2>Le mie pratiche</h2>
                      <div class="dropdown ms-lg-5 mt-4 mt-lg-0">
                        <button aria-label="stato della pratica" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-pratiche"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Stato della pratica
                          <span class="badge neutral-2-bg text-secondary">4</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-pratiche">
                          <a class="dropdown-item d-flex justify-content-between align-items-center" href="#" title="vai alle pratiche - in bozza" aria-label="vai alle pratiche - in bozza">
                            <span>in bozza</span>
                            <span class="badge neutral-2-bg text-secondary">4</span>
                          </a>
                          <a class="dropdown-item" href="#" title="vai alle pratiche - inviate" aria-label="vai alle pratiche - inviate">inviate</a>
                          <a class="dropdown-item" href="#" title="vai alle pratiche - in elaborazione" aria-label="vai alle pratiche - in elaborazione">in elaborazione</a>
                          <a class="dropdown-item" href="#" title="vai alle pratiche - accettate" aria-label="vai alle pratiche - accettate">accettate</a>
                          <a class="dropdown-item" href="#" title="vai alle pratiche - rifiutate" aria-label="vai alle pratiche - rifiutate">rifiutate</a>
                          <a class="dropdown-item" href="#" title="vai alle pratiche - da integrare" aria-label="vai alle pratiche - da integrare">da integrare</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="py-4">
                    <div class="row">
                      <div class="col">
                        <div class="table-responsive my-5 shadow">
                          <table class="table mb-0 bg-white">
                            <thead>
                              <tr>
                                <th scope="col">
                                  <span>Servizio</span>
                                  <svg class="icon icon-xs">
                                    <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                                  </svg>
                                </th>
                                <th scope="col">
                                  <span>Categoria</span>
                                  <svg class="icon icon-xs">
                                    <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                                  </svg>
                                </th>
                                <th scope="col"><span>Protocollo</span></th>
                                <th scope="col"><span>Data</span></th>
                                <th scope="col">Dettagli</th>
                                <th scope="col"><span>Cancella</span></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="align-middle">certificato di nascita</td>
                                <td class="align-middle">Anagrafe</td>
                                <td class="align-middle">hi6j2j5h6jrs9485d</td>
                                <td class="align-middle">10/02/2019</td>
                                <td class="align-middle">
                                  <a href="#" title="vai ai dettagli della pratica" aria-label="vai ai dettagli della pratica" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" title="elimina pratica" aria-label="elimina pratica" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="align-middle">pagamento TARI</td>
                                <td class="align-middle">Riscossione tasse</td>
                                <td class="align-middle">h34kr3j4h3jh3k4tr</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">
                                  <a href="#" title="vai ai dettagli della pratica" aria-label="vai ai dettagli della pratica" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" title="elimina la pratica" aria-label="elimina la pratica" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="align-middle">pagamento contravvenzione</td>
                                <td class="align-middle">Attività amministrativa</td>
                                <td class="align-middle">lk34kl3k309dmk4sd</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">
                                  <a href="#" title="vai ai dettagli della pratica" aria-label="vai ai dettagli della pratica" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" title="elimina la pratica" aria-label="elimina la pratica" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <nav class="pagination-wrapper justify-content-center"
                          aria-label="Navigazione della pagina">
                          <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#" title="vai alla pagina precedente" aria-label="vai alla pagina precedente">
                                <svg class="icon icon-primary">
                                  <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-left"></use>
                                </svg>
                                <span class="visually-hidden">Pagina precedente</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-current="page" title="vai alla pagina 1" aria-label="vai alla pagina 1">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#" title="vai alla pagina 2" aria-label="vai alla pagina 2">2</a></li>
                            <li class="page-item">
                              <a class="page-link focus--mouse" href="#" title="vai alla pagina 3" aria-label="vai alla pagina 3">3</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#" title="vai alla pagina 4" aria-label="vai alla pagina 4">4</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#" title="vai alla pagina succesiva" aria-label="vai alla pagina successiva">
                                <span class="visually-hidden">Pagina successiva</span>
                                <svg class="icon icon-primary">
                                  <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use>
                                </svg>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                  <div class="row pt-md-5">
                    <div class="col d-lg-inline-flex">
                      <h2>Pagamenti</h2>
                      <div class="dropdown ms-lg-5 mt-4 mt-lg-0">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                          id="dropdownMenuButton-pagamenti" data-bs-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          Stato dei pagamenti
                          <span class="badge neutral-2-bg text-secondary">4</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-pagamenti">
                          <a class="dropdown-item d-flex justify-content-between align-items-center" href="#">
                            <span>in bozza</span>
                            <span class="badge neutral-2-bg text-secondary">4</span>
                          </a>
                          <a class="dropdown-item" href="#">inviate</a>
                          <a class="dropdown-item" href="#">in elaborazione</a>
                          <a class="dropdown-item" href="#">accettate</a>
                          <a class="dropdown-item" href="#">rifiutate</a>
                          <a class="dropdown-item" href="#">da integrare</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="py-4">
                    <div class="row">
                      <div class="col">
                        <div class="table-responsive my-5 shadow">
                          <table class="table mb-0 bg-white">
                            <thead>
                              <tr>
                                <th scope="col">
                                  <span>Servizio</span>
                                  <svg class="icon icon-xs">
                                    <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                                  </svg>
                                </th>
                                <th scope="col">
                                  <span>Categoria</span>
                                  <svg class="icon icon-xs">
                                    <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                                  </svg>
                                </th>
                                <th scope="col"><span>Protocollo</span></th>
                                <th scope="col"><span>Data</span></th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col"><span>Cancella</span></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="align-middle">certificato di nascita</td>
                                <td class="align-middle">Anagrafe</td>
                                <td class="align-middle">hi6j2j5h6jrs9485d</td>
                                <td class="align-middle">10/02/2019</td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="align-middle">pagamento TARI</td>
                                <td class="align-middle">Riscossione tasse</td>
                                <td class="align-middle">h34kr3j4h3jh3k4tr</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="align-middle">pagamento contravvenzione</td>
                                <td class="align-middle">Attività amministrativa</td>
                                <td class="align-middle">lk34kl3k309dmk4sd</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <nav class="pagination-wrapper justify-content-center"
                          aria-label="Navigazione della pagina">
                          <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#">
                                <svg class="icon icon-primary">
                                  <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-left"></use>
                                </svg>
                                <span class="visually-hidden">Pagina precedente</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-current="page">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item">
                              <a class="page-link focus--mouse" href="#">3</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#">
                                <span class="visually-hidden">Pagina successiva</span>
                                <svg class="icon icon-primary">
                                  <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use>
                                </svg>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                  <div class="row pt-md-5">
                    <div class="col d-lg-inline-flex">
                      <h2>Documenti</h2>
                      <div class="dropdown ms-lg-5 mt-4 mt-lg-0">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                          id="dropdownMenuButton-documenti" data-bs-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          Filtro documenti
                          <span class="badge neutral-2-bg text-secondary">4</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-documenti">
                          <a class="dropdown-item d-flex justify-content-between align-items-center" href="#">
                            <span>in bozza</span>
                            <span class="badge neutral-2-bg text-secondary">4</span>
                          </a>
                          <a class="dropdown-item" href="#">inviate</a>
                          <a class="dropdown-item" href="#">in elaborazione</a>
                          <a class="dropdown-item" href="#">accettate</a>
                          <a class="dropdown-item" href="#">rifiutate</a>
                          <a class="dropdown-item" href="#">da integrare</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="py-4">
                    <div class="row">
                      <div class="col">
                        <div class="table-responsive my-5 shadow">
                          <table class="table mb-0 bg-white">
                            <thead>
                              <tr>
                                <th scope="col">
                                  <span>Servizio</span>
                                  <svg class="icon icon-xs">
                                    <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                                  </svg>
                                </th>
                                <th scope="col">
                                  <span>Categoria</span>
                                  <svg class="icon icon-xs">
                                    <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                                  </svg>
                                </th>
                                <th scope="col"><span>Protocollo</span></th>
                                <th scope="col"><span>Data</span></th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col"><span>Cancella</span></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="align-middle">certificato di nascita</td>
                                <td class="align-middle">Anagrafe</td>
                                <td class="align-middle">hi6j2j5h6jrs9485d</td>
                                <td class="align-middle">10/02/2019</td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="align-middle">pagamento TARI</td>
                                <td class="align-middle">Riscossione tasse</td>
                                <td class="align-middle">h34kr3j4h3jh3k4tr</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="align-middle">pagamento contravvenzione</td>
                                <td class="align-middle">Attività amministrativa</td>
                                <td class="align-middle">lk34kl3k309dmk4sd</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <nav class="pagination-wrapper justify-content-center"
                          aria-label="Navigazione della pagina">
                          <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#">
                                <svg class="icon icon-primary">
                                  <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-left"></use>
                                </svg>
                                <span class="visually-hidden">Pagina precedente</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-current="page">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item">
                              <a class="page-link focus--mouse" href="#">3</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#">
                                <span class="visually-hidden">Pagina successiva</span>
                                <svg class="icon icon-primary">
                                  <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use>
                                </svg>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                  <div class="row pt-md-5">
                    <div class="col d-lg-inline-flex">
                      <h2>Messaggi</h2>
                      <div class="dropdown ms-lg-5 mt-4 mt-lg-0">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-messaggi"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Stato dei messaggi
                          <span class="badge neutral-2-bg text-secondary">4</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-messaggi">
                          <a class="dropdown-item d-flex justify-content-between align-items-center" href="#">
                            <span>in bozza</span>
                            <span class="badge neutral-2-bg text-secondary">4</span>
                          </a>
                          <a class="dropdown-item" href="#">inviate</a>
                          <a class="dropdown-item" href="#">in elaborazione</a>
                          <a class="dropdown-item" href="#">accettate</a>
                          <a class="dropdown-item" href="#">rifiutate</a>
                          <a class="dropdown-item" href="#">da integrare</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="py-4">
                    <div class="row">
                      <div class="col">
                        <div class="table-responsive my-5 shadow">
                          <table class="table mb-0 bg-white">
                            <thead>
                              <tr>
                                <th scope="col">
                                  <span>Servizio</span>
                                  <svg class="icon icon-xs">
                                    <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                                  </svg>
                                </th>
                                <th scope="col">
                                  <span>Categoria</span>
                                  <svg class="icon icon-xs">
                                    <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                                  </svg>
                                </th>
                                <th scope="col"><span>Protocollo</span></th>
                                <th scope="col"><span>Data</span></th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col"><span>Cancella</span></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="align-middle">certificato di nascita</td>
                                <td class="align-middle">Anagrafe</td>
                                <td class="align-middle">hi6j2j5h6jrs9485d</td>
                                <td class="align-middle">10/02/2019</td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="align-middle">pagamento TARI</td>
                                <td class="align-middle">Riscossione tasse</td>
                                <td class="align-middle">h34kr3j4h3jh3k4tr</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="align-middle">pagamento contravvenzione</td>
                                <td class="align-middle">Attività amministrativa</td>
                                <td class="align-middle">lk34kl3k309dmk4sd</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <nav class="pagination-wrapper justify-content-center"
                          aria-label="Navigazione della pagina">
                          <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#">
                                <svg class="icon icon-primary">
                                  <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-left"></use>
                                </svg>
                                <span class="visually-hidden">Pagina precedente</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-current="page">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item">
                              <a class="page-link focus--mouse" href="#">3</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#">
                                <span class="visually-hidden">Pagina successiva</span>
                                <svg class="icon icon-primary">
                                  <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use>
                                </svg>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
                  <div class="row pt-md-5">
                    <div class="col d-lg-inline-flex">
                      <h2>Scadenze</h2>
                      <div class="dropdown ms-lg-5 mt-4 mt-lg-0">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-scadenze"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Stato delle scadenze
                          <span class="badge neutral-2-bg text-secondary">4</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-scadenze">
                          <a class="dropdown-item d-flex justify-content-between align-items-center" href="#">
                            <span>in bozza</span>
                            <span class="badge neutral-2-bg text-secondary">4</span>
                          </a>
                          <a class="dropdown-item" href="#">inviate</a>
                          <a class="dropdown-item" href="#">in elaborazione</a>
                          <a class="dropdown-item" href="#">accettate</a>
                          <a class="dropdown-item" href="#">rifiutate</a>
                          <a class="dropdown-item" href="#">da integrare</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="py-4">
                    <div class="row">
                      <div class="col">
                        <div class="table-responsive my-5 shadow">
                          <table class="table mb-0 bg-white">
                            <thead>
                              <tr>
                                <th scope="col">
                                  <span>Servizio</span>
                                  <svg class="icon icon-xs">
                                    <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                                  </svg>
                                </th>
                                <th scope="col">
                                  <span>Categoria</span>
                                  <svg class="icon icon-xs">
                                    <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                                  </svg>
                                </th>
                                <th scope="col"><span>Protocollo</span></th>
                                <th scope="col"><span>Data</span></th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col"><span>Cancella</span></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="align-middle">certificato di nascita</td>
                                <td class="align-middle">Anagrafe</td>
                                <td class="align-middle">hi6j2j5h6jrs9485d</td>
                                <td class="align-middle">10/02/2019</td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="align-middle">pagamento TARI</td>
                                <td class="align-middle">Riscossione tasse</td>
                                <td class="align-middle">h34kr3j4h3jh3k4tr</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="align-middle">pagamento contravvenzione</td>
                                <td class="align-middle">Attività amministrativa</td>
                                <td class="align-middle">lk34kl3k309dmk4sd</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-secondary btn-xs btn-icon" role="button"
                                    aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                                    </svg>
                                    <span>Dettagli</span>
                                  </a>
                                </td>
                                <td class="align-middle">
                                  <a href="#" class="btn btn-danger btn-xs btn-icon" role="button" aria-disabled="true">
                                    <svg class="icon icon-white">
                                      <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                                    </svg>
                                    <span>Elimina</span>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <nav class="pagination-wrapper justify-content-center"
                          aria-label="Navigazione della pagina">
                          <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#">
                                <svg class="icon icon-primary">
                                  <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-left"></use>
                                </svg>
                                <span class="visually-hidden">Pagina precedente</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-current="page">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item">
                              <a class="page-link focus--mouse" href="#">3</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#">
                                <span class="visually-hidden">Pagina successiva</span>
                                <svg class="icon icon-primary">
                                  <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use>
                                </svg>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  {{/base/base }}
