{{#>base/base title="Vantaggi economici | Controllare dati personali"}}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Servizi sociali"}}
        {{> cmp-heading/cmp-heading
        title="Assegno di maternità"
        subTitle="Inserisci le informazioni necessarie per richiedere l’assegno di maternità.<br>Potrai ricontrollare tutti i dati nel riepilogo, prima di inviare la richiesta."
        title-class="w-75"

        }}
      </div>
      <div class="col-12">
        {{> cmp-info-progress/cmp-info-progress
        step-list=vantaggi-economici.controllare-dati-personali.step-list.step-2
        step-num="2"
        step-title="Dati generali"
        step-tot="3"
        }}
      </div>
    </div>
    <div class="steppers-content" aria-live="polite">
      <div class="row mt-lg-50">
        <div class="col-12 col-lg-3 mb-4 d-none d-lg-block">
          {{>cmp-navscroll/cmp-navscroll accordion-title="INFORMAZIONI RICHIESTE"
            link-list=vantaggi-economici.controllare-dati-personali.navscroll
            br-none="true"}}
        </div>
        <div class="col-12 col-lg-8 offset-lg-1">
          <div>
            {{#>cmp-card/cmp-card-content-box
            h2-class="mb-1"
            bg-grey=true
            card-title="Richiedente"
            id-title="applicant-info"
            subtitle="Informazione su di te"}}

            {{> cmp-info-button-card/cmp-info-button-card big-title="Julie Crampton Smith"
            label-2="Codice Fiscale <br> <span>CRMJLU92H52Z826N</span>"
            data-add="Aggiungi dati"
            warning=true
            warningMessage="Informazioni mancanti:"
            show-more-anagrafica-2=true
            anagrafica=vantaggi-economici.controllare-dati-personali.anagrafica.info
            indirizzo=vantaggi-economici.controllare-dati-personali.indirizzo.info
            contatti=vantaggi-economici.controllare-dati-personali.contatti.info
            documenti=vantaggi-economici.controllare-dati-personali.documenti.info
            btnIndirizzo=true
            collapse-id="collapse-1"
            modalId="modal-address"
            btn-label-text="Modifica"}}
            {{/cmp-card/cmp-card-content-box}}
          </div>

          <div class="mt-4">
            {{#>cmp-card/cmp-card-content-box bg-grey=true
            card-title="Minore"
            id-title="minor"
            subtitle="Informazioni sul minore per cui chiedi l’assegno di maternità"
            }}


            {{>partials/button/button label="Aggiungi beneficiario" iconBtn="it-plus-circle"
            class="plus-text mt-30"
            modalId="modal-registry-office"}}
            {{/cmp-card/cmp-card-content-box}}
          </div>

          <div class="mt-4">
            {{#>cmp-card/cmp-card-content-box bg-grey=true
            card-title="ISEE"
            id-title="isee-info"
            subtitle="Informazioni sul valore dell’ISEE del tuo nucleo familiare basato sulla tua
            ultima
            dichiarazione"}}
            {{> cmp-info-button-card/cmp-info-button-card big-title="ISEE: 18.000,00€" label-2="Scadenza ISEE <br>
            <span>01/03/2022</span>"
            data-add="Aggiungi dati"
            show-more-isee="true"
            collapse-id="collapse2"
            modalId="modal-isee"
            }}
            {{/cmp-card/cmp-card-content-box}}
          </div>
          <div class="mt-4">
            {{#>cmp-card/cmp-card-content-box bg-grey=true
            card-title="Conto bancario per l’accredito"
            id-title="bank-account"
            subtitle="Seleziona o aggiungi il conto su cui vuoi ricevere l'assegno"}}

            {{> cmp-info-button-card/cmp-info-button-card radio=true group="bank-accounts" idRadio="accounts"
            big-title="Intesa Sanpaolo"
            label-2="Iban <br> <span>IT12 3456 7890 123456</span>"
            show-accordion-bank="true"
            info-title="Intesa Sanpaolo"
            conto-bancario=vantaggi-economici.controllare-dati-personali.conto-bancario.info
            collapse-id="collapse-bank-1"
            modalId="modal-bank-account"
            }}

            {{> cmp-info-button-card/cmp-info-button-card radio=true group="bank-accounts" idRadio="accounts-2"
            big-title="Banca Popolare di Roma"
            label-2="Iban <br> <span>IT12 3456 7890 123456</span>"
            info-title="Banca Popolare di Roma"

            show-accordion-bank="true"
            collapse-id="collapse-bank-2"
            conto-bancario=vantaggi-economici.controllare-dati-personali.conto-bancario.info
            modalId="modal-bank-account"
           }}


            {{>partials/button/button label="Aggiungi conto bancario"
            iconBtn="it-plus-circle"
            icon-class="plus-icon icon-primary"
            class="plus-text mt-30"
            modalId="modal-bank-account"}}
            {{/cmp-card/cmp-card-content-box}}


          </div>


          {{>cmp-nav-steps/cmp-nav-steps save="true"
          modalId="modal-save-1"

          }}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
  {{>cmp-modal/modal-documents}}

  {{>cmp-modal/modal-isee}}

  {{>cmp-modal/modal-address}}

  {{>cmp-modal/modal-save}}
  {{>cmp-modal/modal-registry-office documents=true}}
</main>
{{/base/base }}
