{{#>base/base title="Vantaggi economici | Acconsentire trattamento dati inseriti"}}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Servizi sociali"}}
        {{> cmp-heading/cmp-heading title="Assegno di maternità" title-class="w-75"}}
      </div>

      <div class="col-12">
        {{> cmp-info-progress/cmp-info-progress
        step-list=vantaggi-economici.acconsentire-trattamento-dati-inseriti.step-list.step-1
        step-num="1"
        step-title="Informativa sulla privacy"
        step-tot="3"
        }}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        {{#>cmp-card/cmp-card-content-box }}
        <p class="text-paragraph mb-3 mb-md-40">
          Il Comune di Firenze gestisce i dati personali forniti e liberamente comunicati sulla base dell’articolo 13 del Regolamento (UE) 2016/679 General data protection regulation (Gdpr) e degli articoli 13 e successive modifiche e integrazione del decreto legislativo (di seguito d.lgs) 267/2000 (Testo unico enti locali).
        </p>
          <span class="text-paragraph">Per i dettagli sul trattamento dei dati personali consulta l’<a href="#" class="t-primary underline">informativa sulla privacy.</a>
        </span>

        <div class="form-check mt-md-5">
          <div class="checkbox-body my-4 d-flex align-items-center">
            <input type="checkbox" id="privacy" name="privacy-field" value="privacy-field">
            <label class="title-small-semi-bold" for="privacy">Ho letto e compreso l’informativa sulla privacy</label>
          </div>
        </div>

        {{> partials/button/button label="Avanti" primary=true class=" mobile-full mt-2 mb-md-40"}}
        {{/cmp-card/cmp-card-content-box}}
      </div>
    </div>
  </div>

  <div class="bg-grey-card">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 py-5">
          {{>cmp-contacts/cmp-contacts appuntamento=true disservizio=true}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}
