.cmp-nav-tab {
  .nav-tabs {
    overflow-x: hidden;
    
    .nav-link {
      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:not(.active) {
        color: get-color(black, main);

        .icon {
          fill: get-color(black, main);
        }
      }
    }
  }
}
