body {
  color: $color-text-secondary;
}

// reset line-height for list of objects
ul {
  line-height: normal;
}

//BUTTONS
.btn-primary,
.btn-primary:hover {
  color: $btn-comuni-primary-hover;
}

a.text-decoration-none:hover {
  text-decoration: underline !important;
}

//FOOTER
.it-footer-main {
  background-color: $footer-comuni-bg-color;
}
.it-footer-small-prints {
  background-color: $footer-comuni-bg-color;
}

.card-teaser {
  border: 1px solid get-color(light-grey, grey);
}

//card bg
.card.card-bg-dark {
  background-color: $card-comuni-bg-dark;
}

//card-teaser
.card-teaser .link-list-wrapper ul li a .icon-primary {
  fill: $link-list-comuni-color !important;
}
.card-teaser .link-list-wrapper ul li a,
.card-teaser .link-list-wrapper ul li a span {
  color: $link-list-comuni-color;
}

//link list bar
.link-list-wrapper.menu-link-list h3:after,
.link-list-wrapper.menu-link-list .h3:after,
.link-list-wrapper.menu-link-list h4:after,
.link-list-wrapper.menu-link-list .h4:after {
  background-color: $primary;
}

//card texts color
.card .card-body h5.card-title,
.card .card-body .card-title.h5 {
  color: $color-text-secondary;
}
