.form-check {

	&.multi-check-md {
		padding: 1rem 1.5rem;

    @include media-breakpoint-up(sm){
      padding: 0.89rem 1.33rem;
    }

		@include media-breakpoint-up(md) {
			padding: 2.22rem 2.67rem;
			margin-top: 0;
		}
	}

	.checkbox-body {
		border-bottom: 1px solid;

		&:last-child {
			border-bottom: unset;
		}

		.form-feedback{
			display:block;
			padding-left: 2.25rem;
			margin: 0;

			@include media-breakpoint-up(sm){
				padding-left: 2rem;
			}
		}
	}

	[type=checkbox]+label {
		height: auto;

		&:before {
			margin: 0.125rem 0;

      @include media-breakpoint-up(sm) {
        margin: 0.11rem 0;
      }
		}

		&:after {
			margin: 0.375rem 0;

      @include media-breakpoint-up(sm){
        margin: 0.33rem 0;
      }
		}

		@include media-breakpoint-up(md) {
      @include font(18, 18);
			line-height: 1.56;
		}
	}

	&.my-24 {
		margin: 1.5rem 0;

    @include media-breakpoint-up(sm){
      margin: 1.33rem 0;
    }
	}
}
