<div class="rating-section py-4 pt-lg-80 pb-lg-80">
  <div class="card-wrapper">
    <div class="card">
      <div class="card-body">
        <h3 class="title">VALUTA IL SERVIZIO</h3>
        <p class="label">Usare il servizio è stato semplice?</p>

       <fieldset class="rating">
        <input type="radio" id="star5a" name="ratingA" value="5" />
          <label class = "full" for="star5a">
            <svg class="icon icon-sm"><use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-star-full"></use></svg>
            <span class="visually-hidden">Valuta 5 stelle su 5</span>
          </label>
        <input type="radio" id="star4a" name="ratingA" value="4"/>
          <label class = "full" for="star4a">
            <svg class="icon icon-sm"><use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-star-full"></use></svg>
            <span class="visually-hidden">Valuta 4 stelle su 5</span>
          </label>
        <input type="radio" id="star3a" name="ratingA" value="3" />
          <label class = "full" for="star3a">
            <svg class="icon icon-sm"><use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-star-full"></use></svg>
            <span class="visually-hidden">Valuta 3 stelle su 5</span>
          </label>
        <input type="radio" id="star2a" name="ratingA" value="2" />
          <label class = "full" for="star2a">
            <svg class="icon icon-sm"><use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-star-full"></use></svg>
            <span class="visually-hidden">Valuta 2 stelle su 5</span>
          </label>
        <input type="radio" id="star1a" name="ratingA" value="1" />
          <label class = "full" for="star1a">
            <svg class="icon icon-sm"><use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-star-full"></use></svg>
            <span class="visually-hidden">Valuta 1 stelle su 5</span>
          </label>
       </fieldset>
      </div>
    </div>
  </div>
</div>

