.cmp-info-button-card {
  margin-top: 0;

  p{
    margin-bottom: 0;
  }

  &.has-border-green {
    outline: 2px solid get-color(primary, main);
  }

  &.radio-card:not(:first-child) {
    margin-top: um(16px);

    @include media-breakpoint-up(lg) {
      margin-top: um(32px);
    }
  }

  .form-check [type=radio]:not(:checked)+label::before {
    border-color: get-color(primary, main);
  }

  .radio-card {
    position: relative;
  }

  .form-check [type=radio]+label {
    position: relative;
    padding-left: 0;
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 32px;
    font-size: 1rem;
    user-select: none;
    margin-bottom: .5rem;
    display: block;
  }

  .form-check [type=radio]+label::after,
  .form-check [type=radio]+label::before {
    content: "";
    right: 0;
    top: 0;
    left: unset;
  }

  .big-title {
    font-size: um(28px);
    font-weight: 700;
    line-height: um(32px);
    max-width: 85%;
    padding-bottom: um(8px);
    color: get-color(black, main);

    @include media-breakpoint-up(md) {
      font-size: um(32px);
      line-height: um(32px);
      padding-bottom: um(16px);
    }
  }

  .name {
    font-size: um(18px);
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: um(8px);
  }

  .card-info {
    font-size: um(14px);
    line-height: 1.5;
    padding: um(8px) 0;

    &:not(:last-child) {
      border-bottom: um(1px) solid #E5E5E5;
    }

    @include media-breakpoint-up(md) {
      font-size: um(16px);
    }

    &+.card-info {
      margin-top: um(4px);
    }

    span {
      font-size: um(16px);
      font-weight: 600;

      @include media-breakpoint-up(md) {
        font-size: um(18px);
      }
    }
  }

  .cmp-alert-box {
    margin-top: um(16px);
  }

  .accordion-button {
    padding-left: 0;
    font-weight: normal;

    &::after {
      margin-left: 0;
    }
  }
}
