.plus-icon {
  transform: rotate(45deg);
  max-width: 20px;
  color: get-color(primary, main);
}

.plus-text {
  display: flex;
  align-items: center;
  color: get-color(primary, main);
  gap: 7px;
  @include font(16, 16);
  font-weight: 600;

  &:hover {
    color: get-color(primary, main);
  }
}

.btn {

  &:hover {
    text-decoration: none;
  }

  &.mobile-full {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }

  &.bg-white:hover {
    text-decoration: underline;
}

  &.full-mb {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &.btn-icon {
    justify-content: center;
  }

  &.square {
    border-radius: 0;
    background-color: #06c;
    font-weight: 700;
  }

  &.btn-re {
    width: 100%;

    &:hover {
      text-decoration: underline;
    }

    @include media-breakpoint-up(md) {
      max-width: 18.22rem;
    }
  }
}

.btn-label {
  @include font(14, 14);
  font-weight: 600;
  line-height: 20px;
}
