.plus-icon {
  transform: rotate(45deg);
  max-width: 20px;
  color: get-color(primary, main);
}

.plus-text {
  display: flex;
  align-items: center;
  color: get-color(primary, main);
  gap: 7px;
  font-size: um(16px);
  font-weight: 600;

  &:hover {
    color: get-color(primary, main);
  }
}

.btn {

  &.mobile-full {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }

  &.full-mb {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &.btn-icon {
    justify-content: center;
  }

  &.square {
    border-radius: 0;
    background-color: #06c;
    font-weight: 700;
  }

  &.btn-re {
    width: 100%;

    @include media-breakpoint-up(md) {
      max-width: um(328px);
    }
  }
}

.btn-label {
  font-size: um(14px);
  font-weight: 600;
  line-height: 20px;
}
