.chip {
  &:not(.chip-disabled) {
    border-color: $primary;
    background: #fff;

    &.chip-danger {
      border-color: #cc334d;
    }
  }
  
  .chip-label {
    color: $primary;
  }

  &:is(a) {
    text-decoration: none;

    &:hover:not(.chip-disabled) {
      background-color: $primary;

      .chip-label {
        color: #fff;
      }
    }
  }

  &:is(div) {
    &:hover:not(.chip-disabled) {
      background-color: transparent;
      border-color: $primary;

      .chip-label {
        color: $primary;
      }
    }

    &.chip-danger {
      &:hover {
        border-color: #cc334d;

        .chip-label {
          color: #cc334d;
        }
      }
    }
  }
}