.chip {
  border-color: #007a52;
  background: #fff;
  
  .chip-label {
    color: #007A52;
  }

  &:is(a) {
    text-decoration: none;

    &:hover:not(.chip-disabled) {
      background-color: #007A52;

      .chip-label {
        color: #fff;
      }
    }
  }

  &:is(div) {
    &:hover:not(.chip-disabled) {
      background-color: transparent;
      border-color: #007A52;

      .chip-label {
        color: #007A52;
      }
    }
  }
}