<div class="cmp-related-services">
  <h3>Servizi correlati</h3>
    <div class="it-list-wrapper">
      <ul class="it-list">
        <li>
          <a href="#">
            <div class="it-rounded-icon">
              <svg class="icon"><use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-settings" xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-settings"></use></svg>
            </div>
            <div class="it-right-zone"><span class="text">Iscrizione mensa scolastica</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="it-rounded-icon">
              <svg class="icon"><use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-settings" xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-settings"></use></svg>
            </div>
            <div class="it-right-zone"><span class="text">Iscrizione trasporto scolastico</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
</div>


