.cmp-alert-box {
  border-left: 2px solid get-color(error, main);
  padding-left: 1rem;

  .alert-box-icon {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    color: get-color(error, main);

    svg {
      fill: get-color(error, main);
      margin-right: 0.625rem;
    }
  }

  .description {
    @include font(16, 16);
    margin-top: 0.5rem;
    line-height: 1.5;
  }

  p {
    margin: 0;
  }
}

.cmp-warning-box{
  padding-left: 1rem;
  margin-top: 1rem;
  
  p {
    margin: 0;
  }

  .warning-box-icon {
    display: flex;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;

    svg {
      max-width: 1.25rem;
      max-height: 1.5rem;
      fill: get-color(warning, main);
      margin-right: 0.25rem;
    }
  }

  .description {
    @include font(16, 16);
    margin-top: 0.5rem;
    line-height: 1.5;

    &.description-warning{
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      font-weight: 400;
    }
  }
}
