.cmp-card-radio {
  .form-check:not(:last-child) {
    border-bottom: um(1px) solid #ddd;
    margin-top: 0;
  }

  & [type=radio]+label {
    margin: um(20px) 0;
    padding-left: um(42px);
    font-weight: 600;

    @include media-breakpoint-up(md) {
      font-size: um(18px);
    }
  }

  .card-teaser {
    padding: um(16px);

    @include media-breakpoint-up(md) {
      padding: um(24px);
    }
  }
}