.cmp-info-summary {
  p {
    margin-bottom: 0;
  }

  .icon-primary {
    fill: $primary;
  }

  .card-header {
    border-bottom: unset;
    .title-large-semi-bold {
      margin-bottom: 1.5rem;

      @include media-breakpoint-up(sm) {
        margin-bottom: 1.33rem;
      }

      @include media-breakpoint-up(md) {
        line-height: 1.43;
        margin-bottom: 0.89rem;
      }
    }
  }

  .card-body {
    .single-line-info {
      border-bottom: 1px solid;
      padding: 0.5rem 0;

      @include media-breakpoint-up(md) {
        padding: 0.89rem 0;
      }

      &.border-unset{
        border-bottom: unset !important;
        padding: 0.25rem 0 0 0;

        @include media-breakpoint-up(sm) {
          padding: 0.22rem 0 0 0;
        }
      }
    }

    .data-text {
      font-size: 1rem;
      font-weight: 600;
      word-break:break-all;

      @include media-breakpoint-up(md) {
        line-height: 1.56;
      }

      &.description-alert {
        color: get-color(alert, main);
        margin-top: 0.25rem;
        font-weight: 400;

        @include media-breakpoint-up(sm) {
          margin-top: 0.22rem;
        }

        .icon-warning {
          margin-right: 0.625rem;

          @include media-breakpoint-up(sm) {
            margin-right: 0.56rem;
          }
        }
      }

      &.description-success {
        color: $primary;
        font-weight: 400;

        .icon-success {
          margin-right: 0.625rem;

          @include media-breakpoint-up(sm) {
            margin-right: 0.56rem;
          }
        }
      }
    }

    .summary-inline {
      font-weight: 400;
      line-height: 1.5;

      &:not(:first-child) {
        padding-top: 0.625rem;

        @include media-breakpoint-up(sm) {
          padding-top: 0.56rem;
        }
      }
    }
  }

  .card-footer {
    padding: 0.5rem 0 0;
    background-color: unset;
    border-top: unset;

    @include media-breakpoint-up(sm) {
      padding: 0.44rem 0 0;
    }

    button {
      font-weight: 700;
    }

    .icon {
      width: 1rem;
      height:  1rem;
      margin-right: 0.19rem;

      @include media-breakpoint-up(sm) {
        width: 0.89rem;
        height:  0.89rem;
        margin-right: 0.16rem;
      }
    }
  }
}
.card-summary-inline {
  padding: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  @include media-breakpoint-up(sm) {
    padding: 1.33rem;
    margin-top: 0.89rem;
    margin-bottom: 1.33rem;
  }

  @include media-breakpoint-up(lg) {
    padding: 2.22rem;
  }
}

.card-white {
  padding: 1rem 0.75rem;

  @include media-breakpoint-up(sm) {
    padding: 0.89rem 0.67rem;
  }

  @include media-breakpoint-up(lg) {
    padding: 2.22rem;
  }
}
