.cmp-list-card-img {
  .card-wrapper {
    padding-bottom: 0.625rem;
    background-color: #fff;

    @include media-breakpoint-up(sm) {
      padding-bottom: 0.56rem;
    }
  }

  &__wrapper{
    min-height: 10rem;

    @include media-breakpoint-up(sm) {
      min-height: 8.89rem;
    }
  }
  .card.card-img .card-body {
    padding: 2rem 1.5rem;

    @include media-breakpoint-up(sm) {
      padding: 1.78rem 1.33rem;
    }
  }
  &__body {
    &-heading-title {
      font-family: Titillium Web;
      @include font(14, 14);
      font-weight: 400;
      line-height: 1.5;
    }

    &-title {
      font-family: Titillium Web;
      @include font(24, 24);
      font-weight: 700;
      line-height: 1.67;
      margin-bottom: 1.5rem;

      @include media-breakpoint-up(sm) {
        margin-bottom: 1.33rem;
      }
    }
    &-description{
      font-family: Lora;
      @include font(16, 16);
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 5.63rem;

      @include media-breakpoint-up(sm) {
        margin-bottom: 5rem;
      }
    }
    &-link{
      display: flex;
      align-items: center;
      font-family: Titillium Web;
      @include font(12, 12);
      font-weight: 700;
      line-height: 1.5;

    }
  }
}
