.calendar-partials{
  label{
    @include font(14, 14);
    position: relative;
    top: unset;
    padding: 0;
    transform: unset !important;
    line-height: unset;
  }

  input{
    font-weight: 600;
    color: get-color(dark,grey);
    font-size: 1.125rem;

    @include media-breakpoint-up(sm) {
      padding: 1rem;
    }
  }
}