<div class="calendar-partials card {{class}}">
  <div class="form-group {{form-class}}">
    <label class="active {{label-class}}" for="dateStandard">{{label-text}}</label>
    <input type="date" class="it-date-datepicker" id="dateStandard" name="dateStandard">
  </div>
</div>