<div class="cmp-icon-link">
  <a class="list-item icon-left d-inline-block" href="#">
    <span class="list-item-title-icon-wrapper">
      <svg class="icon icon-primary">
        <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-clip"></use>
      </svg>
      <span class="list-item t-primary">{{link}}</span>
    </span>
  </a>
</div>
