.cmp-icon-link {
  @include font(16, 18);
  font-weight: 400;
  line-height: 1.5;

  .list-item:not(:last-child){
    margin-bottom: 1.875rem;

    @include media-breakpoint-up(sm) {
      margin-bottom: 1.67rem;
    }
  }

  @include media-breakpoint-up(md) {
    line-height: 1.56;
  }
}
