.save-request {
  box-shadow: 0 15px 10px -18px #ddd;

    .card {
      &:after {
        content: unset;
      }
    }

    .btn{
      margin-bottom: 3rem;
      padding: 1rem 1.5rem;

      @include media-breakpoint-up(sm) {
        margin-bottom: 2.67rem;
        padding: 0.89rem 1.33rem;
      }
    }
  }
