.it-footer {
  .footer-heading-title {
    @include font(14, 14);
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      margin-bottom: 0.889rem;
      padding-bottom: 0.889rem;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
    }
  }

  .footer-items-wrapper {
    @include media-breakpoint-down(sm) {
      &+.footer-items-wrapper {
        .footer-heading-title {
          margin-top: 1.5rem;
          padding-top: 1.5rem;
          border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
        }
      }
    }
  }

  .it-brand-wrapper {
    padding: 0;
  }

  a {
    color: #fff;
  }

  .logo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 32px;
    padding-bottom: 32px;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      align-items: flex-start;
    }

    .ue-logo {
      max-width: 50%;
    }
  }

  a {
    @include font(16, 16);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  .footer-list {
    a {
      line-height: 2;
      color: #fff;
    }

    &+.footer-heading-title {
      margin-top: 2.667rem;
    }
  }

  .footer-info {
    @include font(16, 16);
    line-height: 1.5;
  }

  .footer-bottom {
    margin-top: 1.667rem;
    padding-top: 1.333rem;
    padding-bottom: 2.5rem;
    border-top: 1px solid rgba($color: #fff, $alpha: 0.5);

    a {
      line-height: 1.5;

      &+a {
        margin-left: 5rem;
      }
    }
  }
}