<footer class="it-footer" id="footer">
  <div class="it-footer-main">
    <div class="container">
      <div class="row">
        <div class="col-12 footer-items-wrapper logo-wrapper">
          <img class="ue-logo" src="../assets/images/logo-eu-inverted.svg" alt="logo Unione Europea">
          <div class="it-brand-wrapper">
            <a href="#" title="Vai alla home" aria-label="home Nome del Comune">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-pa"></use>
              </svg>
              <div class="it-brand-text">
                <h2 class="no_toc">Nome del Comune</h2>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 footer-items-wrapper">
          <h3 class="footer-heading-title">Amministrazione</h3>
          <ul class="footer-list">
            <li>
              <a href="#" aria-label="Organi di governo">Organi di governo</a>
            </li>
            <li>
              <a href="#" aria-label="Aree amministrative">Aree amministrative</a>
            </li>
            <li>
              <a href="#" aria-label="Uffici">Uffici</a>
            </li>
            <li>
              <a href="#" aria-label="Enti e fondazioni">Enti e fondazioni</a>
            </li>
            <li>
              <a href="#" aria-label="Politici">Politici</a>
            </li>
            <li>
              <a href="#" aria-label="Personale amministrativo">Personale amministrativo</a>
            </li>
            <li>
              <a href="#" aria-label="Documenti e dati">Documenti e dati</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 footer-items-wrapper">
          <h3 class="footer-heading-title">Categorie di servizio</h3>
          <div class="row">
            <div class="col-md-6">
              <ul class="footer-list">
                <li>
                  <a href="#" aria-label="Anagrafe e stato civile">Anagrafe e stato civile</a>
                </li>
                <li>
                  <a href="#" aria-label="Cultura e tempo libero">Cultura e tempo libero</a>
                </li>
                <li>
                  <a href="#" aria-label="Vita lavorativa">Vita lavorativa</a>
                </li>
                <li>
                  <a href="#" aria-label="Imprese e commercio">Imprese e commercio</a>
                </li>
                <li>
                  <a href="#" aria-label="Appalti pubblici">Appalti pubblici</a>
                </li>
                <li>
                  <a href="#" aria-label="Catasto e urbanistica">Catasto e urbanistica</a>
                </li>
                <li>
                  <a href="#" aria-label="Turismo">Turismo</a>
                </li>
                <li>
                  <a href="#" aria-label="Mobilità e trasporti">Mobilità e trasporti</a>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="footer-list">
                <li>
                  <a href="#" aria-label="Educazione e formazione">Educazione e formazione</a>
                </li>
                <li>
                  <a href="#" aria-label="Giustizia e sicurezza pubblica">Giustizia e sicurezza pubblica</a>
                </li>
                <li>
                  <a href="#" aria-label="Tributi, finanze e contravvenzioni">Tributi, finanze e contravvenzioni</a>
                </li>
                <li>
                  <a href="#" aria-label="Ambiente">Ambiente</a>
                </li>
                <li>
                  <a href="#" aria-label="Salute, benessere e assistenza">Salute, benessere e assistenza</a>
                </li>
                <li>
                  <a href="#" aria-label="Autorizzazioni">Autorizzazioni</a>
                </li>
                <li>
                  <a href="#" aria-label="Agricoltura e pesca">Agricoltura e pesca</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 footer-items-wrapper">
          <h3 class="footer-heading-title">Novità</h3>
          <ul class="footer-list">
            <li>
              <a href="#" aria-label="Notizie">Notizie</a>
            </li>
            <li>
              <a href="#" aria-label="Comunicati">Comunicati</a>
            </li>
            <li>
              <a href="#" aria-label="Avvisi">Avvisi</a>
            </li>
          </ul>
          <h3 class="footer-heading-title">Vivere il comune</h3>
          <ul class="footer-list">
            <li>
              <a href="#" aria-label="Luoghi">Luoghi</a>
            </li>
            <li>
              <a href="#" aria-label="Eventi">Eventi</a>
            </li>
          </ul>
        </div>
        <div class="col-md-9 mt-md-4 footer-items-wrapper">
          <h3 class="footer-heading-title">Contatti</h3>
          <div class="row">
            <div class="col-md-4">
              <p class="footer-info">Comune di Nome Comune<br>
                Via Roma 123 - 00100 Comune<br>
                Codice fiscale / P. IVA: 00123456789<br><br>
                <a href="#" aria-label="Ufficio Relazioni con il Pubblico">Ufficio Relazioni con il Pubblico</a><br>
                Numero verde: 800 016 123<br>
                SMS e WhatsApp: +39 320 1234567<br>
                Posta Elettronica Certificata<br>
                Centralino unico: 012 3456
              </p>
            </div>
            <div class="col-md-4">
              <ul class="footer-list">
                <li>
                  <a href="#" aria-label="Leggi le FAQ" data-element="faq">Leggi le FAQ</a>
                </li>
                <li>
                  <a href="#" aria-label="Prenotazione appuntamento">Prenotazione appuntamento</a>
                </li>
                <li>
                  <a href="#" aria-label="Segnalazione disservizio" data-element="report-inefficiency">Segnalazione disservizio</a>
                </li>
                <li>
                  <a href="#" aria-label="Richiesta d'assistenza">Richiesta d'assistenza</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="footer-list">
                <li>
                  <a href="#" aria-label="Amministrazione trasparente">Amministrazione trasparente</a>
                </li>
                <li>
                  <a href="#" aria-label="Informativa privacy" data-element="privacy-policy-link">Informativa privacy</a>
                </li>
                <li>
                  <a href="#" aria-label="Note legali">Note legali</a>
                </li>
                <li>
                  <a href="#" aria-label="Dichiarazione di accessibilità" data-element="accessibility-link">Dichiarazione di accessibilità</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-md-4 footer-items-wrapper">
          <h3 class="footer-heading-title">Seguici su</h3>
          <ul class="list-inline text-start social">
            <li class="list-inline-item">
              <a class="p-1 text-white" href="#" target="_blank" aria-label="twitter" title="vai alla pagina twitter">
                <svg class="icon icon-sm icon-white align-top">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-twitter"></use>
                </svg>
                <span class="visually-hidden">Twitter</span></a>
            </li>
            <li class="list-inline-item">
              <a class="p-1 text-white" href="#" target="_blank" aria-label="facebook" title="vai alla pagina facebook">
                <svg class="icon icon-sm icon-white align-top">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-facebook"></use>
                </svg>
                <span class="visually-hidden">Facebook</span></a>
            </li>
            <li class="list-inline-item">
              <a class="p-1 text-white" href="#" target="_blank" aria-label="youtube" title="vai alla pagina youtube">
                <svg class="icon icon-sm icon-white align-top">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-youtube"></use>
                </svg>
                <span class="visually-hidden">YouTube</span></a>
            </li>
            <li class="list-inline-item">
              <a class="p-1 text-white" href="#" target="_blank" aria-label="telegram" title="vai alla pagina telegram">
                <svg class="icon icon-sm icon-white align-top">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-telegram"></use>
                </svg>
                <span class="visually-hidden">Telegram</span></a>
            </li>
            <li class="list-inline-item">
              <a class="p-1 text-white" href="#" target="_blank" aria-label="whatsapp" title="vai alla pagina whatsapp">
                <svg class="icon icon-sm icon-white align-top">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-whatsapp"></use>
                </svg>
                <span class="visually-hidden">Whatsapp</span></a>
            </li>
            <li class="list-inline-item">
              <a class="p-1 text-white" href="#" target="_blank" aria-label="rss" title="vai alla pagina rss">
                <svg class="icon icon-sm icon-white align-top">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-rss"></use>
                </svg>
                <span class="visually-hidden">RSS</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 footer-items-wrapper">
          <div class="footer-bottom">
            <a href="" aria-label="Media policy">Media policy</a>
          <a href="" aria-label="Mappa del sito">Mappa del sito</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>