<div class="cmp-rating pt-lg-80 pb-lg-80" id="{{id-title}}">
  <div class="card shadow card-wrapper" data-element="feedback">
    <div class="cmp-rating__card-first">
      <div class="card-header border-0">
        {{#if public-template}}
        <h2 class="title-medium-2-semi-bold mb-0">{{rating-title}}</h2>
        {{else}}
        <h2 class="title-medium-2-semi-bold mb-0">Quanto sono utili le informazioni in questa pagina?</h2>
        {{/if}}
      </div>
      <div class="card-body">
        <fieldset class="rating">
          <legend class="visually-hidden">Valuta da 1 a 5 stelle la pagina</legend>
          <input type="radio" id="star5a" name="ratingA" value="5" />
          <label class="full rating-star" for="star5a">

              <svg class="icon icon-sm" role="img" aria-labelledby="first-star">
                <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-star-full"></use>
              </svg>
              <span class="visually-hidden" id="first-star">Valuta 5 stelle su 5</span>

          </label>
          <input type="radio" id="star4a" name="ratingA" value="4" />
          <label class="full rating-star" for="star4a">

              <svg class="icon icon-sm" role="img" aria-labelledby="second-star">
                <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-star-full"></use>
              </svg>
              <span class="visually-hidden" id="second-star">Valuta 4 stelle su 5</span>

          </label>
          <input type="radio" id="star3a" name="ratingA" value="3" />
          <label class="full rating-star" for="star3a">

              <svg class="icon icon-sm" role="img" aria-labelledby="third-star">
                <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-star-full"></use>
              </svg>
              <span class="visually-hidden" id="third-star">Valuta 3 stelle su 5</span>


          </label>
          <input type="radio" id="star2a" name="ratingA" value="2" />
          <label class="full rating-star" for="star2a">

              <svg class="icon icon-sm" role="img" aria-labelledby="fourth-star">
                <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-star-full"></use>
              </svg>
              <span class="visually-hidden" id="fourth-star">Valuta 2 stelle su 5</span>

          </label>
          <input type="radio" id="star1a" name="ratingA" value="1" />
          <label class="full rating-star" for="star1a">

              <svg class="icon icon-sm" role="img" aria-labelledby="fifth-star">
                <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-star-full"></use>
              </svg>
              <span class="visually-hidden" id="fifth-star">Valuta 1 stelle su 5</span>

          </label>
        </fieldset>
      </div>
    </div>
    <div class="cmp-rating__card-second d-none" data-step="3">
      <div class="card-header border-0 mb-0">
        <h2 class="title-medium-2-bold mb-0" id="rating-feedback">Grazie, il tuo parere ci aiuterà a migliorare il servizio!</h2>
      </div>
    </div>

    <div class="form-rating d-none">
      <div class="d-none" data-step="1">
        {{#>cmp-steps-rating/cmp-steps-rating
        step-list=step-list.rating-step-2
        step-num="1"
        step-tot="2"
        step-title="Cosa ha funzionato meglio?"
        }}
        {{> cmp-radio-list/cmp-radio-list info-list=rating-list.list name="rating"}}
        {{/cmp-steps-rating/cmp-steps-rating}}
      </div>

      <div class="d-none" data-step="2">
        {{#>cmp-steps-rating/cmp-steps-rating
        step-list=step-list.rating-step-2
        step-num="2"
        step-tot="2"
        step-title="Vuoi aggiungere altri dettagli?"
        class="mb-3"
        }}
        <div class="form-group">
          <label for="formGroupExampleInputWithHelp">Dettaglio</label>
          <input type="text" class="form-control" id="formGroupExampleInputWithHelp"
            aria-describedby="formGroupExampleInputWithHelpDescription" maxlength="200">
          <small id="formGroupExampleInputWithHelpDescription" class="form-text">Inserire massimo 200
            caratteri</small>
        </div>
        {{/cmp-steps-rating/cmp-steps-rating}}
      </div>

      <div class="d-flex flex-nowrap pt-4 w-100 justify-content-center button-shadow">
        <button class="btn btn-outline-primary  fw-bold me-4 btn-back" type="button">Indietro</button>
        <button class="btn btn-primary  fw-bold btn-next" type="submit" form="rating">Avanti</button>
      </div>
    </div>
  </div>
</div>
