.cmp-ul-list {
  &:not(:first-child) {
    margin-top: 1.5rem;

    @include media-breakpoint-up(sm) {
      margin-top: 1.33rem;
    }
  }

  &__description {
    padding-right: 1.5rem;

    @include media-breakpoint-up(sm) {
      padding-right: 1.33rem;
    }
  }

  .description {
    @include font(16,18);
    font-weight: 400;
    line-height: 1.5;

    @include media-breakpoint-up(md) {
      // font-family: Lora;
      line-height: 1.56;
    }
  }
}

.list-wrapper {
  padding-left: 1.25rem;
  list-style-type: disc !important;

  @include media-breakpoint-up(sm) {
    padding-left: 2rem
  }

  li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    @include media-breakpoint-up(md) {
      line-height: 1.56;
    }
  }
}
