.cmp-icon-list {
  .shadow {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2)!important;
    padding: .5rem;s

    &:not(:first-child) {
      margin: 0.5rem 0 3rem 0;

      @include media-breakpoint-up(sm) {
        margin: 0.5rem 0 2.5rem 0;
      }

      @include media-breakpoint-up(lg) {
        margin: 1.25rem 0 4rem 0;
      }
    }

    .list-item-title {
      color: $primary;
    }
  }

  .icon-color {
    fill: get-color(light, grey);
  }


  .link-list-wrapper {
    ul li a.icon-left {
      padding: 0.75rem .5rem;

      .icon {
        margin-right: 1.25rem;
      }
    }

    &.default {
      ul li a.icon-left {
        padding: 0 0.25rem;

        .icon {
          margin-right: 1rem;
        }
      }
    }
  }
}
