<div class="iscrizioni-header mt-40 mb-40 d-lg-none">
  {{#if sTitle}}
  <div class="small-title">{{sTitle}}</div>
  {{/if}}
  {{#if text}}
  <div class="header-text mt-3">{{{text}}}</div>
  {{/if}}
  <h4 class="step-title d-flex align-items-center justify-content-between py-3 mt-3 drop-shadow">
        <span class="d-block d-lg-inline">
      {{stepTitle}}
    </span>
    <span class="step">{{step}}/4</span>
  </h4>
</div>