.cmp-carousel {
  &__title {
    color: get-color(light, grey);
    @include font(28, 32);
    font-weight: 600;
    line-height: 1.07;

    @include media-breakpoint-up(md) {
      line-height: 1.25;
    }
  }

  .card.card-bg {
    @include media-breakpoint-down(md) {
      box-shadow: 2px 2px 1px get-color(light-black, gradient);
    }
  }

  .card {
    &::after {
      margin: 0;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid get-color(light-grey, grey);
    margin: 1.5rem 1.5rem 0 1.5rem;
    padding-bottom: 0.56rem;

    @include media-breakpoint-up(sm) {
      margin: 1.33rem 1.33rem 0 1.33rem;
      padding-bottom: 0.5rem;
    }

    .icon {
      fill: get-color(light, grey);
    }
    &-title {
      color: get-color(light, grey);
      @include font(20, 24);
      font-weight: 600;
      line-height: 1.5;
      @include media-breakpoint-up(md) {
        line-height: 1.54;
      }
    }
  }

  .card-body {
    .link-list-wrapper ul li a span {
      @include font(16, 16);
      font-weight: 400;
      line-height: 1.5;
    }
    .single-card {
      height: 300px;
    }

    .link-list-wrapper ul li a span.show-more {
      margin-top: 1rem;
      @include font(16, 16);
      font-weight: 700;
      line-height: 1.5;

      @include media-breakpoint-up(sm) {
        margin-top: 0.89rem;
      }
    }
  }

  .link-list li a svg {
    margin-left: 1rem;

    @include media-breakpoint-up(sm) {
      margin-left: 0.89rem;
    }
  }

  &.carousel-4-card {
    .splide__pagination {
      li {
        &:not([role="presentation"]) {
          display: none;
        }
      }
    }
  }
}
