.cmp-input {
  margin-bottom: 2rem;

  &:not(:first-child) {
    margin-top: 2rem;
  }

  &__label {
    color: get-color(dark, grey);
  }

  input[type=text] {
    @include font(18, 18);
    border-bottom: 1px solid get-color(medium, grey);
  }

  &__text {
    @include font(14, 14);
    font-weight: 400;
    line-height: 1.3;
    color: get-color(dark, grey);
    margin-left: 8px;
    opacity: .9;
    mix-blend-mode: normal;
  }

  &__icon-input {
    position: absolute;
    right: 0;
    top: 8px;
    z-index: 8;
    padding: 0 8px;
    background-color: #fff;
  }

  .input-wrapper {
    padding: 1.5rem 1.875rem 1.875rem;

    @include media-breakpoint-up(sm) {
      padding: 1.333rem 1.667rem 1.667rem;
    }
  }
}

.form-group label {
  @include font(14, 14);
  top: -2px;
  color: get-color(dark, grey);
  font-weight: 700;

  &.active {
    @include font(14, 14);
  }
}