.cmp-timeline {  
  .info-text {
    color: get-color(light, grey);
  }
}

.calendar-vertical {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.calendar-vertical .calendar-date {
  display: flex;

  & .calendar-date-description {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.17);
    width: 100%;
    margin: 0 0 1.5rem 0.875rem;
    overflow: hidden;

    & .calendar-date-description-content {
      padding: 1rem 1.5rem;
      position: relative;
      z-index: 0;
      color: $color-text-secondary;

      &:before {
        content: "";
        width: 0.5rem;
        height: 120%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #f0f8f5;
      }

      & span {
        margin: 0;
      }
    }
  }

  & .calendar-date-day {
    width: 4rem;
    flex-shrink: 0;
    position: relative;
    z-index: 0;
    padding-right: 1rem;
    margin-bottom: 0;
    color: $primary;

    & p {
      font-family: $font-family-monospace;
      font-size: 2.5rem;
      line-height: 1;
      margin: 0 0 5px 0;
      display: block;
    }

    & small {
      @include font(14, 14);
      line-height: 1;
    }

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 5px;
      width: 2px;
      height: 100%;
      background-color: hsl(160deg, 100%, 24%);
      content: "";
    }

    &:after {
      content: "";
      width: 0.625rem;
      height: 0.625rem;
      position: absolute;
      z-index: 1;
      top: 1.875rem;
      right: 1px;
      background-color: hsl(160deg, 100%, 24%);
      border-radius: 5px;
    }

    &__month{
      font-weight: 600;
      display: flex;
      justify-content: center;
    }

    &__year {
      display: flex;
      justify-content: center;
      font-weight: 400;
    }
  }
}

.calendar-date:last-child {
  .calendar-date-description {
    margin-bottom: 0;
  }
}
