.cmp-timeline {
  margin-top: 1.5rem;

  @include media-breakpoint-up(sm) {
    margin-top: 1.33rem;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
  
  .info-text {
    @include font(16, 18);
    color: get-color(light, grey);
    font-weight: 600;
    line-height: 1.5;

    @include media-breakpoint-up(md){
      line-height: 1.56;
    }
  }
}

.calendar-vertical {
  color: hsl(160deg, 100%, 24%);

  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.calendar-vertical .calendar-date {
  display: flex;

  & .calendar-date-description {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.17);
    width: 100%;
    margin: 0 0 1.5rem 0.813rem;
    overflow: hidden;
  
    @include media-breakpoint-up(sm) {
      margin: 0 0 1.33rem 0.72rem;
    }

    & .calendar-date-description-content {
      padding: 1.25rem 1rem 1.25rem 1.5rem;
      position: relative;
      z-index: 0;
    
      @include media-breakpoint-up(sm) {
        padding: 1.11rem 0.89rem 1.11rem 1.33rem;
      }

      &:before {
        content: "";
        width: 0.5rem;
        height: 120%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #f0f8f5;
      
        @include media-breakpoint-up(sm) {
          width: 0.44rem;
        }
      }

      & span {
        margin: 0;
      }
    }
  }

  & .calendar-date-day {
    width: 4.06rem;
    flex-shrink: 0;
    position: relative;
    z-index: 0;
    padding: 0;
    padding-right: 1rem;

    & p {
      font-family: "Roboto Mono", monospace!important;
      font-size: 2.5rem;
      line-height: 1;
      margin: 0 0 5px 0;
      display: block;
    }

    & small {
      @include font(14, 14);
      line-height: 1;
    }

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 5px;
      width: 2px;
      height: 100%;
      background-color: hsl(160deg, 100%, 24%);
      content: "";
    }

    &:after {
      content: "";
      width: 0.625rem;
      height: 0.625rem;
      position: absolute;
      z-index: 1;
      top: 1.875rem;
      right: 0.2px;
      background-color: hsl(160deg, 100%, 24%);
      border-radius: 5px;
    
      @include media-breakpoint-down(md) {
        width: 0.56rem;
        height: 0.56rem;
        top: 1.56rem;
      }
    }

    &__month{
      font-weight: 600;
      display: flex;
      justify-content: center;
    }

    &__year {
      display: flex;
      justify-content: center;
      font-weight: 400;
    }
  }


@include media-breakpoint-down(md) {
  .calendar-vertical .calendar-date .calendar-date-day span {
    font-size: 2rem;
    font-weight: 100 !important;
  }
}

@include media-breakpoint-up(lg) {
  .calendar-vertical .calendar-date .calendar-date-day small {
    @include font(16, 16);
  }
}
}

.calendar-date:last-child {
  .calendar-date-description {
    margin-bottom: 0;
  }
}