.cmp-toggle{
  margin-top: 4px;

  .toggles label input[type=checkbox]+.lever {
    margin: 5px 10px 0 16px;
  }

  .label {
    @include font(16, 18);
    font-weight: 400;
    line-height: 1.5;
    color: get-color(black, main);
  }

  .toggles label input[type=checkbox]+.lever:after {
    border: 2px solid get-color(card, grey);
  }
}
