.cmp-radio-list{

  .shadow-rating{
    box-shadow: inset 0 -1.3rem 0.125rem -0.9rem rgb(0 0 0 / 5%);
  }

  @include font(16, 18);
  font-weight: 600;

  &__item:not(:last-child){
    margin-bottom: 1rem;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0.89rem;
    }
  }
}
