.text-paragraph {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  &-medium {
    @include font(16, 20);
    line-height: 1.5;
    font-weight: 700;

    @include media-breakpoint-up(sm) {
      line-height: 1.333;
      font-weight: 700;
    }
  }

  &-regular-medium {
    @include font(16, 18);
    line-height: 1.5;
    font-weight: 400;

    @include media-breakpoint-up(md) {
      line-height: 1.556;
    }
  }

  &-small {
    @include font(14, 16);
    font-weight: 400;
    line-height: 1.3;

    @include media-breakpoint-up(md) {
      line-height: 1.5;
    }
  }

  &-small-semi {
    @include font(14, 14);
    font-weight: 600;
    line-height: 1.5;
  }

  &-card {
    @include font(16, 16);
    line-height: 1.2;
    font-weight: 400;
  }
}

.lora {
  font-family: Lora;
}

.titillium {
  font-family: "Titillium Web" !important;
}

.text-info {
  @include font(12, 12);
  font-weight: 400;
  line-height: 1.5;
}

.text-tab {
  @include font(14, 18);
  font-weight: 400;
  line-height: 2;

  @include media-breakpoint-up(md) {
    font-weight: 400;
    line-height: 1.5;
  }
}

.text-button {
  font-family: Titillium Web;
  @include font(18, 18);
  font-weight: 700;
  line-height: 1.5;

  &-semi {
    font-weight: 600;
    @extend .text-button;
  }

  &-normal {
    font-weight: 400;
    @extend .text-button;
  }

  &-sm {
    @include font(16, 16);
    line-height: 1.5;
  }

  &-sm-bold {
    @include font(16, 16);
    line-height: 1.5;
    font-weight: 700;
  }

  &-xs-bold {
    @include font(12, 12);
    line-height: 1.5;
    font-weight: 700;
  }

  &-card {
    @include font(14, 14);
    line-height: 1.3;
    font-weight: 700;
  }
}
