.title {
  &-xxxlarge {
    @include font(40, 48);
    font-weight: 700;
    line-height: 1.1;
  }

  &-xxlarge {
    @include font(32, 40);
    font-weight: 700;
    line-height: 1.2;
  }

  &-xxlarge-regular {
    @include font(32, 40);
    font-weight: 400;
    line-height: 1;
  }

  &-xlarge {
    @include font(28, 32);
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0px;
    text-align: left;

    @include media-breakpoint-up(md) {
      line-height: 1.2;
    }

    &-card{
      @include font(28, 28);
      font-weight: 700;
      line-height: 1.4; 
    }
  }

  &-large {
    @include font(24, 24);
    font-weight: 700;
    line-height: 1.3;
  }

  &-large-semi-bold {
    @include font(24, 28);
    font-weight: 600;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
      line-height: 1.4;
    }
  }

  &-medium-2 {
    @include font(20, 24);
    font-weight: 400;
    line-height: 1.2;
  }

  &-medium-2-bold {
    @include font(20, 24);
    font-weight: 700;
    line-height: 1.2;
  }

  &-medium-2-semi-bold {
    @include font(20, 24);
    font-weight: 600;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
      line-height: 1.2;
    }
  }

  &-medium-bold {
    @include font(18, 18);
    font-weight: 700;
    line-height: 1.4;
  }

  &-medium-semi-bold {
    @include font(18, 18);
    font-weight: 600;
    line-height: 1.4;
  }

  &-medium {
    @include font(18, 18);
    font-weight: 400;
    line-height: 1.4;
  }

  &-small {
    @include font(16, 16);
    font-weight: 700;
    line-height: 1.5;
  }

  &-small-semi-bold {
    @include font(16, 18);
    font-weight: 600;
    line-height: 1.5 !important;
  }

  &-small-semi-bold-big {
    @include font(16, 24);
    font-weight: 700;
    line-height: 1.5 !important;
  }

  &-small-semi-bold-medium {
    @include font(16, 20);
    font-weight: 700;
    line-height: 1.5;
  }

  &-xsmall-bold {
    @include font(14, 14);
    font-weight: 700;
    line-height: 1.6;
  }

  &-xsmall-semi-bold {
    @include font(14, 14);
    font-weight: 600;
    line-height: 1.6;
  }

  &-xsmall {
    @include font(14, 14);
    font-weight: 400;
    line-height: 1.6;
  }

  &-xsmall-regular {
    @include font(14, 14);
    font-weight: 400;
    line-height: 1.6;
  }
}
