.card:after{
  content: unset;
}

.select-partials {
  padding: um(16px);

  label.hidden{ //visually-hidden
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }

  @include media-breakpoint-up(md) {
    padding: um(24px);
  }
}

.select-wrapper select{
  color: get-color(black, main);
  font-weight: 600;

  option[selected] {
    color: get-color(medium,grey)!important;
  }

  option {
    font-size: um(18px);
    color: get-color(medium,grey);
  }
}


.bg-grey{
  background-color: get-color(card, grey);
}
