.select-partials {
  padding: um(16px);

  .card {
    &::after {
      content: unset;
    }
  }

  label.hidden {
    //visually-hidden
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }

  @include media-breakpoint-up(md) {
    padding: um(24px);
  }
}

.select-wrapper {

  .card {
    &::after {
      content: unset;
    }
  }

  label {
    font-size: um(14px);
    font-weight: 700;
    line-height: um(18px);
    color: get-color(dark, grey);
    margin-left: um(4px);
    opacity: .9;
    mix-blend-mode: normal;
  }

  select {
    color: get-color(dark, grey);
    font-weight: 600;

    option[selected] {
      color: get-color(dark, grey) !important;
      font-size: um(18px);
    }
  }

  .card:after {
    content: unset;
  }
}





.bg-grey {
  background-color: get-color(card, grey);
}