<div class="select-partials card select-wrapper {{class}}">
  <label for="school-option">Seleziona Istituto</label>
  <select id="school-option">
    <option selected="" value="">{{placeholder}}</option>
    <option value="ist-narcisi">Istituto Narcisi</option>
    <option value="ist-montessori">Istituto Montessori</option>
    <option value="ist-3">Istituto 3</option>
    <option value="ist-4">Istituto 2</option>
    <option value="ist-5">Istituto 1</option>
  </select>
</div>
