<div class="cmp-filter">
  <div class="filter-section">
    <h2 class="cmp-filter__title title-xxlarge" id="{{id-title}}">{{title}}</h2>
    <div class="filter-wrapper d-flex align-items-center">
      {{>partials/button/button label="Filtra" iconBtn="it-funnel" class="p-0 pe-2" xs=true}}
      {{>partials/dropdown/dropdown label="Ordina"}}
    </div>
  </div>
  {{>partials/input-search/input-search label-text="Cerca nel sito" placeholder-text="Cerca"}}
</div>
