<div class="cmp-nav-tab mb-4 mb-lg-5 mt-lg-4">
  <ul class="nav nav-tabs nav-tabs-icon-text w-100 flex-nowrap" id="myTab" role="tablist">
    <li class="nav-item w-100 me-2 p-1" role="tab">
      <a class="nav-link justify-content-start pr-10 pb-2 ps-1 pe-lg-none pb-lg-15 ps-lg-3 me-lg-5 text-tab active"
        href="#data-ex-tab1" title="Vai alla sezione Scrivania" aria-label="Vai alla sezione Scrivania"
        aria-current="page" aria-controls="tab1" aria-selected="false" data-bs-toggle="tab" role="button"
        data-focus-mouse="false">
        <svg class="icon me-1 mr-lg-10">
          <use href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-pa"></use>
        </svg>
        Scrivania
      </a>
    </li>
    <li class="nav-item w-100 me-2 p-1" role="tab">
      <a class="nav-link justify-content-start pr-10 pb-2 ps-1 pe-lg-none pb-lg-15 ps-lg-3 me-lg-5 text-tab"
        href="#data-ex-tab2" title="Vai alla sezione Messaggi" aria-label="Vai alla sezione Messaggi"
        aria-current="page" aria-controls="tab2" aria-selected="false" data-bs-toggle="tab" role="button"
        data-focus-mouse="false">
        <svg class="icon me-1 mr-lg-10">
          <use href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-mail"></use>
        </svg>
        Messaggi
      </a>
    </li>
    <li class="nav-item w-100 me-2 p-1" role="tab">
      <a class="nav-link justify-content-start pr-10 pb-2 ps-1 pe-lg-none pb-lg-15 ps-lg-3 me-lg-5 text-tab"
        href="#data-ex-tab3" title="Vai alla sezione Attività" aria-label="Vai alla sezione Attività"
        aria-current="page" aria-controls="tab3" aria-selected="false" data-bs-toggle="tab" role="button"
        data-focus-mouse="false">
        <svg class="icon me-1 mr-lg-10">
          <use href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-files"></use>
        </svg>
        Attività
      </a>
    </li>
    <li class="nav-item w-100 me-2 p-1" role="tab">
      <a class="nav-link justify-content-start pr-10 pb-2 ps-1 pe-lg-none pb-lg-15 ps-lg-3 me-lg-5 text-tab"
        href="#data-ex-tab4" title="Vai alla sezione Servizi" aria-label="Vai alla sezione Servizi" aria-current="page"
        aria-controls="tab4" aria-selected="false" data-bs-toggle="tab" role="button" data-focus-mouse="false">
        <svg class="icon me-1 mr-lg-10">
          <use href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-settings"></use>
        </svg>
        Servizi
      </a>
    </li>
  </ul>
</div>