<div class="save-request pb-2">
     <div class="card-wrapper pb-30">
      <div class="card">
        <div class="card-body p-0">
            <svg class="icon icon-sm icon-primary">
              <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-bookmark"></use>
            </svg>
            <span class="title-small">Salva la richiesta</span>
          <p class="mt-2">Potrai recuperarla in qualunque momento dalla tua area riservata.</p>
        </div>
      </div>
    </div>
    {{#if continue-btn}}
        <button type="button" class="btn btn-primary w-100">Prosegui</button>
    {{/if}}
</div>