<div class="cmp-tag">
  <a class="chip chip-simple {{class}} text-decoration-none" href="#" data-element="service-topic">
  <span class="chip-label">{{label-tag}}{{label-tag-up}}</span>
  </a>
</div>
