{{#>cmp-base/base title="Accesso area riservata - Nome del Comune"}}
<main>
  <div class="container" id="main-container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        {{>cmp-breadcrumbs/cmp-breadcrumbs active="Accedi"}}
        {{>cmp-heading/cmp-heading title="Accedi" subTitle="Per accedere al sito e ai suoi servizi, utilizza una delle seguenti modalità."}}
      </div>
    </div>
   <hr class="d-none d-lg-block mt-0 mb-4">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        {{#>cmp-text-button/cmp-text-button
          cardTitle="SPID"
          cardDescription="Accedi con SPID, il sistema Pubblico di Identità Digitale."
          linkLabel="Come attivare SPID"
          class="mb-2"
          classLink=""
          textBtnClass="mt-3"
        }}
          {{> cmp-button/cmp-button label="Entra con SPID" class="btn-icon btn-re square"  iconBtnUrl="../assets/images/spid.svg"}}
        {{/cmp-text-button/cmp-text-button}}

        {{#>cmp-text-button/cmp-text-button
          cardTitle="CIE"
          cardDescription="Accedi con la tua Carta d’Identità Elettronica."
          linkLabel="Come richiedere CIE"
          class="mb-2"
          classLink=""
        }}
          {{> cmp-button/cmp-button label="Entra con CIE" class="btn-icon btn-re square" iconBtnUrl="../assets/images/cie.svg"}}
        {{/cmp-text-button/cmp-text-button}}

        {{#>cmp-text-button/cmp-text-button
          cardTitle="Altre utenze"
          cardDescription="In alternativa puoi utilizzare le seguenti modalità."
          class="d-md-flex"
        }}
          {{> cmp-button/cmp-button label="Accedi con ID azienda" outline-primary=true class="btn-re pr-md-4 bg-white"}}
          {{> cmp-button/cmp-button label="Accedi come dipendente" outline-primary=true class="btn-re bg-white"}}
        {{/cmp-text-button/cmp-text-button}}
      </div>
    </div>
  </div>
  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/cmp-base/base }}
