{{#>cmp-base/base title="Iscrizione alla Scuola dell’infanzia - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Servizi" link2="Educazione e Formazione" active="Iscrizione alla Scuola dell'infanzia"}}
        {{> cmp-heading/cmp-heading
        title="Iscrizione alla scuola dell'infanzia"
        description="Hai bisogno di assistenza? <a href='#' class='title-small-semi-bold t-primary'>Contattaci</a>"
        }}
      </div>
      <div class="col-12">
        {{> cmp-info-progress/cmp-info-progress
        step-list=iscrizione-graduatoria.info-progress.step-3
        step-num="3"
        step-title="Preferenze di Servizio"
        step-tot="4"
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-3 d-lg-block mb-4 d-none ">
        {{>cmp-navscroll/cmp-navscroll
        accordion-title="INFORMAZIONI RICHIESTE"
        id="one"
        link-list=link-list.links-preferenze-servizio-page}}
      </div>
      <div class="col-12 col-lg-8 offset-lg-1 mt-2 mt-lg-0">
        <div class="steppers-content" aria-live="polite">
          <div class="it-page-sections-container">
            <section class="it-page-section" id="school-choice">
              {{#>cmp-card/cmp-card-content-box
              class="p-big"
              bg-grey=true
              h2-class="mb-0"
              margin-class="mb-40"
              required-icon=true
              card-title="Seleziona Istituto"}}
              {{> cmp-select/select required=true placeholder="Scegli un'opzione" label-text="Seleziona Istituto"
              id="school-option" label-hidden=true select-option-list=inserire-dati-specifici}}
              {{/cmp-card/cmp-card-content-box}}
            </section>

            <section class="it-page-section" id="religion-choice">
              {{#>cmp-card/cmp-card-content-box
              class="p-big"
              bg-grey=true
              h2-class="mb-0"
              margin-class="mb-40"
              required-icon=true
              card-title="Religione cattolica"
              subtitle="Vuoi avvalerti dell'insegnamento della
              religione cattolica?"}}
              <fieldset>
                <legend class="visually-hidden">Vuoi avvalerti dell'insegnamento della religione cattolica?</legend>
                {{> cmp-card-radio/cmp-card-radio id='religione' required=true}}
              </fieldset>
              {{/cmp-card/cmp-card-content-box}}
            </section>

            <section class="it-page-section" id="outings-choice">
              {{#>cmp-card/cmp-card-content-box
              class="p-big"
              bg-grey=true
              h2-class="mb-1"
              margin-class="mb-40"
              required-icon=true
              card-title="Uscite didattiche"
              subtitle="Autorizzi le uscite didattiche?"}}
              <fieldset>
                <legend class="visually-hidden">Autorizzi le uscite didattiche?</legend>
                {{> cmp-card-radio/cmp-card-radio id='uscite' required=true}}
              </fieldset>
              {{/cmp-card/cmp-card-content-box}}
            </section>

            <section class="it-page-section" id="media-choice">
              {{#>cmp-card/cmp-card-content-box
              class="p-big"
              id-title="media-choice"
              bg-grey=true
              h2-class="mb-1"
              margin-class="mb-40"
              required-icon=true
              card-title="Riprese multimediali"
              subtitle="Autorizzi la scuola a produrre e utilizzare foto e video in cui compare tua figlia o tuo
              figlio?"}}
              <fieldset>
                <legend class="visually-hidden">Autorizzi la scuola a produrre e utilizzare foto e video in cui compare
                  tua figlia o tuo figlio?</legend>
                {{> cmp-card-radio/cmp-card-radio id='multimedia' required=true}}
              </fieldset>
              {{/cmp-card/cmp-card-content-box}}
            </section>
          </div>
          {{> cmp-nav-steps/cmp-nav-steps save="true" saveBtn=true aria-label-save="di iscrizione"}}
        </div>
      </div>
    </div>
  </div>


  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center p-contacts">
        <div class="col-12 col-lg-5">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>

</main>
{{/cmp-base/base }}