{{#>cmp-base/base-index title="Index"}}
<main>
  <div class="container px-4 my-4">
    <div class="row">
      <div class="col-12 px-lg-4 py-lg-2">
        <h1>I templates HTML del modello per i comuni</h1>
        <span class="fw-semibold">
          <a class="text-muted text-decoration-none"
            href="https://github.com/italia/design-comuni-pagine-statiche/releases/latest" target="_blank"
            alt="Link alla release su Github" title="Vai alla release">
            <svg class="icon icon-sm icon-secondary">
              <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-github"></use>
            </svg>
            v{{version}}</span>
        </a>
      </div>

      <div class="col-12">
        <ul id="myTab" class="nav nav-tabs auto mt-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link" href="..">Sito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Flussi di servizio</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">

          <div id="tab2" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab2-tab">
            <div class="row">
              <div class="col-12 col-md-4 px-lg-2 py-lg-2 sticky-top">
                <nav class="navbar it-navscroll-wrapper navbar-expand-lg it-top-navscroll" data-bs-navscroll>
                  <button class="custom-navbar-toggler" type="button" aria-controls="navbarNavB" aria-expanded="false"
                    aria-label="Toggle navigation" data-bs-toggle="navbarcollapsible" data-bs-target="#navbarNavB"><span
                      class="it-list"></span>Indice templates
                  </button>
                  <div class="navbar-collapsable" id="navbarNavB">
                    <div class="overlay"></div>
                    <div class="close-div visually-hidden">
                      <button class="btn close-menu" type="button"><span class="it-close"></span>close
                      </button>
                    </div>
                    <a class="it-back-button" href="#"><svg class="icon icon-sm icon-primary align-top">
                        <use href="/bootstrap-italia/dist/svg/sprites.svg#it-chevron-left"></use>
                      </svg><span>Back </span></a>
                    <div class="menu-wrapper">
                      <div class="link-list-wrapper">
                        <h3>INDICE</h3>
                        <ul class="link-list">
                          <li class="nav-item active">
                            <a class="nav-link active" href="#generali"><span>Generali</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#graduatoria"><span>Iscrizione a graduatoria</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#permessi"><span>Permessi e autorizzazioni</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#vantaggi"><span>Vantaggi economici</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#pagamenti-dovuti-multa"><span>Pagamenti dovuti - multa</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#pagamenti-dovuti-imu"><span>Pagamenti dovuti - IMU</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#servizi-pagamento"><span>Servizi a pagamento</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
              <div class="col-12 col-md-8 px-lg-2 py-lg-2">
                <div class="my-5">
                  <div class="it-list-wrapper it-page-sections-container">
                    <section id="generali" class="it-page-section">
                      <h2 class="text-secondary">Generali</h2>
                      <p>Template comuni a tutti i flussi di servizio</p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="accesso-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Accedere al servizio</h4>
                                <p class="small m-0">La schermata di accesso al servizio tramite identità digitale
                                  (SPID, CIE)</p>
                              </div>
                              <span class="it-multiple"><span class="metadata">accesso-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="consenso-privacy.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Acconsentire al trattamento dei dati personali</h4>
                                <p class="small m-0">La schermata con l’informativa privacy e la possibilità di
                                  acconsentire al
                                  trattamento dei dati</p>
                              </div>
                              <span class="it-multiple"><span class="metadata">consenso-privacy.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="graduatoria" class="it-page-section">
                      <h2 class="text-secondary">Iscrizione a graduatoria</h2>
                      <p>Templates specifici per la tipologia di servizi che prevedono l'iscriziona ad una graduatoria
                      </p>
                      <p><strong>Esempio realizzato: Iscrizione alla scuola dell'infanzia</strong></p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="graduatoria-scheda-servizio.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Trovare informazioni sul servizio</h4>
                                  <p class="small m-0">La scheda di presentazione del servizio di iscrizione a
                                    graduatoria con tutte le
                                    informazioni necessarie e l’accesso alla procedura di richiesta online</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">graduatoria-scheda-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="graduatoria-dati-personali.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 1 - Inserire/controllare i dati personali</h4>
                                  <p class="small m-0">La schermata per inserire i dati personali, come il richiedente,
                                    il beneficiario e
                                    l’ISEE</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">graduatoria-dati-personali.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="graduatoria-dati-specifici.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 2 - Inserire/controllare i dati specifici del servizio</h4>
                                  <p class="small m-0">La schermata per inserire le preferenze per il servizio specifico
                                    a cui si vuole
                                    accedere tramite graduatoria</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">graduatoria-dati-specifici.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="graduatoria-riepilogo.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 3 - Riepilogo delle informazioni</h4>
                                  <p class="small m-0">La schermata con il riepilogo delle informazioni inserite e la
                                    possibilità di
                                    confermare o tornare indietro per
                                    modificare</p>
                              </div>
                              <span class="it-multiple"><span class="metadata">graduatoria-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="graduatoria-conferma.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 4 - Ricevere conferma dal sistema</h4>
                                  <p class="small m-0">La schermata con la conferma dell’avvenuto invio della richiesta
                                    con il codice di
                                    riferimento, informazioni sui prossimi
                                    passi e la possibilità di scaricare il riepilogo</p>
                              </div>
                              <span class="it-multiple"><span class="metadata">graduatoria-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="graduatoria-area-personale.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Area personale</h4>
                                  <p class="small m-0">La schermata dell’area personale con l’avviso di pubblicazione
                                    della
                                    graduatoria</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">graduatoria-area-personale.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="graduatoria-messaggio.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Messaggio in area personale</h4>
                                  <p class="small m-0">La schermata del messaggio in area personale con l’avviso di
                                    pubblicazione della
                                    graduatoria e le indicazioni per il
                                    perfezionamento della richiesta</p>
                              </div>
                              <span class="it-multiple"><span class="metadata">graduatoria-messaggio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="graduatoria-perfezionamento.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Perfezionare la richiesta</h4>
                                  <p class="small m-0">La schermata per selezionare ulteriori preferenze di servizio e
                                    concludere la
                                    richiesta</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">graduatoria-perfezionamento.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="permessi" class="it-page-section">
                      <h2 class="text-secondary">Permessi e autorizzazioni</h2>
                      <p>Templates specifici per la tipologia di servizi che prevedono il rilascio di permessi e/o
                        autorizzazioni</p>
                      <p><strong>Esempio realizzato: Permezzo ZTL</strong></p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="permessi-scheda-servizio.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Trovare informazioni sul servizio</h4>
                                  <p class="small m-0">La scheda di presentazione del servizio per richiedere permessi e
                                    autorizzazioni con
                                    tutte le informazioni necessarie e
                                    l’accesso alla procedura di richiesta online</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">permessi-scheda-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="permessi-dati-personali.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 1 - Inserire / controllare i dati personali</h4>
                                  <p class="small m-0">La schermata per inserire i dati personali necessari a inviare
                                    una richiesta per il
                                    permesso o l’autorizzazione</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">permessi-dati-personali.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="permessi-dati-specifici.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 2 - Inserire i dati specifici</h4>
                                  <p class="small m-0">La schermata per inserire le preferenze per il permesso o
                                    l’autorizzazione che si
                                    vuole richiedere, come la tipologia e la validità</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">permessi-dati-specifici.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="permessi-riepilogo.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 3 - Riepilogo delle informazioni</h4>
                                  <p class="small m-0">La schermata con il riepilogo delle informazioni inserite e la
                                    possibilità di
                                    confermare o tornare indietro per modificare</p>
                              </div>
                              <span class="it-multiple"><span class="metadata">permessi-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="permessi-conferma.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 4 - Ricevere conferma dal sistema</h4>
                                  <p class="small m-0">La schermata con la conferma dell’avvenuto invio della richiesta
                                    con il codice di
                                    riferimento, informazioni sui prossimi
                                    passi e la possibilità di scaricare il riepilogo</p>
                              </div>
                              <span class="it-multiple"><span class="metadata">permessi-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="permessi-area-personale.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Messaggio in area personale</h4>
                                  <p class="small m-0">La schermata dell’area personale con il messaggio di risposta
                                    alla richiesta</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">permessi-area-personale.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="permessi-pagamento.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Effettuare il pagamento</h4>
                                  <p class="small m-0">La schermata per effettuare un eventuale pagamento per ottenere
                                    il permesso o
                                    l’autorizzazione</p>
                              </div>
                              <span class="it-multiple"><span class="metadata">permessi-pagamento.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="vantaggi" class="it-page-section">
                      <h2 class="text-secondary">Vantaggi economici</h2>
                      <p>Templates specifici per la tipologia di servizi che prevedono la richiesta di prestazioni
                        economiche a supporto del reddito</p>
                      <p><strong>Esempio realizzato: Assegno di maternità</strong></p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="vantaggi-scheda-servizio.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Trovare informazioni sul servizio</h4>
                                  <p class="small m-0">La scheda di presentazione del servizio per richiedere un
                                    vantaggio economico con
                                    tutte le informazioni necessarie e l’accesso alla procedura di richiesta online</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">vantaggi-scheda-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="vantaggi-dati-personali.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 1 - Inserire / controllare i dati personali</h4>
                                  <p class="small m-0">La schermata per inserire i dati personali necessari per
                                    richiedere un vantaggio
                                    economico, come il richiedente, il minore, l’ISEE e il conto bancario per
                                    l’accredito</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">vantaggi-dati-personali.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="vantaggi-riepilogo.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 2 - Riepilogo delle informazioni</h4>
                                  <p class="small m-0">La schermata per inserire i dati personali necessari per
                                    richiedere un vantaggio
                                    economico, come il
                                    richiedente, il minore, l’ISEE e il conto bancario per l’accredito</p>
                              </div>
                              <span class="it-multiple"><span class="metadata">vantaggi-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="vantaggi-conferma.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Ricevere conferma dal sistema</h4>
                                  <p class="small m-0">La schermata con il riepilogo delle informazioni inserite e la
                                    possibilità di
                                    confermare o tornare indietro per
                                    modificare</p>
                              </div>
                              <span class="it-multiple"><span class="metadata">vantaggi-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="vantaggi-area-personale.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Messaggio in area personale</h4>
                                  <p class="small m-0">La schermata dell’area personale con il messaggio di risposta
                                    alla richiesta</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">vantaggi-area-personale.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="pagamenti-dovuti-multa" class="it-page-section">
                      <h2 class="text-secondary">Pagamenti dovuti - pagoPA</h2>
                      <p>Templates specifici per la tipologia di servizi che prevedono il pagamento di importi dovuti
                        tramite integrazione di pagoPA</p>
                      <p><strong>Esempio realizzato: Pagamento multa</strong></p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="pagamenti-multa-scheda-servizio.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Trovare informazioni sul servizio</h4>
                                  <p class="small m-0">La scheda di presentazione del servizio per pagare una multa con
                                    tutte le
                                    informazioni necessarie e l’accesso alla procedura online</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">pagamenti-multa-scheda-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="pagamenti-multa-dati-personali.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 1 - Inserire / controllare i dati personali</h4>
                                  <p class="small m-0">La schermata per inserire i dati personali di chi sta pagando la
                                    multa</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">pagamenti-multa-dati-personali.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="pagamenti-multa-dati-specifici-fase1.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 2 - Inserire i dati specifici del servizio (fase 1)</h4>
                                  <p class="small m-0">La schermata per inserire i dati personali di chi sta pagando la
                                    multa</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">pagamenti-multa-dati-specifici-fase1.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="pagamenti-multa-dati-specifici-fase2.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 2 - Inserire i dati specifici del servizio (fase 2)</h4>
                                  <p class="small m-0">La schermata che presenta tutti i dettagli della multa dopo aver
                                    inserito il codice
                                    e il box dove indicare la data di ricezione avviso per il calcolo dell’importo</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">pagamenti-multa-dati-specifici-fase2.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="pagamenti-multa-dati-specifici-fase3.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 2 - Inserire i dati specifici del servizio (fase 3)</h4>
                                  <p class="small m-0">La schermata che presenta l’importo dovuto dopo aver specificato
                                    la data di
                                    ricezione dell’avviso</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">pagamenti-multa-dati-specifici-fase3.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="pagamenti-multa-riepilogo.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 3 - Riepilogo delle informazioni</h4>
                                  <p class="small m-0">La schermata con il riepilogo delle informazioni inserite e la
                                    possibilità di
                                    confermare o tornare indietro per modificare</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">pagamenti-multa-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="pagamenti-multa-conferma.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Conferma dal sistema</h4>
                                  <p class="small m-0">La schermata con la conferma dell’avvenuto pagamento della multa,
                                    il codice di
                                    riferimento e la possibilità di scaricare la ricevuta</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">pagamenti-multa-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="pagamenti-multa-area-personale.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Messaggio in area personale</h4>
                                  <p class="small m-0">La schermata dell’area personale con il messaggio di conferma del
                                    pagamento della
                                    multa</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">pagamenti-multa-area-personale.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="pagamenti-dovuti-imu" class="it-page-section">
                      <h2 class="text-secondary">Pagamenti dovuti - F24</h2>
                      <p>Templates specifici per la tipologia di servizi prevedono il pagamento di importi dovuti
                        tramite F24</p>
                      <p><strong>Esempio realizzato: Pagamento IMU</strong></p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="pagamenti-imu-scheda-servizio.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Trovare informazioni sul servizio</h4>
                                  <p class="small m-0">La scheda di presentazione del servizio per pagare l’IMU con
                                    tutte le informazioni
                                    necessarie e l’accesso alla procedura online</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">pagamenti-imu-scheda-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="pagamenti-imu-dati-personali.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 1 - Inserire / controllare i dati personali</h4>
                                  <p class="small m-0">La schermata per inserire i dati del contribuente, del
                                    coobbligato e
                                    dell’immobile</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">pagamenti-imu-dati-personali.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="pagamenti-imu-riepilogo.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 2 - Riepilogo delle informazioni</h4>
                                  <p class="small m-0">La schermata con il riepilogo delle informazioni inserite e la
                                    possibilità di
                                    confermare o tornare indietro per modificare</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">pagamenti-imu-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="pagamenti-imu-preferenze.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 3 - Preferenze di pagamento</h4>
                                  <p class="small m-0">La schermata per indicare eventuali acconti già versati e
                                    calcolare l’importo
                                    dovuto</p>
                                  </span>
                                  <span class="it-multiple"><span
                                      class="metadata">pagamenti-imu-preferenze.html</span></span>
                              </div>
                          </a>
                        </li>
                        <li>
                          <a href="pagamenti-imu-anteprima-F24.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 4 - Creazione del documento F24</h4>
                                  <p class="small m-0">La schermata per controllare i dati per la creazione del
                                    documento F24</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">pagamenti-imu-anteprima-F24.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="pagamenti-imu-conferma.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Ricevere conferma dal sistema</h4>
                                  <p class="small m-0">La schermata con la conferma dell’avvenuta creazione del
                                    documento F24, il codice di
                                    riferimento e la possibilità di scaricare il documento</p>
                              </div>
                              <span class="it-multiple"><span class="metadata">pagamenti-imu-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="pagamenti-imu-area-personale.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Messaggio in area personale</h4>
                                  <p class="small m-0">La schermata dell’area personale con il messaggio di conferma
                                    della creazione del
                                    documento F24</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">pagamenti-imu-area-personale.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="servizi-pagamento" class="it-page-section">
                      <h2 class="text-secondary">Servizi a pagamento</h2>
                      <p>Templates specifici per la tipologia di servizi il cui utilizzo da parte delle persone prevede
                        il pagamento di un
                        importo</p>
                      <p><strong>Esempio realizzato: Mensa scolastica</strong></p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="servizi-pagamento-scheda-servizio.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Trovare informazioni sul servizio</h4>
                                  <p class="small m-0">La scheda di presentazione del servizio per richiedere un
                                    servizio a pagamento con
                                    tutte le informazioni necessarie e
                                    l’accesso alla procedura di richiesta online</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">servizi-pagamento-scheda-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="servizi-pagamento-dati-personali.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 1 - Inserire / controllare i dati personali</h4>
                                  <p class="small m-0">La schermata per inserire i dati personali necessari per
                                    richiedere un servizio a
                                    pagamento, come il richiedente, il beneficiario e l’ISEE</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">servizi-pagamento-dati-personali.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="servizi-pagamento-dati-specifici.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 2 - Inserire i dati specifici del servizio</h4>
                                  <p class="small m-0">La schermata per inserire le preferenze specifiche per il
                                    servizio richiesto</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">servizi-pagamento-dati-specifici.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="servizi-pagamento-riepilogo.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Step 3 - Riepilogo delle informazioni</h4>
                                  <p class="small m-0">La schermata con il riepilogo delle informazioni inserite e la
                                    possibilità di
                                    confermare o tornare indietro per modificare</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">servizi-pagamento-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="servizi-pagamento-conferma.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Ricevere conferma dal sistema</h4>
                                  <p class="small m-0">La schermata con la conferma dell’avvenuto invio della richiesta
                                    con il codice di
                                    riferimento, informazioni sui prossimi
                                    passi e la possibilità di scaricare il riepilogo</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">servizi-pagamento-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="servizi-pagamento-area-personale.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Messaggio in area personale</h4>
                                  <p class="small m-0">La schermata dell’area personale con il messaggio di risposta
                                    alla richiesta</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">servizi-pagamento-area-personale.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="servizi-pagamento-pagamento.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <div>
                                <h4 class="text m-0">Effettuare il pagamento</h4>
                                  <p class="small m-0">La schermata per effettuare il pagamento per usufruire del
                                    servizio</p>
                              </div>
                              <span class="it-multiple"><span
                                  class="metadata">servizi-pagamento-pagamento.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
{{/cmp-base/base-index }}