{{#>cmp-base/base title="Pagamenti - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Servizi" active="Pagamenti"}}
        {{> cmp-heading/cmp-heading title="Calcolo IMU"}}
      </div>

      <div class="col-12">
        {{> cmp-info-progress/cmp-info-progress
        step-list=pagamenti-dovuti.info-progress.step-4
        step-num="4"
        step-title="Preferenze pagamento"
        step-tot="5"
        subtitle="I campi contraddistinti dal simbolo asterisco sono obbligatori"
        classSubtitle="mt-20"
        }}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        {{#>cmp-card/cmp-card-content-box
        class="mb-0 p-lg-5 p-4"
        bg-grey=true
        header-m0=true
        h3-class="mb-4"
        h3-title=true
        card-title="H501 - Roma"
        margin-class="mb-40 mb-lg-4"
        }}

        <div class="text-area-wrapper pt-25 pb-25 pl-25 pr-25 pt-lg-40 pb-lg-40 pl-lg-40 pr-lg-40 bg-white">
          {{> cmp-input/input type="text" id="amount-1" label="Importo versato" required=true name="amount-1"
          text="Inserisci la somma già versata" formClass="mb-0 border-bold"}}
        </div>

        {{>cmp-info-checkbox/cmp-info-checkbox
        title="Acconto"
        subtitleCard="Data di scadenza: "
        subtitleValue="16/06/2021"
        subtitleClass='mb-0'
        id="1"
        toggle=true
        labelToggle="Ravvedimento"
        classToggle="pb-2 border-bottom border-light"
        accordion=false
        classCard="pt-25 pb-25 pl-25 pr-25 pt-lg-40 pb-lg-40 pl-lg-40 pr-lg-40"
        classComponent="mt-4"
        info-payment=pagamenti-dovuti.preferenze-pagamento.info-1
        }}

        {{>cmp-info-checkbox/cmp-info-checkbox
        title="Saldo"
        subtitleCard="Data di scadenza: <span class='fw-semibold'>16/06/2021</span>"
        subtitleClass='mb-3'
        id="2"
        toggle=true
        labelToggle="Ravvedimento"
        accordion=false
        classCard="pt-25 pb-25 pl-25 pr-25 pt-lg-40 pb-lg-40 pl-lg-40 pr-lg-40"
        classComponent="mt-4"
        }}

        {{>cmp-tot/cmp-tot
        class="mt-4 pt-25 pb-25 pl-25 pr-25 pt-lg-40 pb-lg-40 pl-lg-40 pr-lg-40"
        id="tot-payed"
        label-title="Totale da versare"
        label="Inserisci importo"
        required=true
        value="734,00 €"
        name="tot-payed"
        text="Inserisci l’importo che desideri versare adesso"
        rest="Rimanente da versare"
        rest-value="34,00 €"}}
        {{/cmp-card/cmp-card-content-box}}


        {{#>cmp-card/cmp-card-content-box
        class="mb-0 p-lg-5 p-4"
        bg-grey=true
        header-m0=true
        h3-class="mb-4"
        h3-title=true
        card-title="L736 - Venezia"
        margin-class="mb-40 mb-lg-4"
        }}
        <div class="text-area-wrapper pt-25 pb-25 pl-25 pr-25 pt-lg-40 pb-lg-40 pl-lg-40 pr-lg-40 bg-white">
          {{> cmp-input/input type="text" id="amount-5" label="Importo versato" required=true name="amount-5"
          text="Inserisci la somma già versata" formClass="mb-0 border-bold"}}
        </div>
        {{>cmp-info-checkbox/cmp-info-checkbox
        title="Acconto"
        subtitleCard="Data di scadenza <span class='fw-semibold'>16/06/2021</span>"
        subtitleClass='mb-3'
        id="3"
        accordion=false
        classCard="pt-25 pb-25 pl-25 pr-25 pt-lg-40 pb-lg-40 pl-lg-40 pr-lg-40"
        classComponent="mt-4"
        }}
        {{>cmp-info-checkbox/cmp-info-checkbox
        title="Saldo"
        subtitleCard="Data di scadenza: <span class='fw-semibold'>16/06/2021</span>"
        subtitleClass='mb-3'
        id="4"
        accordion=false
        classCard="pt-25 pb-25 pl-25 pr-25 pt-lg-40 pb-lg-40 pl-lg-40 pr-lg-40"
        classComponent="mt-4"
        }}
        {{>cmp-tot/cmp-tot
        class="mt-4 pt-25 pb-25 pl-25 pr-25 pt-lg-40 pb-lg-40 pl-lg-40 pr-lg-40"
        id="tot-payed-1"
        label-title="Totale da versare"
        required=true
        label="Inserisci importo"
        value="600,00 €" name="tot-payed-1" text="Inserisci l’importo che desideri versare adesso" rest="Rimanente da
        versare" rest-value="400,00 €"}}
        {{/cmp-card/cmp-card-content-box}}

        {{#>cmp-card/cmp-card-content-box
        class="mb-0 p-lg-5 p-4"
        bg-grey=true
        header-m0=true
        h3-class="mb-4"
        h3-title=true
        card-title="L065 - Tavagnacco"
        }}

        <div class="text-area-wrapper pt-25 pb-25 pl-25 pr-25 pt-lg-40 pb-lg-40 pl-lg-40 pr-lg-40 bg-white">
          {{> cmp-input/input type="text" id="amount-2" label="Importo versato" required=true name="amount-2"
          text="Inserisci la somma già versata" formClass="mb-0 border-bold"}}
        </div>
        {{>cmp-info-checkbox/cmp-info-checkbox
        title="Acconto"
        subtitleCard="Data di scadenza: "
        subtitleValue="16/06/2021"
        subtitleClass='mb-0'
        id="5"
        toggle=true
        labelToggle="Ravvedimento"
        classToggle="pb-2 border-bottom border-light"
        accordion=false
        classCard="pt-25 pb-25 pl-25 pr-25 pt-lg-40 pb-lg-40 pl-lg-40 pr-lg-40"
        classComponent="mt-4"
        info-payment=pagamenti-dovuti.preferenze-pagamento.info-2
        }}

        {{>cmp-info-checkbox/cmp-info-checkbox
        title="Saldo"
        subtitleCard="Data di scadenza: <span class='fw-semibold'>16/06/2021</span>"
        subtitleClass='mb-3'
        id="6"
        toggle=true
        labelToggle="Ravvedimento"
        classToggle="pb-2 border-bottom border-light"
        accordion=false
        classCard="pt-25 pb-25 pl-25 pr-25 pt-lg-40 pb-lg-40 pl-lg-40 pr-lg-40"
        classComponent="mt-4"
        info-payment=pagamenti-dovuti.preferenze-pagamento.info-2
        }}
        {{>cmp-tot/cmp-tot
        class="mt-4 pt-25 pb-25 pl-25 pr-25 pt-lg-40 pb-lg-40 pl-lg-40 pr-lg-40"
        id="tot-payed-2"
        label-title="Totale da versare"
        required=true
        label="Inserisci importo"
        value="900,00 €" name="tot-payed-2" text="Inserisci l’importo che desideri versare adesso" rest="Rimanente da
        versare" rest-value="00,00 €"}}
        {{/cmp-card/cmp-card-content-box}}


        {{>cmp-nav-steps/cmp-nav-steps modalId="modal-terms" saveBtn=true aria-label-save="del pagamento IMU"}}
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>

  {{>cmp-modal/modal-terms-and-conditions}}
</main>
{{/cmp-base/base }}