{{#>base/base title="Pagamenti - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Servizi" active="Pagamenti"}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-heading/cmp-heading-detail
        title="Pagamento multa"
        subTitle="Il servizio permette di pagare online le multe ricevute dalla polizia municipale o di prenotare un
        appuntamento per pagare presso gli uffici."
        pClass="mb-3"
        button=true
        label="Paga online"
        primary=true
        class="text-button"
        label-tag="Servizio attivo"
        servizio-attivo=true
        }}
      </div>
      <hr class="d-none d-lg-block mb-0 mt-2">
    </div>
  </div>

  <div class="container">
    <div class="row row-column-menu-left mt-lg-80 mt-4">
      <div class="col-12 col-lg-3 mb-4 border-col">
        {{>cmp-navscroll/cmp-navscroll accordion-title="INDICE DELLA PAGINA" id="one"
        link-list=pagamenti-dovuti-multa.trovare-informazioni-servizio.navscroll}}
      </div>

      <div class="col-12 col-lg-8 offset-lg-1">
        <div class="it-page-sections-container">
          <section class="it-page-section mb-30" id="who-needs">
            <h2 class="mb-3">A chi è rivolto</h2>
            <p class="text-paragraph lora mb-0">Il servizio è destinato a tutti i cittadini che devono pagare multe
              della
              polizia municipale, prese a seguito di infrazioni del codice della strada nel territorio comunale.</p>
          </section>

          <section class="it-page-section mb-30" id="how-to">
            <h2 class="mb-3">Come fare</h2>
            <p class="text-paragraph lora mb-0">
              Per pagare online, accedi con le tue credenziali di identità digitale e fornisci le informazioni su chi
              effettua il pagamento e gli estremi della multa. Puoi pagare con conto o carta tramite il servizio pagoPA
              e
              scaricare subito la ricevuta. Alternativamente, puoi prenotare un appuntamento e recarti presso gli
              uffici.
            </p>
          </section>

          <section class="it-page-section mb-30 has-bg-grey p-3 p-lg-4" id="needed">
            <h2 class="mb-3">Cosa serve</h2>
            <p class="text-paragraph lora fw-semibold mb-0">Per il pagamento delle multe, assicurati di avere:</p>
            <ul class="list-wrapper lora">
              <li class="list-item"><span>la notifica della multa;</span></li>
              <li class="list-item"><span>il Codice Avviso PagoPA, che puoi trovare sull’avviso di pagamento;</span>
              </li>
              <li class="list-item"><span>la targa del veicolo;</span></li>
              <li class="list-item"><span>i dettagli del conto o della carta con cui vuoi effettuare il
                  pagamento.</span></li>
            </ul>
          </section>

          <section class="it-page-section mb-30" id="deadlines">
            <h2 class="mb-3">Tempi e scadenze</h2>
            <ul class="list-wrapper lora">
              <li class="list-item"><span>Per i pagamenti entro 5 giorni dalla notifica o dalla contestazione immediata,
                  si applica uno sconto del 30% sull’importo;</span></li>
              <li class="list-item"><span>Per i pagamenti entro 60 giorni, si paga una sanzione in misura
                  ridotta;</span></li>
              <li class="list-item"><span>Per i pagamenti oltre 60 giorni, si paga la sanzione raddoppiata più gli
                  interessi.</span></li>
            </ul>
            {{>cmp-icon-link/cmp-icon-link link="Regolamento polizia municipale" dimensione-file="(PDF 80KB)"
            link-class="mt-3"}}
          </section>

          <section class="it-page-section mb-30" id="costs">
            <h2 class="mb-3">Costi</h2>
            <p class="subtitle-small mb-0 lora">Il servizio di
              pagamento online prevede 0,50€ di costi di commissione.</p>
          </section>

          <section class="it-page-section mb-30 has-bg-grey p-4" id="service-access">
            <h2 class="mb-3">Accedi al servizio</h2>
            <p class="text-paragraph lora mb-4">Puoi pagare la multa direttamente online tramite identità digitale.</p>

            <button type="button" class="btn btn-primary mobile-full mb-4">
              <span>Paga online</span>
            </button>
            <p class="text-paragraph lora mb-4">Oppure, puoi pagare presso gli uffici di Polizia municipale.</p>
            <button type="button" class="btn mobile-full btn-outline-primary t-primary bg-white">
              <span>Prenota appuntamento</span>
            </button>
          </section>

          <section class="it-page-section mb-30" id="conditions">
            <h2 class="mb-3">Condizioni di servizio</h2>
            <p class="text-paragraph lora">Per conoscere i dettagli di scadenze, requisiti e altre informazioni
              importanti,
              leggi i termini e le condizioni di servizio.</p>
            {{>cmp-icon-link/cmp-icon-link link="Termini e condizioni di servizio" dimensione-file="(PDF 1MB)"}}
          </section>

          <section class="it-page-section" id="contacts">
            <h2 class="mb-3">Contatti</h2>
            <div class="row">
              <div class="col-12 col-md-8 col-lg-6 mb-30">
                <div class="card-wrapper rounded h-auto pb-0">
                  <div class="card card-teaser card-teaser-info rounded shadow-sm p-3">
                    <div class="card-body pe-3">
                      <span class="title-small">
                        <a class="text-decoration-none" href="#" data-element="service-area">Ufficio polizia
                          municipale</a>
                      </span>
                      <p class="subtitle-small mb-0">Via Dei Transiti 21, 50302
                        <br>
                        05 0505
                        <br>
                        <a class="" href='mailto:ufficiotributia@email.it'
                          aria-label='Invia una email a ufficiotributi@email.it'
                          title='Invia una email a ufficiotributi@email.it'>ufficiotributi@email.it</a>
                      </p>
                    </div>
                    <div class="avatar size-xl">
                      <img src="https://picsum.photos/200/200" alt="Immagine" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 mb-30">
                <span class="text-paragraph-small">Argomenti:</span>
                <ul class="d-flex flex-wrap gap-2 mt-10 mb-3">
                  <li>
                    {{>partials/cmp-tag/cmp-tag label-tag="Pagamenti" data-element="service-topic"}}
                  </li>
                </ul>
                <p class="text-paragraph-small mb-0">Pagina aggiornata il 14/04/2022</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 p-lg-0 px-4">
          {{>cmp-rating/cmp-rating}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-5">
          {{>cmp-carousel/cmp-carousel carousel-title="Contenuti correlati" class="carousel-4-card"}}
        </div>
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}