{{#>base/base title="Pagamenti - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Servizi" active="Pagamenti"}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-heading/cmp-heading-detail
        title="Calcolo IMU"
        subTitle="L'IMU è l'Imposta municipale unica istituita in via sperimentale nel 2012 e ridisciplinata dalla
        legge di bilancio 2020."
        pClass="mb-3"
        button=true
        label="Avvia richiesta online"
        primary=true
        class="text-button"
        label-tag="Servizio attivo"
        servizio-attivo=true
        }}
      </div>
      <hr class="d-none d-lg-block mb-0 mt-2">
    </div>
  </div>

  <div class="container">
    <div class="row row-column-menu-left mt-lg-80 mt-4">
      <div class="col-12 col-lg-3 mb-4 border-col">
        {{>cmp-navscroll/cmp-navscroll accordion-title="INDICE DELLA PAGINA" id="one"
        link-list=pagamenti-dovuti.trovare-informazioni-servizio.navscroll}}
      </div>

      <div class="col-12 col-lg-8 offset-lg-1">
        <div class="it-page-sections-container">
          <section class="it-page-section mb-30" id="who-needs">
            <h2 class="mb-3">A chi è rivolto</h2>
            <p class="description lora mb-0">Proprietario di immobili, ovvero:</p>
            <ul class="list-wrapper lora">
              <li class="list-item"><span>dal titolare del diritto reale di usufrutto, uso, abitazione, enfiteusi,
                  superficie;</span></li>
              <li class="list-item"><span>dal concessionario di aree demaniali</span></li>
              <li class="list-item"><span>dal locatario per gli immobili concessi in locazione finanziaria.</span></li>
            </ul>

            <p class="description lora mb-0 mt-3">In caso di decesso del possessore gli eredi, divenuti titolari dei
              diritti sull'immobile, dovranno
              versare l'imposta fino alla data del decesso provvedendo al pagamento dell'IMU:</p>
            <ul class="list-wrapper lora">
              <li class="list-item"><span>dal titolare del diritto reale di usufrutto, uso, abitazione, enfiteusi,
                  superficie;</span></li>
              <li class="list-item"><span>dal concessionario di aree demaniali</span></li>
              <li class="list-item"><span>dal locatario per gli immobili concessi in locazione finanziaria.</span></li>
            </ul>
          </section>

          <section class="it-page-section mb-30" id="description">
            <h2 class="mb-3">Descrizione</h2>
            <p class="description lora mb-0">L'IMU è l'Imposta Municipale
              Unica che viene applicata sugli immobili di proprietà e su cui sono istituiti diritti reali di godimento.
              <br>
              Il presupposto dell'imposta è dato dal possesso di immobili, ovvero fabbricati, aree edificabili e terreni
              agricoli:</p>
            <ul class="list-wrapper lora">
              <li class="list-item"><span>per fabbricato si intende l'unità immobiliare iscritta, o che deve essere
                  iscritta, nel catasto edilizio urbano e nel quale viene ricompresa anche la pertinenza.</span></li>
              <li class="list-item"><span>per area edificabile si intende quella utilizzabile a scopo edificatorio in
                  base agli strumenti urbanistici (PRG-piano regolatore generale) ovvero in base alle possibilità
                  effettive di edificazione</span></li>
              <li class="list-item"><span>per terreno agricolo si intende un terreno adibito ad attività agricola
                  (coltivazione, silvicoltura, allevamento di animali, etc.)</span></li>
            </ul>
          </section>

          <section class="it-page-section mb-30" id="how-to">
            <h2 class="mb-3">Come fare</h2>
            <p class="text-paragraph lora">Il pagamento si esegue con l’apposito bollettino postale, con il modello F24
              oppure online.
              <br>
              <br>
              Il Comune mette a disposizione un sistema per calcolare online l’importo dell’acconto, del saldo e di
              eventuali
              ravvedimenti, con stampa di modello F24 per il versamento.
            </p>
          </section>

          <section class="it-page-section mb-30 has-bg-grey p-3 p-lg-4" id="needed">
            <h2 class="mb-3">Cosa serve</h2>
            <p class="text-paragraph lora fw-semibold mb-0">Per accedere al servizio, assicurati di avere:</p>
            <ul class="list-wrapper lora">
              <li class="list-item"><span>le informazioni sugli immobili di proprietà (rendita catastale, quota di
                  possesso, etc.)</span></li>
              <li class="list-item"><span>le informazioni sul contribuente ed eventuali coobbligati</span></li>
            </ul>
          </section>

          <section class="it-page-section mb-30" id="deadlines">
            <h2 class="mb-3">Tempi e scadenze</h2>
            <p class="description lora mb-0">Le scadenze fondamentali sono:</p>
            <ul class="list-wrapper lora">
              <li class="list-item"><span>il 16 giugno e il 16 dicembre per il pagamento</span></li>
              <li class="list-item"><span>il 30 giugno dell'anno successivo al pagamento per la presentazione della
                  dichiarazione nei casi obbligatori
                  previsti dalla legge e per le agevolazioni e le aliquote stabilite dal Comuneil 30 giugno dell'anno
                  successivo al pagamento per la
                  presentazione della dichiarazione nei casi obbligatori previsti dalla legge e per le agevolazioni e le
                  aliquote stabilite dal Comune</span></li>
            </ul>
          </section>

          <section class="it-page-section mb-30" id="costs">
            <h2 class="mb-3">Costi</h2>
            <p class="text-paragraph lora">Il versamento della prima rata è pari all'imposta dovuta per il primo
              semestre applicando l'aliquota e la detrazione dei dodici mesi dell'anno precedente.
              <br>
              <br>
              Il versamento della rata a saldo dell'imposta dovuta per l'intero anno è eseguita, a conguaglio,
              sulla base delle aliquote risultanti dal prospetto delle aliquote pubblicato nel sito
              Internet del Dipartimento delle finanze del Ministero dell'Economia e delle Finanze (Mef),
              alla data del 28 ottobre di ciascun anno.
            </p>
            {{>cmp-icon-link/cmp-icon-link link="Aliquote e detrazioni IMU 2022" dimensione-file="(PDF 80KB)"}}
          </section>

          <section class="it-page-section mb-30 has-bg-grey p-4" id="service-access">
            <h2 class="mb-3">Accedi al servizio</h2>
            <p class="text-paragraph lora mb-4">Puoi pagare l’IMU direttamente online tramite identità digitale.</p>

            <button type="button" class="btn btn-primary mobile-full mb-4">
              <span>Paga online</span>
            </button>
            <p class="text-paragraph lora mb-4">Oppure puoi prenotare un appuntamento e presentarti presso gli uffici.
            </p>
            <button type="button" class="btn mobile-full btn-outline-primary t-primary bg-white">
              <span>Prenota appuntamento</span>
            </button>
          </section>

          <section class="it-page-section mb-30" id="conditions">
            <h2 class="mb-3">Condizioni di servizio</h2>
            <p class="text-paragraph lora">Per conoscere i dettagli di scadenze, requisiti e altre informazioni
              importanti,
              leggi i termini e le condizioni di servizio.</p>
            {{>cmp-icon-link/cmp-icon-link link="Termini e condizioni di servizio" dimensione-file="(PDF 1MB)"}}
          </section>

          <section class="it-page-section" id="contacts">
            <h2 class="mb-3">Contatti</h2>
            <div class="row">
              <div class="col-12 col-md-8 col-lg-6 mb-30">
                <div class="card-wrapper rounded h-auto pb-0">
                  <div class="card card-teaser card-teaser-info rounded shadow-sm p-3">
                    <div class="card-body pe-3">
                      <span class="title-small">
                        <a class="" href="#">Ufficio tributi</a>
                      </span>
                      <div class="card-text">
                        <p class="subtitle-small mb-0">Via Dei Transiti 21, 50302
                          <br>
                          05 0505
                          <br>
                          <a class="" href='mailto:ufficiotributia@email.it'
                            aria-label='Invia una email a ufficiotributi@email.it'
                            title='Invia una email a ufficiotributi@email.it'>ufficiotributi@email.it</a>
                        </p>
                      </div>
                    </div>
                    <div class="avatar size-xl">
                      <img src="https://picsum.photos/200/200" alt="Immagine" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 mb-30">
                <span class="text-paragraph-small">Argomenti:</span>
                <ul class="d-flex flex-wrap gap-2 mt-10 mb-3">
                  <li>
                    {{> cmp-tag/cmp-tag label-tag="Abitazione" data-element="service-topic"}}
                  </li>
                  <li>
                    {{> cmp-tag/cmp-tag label-tag="Pagamenti" data-element="service-topic"}}
                  </li>
                </ul>
                <p class="text-paragraph-small mb-0">Pagina aggiornata il 14/04/2022</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 p-lg-0 px-4">
          {{>cmp-rating/cmp-rating}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-5">
          {{>cmp-carousel/cmp-carousel carousel-title="Contenuti correlati" class="carousel-4-card"}}
        </div>
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}