{{#>base/base title="Area personale - Nome del Comune"}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Area personale" active="Pagamento"}}
        {{>cmp-heading/cmp-heading
        title="Pagamento"
        }}
      </div>
      <hr class="d-none d-lg-block mb-0 mt-2">
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 pt-2 pt-lg-40">
        {{#>cmp-card/cmp-card-content-box
        cmpClass="mb-30 mb-lg-40"
        class="mb-0 card-summary-grey"
        header-m0=true
        h2-class="mb-4"
        bg-grey=true
        card-title="Permesso ZTL"
        }}

        {{>cmp-info-summary/cmp-info-summary-no-modify
        info=true
        info-title="Dati"
        class="p-4 mb-4"
        effettuare-pagamento=permessi-autorizzazioni.effettuare-pagamento.pagamento-ztl
        }}

        <div class="bg-white">
          <p class="title-large-semi-bold card-white">Importo pagamento: <span class="d-block d-lg-inline">16,00 €</span></p>
        </div>

        {{/cmp-card/cmp-card-content-box}}

        {{#>cmp-text-button/cmp-text-button
        linkLabel="Che cos’è pagoPA"
        sBtn=true
        classLink=""
        }}
          {{>partials/button/button label="paga con pagoPA" class="btn-icon btn-re square mb-2"   iconBtnUrl="../assets/images/pagopa.svg"}}
        {{/cmp-text-button/cmp-text-button}}
      </div>
    </div>
  </div>
  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}
