{{#>base/base title="Permessi mobilità - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Permessi mobilità"}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center mb-40 mb-lg-80">
      <div class="col-12 col-lg-10 pb-2">
        {{> cmp-heading/cmp-heading-detail
        title="Permesso ZTL"
        subTitle="Rilascio del permesso zone a traffico limitato (ZTL) del centro storico."
        pClass="mb-3"
        button=true
        label="Richiedi online"
        primary=true
        class="text-button"
        label-tag="Servizio attivo"
        servizio-attivo=true
        }}
      </div>
      <hr class="d-none d-lg-block mb-0">
    </div>
  </div>

  <div class="container">
    <div class="row row-column-menu-left pb-4 pb-lg-80">
      <div class="col-12 col-lg-3 mb-4 border-col">
        {{>cmp-navscroll/cmp-navscroll accordion-title="INDICE DELLA PAGINA" id="one"
        link-list=permessi-autorizzazioni.trovare-informazioni-servizio.navscroll}}
      </div>

      <div class="col-12 col-lg-8 offset-lg-1">
        <div class="it-page-sections-container">
          <section class="it-page-section mb-30" id="who-needs">
            <h2 class="title-xxlarge mb-3">A chi è rivolto</h2>
            <p class="text-paragraph lora mb-0">Persone fisiche con residenza anagrafica in zone a traffico limitato:
            </p>
            <ul class="list-wrapper lora">
              {{#each permessi-autorizzazioni.trovare-informazioni-servizio.list-1 as |info-list|}}
              <li class="list-item"><span>{{info-list.text}}</span></li>
              {{/each}}
            </ul>
          </section>

          <section class="it-page-section mb-30" id="description">
            <h2 class="title-xxlarge mb-3">Descrizione</h2>
            <p class="text-paragraph lora">L'autorizzazione consente il transito e la sosta h 24 dei veicoli nelle zone
              a
              traffico limitato.
              <br><br>
              Il permesso ZTL è valido per 5 anni dalla data del rilascio e si può rinnovare da due mesi prima della
              data
              di scadenza.
            </p>
          </section>

          <section class="it-page-section mb-30" id="how-to">
            <h2 class="title-xxlarge mb-3">Come fare</h2>
            <p class="text-paragraph lora">La richiesta può essere inviata online o consegnata di persona all’Ufficio
              Protocollo Generale, in via dei Transiti 21.
              <br><br>
              In caso di esito positivo dell'istruttoria il permesso viene inviato nella casella di posta elettronica
              indicata nella richiesta.
            </p>
          </section>

          <section class="it-page-section mb-30 has-bg-grey p-3" id="needed">
            <h2 class="title-xxlarge mb-3">Cosa serve</h2>
            <p class="text-paragraph lora mb-0">Per accedere al servizio, assicurati di avere:</p>
            <ul class="list-wrapper lora">
              {{#each permessi-autorizzazioni.trovare-informazioni-servizio.list-2 as |info-list|}}
              <li class="list-item"><span>{{info-list.text}}</span></li>
              {{/each}}
            </ul>
          </section>

          <section class="it-page-section mb-30" id="obtain">
            <h2 class="title-xxlarge mb-3">Cosa si ottiene</h2>
            <p class="text-paragraph lora">Si ottiene un permesso da esporre sul parabrezza del veicolo durante tutto il
              tempo di durata del transito e della sosta in ZTL o da esibire, a richiesta degli agenti addetti al
              controllo, quando è associato a veicoli che non consentono la chiusura a chiave dell’abitacolo.</p>
          </section>

          <section class="it-page-section mb-30" id="deadlines">
            {{>cmp-timeline/cmp-timeline title="Tempi e scadenze"
            timeline=permessi-autorizzazioni.trovare-informazioni-servizio.timeline }}
          </section>

          <section class="it-page-section mb-30" id="costs">
            <h2 class="title-xxlarge mb-3">Costi</h2>
            <p class="text-paragraph lora">L’importo del permesso ZTL per il centro storico è di € 5,00. La tariffa non
              è
              dovuta alla scadenza del permesso in caso di rinnovo, quando sia effettuato in continuità di validità del
              precedente pass in scadenza. Non è considerato rinnovo quello del permesso scaduto da oltre un anno.</p>
            {{>cmp-icon-link/cmp-icon-link link="Allegato se necessario" dimensione-file="(PDF 1MB)"}}
          </section>

          <section class="it-page-section mb-30 has-bg-grey p-3 p-lg-4" id="service-access">
            <h2 class="mb-3">Accedi al servizio</h2>
            <p class="text-paragraph lora mb-4">Puoi richiedere il permesso ZTL direttamente online tramite identità
              digitale.</p>
            <button type="button" class="btn btn-primary mobile-full">
              <span>Richiedi online</span>
            </button>
            <p class="text-paragraph lora mt-4">Oppure, puoi prenotare un appuntamento e presentarti presso gli uffici.
            </p>
            <button type="button" class="btn btn-outline-primary t-primary bg-white mobile-full">
              <span>Prenota appuntamento</span>
            </button>
          </section>

          <section class="it-page-section mb-30" id="conditions">
            <h2 class="title-xxlarge mb-3">Condizioni di servizio</h2>
            <p class="text-paragraph lora">Per conoscere i dettagli di
              scadenze, requisiti e altre informazioni importanti, leggi i termini e le condizioni di servizio.</p>
            {{>cmp-icon-link/cmp-icon-link link="Termini e condizioni di servizio" dimensione-file="(PDF 1MB)"}}
          </section>

          <section class="it-page-section" id="contacts">
            <h2 class="mb-3">Contatti</h2>
            <div class="row">
              <div class="col-12 col-md-8 col-lg-6 mb-30">
                <div class="card-wrapper rounded h-auto pb-0">
                  <div class="card card-teaser card-teaser-info align-items-center rounded shadow-sm p-3">
                    <div class="card-body pe-3">
                      <span class="title-small mb-2">
                        <a class="text-decoration-none" href="#" data-element="service-area">Ufficio mobilità</a>
                      </span>
                      <p class="subtitle-small mb-0">Via Dei Transiti 21, 50302
                        <br>
                        05 0505
                        <br>
                        <a class="" href='mailto:ufficiomobilita@email.it'
                          aria-label='Invia una email a ufficiomobilita@email.it'
                          title='Invia una email a ufficiomobilita@email.it'>ufficiomobilita@email.it</a>
                      </p>
                    </div>
                    <div class="avatar size-xl">
                      <img src="https://picsum.photos/200/200" alt="Immagine" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 mb-30">
                <span class="text-paragraph-small">Argomenti:</span>
                <ul class="d-flex flex-wrap gap-2 mt-10 mb-3">
                  <li>
                    {{>partials/cmp-tag/cmp-tag label-tag="Autovettura"}}
                  </li>
                  <li>
                    {{>partials/cmp-tag/cmp-tag label-tag="Permesso"}}
                  </li>
                </ul>
                <p class="text-paragraph-small mb-0">Pagina aggiornata il 14/04/2022</p>
              </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 p-lg-0 px-4">
          {{>cmp-rating/cmp-rating}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-5">
          {{>cmp-carousel/cmp-carousel carousel-title="Contenuti correlati" class="carousel-4-card"
          carTitle-class="pb-0"}}
        </div>
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}