{{#>base/base title="Servizi scolastici - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Servizi" active="Servizi scolastici"}}
        {{> cmp-heading/cmp-heading title="Richiesta servizio mensa scolastica" description="Hai bisogno di assistenza?
        <a href='' class='title-small-semi-bold t-primary'>Contattaci</a>"}}
      </div>
      <div class="col-12">
        {{> cmp-info-progress/cmp-info-progress
        step-list=servizi-pagamento.acconsentire-trattamento-dati-inseriti.step-3
        step-num="3"
        step-title="Preferenze di Servizio"
        step-tot="4"
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-3 d-lg-block mb-4 d-none ">
        {{>cmp-navscroll/cmp-navscroll
        accordion-title="INFORMAZIONI RICHIESTE" id="one"
        link-list=servizi-pagamento.inserire-dati-specifici.navscroll}}
      </div>
      <div class="col-12 col-lg-8 offset-lg-1">
        <div class="steppers-content" aria-live="polite">
          <div class="it-page-sections-container">
            <p class="text-paragraph-small mb-40">I campi contraddistinti dal simbolo asterisco sono obbligatori</p>

            <section class="it-page-section" id="school-choice">
              {{#>cmp-card/cmp-card-content-box
              class="p-big p-4"
              bg-grey=true
              h2-class="mb-0"
              margin-class="mb-40"
              required-icon=true
              card-title="Scegli la scuola"
              subtitle="Scegli l’istituto a cui vuoi iscrivere il minore"}}
              {{> partials/select/select placeholder="Seleziona un'opzione" select-option-list=inserire-dati-specifici
              id="select-school" label-hidden=true label-text="Scegli la scuola" required=true}}
              {{/cmp-card/cmp-card-content-box}}
            </section>

            <section class="it-page-section" id="rate-choice">
              {{#>cmp-card/cmp-card-content-box
              class="p-big"
              bg-grey=true
              header-m0=true
              subtitleClass="mb-4"
              h2-class="mb-1"
              margin-class="mb-40"
              required-icon=true
              card-title="Tariffa esonero"
              subtitle="Indica la tariffa di esonero a cui ha diritto il beneficiario"}}
              {{> cmp-card-radio/cmp-card-radio percentage=true id='rate'
              label-1="Nessuna"
              label-2="25%"
              label-3="50%"
              label-4="75%"
              label-5="100%"
              required=true
              }}
              {{/cmp-card/cmp-card-content-box}}
            </section>

            <section class="it-page-section" id="outings-choice">
              {{#>cmp-card/cmp-card-content-box
              class="p-big"
              bg-grey=true
              h2-class="mb-1"
              margin-class="mb-40"
              header-m0=true
              subtitleClass="mb-4"
              required-icon=true
              card-title="Tariffa riduzione"
              subtitle="Indica la tariffa di riduzione a cui ha diritto il beneficiario"}}
              {{> cmp-card-radio/cmp-card-radio percentage=true id='reduction'
              label-1="Nessuna"
              label-2="10%"
              label-3="20%"
              label-4="30%"
              label-5="40%"
              required=true }}
              {{/cmp-card/cmp-card-content-box}}
            </section>

            <section class="it-page-section" id="attendance">
              {{#>cmp-card/cmp-card-content-box
              class="p-big"
              bg-grey=true
              h2-class="mb-1"
              header-m0=true
              subtitleClass="mb-4"
              margin-class="mb-40"
              required-icon=true
              card-title="Frequenza"
              subtitle="Indica i giorni di frequenza del servizio"}}
              {{> cmp-card-radio/cmp-card-radio percentage=true frequency=true id='frequency' required=true}}
              {{/cmp-card/cmp-card-content-box}}
            </section>

            <section class="it-page-section" id="different-diet">
              {{#>cmp-card/cmp-card-content-box
              class="p-big"
              bg-grey=true
              h2-class="mb-1"
              header-m0=true
              subtitleClass="mb-4"
              required-icon=true
              card-title="Dieta diversificata"
              subtitle="Indica la dieta per il beneficiario"}}
              {{> cmp-card-radio/cmp-card-radio percentage=true frequency=true diet=true id='diet' required=true}}
              {{/cmp-card/cmp-card-content-box}}
            </section>
          </div>
          {{> cmp-nav-steps/cmp-nav-steps save="true" saveBtn=true aria-label-save="del servizio mensa"}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center p-contacts">
        <div class="col-12 col-lg-5">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>

</main>
{{/base/base }}