{{#>base/base title="Servizi sociali - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Servizi" active="Servizi sociali"}}
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row justify-content-center mb-40 mb-lg-80">
      <div class="col-12 col-lg-10 pb-2">
        {{> cmp-heading/cmp-heading-detail
        title="Assegno di maternità"
        subTitle="L’assegno di maternità è a disposizione di famiglie con risorse limitate in caso di nascita,
        adozione o affido preadottivo"
        pClass="mb-3"
        button=true
        label="Richiedi online"
        primary=true
        class="text-button"
        label-tag="Servizio attivo"
        servizio-attivo=true
        }}
      </div>
      <hr class="d-none d-lg-block mb-0">
    </div>
  </div>

  <div class="container">
    <div class="row row-column-menu-left pb-4 pb-lg-80">
      <div class="col-12 col-lg-3 mb-4 border-col">
        {{>cmp-navscroll/cmp-navscroll accordion-title="INDICE DELLA PAGINA" id="one"
        link-list=vantaggi-economici.trovare-informazioni-servizio.navscroll}}
      </div>

      <div class="col-12 col-lg-8 offset-lg-1">
        <div class="it-page-sections-container">
          <section class="it-page-section mb-30" id="who-needs">
            <h2 class="title-xxlarge mb-3">A chi è rivolto</h2>
            <ul class="list-wrapper lora">
              <li class="list-item"><span>Cittadine italiane</span></li>
              <li class="list-item"><span>Cittadine comunitarie</span></li>
              <li class="list-item">
                <span>Cittadine di paesi terzi, in possesso di uno dei seguenti titoli:</span>
                <ul class="list-wrapper">
                  <li class="list-item">persona titolare del permesso di soggiorno CE per soggiornanti di lungo periodo
                  </li>
                  <li class="list-item">familiare di cittadini italiani, dell’Unione o di cittadini soggiornanti di
                    lungo periodo non aventi la cittadinanza di uno Stato membro, che sia titolare del diritto di
                    soggiorno o del diritto di soggiorno permanente;</li>
                  <li class="list-item">rifugiata politica, i suoi familiari e superstiti;</li>
                  <li class="list-item">persona titolare della protezione sussidiaria;</li>
                  <li class="list-item">cittadina/lavoratrice del Marocco, Tunisia, Algeria e Turchia, e i suoi
                    familiari;</li>
                </ul>
              </li>
              <li class="list-item"><span>persona titolare del permesso unico per lavoro o con autorizzazione al lavoro
                  e i suoi familiari, ad eccezione delle categorie espressamente escluse dal D.lgs. 40/2014;</span></li>
              <li class="list-item"><span>persona che abbia soggiornato legalmente in almeno 2 stati membri, i suoi
                  familiari e superstiti;</span></li>
              <li class="list-item"><span>persona apolide, i suoi familiari e superstiti;</span></li>
            </ul>
          </section>

          <section class="it-page-section mb-30" id="description">
            <h2 class="title-xxlarge mb-3">Descrizione</h2>
            <p class="text-paragraph lora">L'assegno è riconosciuto alle persone che non beneficiano di nessuna
              indennità di maternità o che percepiscono un’indennità inferiore all’importo del contributo stesso e che
              dispongono di patrimoni e redditi limitati (Assegno di maternità di base - Art. 74 del D.Lgs 151/2011).
            </p>
          </section>

          <section class="it-page-section mb-30" id="how-to">
            <h2 class="title-xxlarge mb-3">Come fare</h2>
            <p class="text-paragraph lora">Per ottenere l’assegno occorre inviare la richiesta entro sei mesi dalla data
              di nascita del minore o
              dall’ingresso in famiglia del bambino adottato o in affido preadottivo. <br><br>
              Le cittadine extracomunitarie devono allegare il permesso di soggiorno. <br><br>
              Dopo la verifica dei requisiti da parte del Comune, è disposta la richiesta di pagamento all’Inps.
            </p>
          </section>

          <section class="it-page-section mb-30 has-bg-grey p-3" id="needed">
            <h2 class="title-xxlarge mb-3">Cosa serve</h2>
            <p class="text-paragraph lora mb-0">Per accedere al servizio, assicurati di avere:</p>
            <ul class="list-wrapper lora">
              {{#each vantaggi-economici.trovare-informazioni-servizio.list-2 as |info-list|}}
              <li class="list-item"><span>{{info-list.text}}</span></li>
              {{/each}}
            </ul>
          </section>

          <section class="it-page-section mb-30" id="obtain">
            <h2 class="title-xxlarge mb-3">Cosa si ottiene</h2>
            <p class="text-paragraph lora">L’erogazione avviene entro 45 giorni dalla data di ricezione dei dati.
              L'assegno viene erogato in un unica soluzione. Nel caso di parti gemellari, l'importo dell'assegno viene
              moltiplicato per il numero di figli nati.</p>
          </section>

          <section class="it-page-section mb-30" id="deadlines">
            {{>cmp-timeline/cmp-timeline title="Tempi e scadenze"
            timeline=vantaggi-economici.trovare-informazioni-servizio.timeline }}
          </section>

          <section class="it-page-section mb-30 has-bg-grey p-3 p-lg-4" id="service-access">
            <h2 class="mb-3">Accedi al servizio</h2>
            <p class="text-paragraph lora mb-4">Puoi richiedere l’assegno di maternità direttamente online tramite
              identità digitale.</p>
            <button type="button" class="btn btn-primary mobile-full">
              <span>Richiedi online</span>
            </button>
            <p class="text-paragraph lora mt-4">Oppure, puoi prenotare un appuntamento e presentarti presso gli uffici.
            </p>
            <button type="button" class="btn btn-outline-primary t-primary bg-white mobile-full">
              <span>Prenota appuntamento</span>
            </button>
          </section>

          <section class="it-page-section mb-30" id="conditions">
            <h2 class="title-xxlarge mb-3">Condizioni di servizio</h2>
            <p class="text-paragraph lora">Per conoscere i dettagli di
              scadenze, requisiti e altre informazioni importanti, leggi i termini e le condizioni di servizio.</p>
            {{>cmp-icon-link/cmp-icon-link link="Termini e condizioni di servizio" dimensione-file="(PDF 1MB)"}}
          </section>

          <section class="it-page-section" id="contacts">
            <h2 class="mb-3">Contatti</h2>
            <div class="row">
              <div class="col-12 col-md-8 col-lg-6 mb-30">
                <div class="card-wrapper rounded h-auto pb-0">
                  <div class="card card-teaser card-teaser-info align-items-center rounded shadow-sm p-3">
                    <div class="card-body pe-3">
                      <span class="title-small mb-2">
                        <a class="text-decoration-none" href="#" data-element="service-area">Ufficio sussidi</a>
                      </span>
                      <p class="subtitle-small mb-0">Via Dei Transiti 21, 50302
                        <br>
                        05 0505
                        <br>
                        <a class="" href='mailto:ufficiosussidi@email.it'
                          aria-label='Invia una email a ufficiosussidi@email.it'
                          title='Invia una email a ufficiosussidi@email.it'>ufficiosussidi@email.it</a>
                      </p>
                    </div>
                    <div class="avatar size-xl">
                      <img src="https://picsum.photos/200/200" alt="Immagine" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 mb-30">
                <span class="text-paragraph-small">Argomenti:</span>
                <ul class="d-flex flex-wrap gap-2 mt-10 mb-3">
                  <li>
                    {{>partials/cmp-tag/cmp-tag label-tag="Sussidi" data-element="service-topic"}}
                  </li>
                  <li>
                    {{>partials/cmp-tag/cmp-tag label-tag="Famiglia" data-element="service-topic"}}
                  </li>
                  <li>
                    {{>partials/cmp-tag/cmp-tag label-tag="Madri" data-element="service-topic"}}
                  </li>
                  <li>
                    {{>partials/cmp-tag/cmp-tag label-tag="Servizi Sociali" data-element="service-topic"}}
                  </li>
                </ul>
                <p class="text-paragraph-small mb-0">Pagina aggiornata il 14/04/2022</p>
              </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 p-lg-0 px-4">
          {{>cmp-rating/cmp-rating}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-5">
          {{>cmp-carousel/cmp-carousel carousel-title="Contenuti correlati" class="carousel-4-card"
          carTitle-class="pb-0"}}
        </div>
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}