.cmp-input-search-button.form-group {
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;

    .input-group-prepend {
      svg {
        fill: $primary;
        @include media-breakpoint-down(sm) {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    label {
      opacity: 0;
      visibility: hidden;
    }

    input {
      @include font(16, 40);
      @include media-breakpoint-up(md) {
        height: auto;
      }

      &::placeholder {
        color:get-color(black,main);
        @include font(16, 40);
        @include media-breakpoint-up(md){
          color: get-color(light,grey);
        }
      }
    }
  }
