.accordion-collapse {
  .cmp-info-summary {
    border: 1px solid get-color(card,grey);

    &:first-child {
      margin-top: um(16px);
    }

    &.has-border {
      border: 1px solid get-color(light-grey, grey);
      padding: um(16px);
      border-radius: um(4px);

      &:not(:last-child) {
        margin-bottom: um(30px);
      }

      @include media-breakpoint-up(lg) {
        padding: um(24px);
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding: um(24px) 0;
  }
}

.card .card-teaser .icon {
  min-width: auto;
}

.accordion-header {

  .accordion-button {
    font-size: um(14px);
    line-height: um(21px);
    padding: 0;
    padding-top: um(8px);

  border-top: 0;


    @include media-breakpoint-up(md) {
      font-size: um(18px);
      line-height: um(28px);
      padding-top: um(16px);
    }

    &:not(.collapsed){
      color: get-color(primary, main);
      // &::after{
      //   // transform: scaleY(-1);
      // }

      .icon {
        transform: rotate(180deg);
      }
    }

    &:after {
      content: unset;
    }
  }
}
