<div class="accordion-item">
  <div class="accordion-header" id="heading2">
    <button class="collapsed accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{collapse-id}}"
      aria-expanded="false" aria-controls="{{collapse-id}}" aria-label="Mostra tutto o nascondi">
      <span class="d-flex align-items-center">
      Mostra tutto
        <svg class="icon icon-primary icon-sm">
          <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
        </svg>
      </span>
    </button>

  </div>
  <div id="{{collapse-id}}" class="accordion-collapse collapse" role="region">
    <div class="accordion-body p-0">
     {{>cmp-info-summary/cmp-info-summary info-title="Anagrafica" info=true info-list=anagrafica-altro-genitore.info class="border border-light p-3 p-lg-4 mb-30"}}
    </div>
  </div>
</div>
