.cmp-heading {
 .categoryicon-top {
    .icon {
      position: relative;
      top: 12px;
    }
  }

  .btn {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 18.889rem;
    }
  }


  .text-button {
    font-weight: 700;
  }

  &__tag {
    margin: 1.125rem 0 0.625rem 0;

    @include media-breakpoint-up(sm) {
      margin: 1rem 0 0.56rem 0;
    }

    @include media-breakpoint-up(md) {
      margin: 1rem 0 1.44rem 0;
    }
  }

  .subtitle-small {
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

}
