.cmp-alert-box {
  border-left: 2px solid get-color(error, main);
  padding-left: 1rem;

  @include media-breakpoint-up(sm) {
    padding-left: 0.889rem;
  }

  .alert-box-icon {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    color: get-color(error, main);

    svg {
      fill: get-color(error, main);
      margin-right: 0.625rem;

      @include media-breakpoint-up(sm) {
        margin-right: 0.555rem;
      }
    }
  }

  .description {
    @include font(16, 16);
    margin-top: 0.313rem;
    line-height: 1.5;

    @include media-breakpoint-up(sm) {
      margin-top: 0.277rem;
    }
  }

  p{
    margin: 0;
  }
}

.cmp-warning-box{
  padding-left: 1rem;
  margin-top: 1rem;

  @include media-breakpoint-up(sm) {
    padding-left: 0.889rem;
    margin-top: 0.889rem;
  }
  
  p{
    margin: 0;
  }

  .warning-box-icon {
    display: flex;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;

    svg {
      max-width: 1.25;
      max-height: 1.5rem;
      fill: get-color(warning, main);
      margin-right: 0.25rem;

      @include media-breakpoint-up(sm) {
        max-width: 1.333rem;
        max-height: 1.333rem;
        margin-right: 0.22rem;
      }
    }
  }

  .description {
    @include font(14, 18);
    margin-top: 0.313rem;
    line-height: 1.2;

    @include media-breakpoint-up(sm) {
      margin-top: 0.277rem;
    }

    &.description-warning{
      margin-top: 0.313rem;
      margin-right: 0.313rem;
      font-weight: 400;

      @include media-breakpoint-up(sm) {
        margin-top: 0.277rem;
        margin-right: 0.277rem;
      }
    }

    .data-add{
      @include font(14, 18);
      font-weight: 600;
      line-height: 1.1;
    }
  }
}
