{{#if error}}
  <div class="cmp-alert-box">
    <div class="alert-box-icon">
      <svg class="icon"><use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-error" xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-error"></use></svg>
      <span>Errore</span>
    </div>
    <p class="description">{{message}}</p>
  </div>
{{/if}}
{{#if warning}}
  <div class="cmp-warning-box border-start border-warning border-2">
    <div class="warning-box-icon">
      <svg class="icon icon-warning"><use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-info-circle" xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-warning"></use></svg>
      <span class="text-warning">ATTENZIONE</span>
    </div>
    <p class="description">{{message}} <span class="data-add">{{data-add}}</span></p>
  </div>
{{/if}}