.cmp-icon-list {
  .shadow {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem 1.625rem;
    text-decoration: underline;

    @include media-breakpoint-up(sm) {
      padding: 0.89rem 1.44rem;
    }

    &:not(:first-child) {
      margin: 0.625rem 0 3.125rem 0;

      @include media-breakpoint-up(sm) {
        margin: 0.56rem 0 2.78rem 0;
      }

      @include media-breakpoint-up(lg) {
        margin: 1.33rem 0 4.44rem 0;
      }
    }

    .list-item-title{
      color: get-color(primary, main);
    }
  }
  .icon-color{
    fill:get-color(black, main);
  }
}
