<section class="it-hero-wrapper it-hero-small-size cmp-hero-img-small">
   <div class="img-responsive-wrapper">
      <div class="img-responsive">
         <div class="img-wrapper"><img src="../assets/images/{{img-path}}" title="titolo immagine" alt="descrizione immagine"></div>
      </div>
   </div>
</section>

<p class="title-xsmall cmp-hero-img-small__description">{{description}}</p>
