.cmp-text-area{
  padding: 1rem;

  @include media-breakpoint-up(sm) {
    padding: 0.889rem;
  }

  .text-area .focus--mouse{
    padding-top: 50px;
  }

  .label {
    @include font(14, 14);
    font-weight: 400;
    line-height: 1.2;
    color: get-color(dark, grey);
    margin-left: 8px;
    opacity: 0.9;
    mix-blend-mode: normal;
  }

  .form-group {
    margin-bottom: 0;

    .text-area {
      height: 40px;
      border: none;
      border-bottom: 1px solid get-color(dark, grey);
      resize: none;
      overflow: hidden;
      word-break: break-all;


      &:focus{
        max-height: auto;
      }
    }
  }
}
