.cmp-text-area{
  padding: um(16px);

  .text-area .focus--mouse{
    padding-top: 50px;
  }

  .label {
    font-size: um(14px);
    font-weight: 400;
    line-height: um(18px);
    color: get-color(dark, grey);
    padding-left: um(8px);
    mix-blend-mode: normal;
    opacity: 0.9;
  }

  .form-group {
    margin-bottom: 0;

    .text-area {
      height: um(40px);
      border: none;
      border-bottom: 1px solid get-color(dark, grey);
      resize: none;
      overflow: hidden;


      &:focus{
        max-height: auto;
      }
    }
  }
}
