<div class="cmp-text-area bg-white pb-2">
  <div class="form-group">
    <label for="exampleFormControlTextarea{{num}}">{{placeholder}}</label>
    <textarea class="text-area" id="exampleFormControlTextarea{{num}}" rows="3"></textarea>
  </div>
  {{#if label}}
    <span class="title-xsmall u-grey-dark">Inserire massimo 200 caratteri </span>
  {{/if}}
</div>
