{{#>base/base-index title="Index" path="./"}}
<main>
  <div class="container px-4 my-4">
    <div class="row">
      <div class="col-12 px-lg-4 py-lg-2">
        <h1>I templates HTML del modello per i comuni</h1>
        <span class="fw-semibold">
          <a class="text-muted text-decoration-none" href="https://github.com/italia/design-comuni-pagine-statiche/releases/latest" target="_blank" alt="Link alla release su Github" title="Vai alla release">
            <svg class="icon icon-sm icon-secondary">
              <use href="./assets//bootstrap-italia/dist/svg/sprites.svg#it-github"></use>
            </svg>
            v{{version}}</span>
          </a>
      </div>

      <div class="col-12">
        <ul id="myTab" class="nav nav-tabs auto mt-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="/">Sito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="servizi/index.html">Flussi di servizio</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div id="tab1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab1-tab">
            <div class="row">
              <div class="col-12 col-md-4 px-lg-2 py-lg-2 sticky-top">
                <nav class="navbar it-navscroll-wrapper navbar-expand-lg it-top-navscroll" data-bs-navscroll>
                  <button class="custom-navbar-toggler" type="button" aria-controls="navbarNavB" aria-expanded="false"
                    aria-label="Toggle navigation" data-bs-toggle="navbarcollapsible" data-bs-target="#navbarNavB"><span
                      class="it-list"></span>Indice templates
                  </button>
                  <div class="navbar-collapsable" id="navbarNavB">
                    <div class="overlay"></div>
                    <div class="close-div visually-hidden">
                      <button class="btn close-menu" type="button"><span class="it-close"></span>close
                      </button>
                    </div>
                    <a class="it-back-button" href="#"><svg class="icon icon-sm icon-primary align-top">
                        <use href="/bootstrap-italia/dist/svg/sprites.svg#it-chevron-left"></use>
                      </svg><span>Back </span></a>
                    <div class="menu-wrapper">
                      <div class="link-list-wrapper">
                        <h3>INDICE</h3>
                        <ul class="link-list">
                          <li class="nav-item active">
                            <a class="nav-link active" href="#generali"><span>Generali</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#amministrazione"><span>Amministrazione</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#novita"><span>Novità</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#servizi"><span>Servizi</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#eventi"><span>Vivere il Comune </span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#appuntamento"><span>Prenotazione Appuntamento</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#assistenza"><span>Richiesta Assistenza</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#segnalazione"><span>Segnalazione Disservizio</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
              <div class="col-12 col-md-8 px-lg-2 py-lg-2">
                <div class="my-5">
                  <div class="it-list-wrapper it-page-sections-container">
                    <section id="generali" class="it-page-section">
                      <h2 id="generali" class="text-secondary">Generali</h2>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="sito/homepage.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Homepage
                                <em>La homepage del sito comunale</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">homepage.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/domande-frequenti.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Domande frequenti (FAQ)
                                <em>La pagina per la presentazione delle domande frequenti (FAQ)</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">domande-frequenti.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/risultati-ricerca.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Risultati di ricerca
                                <em>La pagina per la presentazione dei risultati di ricerca</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">risultati-ricerca.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/argomenti.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Argomenti
                                <em>La pagina con la lista di tutti gli argomenti a cui sono associati i contenuti del sito</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">argomenti.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/argomento.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Argomento
                                <em>La pagina di presentazione dei contenuti di uno specifico argomento</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">argomento.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="amministrazione" class="it-page-section">
                      <h2 class="text-secondary">Amministrazione</h2>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="sito/amministrazione.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Amministrazione
                                <em>La pagina lista di primo livello per la sezione Amministrazione</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">amministrazione.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/documenti-dati.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Documenti e dati
                                <em>La pagina principale della sottosezione Documenti e dati</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">documenti-dati.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="novita" class="it-page-section">
                      <h2 class="text-secondary">Novità</h2>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="sito/novita.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Novità
                                <em>La pagina lista di primo livello per la sezione Novità</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">novita.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/novita-dettaglio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Notizia, Comunicato, Avviso
                                <em>La pagina di dettaglio per le notizie, i comunicati e gli avvisi</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">novita-dettaglio.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="servizi" class="it-page-section">
                      <h2 class="text-secondary">Servizi</h2>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="sito/servizi.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Servizi
                                <em>La pagina lista di primo livello per la sezione Servizi</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">servizi.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/categoria-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Categoria di servizio - pagina di secondo livello
                                <em>La pagina dei servizi appartenenti a una specifica categoria</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">categoria-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/dettaglio-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Scheda servizio
                                <em>La pagina di dettaglio di un servizio specifico</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">servizio-dettaglio.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="eventi" class="it-page-section">
                      <h2 class="text-secondary">Vivere il Comune</h2>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="sito/eventi.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Eventi
                                <em>La pagina lista di primo livello per la sezione Vivere il Comune</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">eventi.html</span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/evento-dettaglio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Evento
                                <em>La pagina di dettaglio di un evento</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">evento-dettaglio.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="appuntamento" class="it-page-section">
                      <h2 id="appuntamento" class="text-secondary">Prenotazione Appuntamento</h2>
                      <p>Templates specifici per la funzionalità di prenotazione appuntamento</p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="sito/appuntamento-01-ufficio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 1 - Selezione ufficio (1 di 2)
                                <em>La schermata di selezione di un ufficio</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">appuntamento-01-ufficio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/appuntamento-01-ufficio-luogo.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 1 - Selezione ufficio (2 di 2)
                                <em>La schermata di selezione tra più sedi dello stesso ufficio</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">appuntamento-01-ufficio-luogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/appuntamento-02-data-orario.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 2 - Scelta appuntamento
                                <em>La schermata di selezione della data e ora dell'appuntamento</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">appuntamento-02-data-orario.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/appuntamento-03-dettagli.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 3 - Selezione del motivo e aggiunta dei dettagli
                                <em>La schermata di selezione del motivo dell'appuntamento e integrazione della richiesta con maggiori
                                  dettagli</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">appuntamento-03-dettagli.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/appuntamento-04-richiedente.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 4 - Aggiunta delle informazioni personali (utente non autenticato)
                                <em>La schermata di inserimento delle informazioni personali senza essersi autenticato tramite identità
                                  digitale</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">appuntamento-04-richiedente.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/appuntamento-04-richiedente-autenticato.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 4 - Aggiunta delle informazioni personali (utente autenticato)
                                <em>La schermata per verificare le informazioni personali provenienti da identità digitale</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">appuntamento-04-richiedente-autenticato.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/appuntamento-05-riepilogo.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 5 - Riepilogo delle informazioni inserite
                                <em>La schermata di riepilogo delle informazioni inserite, con la possibilità di confermarle o tornare
                                  indietro per effettuare una modifica</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">appuntamento-05-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/appuntamento-06-conferma.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 6 - Conferma dell'appuntamento
                                <em>La schermata con la conferma della prenotazione appuntamento e il riepilogo di data, ora, cosa serve e
                                  indirizzo dell'ufficio</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">appuntamento-06-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>            
                    <section id="assistenza" class="it-page-section">
                      <h2 class="text-secondary">Richiesta Assistenza</h2>
                      <p>Templates specifici per la funzionalità di richiesta assistenza</p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="sito/assistenza-01-dati.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 1 - Inserimento dei dati
                                <em>La schermata per inserire le informazioni personali del richiedente (nome, cognome, email) e i dettagli della richiesta (categoria di servizio, servizio specifico e ulteriori informazioni testuali)
                                </em>
                              </span>
                              <span class="it-multiple"><span class="metadata">assistenza-01-dati.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/assistenza-02-conferma.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 2 - Conferma invio richiesta
                                <em>La schermata con la conferma dell'avvenuta richiesta di assistenza</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">assistenza-02-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="segnalazione" class="it-page-section">
                      <h2 class="text-secondary">Segnalazione Disservizio</h2>
                      <p>Templates specifici per la funzionalità di segnalazione disservizio</p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="sito/segnalazione-dettaglio.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Scheda del servizio di segnalazione
                                <em>La scheda di presentazione del servizio di segnalazione con tutte le informazioni necessarie, l’accesso alla funzionalità e l’accesso alla lista di tutte le segnalazioni</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">segnalazione-dettaglio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/segnalazione-01-privacy.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 1 - Acconsentire al trattamento dei dati personali
                                <em>La schermata con l’informativa privacy e la possibilità di acconsentire al trattamento dei dati</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">segnalazione-01-privacy.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/segnalazione-02-dati.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 2 - Inserimento dei dati di segnalazione
                                <em>La schermata per l’inserimento di luogo, i dettagli del disservizio, gli allegati e i dati dell’autore della segnalazione</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">segnalazione-02-dati.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/segnalazione-03-riepilogo.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 3 - Riepilogo delle informazioni inserite
                                <em>La schermata di riepilogo delle informazioni inserite con la possibilità di confermare o tornare indietro per modificarle</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">segnalazione-03-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/segnalazione-04-conferma.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 4 - Conferma invio segnalazione
                                <em>segnalazione-04-conferma.html</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">segnalazione-04-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/segnalazione-area-personale.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Segnalazione disservizio - Area personale
                                <em>La schermata dell’area personale con la segnalazione disservizio appena effettuata tra le ultime attività</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">segnalazione-area-personale.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="sito/segnalazioni-elenco.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Elenco delle segnalazioni
                                <em>La schermata con l’elenco e la mappa con tutte le segnalazioni ricevute dal comune, filtrabili per tipologia</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">segnalazioni-elenco.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--
          <div id="tab2" class="tab-pane fade" role="tabpanel" aria-labelledby="tab2-tab">
            <div class="row">
              <div class="col-12 col-md-4 px-lg-2 py-lg-2 sticky-top">
                <nav class="navbar it-navscroll-wrapper navbar-expand-lg it-top-navscroll it-right-side" data-bs-navscroll>
                  <button class="custom-navbar-toggler" type="button" aria-controls="navbarNavB" aria-expanded="false"
                    aria-label="Toggle navigation" data-bs-toggle="navbarcollapsible" data-bs-target="#navbarNavB"><span
                      class="it-list"></span>Indice templates
                  </button>
                  <div class="navbar-collapsable" id="navbarNavB">
                    <div class="overlay"></div>
                    <div class="close-div visually-hidden">
                      <button class="btn close-menu" type="button"><span class="it-close"></span>close
                      </button>
                    </div>
                    <a class="it-back-button" href="#"><svg class="icon icon-sm icon-primary align-top">
                        <use href="/bootstrap-italia/dist/svg/sprites.svg#it-chevron-left"></use>
                      </svg><span>Back </span></a>
                    <div class="menu-wrapper">
                      <div class="link-list-wrapper">
                        <h3>INDICE</h3>
                        <ul class="link-list">
                          <li class="nav-item active">
                            <a class="nav-link active" href="#generali"><span>Generali</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#graduatoria"><span>Iscrizione a graduatoria</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#permessi"><span>Permessi e autorizzazioni</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#vantaggi"><span>Vantaggi economici</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#pagamenti-dovuti-1"><span>Pagamento dovuti - pagoPA</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#pagamenti-dovuti-2"><span>Pagamento dovuti - F24</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#servizi-pagamento"><span>Servizi a pagamento</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
              <div class="col-12 col-md-8 px-lg-2 py-lg-2">
                <div class="my-5">
                  <div class="it-list-wrapper it-page-sections-container">
                    <section id="generali" class="it-page-section">
                      <h2 class="text-secondary">Generali</h2>
                      <p>Template comuni a tutti i flussi di servizio</p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="/servizi/accesso-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Accedere al servizio
                                <em>La schermata di accesso al servizio tramite identità digitale (SPID, CIE)</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">accesso-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/consenso-privacy.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Acconsentire al trattamento dei dati personali
                                <em>La schermata con l’informativa privacy e la possibilità di acconsentire al trattamento dei dati</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">consenso-privacy.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="graduatoria" class="it-page-section">
                      <h2 class="text-secondary">Iscrizione a graduatoria</h2>
                      <p>Templates specifici per la tipologia di servizi che prevedono l'iscriziona ad una graduatoria</p>
                      <p><strong>Esempio realizzato: Iscrizione alla scuola dell'infanzia</strong></p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="/servizi/graduatoria-scheda-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Trovare informazioni sul servizio
                                <em>La scheda di presentazione del servizio di iscrizione a graduatoria con tutte le informazioni necessarie e l’accesso alla procedura di richiesta online</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">graduatoria-scheda-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/graduatoria-dati-personali.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 1 - Inserire/controllare i dati personali
                                <em>La schermata per inserire i dati personali, come il richiedente, il beneficiario e l’ISEE</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">graduatoria-dati-personali.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/graduatoria-dati-specifici.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 2: Inserire/controllare i dati specifici del servizio
                                <em>La schermata per inserire le preferenze per il servizio specifico a cui si vuole accedere tramite graduatoria</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">graduatoria-dati-specifici.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/graduatoria-riepilogo.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 3 - Riepilogo delle informazioni
                                <em>La schermata con il riepilogo delle informazioni inserite e la possibilità di confermare o tornare indietro per
                                modificare</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">graduatoria-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/graduatoria-conferma.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 4 - Ricevere conferma dal sistema
                                <em>La schermata con la conferma dell’avvenuto invio della richiesta con il codice di riferimento, informazioni sui prossimi
                                passi e la possibilità di scaricare il riepilogo</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">graduatoria-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/graduatoria-area-personale.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Area personale
                                <em>La schermata dell’area personale con l’avviso di pubblicazione della graduatoria</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">graduatoria-area-personale.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/graduatoria-messaggio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Messaggio in area personale
                                <em>La schermata del messaggio in area personale con l’avviso di pubblicazione della graduatoria e le indicazioni per il
                                perfezionamento della richiesta</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">graduatoria-messaggio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/graduatoria-perfezionamento.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Perfezionare la richiesta
                                <em>La schermata per selezionare ulteriori preferenze di servizio e concludere la richiesta</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">graduatoria-perfezionamento.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/graduatoria-pagamento.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Effettuare il pagamento
                                <em>La schermata per effettuare un eventuale pagamento per usufruire del servizio</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">graduatoria-pagamento.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="permessi" class="it-page-section">
                      <h2 class="text-secondary">Permessi e autorizzazioni</h2>
                      <p>Templates specifici per la tipologia di servizi che prevedono il rilascio di permessi e/o autorizzazioni</p>
                      <p><strong>Esempio realizzato: Permezzo ZTL</strong></p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="/servizi/permessi-scheda-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Trovare informazioni sul servizio
                                <em>La scheda di presentazione del servizio per richiedere permessi e autorizzazioni con tutte le informazioni necessarie e
                                l’accesso alla procedura di richiesta online</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">permessi-scheda-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/permessi-dati-personali.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 1 - Inserire / controllare i dati personali
                                <em>La schermata per inserire i dati personali necessari a inviare una richiesta per il permesso o l’autorizzazione</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">permessi-dati-personali.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/permessi-dati-specifici.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 2 - Inserire i dati specifici
                                <em>La schermata per inserire le preferenze per il permesso o l’autorizzazione che si vuole richiedere, come la tipologia e la validità</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">permessi-dati-specifici.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/permessi-riepilogo.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 3 - Riepilogo delle informazioni
                                <em>La schermata con il riepilogo delle informazioni inserite e la possibilità di confermare o tornare indietro per modificare</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">permessi-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/permessi-conferma.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 4 - Ricevere conferma dal sistema
                                <em>La schermata con la conferma dell’avvenuto invio della richiesta con il codice di riferimento, informazioni sui prossimi
                                passi e la possibilità di scaricare il riepilogo</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">permessi-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/permessi-area-personale.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Messaggio in area personale
                                <em>La schermata dell’area personale con il messaggio di risposta alla richiesta</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">permessi-area-personale.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/permessi-pagamento.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Effettuare il pagamento
                                <em>La schermata per effettuare un eventuale pagamento per ottenere il permesso o l’autorizzazione</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">permessi-pagamento.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="vantaggi" class="it-page-section">
                      <h2 class="text-secondary">Vantaggi economici</h2>
                      <p>Templates specifici per la tipologia di servizi che prevedono la richiesta di prestazioni economiche a supporto del reddito</p>
                      <p><strong>Esempio realizzato: Assegno di maternità</strong></p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="/servizi/vantaggi-scheda-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Trovare informazioni sul servizio
                                <em>La scheda di presentazione del servizio per richiedere un vantaggio economico con tutte le informazioni necessarie e l’accesso alla procedura di richiesta online</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">vantaggi-scheda-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/vantaggi-dati-personali.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 1 - Inserire / controllare i dati personali
                                <em>La schermata per inserire i dati personali necessari per richiedere un vantaggio economico, come il richiedente, il minore, l’ISEE e il conto bancario per l’accredito</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">vantaggi-dati-personali.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/vantaggi-riepilogo.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 2 - Riepilogo delle informazioni
                                <em>La schermata per inserire i dati personali necessari per richiedere un vantaggio economico, come il
                                  richiedente, il minore, l’ISEE e il conto bancario per l’accredito</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">vantaggi-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/vantaggi-conferma.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 3 - Ricevere conferma dal sistema
                                <em>La schermata con il riepilogo delle informazioni inserite e la possibilità di confermare o tornare indietro per
                                modificare</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">vantaggi-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/vantaggi-area-personale.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Messaggio in area personale
                                <em>La schermata dell’area personale con il messaggio di risposta alla richiesta</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">vantaggi-area-personale.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="pagamenti-dovuti-multa" class="it-page-section">
                      <h2 class="text-secondary">Pagamenti dovuti - Multa</h2>
                      <p>Templates specifici per la tipologia di servizi che prevedono il pagamento di importi dovuti tramite integrazione di pagoPA</p>
                      <p><strong>Esempio realizzato: Pagamento multa</strong></p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="/servizi/pagamenti-multa-scheda-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Trovare informazioni sul servizio
                                <em>La scheda di presentazione del servizio per pagare una multa con tutte le informazioni necessarie e l’accesso alla procedura online</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-multa-scheda-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-multa-dati-personali.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 1 - Inserire / controllare i dati personali
                                <em>La schermata per inserire i dati personali di chi sta pagando la multa</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-multa-dati-personali.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-multa-dati-specifci-fase1.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 2 - Inserire i dati specifici del servizio (fase 1)
                                <em>La schermata per inserire i dati personali di chi sta pagando la multa</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-multa-dati-specifci-fase1.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-multa-dati-specifci-fase2.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 3 - Inserire i dati specifici del servizio (fase 2)
                                <em>La schermata che presenta tutti i dettagli della multa dopo aver inserito il codice e il box dove indicare la data di ricezione avviso per il calcolo dell’importo</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-multa-dati-specifci-fase2.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-multa-dati-specifci-fase3.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Step 4 - Inserire i dati specifici del servizio (fase 3)
                                <em>La schermata che presenta l’importo dovuto dopo aver specificato la data di ricezione dell’avviso</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-multa-dati-specifci-fase3.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-multa-riepilogo.html" target="_blank" class="list-item"
                            data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Riepilogo delle informazioni
                                <em>La schermata con il riepilogo delle informazioni inserite e la possibilità di confermare o tornare indietro per modificare</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-multa-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-multa-pagamento.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Effettuare il pagamento
                                <em>La schermata per effettuare il pagamento della multa</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-multa-pagamento.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-multa-conferma.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Conferma dal sistema
                                <em>La schermata con la conferma dell’avvenuto pagamento della multa, il codice di riferimento e la possibilità di scaricare la ricevuta</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-multa-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-multa-area-personale.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Messaggio in area personale
                                <em>La schermata dell’area personale con il messaggio di conferma del pagamento della multa</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-multa-area-personale.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="pagamenti-dovuti-imu" class="it-page-section">
                      <h2 class="text-secondary">Pagamenti dovuti - IMU</h2>
                      <p>Templates specifici per la tipologia di servizi prevedono il pagamento di importi dovuti tramite F24</p>
                      <p><strong>Esempio realizzato: Pagamento IMU</strong></p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="/servizi/pagamenti-imu-scheda-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Trovare informazioni sul servizio
                                <em>La scheda di presentazione del servizio per pagare l’IMU con tutte le informazioni necessarie e l’accesso alla procedura online</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-imu-scheda-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-imu-dati-personali.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Inserire / controllare i dati personali
                                <em>La schermata per inserire i dati del contribuente, del coobbligato e dell’immobile</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-imu-dati-personali.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-imu-riepilogo.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Confermare il riepilogo delle informazioni
                                <em>La schermata con il riepilogo delle informazioni inserite e la possibilità di confermare o tornare indietro per modificare</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-imu-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-imu-preferenze.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Preferenze di pagamento
                                <em>La schermata per indicare eventuali acconti già versati e calcolare l’importo dovuto</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-imu-preferenze.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-imu-anteprima-F24.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Creazione del documento F24
                                <em>La schermata per controllare i dati per la creazione del documento F24</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-imu-anteprima-F24.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-imu-conferma.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Ricevere conferma dal sistema
                                <em>La schermata con la conferma dell’avvenuta creazione del documento F24, il codice di riferimento e la possibilità di scaricare il documento</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-imu-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/pagamenti-imu-area-personale.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Messaggio in area personale
                                <em>La schermata dell’area personale con il messaggio di conferma della creazione del documento F24</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">pagamenti-imu-area-personale.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                    <section id="sevizi-pagamento" class="it-page-section">
                      <h2 class="text-secondary">Servizi a pagamento</h2>
                      <p>Templates specifici per la tipologia di servizi il cui utilizzo da parte delle persone prevede il pagamento di un
                        importo</p>
                      <p><strong>Esempio realizzato: Mensa scolastica</strong></p>
                      <ul class="it-list mb-5">
                        <li>
                          <a href="/servizi/servizi-pagamento-scheda-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Trovare informazioni sul servizio
                                <em>La scheda di presentazione del servizio per richiedere un servizio a pagamento con tutte le informazioni necessarie e
                                l’accesso alla procedura di richiesta online</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">servizi-pagamento-scheda-servizio.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/servizi-pagamento-dati-personali.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Inserire / controllare i dati personali
                                <em>La schermata per inserire i dati personali necessari per richiedere un servizio a pagamento, come il richiedente, il beneficiario e l’ISEE</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">servizi-pagamento-dati-personali.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/servizi-pagamento-dati-specifici.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Inserire i dati specifici del servizio
                                <em>La schermata per inserire le preferenze specifiche per il servizio richiesto</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">servizi-pagamento-dati-specifici.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/servizi-pagamento-riepilogo.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Riepilogo delle informazioni
                                <em>La schermata con il riepilogo delle informazioni inserite e la possibilità di confermare o tornare indietro per modificare</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">servizi-pagamento-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/servizi-pagamento-riepilogo.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Riepilogo delle informazioni
                                <em>La schermata con il riepilogo delle informazioni inserite e la possibilità di confermare o tornare indietro
                                  per modificare</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">servizi-pagamento-riepilogo.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/servizi-pagamento-conferma.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Ricevere conferma dal sistema
                                <em>La schermata con la conferma dell’avvenuto invio della richiesta con il codice di riferimento, informazioni sui prossimi
                                passi e la possibilità di scaricare il riepilogo</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">servizi-pagamento-conferma.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/servizi-pagamento-area-personale.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Messaggio in area personale
                                <em>La schermata dell’area personale con il messaggio di risposta alla richiesta</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">servizi-pagamento-area-personale.html</span></span>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="/servizi/servizi-pagamento-pagamento.html" target="_blank" class="list-item" data-focus-mouse="false">
                            <div class="it-right-zone">
                              <span class="text">Effettuare il pagamento
                                <em>La schermata per effettuare il pagamento per usufruire del servizio</em>
                              </span>
                              <span class="it-multiple"><span class="metadata">servizi-pagamento-pagamento.html</span></span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      
    </div>
  </div>
</main>
{{/base/base-index }}