.info-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #baccd9;

  @include media-breakpoint-up(sm) {
    padding: 0.89rem
  }

  .name {
    @include font(16, 16);
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0.313rem;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0.278rem
    }
  }

  .info-item {
    @include font(14, 14);
    font-weight: 400;
  }

  .alert-box {
    display: flex;
    align-items: center;
    height: 3.875rem;
    margin-top: 1rem;

    @include media-breakpoint-up(sm) {
      height: 3.44rem;
      margin-top: 0.89rem;
    }

    .icon {
      height: 100%;
      min-width: 2.94rem;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border: 1px solid #baccd9;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-up(sm) {
        min-width: 2.61rem;
      }
    }

    .text {
      height: 100%;
      @include font(16, 16);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border: 1px solid #baccd9;
      border-left: none;
      display: flex;
      align-items: center;
      padding: 0.75rem 0.625rem;

      @include media-breakpoint-up(sm) {
        padding: 0.67rem 0.56rem;
      }
    }
  }
}
