<div class="cmp-contacts">
  <div class="card w-100">
    <div class="card-body">
      <h2 class="title-medium-2-semi-bold ">Contatta il comune</h2>
      <ul class="contact-list p-0">
        {{#if faq}}
        <li><a class="list-item" href="#">
            <svg class="icon icon-primary icon-sm">
              <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-help-circle"></use>
            </svg><span>Leggi le domande frequenti</span></a></li>
        {{/if}}
        {{#if assistance}}
        <li><a class="list-item" href="#">
            <svg class="icon icon-primary icon-sm">
              <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-mail"></use>
            </svg><span>Richiedi assistenza</span></a></li>
        {{/if}}
        <li><a class="list-item" href="#">
            <svg class="icon icon-primary icon-sm">
              <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-hearing"></use>
            </svg><span>Chiama il numero verde 05 0505</span></a></li>
        {{#if appointment}}
        <li><a class="list-item" href="#">
            <svg class="icon icon-primary icon-sm">
              <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-calendar"></use>
            </svg><span>Prenota appuntamento</span></a></li>
        {{/if}}
      </ul>

      {{#if city-problems}}
        <h2 class="title-medium-2-semi-bold mt-4">Problemi in città</h2>
        <ul class="contact-list p-0">
          <li><a class="list-item" href="#">
              <svg class="icon icon-primary icon-sm">
                <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-map-marker-circle"></use>
              </svg><span>Segnala disservizio </span></a></li>
        </ul>
      {{/if}}

    </div>
  </div>
</div>
