<div class="form-group cmp-input-search-button {{marginClass}}">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <svg class="icon icon-md">
          <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-search"></use>
        </svg>
      </div>
    </div>
    <label for="input-group-1" class="active">Con Etichetta</label>
    <input type="search" class="form-control" id="input-group-1" name="input-group-1" placeholder="{{placeholder}}"
      data-focus-mouse="false">
  </div>
  <button type="button" data-bs-toggle="modal" data-bs-target="#" class="btn btn-primary">
    <span class="">Cerca</span>
  </button>
</div>
