.cmp-input-search-button.form-group {
    display: flex;
    align-items: center;
    gap: um(30px);

    .btn{
      @include media-breakpoint-up(md){
        padding: um(12px) um(70px);
      }
    }

    .input-group-prepend {
      svg {
        fill: get-color(primary, main);

        @include media-breakpoint-down(sm) {
          width: um(16px);
          height: um(16px);
        }
      }
    }

    label {
      opacity: 0;
      visibility: hidden;
    }


    input {
      font-size: um(16px);

      @include media-breakpoint-up(md) {
        height: um(60px);
        font-size: um(40px);
      }

      &::placeholder {
        font-weight: normal;
        color:get-color(black,main);
        @include media-breakpoint-up(md){
          font-weight: 700;
          font-size: um(40px);
          color: get-color(light,grey);
        }
      }
    }
  }

