<div class="cmp-confirmed-request">
  <div class="card-wrapper">
      <div class="card">
        <div class="card-header p-0 border-0">
          <h2 class="title-medium-2">{{sTitle}}</h2>
        </div>
        <div class="card-body p-0">
          <p class="mb-2">Grazie abbiamo ricevuto la tua richiesta</p>
          <div class="categoryicon-top">
            <svg class="icon icon-sm icon-success">
              <use href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-check-circle"></use>
            </svg>
            <span class="title-xxlarge">Richiesta<br>AN4059281</span>
          </div>

        </div>
      </div>
    </div>

