@import "comuni";
@import "base/color";
@import "base/functions";
@import "base/mixins";
@import "base/reset";
@import "base/fonts";
@import "headings/all";
@import "base/global";
@import "../../node_modules/bootstrap-italia/src/scss/utilities/colors_vars.scss";

@import "general/splide";
@import "general/public-templates";

//components
// @import "../components/documents-alert/documents-alert";
@import "../components/cmp-header/cmp-header";
@import "../components/cmp-footer/cmp-footer";
@import "../components/cmp-breadcrumbs/cmp-breadcrumbs";
@import "../components/cmp-heading/cmp-heading";
@import "../components/cmp-card/cmp-card";
@import "../components/cmp-info-button-card/cmp-info-button-card";
@import "../components/cmp-alert-box/cmp-alert-box";
@import "../components/cmp-modal/cmp-modal";
@import "../components/cmp-modal/cmp-modal-header-search";
@import "../components/cmp-modal/modal-categories";
@import "../components/cmp-modal/modal-address";
@import "../components/cmp-card-radio/cmp-card-radio";
@import "../components/cmp-nav-steps/cmp-nav-steps";
@import "../components/cmp-info-progress/cmp-info-progress";
@import "../components/cmp-icon-card/cmp-icon-card";
@import "../components/cmp-info-summary/cmp-info-summary";
@import "../components/cmp-ul-list/cmp-ul-list";
@import "../components/cmp-card-img/cmp-card-img";
@import "../components/cmp-navscroll/cmp-navscroll";
@import "../components/cmp-card-latest-messages/cmp-card-latest-message";
@import "../components/cmp-icon-link/cmp-icon-link";

@import "../components/cmp-contacts/cmp-contacts";
@import "../components/cmp-rating/cmp-rating";
@import "../components/cmp-carousel/cmp-carousel";
@import "../components/cmp-disclaimer/cmp-disclaimer";

@import "../components/cmp-timeline/cmp-timeline";

@import "../components/cmp-button/cmp-button";
@import "../components/cmp-tag/cmp-tag";
@import "../components/cmp-input/input";
@import "../components/cmp-checkbox/checkbox";
@import "../components/cmp-text-button/cmp-text-button";
@import "../components/cmp-icon-list/cmp-icon-list";
@import "../components/cmp-select/select";
@import "../components/cmp-upload/cmp-upload";
@import "../components/cmp-nav-tab/cmp-nav-tab";
@import "../components/cmp-accordion/cmp-accordion";
@import "../components/cmp-filter/cmp-filter";
@import "../components/cmp-input-search/input-search";
@import "../components/cmp-dropdown/dropdown";
@import "../components/cmp-input-autocomplete/input-autocomplete";
@import "../components/cmp-text-area/text.area";
@import "../components/cmp-map/cmp-map";
@import "../components/cmp-hero/cmp-hero";
@import "../components/cmp-hero-img/cmp-hero-img";
@import "../components/cmp-list-card-img/cmp-list-card-img";


@import "../components/cmp-info-radio/cmp-info-radio";
@import "../components/cmp-input-search-button/cmp-input-search-button";
@import "../components/cmp-category-list/category-list";
@import "../components/cmp-input-calendar/input-calendar";
@import "../components/cmp-toggle/toggle";
@import "../components/cmp-info-checkbox/cmp-info-checkbox";
@import "../components/cmp-callout/callout";
@import "../components/cmp-modal/cmp-modal-scrollable";
@import "../components/cmp-card-radio-list/cmp-card-radio-list";
@import "../components/cmp-tot/cmp-tot";

@import "../components/cmp-card-teaser/cmp-card-teaser";
@import "general/print";
