.category-list {
  &__title {
    @include font(16, 16);
    color:get-color(light,grey);
    font-family: Titillium Web;
    font-weight: 600;
    line-height: 1.5;
  }
  &__list{
    @include font(16, 16);
    font-family: Titillium Web;
    font-weight: 600;
    line-height: 1.5;
  }
}

.scroll-filter-wrapper {
  max-height: 111rem;
  overflow-y: auto;
}
