.cmp-carousel {
  &__title {
    color: get-color(light, grey);
    @include font(24, 32);
    font-weight: 600;
    line-height: 1.25;
  }

  .card {
    &::after {
      margin: 0;
    }

    .card-body {
      padding: 1rem;
    }

    &.card-bg {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid get-color(light-grey, grey);
    padding: 1rem 1rem 0.75rem 1rem;

    .icon {
      fill: get-color(light, grey);
    }

    &-title {
      color: get-color(light, grey);
      @include font(20, 24);
      font-weight: 600;
      line-height: 1.25;
    }
  }

  .card-body {
    .link-list-wrapper ul li a span {
      @include font(16, 16);
      font-weight: 400;
      line-height: 1.5;
    }

    .single-card {
      height: 300px;
    }

    .link-list-wrapper ul li a span.show-more {
      margin-top: 1rem;
      @include font(16, 16);
      font-weight: 700;
      line-height: 1.5;
    }
  }

  .link-list li a svg {
    margin-left: 1rem;
  }

  &.carousel-4-card {
    .splide__pagination {
      li {
        &:not([role="presentation"]) {
          display: none;
        }
      }
    }

    .splide__arrows {
      display: none;
    }
  }

  .hr-shadow {
    padding: 16px 0 40px 0;
    box-shadow: 0 1rem 1.1rem -1.25rem rgb(0 0 0 / 20%);
  }
}

.it-carousel-wrapper .splide__pagination.page {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0.25rem;
}