.iscrizioni-header {

  .drop-shadow {
    box-shadow: 0 0.9375rem 1.325rem -0.9rem rgba(0,0,0,0.1);
  }

  .small-title {
    @include font(20, 20);
    font-weight: 600;
    line-height: 1.55;
  }

  .step-wrapper {
    @include font(24, 24);
    font-weight: 700;
    line-height: 1.25;
  }

  .step-title {
    @include font(18, 18);
    font-weight: 600;
    line-height: 2;
  }

  .step {
    @include font(14, 14);
    font-weight: 600;
    line-height: 1.5;
  }

  .header-text {
    @include font(16, 16);
    font-weight: 400;
    line-height: 1.5;
  }
}
