.cmp-modal {
  .btn-close{
    background: rgba(0,0,0,0) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' fill='hsl%280deg, 0%, 0%%29'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
  &__success-message {
    font-size: um(18px);
    font-weight: 600;
    line-height: um(28px);
    letter-spacing: 0px;
    text-align: left;
    margin-left: um(10px);
  }

  .modal .modal-dialog .modal-content .modal-header h4{
    font-size: um(24px);
    font-weight: 600;
    line-height: um(28px);

    @include media-breakpoint-up(sm) {
      font-size: um(28px);
      line-height: um(40px);
    }
    &.title-mini{
      @include media-breakpoint-up(sm) {
        font-size: um(24px);
        line-height: um(40px);
      }
    }
  }

  .modal.it-dialog-scrollable .modal-dialog .modal-content {
    height: calc(100vh - 130px);
  }

  .modal.it-dialog-scrollable .modal-dialog .modal-content .modal-body {
    padding-top: um(24px);
    padding-bottom: um(24px);
  }

  .modal .modal-dialog .modal-content .modal-body {
    padding-bottom: um(24px);
    color: get-color(black, main);
  }

  // .modal .modal-dialog .modal-content .modal-body p {
  //   font-size: um(16px);

  //   @include media-breakpoint-up(sm) {
  //     font-size: um(18px);
  //   }
  // }

  .modal .modal-dialog .modal-content .modal-header h5 {
    text-transform: capitalize;
  }

  .modal {
    height: auto;

    @include media-breakpoint-up(sm) {
      height: 100%;
    }

    .modal-dialog {
      margin: um(48px) um(24px);

      @include media-breakpoint-up(sm) {
        margin: auto;
        max-width: um(700px);
      }
    }

    .modal-dialog.small {
      @include media-breakpoint-up(sm) {
        margin: auto;
        max-width: um(350px);
      }
    }
  }

  &__header {
    flex-direction: column;

    &-content {
      margin: um(25px) 0;
    }

    &-title {
      width: 100%;
      margin-top: um(40px);


      @include media-breakpoint-up(sm) {
        font-size: um(24px);
      }
    }

    &-info {
      align-self: start;
      font-size: um(14px);
      font-weight: 400;
      line-height: um(18px);

      @include media-breakpoint-up(sm) {
        font-size: um(16px);
      }
    }

    &-link {
      margin-top: um(20px);
      font-size: um(16px);
      height: um(24px);
      width: 100%;
    }
  }

  .modal-footer.shadow {
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  }
}

.upload[type="file"] + label {
  max-width: 100%;
}
