.cmp-modal-scrollable {

  .modal .modal-dialog {
    @include media-breakpoint-down(md){
    margin: um(24px);

    }
}
  .btn-close {
    background: rgba(0, 0, 0, 0)
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' fill='hsl%280deg, 0%, 0%%29'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
      center/1em auto no-repeat;
  }

  &__header {
    margin: um(24px) 0;
    &-title {
      font-size: um(24px);
      font-weight: 600;
      line-height: um(28px);
      @include media-breakpoint-up(md) {
        font-size: um(28px);
        line-height: um(40px);
      }
    }
    &-info {
      font-size: um(14px);
      font-weight: 400;
      line-height: um(18px);

      @include media-breakpoint-up(md) {
        font-size: um(16px);
        line-height: um(20px);
      }
    }
  }
}
