.modal-address {

  input[type=text]{
    font-weight: 600;
    font-size: 1rem;

    &#residence{
      background-color: get-color(lighten,grey);
    }

    &::placeholder{
      color: get-color(black,main);
    }
  }

  .toggles label input[type=checkbox]+.lever {
    width: um(34.86px);
    height: um(12px);
  }

  .toggles label input[type=checkbox]+.lever:before,
  .toggles label input[type=checkbox]+.lever:after {
    width: um(20px);
    height: um(20px);
    top: -4px;
  }

  .toggles label input[type=checkbox]+.lever:after {
    background-size: um(8px);
  }

  .toggles label input[type=checkbox]+.lever {

    vertical-align: unset;
    margin: unset;
   float: unset;
  }
}