<div class="it-example-modal">
	<div class="modal fade" tabindex="-1" role="dialog" id="modal-disservizio" aria-labelledby="modal2Title">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title title-small-semi-bold" id="modal2Title">Buca in via Solferino</h2>
					<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi finestra modale">
						<svg class="icon">
							<use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
						</svg>
					</button>
				</div>
				<div class="modal-body text-black">
					{{> @partial-block}}
				</div>
				<div class="modal-footer">
					<button class="btn {{#if outlineBtnStyle}}btn-outline-primary w-100{{else}}btn-primary{{/if}} btn-sm" type="button" data-bs-dismiss="modal"
						aria-label="Chiudi finestra modale">Chiudi</button>
				</div>
			</div>
		</div>
	</div>
</div>