{{#>cmp-modal/cmp-modal-structure id="modal-vehicle" modalTitle="Documenti" buttons=true modalInfo="I campi
contraddistinti dal simbolo asterisco (*) sono obbligatori"}}
<div>
  <form method="post" action="" enctype="multipart/form-data" id="documents-form">

    {{>partials/cmp-upload/cmp-upload inputId="license-id" label="Patente di guida" fronteRetro="true" success="true" document="mario_rossi-patente.pdf"}}
  </form>
</div>
{{/cmp-modal/cmp-modal-structure}}