{{#>cmp-modal/cmp-modal-structure-4 outlineBtnStyle=true}}
  <div class="border-bottom border-light">
    <h3 class="title-xsmall border-light pt-2">Titolo</h3>
    <p class="subtitle-small pb-2 ">Buca in via Solferino</p>
  </div>

  <div class="border-bottom border-light">
    <h3 class="title-xsmall border-light pt-2">Tipologia di segnalazione</h3>
    <p class="subtitle-small pb-2">Verde pubblico e arredo urbano</p>
  </div>

  <div class="border-bottom border-light">
    <h3 class="title-xsmall border-light pt-2">Indirizzo</h3>
    <p class="subtitle-small pb-2">Via Solferino - 50100 Firenze</p>
  </div>

  <div class="border-bottom border-light">
    <h3 class="title-xsmall border-light pt-2">Dettaglio</h3>
    <p class="subtitle-small pb-2">Sulla strada cՏ una buca piuttosto profonda che andrebbe  sistemata con urgenza</p>
  </div>

  <h3 class="title-xsmall border-light pt-2">Immagini</h3>  
  <img src="./assets/images/modal-disservizio-placeholder.png" class="w-100 mb-2" alt="">

  

{{/cmp-modal/cmp-modal-structure-4}}