{{#>cmp-modal/cmp-modal-structure id="modal-tributes" modalTitle="Immobile" buttons=true modalInfo="I campi
contraddistinti dal simbolo asterisco (*) sono obbligatori"}}
<div>
  <form action="" id="contacts-form" class="text-black">

    {{>partials/select/select class="mt-30 mb-4" id="property-location" label-class="mb-3" label-text="Ubicazione immobile" text="Inserire l’informazione per proseguire con la richiesta" text-class="mb-30" placeholder="Seleziona opzione" no-bg=true required=true select-option-list=property-location}}
    {{>partials/select/select class="mt-30" id="property-type" label-class="mb-3" label-text="Tipologia dell’immobile" text="Inserire l’informazione per proseguire con la richiesta" placeholder="Seleziona opzione" no-bg=true required=true select-option-list=property-type}}
    {{>partials/input/input id="accountholder" type="number" label="Rendita catastale" text="Inserire l’informazione per
    proseguire con la richiesta" required=true}}
    {{>partials/input/input id="vehicle-type" type="number" label="Aliquota IMU" text="Inserire l’informazione per
    proseguire con la richiesta" required=true}}
    {{>partials/input/input id="vehicle-model" type="text" label="Aliquota acconto / base IMU" text="Inserire
    l’informazione per proseguire con la richiesta" required=true}}
    {{>partials/input/input id="vehicle-plate" type="number" label="Quota di possesso" text="Inserire l’informazione per
    proseguire con la richiesta" required=true}}
    {{>partials/input/input id="vehicle-use" type="number" label="Mesi di possesso" text="Inserire l’informazione per
    proseguire con la richiesta" required=true}}
    {{>partials/input/input id="concession" type="text" label="Immobile storico / inagibile" text="Inserire
    l’informazione per proseguire con la richiesta" required=true}}
    {{>partials/input/input id="vehicle-registration" type="text" label="Ulteriori contitolari" text="Inserire
    l’informazione per proseguire con la richiesta" required=true}}
    {{>partials/input/input id="vehicle-registration" type="text" label="Pertinenze" text="Inserire l’informazione per
    proseguire con la richiesta" required=true}}
  </form>
</div>
{{/cmp-modal/cmp-modal-structure}}