{{#>cmp-modal/cmp-modal-structure-3 id="modal-message" date="15/03/2022" card-title="Iscrizione alla scuola
dell’infanzia" subtitle="Graduatoria 2022/23" description="La graduatoria per l’iscrizione alla Scuola dell’Infanzia,
a.a. 2022/2023 è stata pubblicata. Consulta la graduatoria online e perfeziona la pratica." link="Graduatoria Scuola
dell'infanzia per l'anno scolastico 2022/23" }}

<div>
  {{#if subtitle}}
  <h5 class="subtitle-large">{{subtitle}}</h5>
  {{/if}}
  {{#if description}}
  <p class="text-paragraph mb-4 fw-normal">{{description}}</p>
  {{/if}}
  {{#if link}}
  <a href="#" class="text-paragraph t-primary text-decoration-underline">{{link}}</a>
  {{/if}}
</div>

{{/cmp-modal/cmp-modal-structure-3}}
