{{#>cmp-modal/cmp-modal-structure id="modal-minor" modalTitle="Minore" buttons=true modalInfo="I campi
contraddistinti dal simbolo asterisco sono obbligatori"}}
<div>
  <form action="" id="documents-form" class="text-black" enctype="multipart/form-data">
    <div class="mb-4">
      {{>partials/input/input id="name" type="text" label="Nome"  text="Inserisci nome" required=true}}
    </div>

    <div class="mb-4">
      {{>partials/input/input id="surname" type="text" label="Cognome" text="Inserisci cognome" required=true }}
    </div>

    <div class="mb-4">
      {{>partials/input/input id="fiscal-code" type="text" label="Codice fiscale" text="Inserisci codice fiscale" required=true }}
    </div>

    <div class="mb-4">
      {{>partials/input/input id="birth-date" type="text" label="Data di nascita" text="Inserisci data di nascita gg/mm/aaaa" required=true }}
    </div>

  </form>
</div>
{{/cmp-modal/cmp-modal-structure}}