{{#>cmp-modal/cmp-modal-structure id="modal-vehicle-data" modalTitle="Veicolo" buttons=true modalInfo="I campi
contraddistinti dal
simbolo asterisco (*) sono obbligatori"}}
<div>
  <form action="" id="contacts-form" class="text-black">
    {{>partials/input/input id="accountholder" type="text" label="Intestatario" text="Campo non modificabile"
    required=true disabled=true placeholder="Mario Rossi"}}
    {{>partials/input/input id="vehicle-type" type="text" label="Tipo" text="Campo non modificabile" required=true
    disabled=true placeholder="Auto"}}
    {{>partials/input/input id="vehicle-model" type="text" label="Modello" text="Campo non modificabile" required=true
    disabled=true placeholder="Mini Countryman F60"}}
    {{>partials/input/input id="vehicle-plate" type="text" label="Targa" text="Campo non modificabile" required=true
    disabled=true placeholder="CK 345 HB"}}
    {{>partials/input/input id="vehicle-use" type="text" label="Relazione" text="Campo non modificabile" required=true
    disabled=true placeholder="Uso esclusivo"}}
    {{>partials/input/input id="concession" type="text" label="dichiarazione_concessione.pdf" text="Campo non
    modificabile" required=true disabled=true placeholder="CK 345 HB"}}
    {{>partials/input/input id="vehicle-registration" type="text" label="libretto_di_circolazione.pdf" text="Campo non
    modificabile" required=true disabled=true placeholder="CK 345 HB"}}
  </form>
</div>
{{/cmp-modal/cmp-modal-structure}}