<div class="map-box">
  <img src="../assets/images/map-placeholder.svg" alt="Mappa" class="w-100">
  <button type="button" class="pin" data-bs-toggle="modal" data-bs-target="#modal-disservizio" aria-label="apre modale disservizio">
    <img src="../assets/images/map-pin.svg" alt="Pin di geolocalizzazione" title="Pin di geolocalizzazione">
  </button>
</div>