.cmp-card {

  &__second-title{
    margin: um(17px) 0;
  }
  margin-bottom: um(40px);
  @include media-breakpoint-up(md){
  margin-bottom: um(30px);

  }

  .card {
    &:after {
      content: unset;
    }

    &.has-bkg-grey {
      padding: um(24px);
      background-color: get-color(card, grey);
      box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.34);

      @include media-breakpoint-up(md) {
        padding: um(32px);
      }

      &.p-big{
        @include media-breakpoint-up(md) {
          padding: um(48px);
        }
      }

      &.contacts {
        padding: um(40px) um(16px);
      }

      .icon-required:after {
        content: "*";
      }
    }

    &.card-summary-grey {
      @include media-breakpoint-up(lg) {
        padding: um(48px);
      }
    }

    ul {
      list-style: inherit;
    }
  }
}


