<div class="cmp-bottom-nav">
  <nav class="bottom-nav">
    <ul>
      <li>
        <a href="#">
          <svg class="icon"><use href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-pa"></use></svg>
          <span class="bottom-nav-label">Scrivania</span>
        </a>
      </li>
      <li>
        <a href="#" class="active">
          <div class="badge-wrapper"><span class="bottom-nav-badge">2</span></div>
          <svg class="icon"><use href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-mail"></use></svg>
          <span class="bottom-nav-label">Messaggi<span class="visually-hidden">da leggere</span></span>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="badge-wrapper"><span class="bottom-nav-badge">42</span></div>
          <svg class="icon"><use href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-files"></use></svg>
          <span class="bottom-nav-label">Attività<span class="visually-hidden">da esaminare</span></span>
        </a>
      </li>
      <li>
        <a href="#">
          <svg class="icon"><use href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-settings"></use></svg>
          <span class="bottom-nav-label">Servizi</span>
        </a>
      </li>
      <li>
        <a href="#">
          <svg class="icon"><use href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-user"></use></svg>
          <span class="bottom-nav-label">Profilo</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
