.date {
  &-regular {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  &-xsmall {
    @include font(14, 16);
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0em;
    text-align: left;
  }
}