.subtitle {
  &-large {
    @include font(28, 32);
    font-weight: 700;
    line-height: 1.25;
  }

  &-medium {
    @include font(24, 28);
    font-weight: 600;
    line-height: 1.25;
  }

  &-small {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;

    &_semi-bold {
      font-weight: 600;
    }
  }
}