.subtitle {
  &-large {
    @include font(28, 32);
    font-weight: 700;
    line-height: 1.1;

    @include media-breakpoint-up(md) {
      line-height: 1.2;
    }
  }

  &-medium {
    @include font(24, 28);
    font-weight: 600;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
      line-height: 1.5;
    }
  }

  &-small {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;

    &_semi-bold {
      font-weight: 600;
    }
  }
}