.title {
  &-xxxlarge {
    @include font(40, 48);
    font-weight: 700;
    line-height: 1.25;
  }

  &-xxlarge {
    @include font(32, 40);
    font-weight: 700;
    line-height: 1.25;
  }

  &-xxlarge-regular {
    @include font(32, 40);
    font-weight: 400;
    line-height: 1.25;
  }

  &-xlarge {
    @include font(28, 32);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0px;
    text-align: left;

    &-card{
      @include font(28, 28);
      font-weight: 700;
      line-height: 1.25;
    }
  }

  &-large {
    @include font(24, 24);
    font-weight: 700;
    line-height: 1.25;
  }

  &-large-semi-bold {
    @include font(24, 28);
    font-weight: 600;
    line-height: 1.25;
  }

  &-medium-2 {
    @include font(20, 24);
    font-weight: 400;
    line-height: 1.25;
  }

  &-medium-2-bold {
    @include font(20, 24);
    font-weight: 700;
    line-height: 1.25;
  }

  &-medium-2-semi-bold {
    @include font(20, 24);
    font-weight: 600;
    line-height: 1.25;

    @include media-breakpoint-up(md) {
      line-height: 1.25;
    }
  }

  &-medium-bold {
    @include font(18, 18);
    font-weight: 700;
    line-height: 1.25;
  }

  &-medium-semi-bold {
    @include font(18, 18);
    font-weight: 600;
    line-height: 1.25;
  }

  &-medium {
    @include font(18, 18);
    font-weight: 400;
    line-height: 1.5;
  }

  &-small {
    @include font(16, 16);
    font-weight: 700;
    line-height: 1.5;
  }

  &-small-semi-bold {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
  }

  &-small-semi-bold-big {
    @include font(16, 24);
    font-weight: 700;
    line-height: 1.5;
  }

  &-small-semi-bold-medium {
    @include font(16, 20);
    font-weight: 700;
    line-height: 1.5;
  }

  &-xsmall-bold {
    @include font(14, 14);
    font-weight: 700;
    line-height: 1.5;
  }

  &-xsmall-semi-bold {
    @include font(14, 14);
    font-weight: 600;
    line-height: 1.5;
  }

  &-xsmall {
    @include font(14, 14);
    font-weight: 400;
    line-height: 1.5;
  }

  &-xsmall-regular {
    @include font(14, 14);
    font-weight: 400;
    line-height: 1.5;
  }
}
