<footer class="it-footer" id="footer">
  <div class="it-footer-main">
    <div class="container">
      <div class="row">
        <div class="col-12 footer-items-wrapper logo-wrapper">
          <img class="ue-logo" src="../assets/images/logo-eu-inverted.svg" alt="logo Unione Europea">
          <div class="it-brand-wrapper">
            <a href="#">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-pa"></use>
              </svg>
              <div class="it-brand-text">
                <h2 class="no_toc">Nome del Comune</h2>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 footer-items-wrapper">
          <h3 class="footer-heading-title">Amministrazione</h3>
          <ul class="footer-list">
            <li>
              <a href="#">Organi di governo</a>
            </li>
            <li>
              <a href="#">Aree amministrative</a>
            </li>
            <li>
              <a href="#">Uffici</a>
            </li>
            <li>
              <a href="#">Enti e fondazioni</a>
            </li>
            <li>
              <a href="#">Politici</a>
            </li>
            <li>
              <a href="#">Personale amministrativo</a>
            </li>
            <li>
              <a href="#">Documenti e dati</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 footer-items-wrapper">
          <h3 class="footer-heading-title">Categorie di servizio</h3>
          <div class="row">
            <div class="col-md-6">
              <ul class="footer-list">
                <li>
                  <a href="#">Anagrafe e stato civile</a>
                </li>
                <li>
                  <a href="#">Cultura e tempo libero</a>
                </li>
                <li>
                  <a href="#">Vita lavorativa</a>
                </li>
                <li>
                  <a href="#">Imprese e commercio</a>
                </li>
                <li>
                  <a href="#">Appalti pubblici</a>
                </li>
                <li>
                  <a href="#">Catasto e urbanistica</a>
                </li>
                <li>
                  <a href="#">Turismo</a>
                </li>
                <li>
                  <a href="#">Mobilità e trasporti</a>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="footer-list">
                <li>
                  <a href="#">Educazione e formazione</a>
                </li>
                <li>
                  <a href="#">Giustizia e sicurezza pubblica</a>
                </li>
                <li>
                  <a href="#">Tributi, finanze e contravvenzioni</a>
                </li>
                <li>
                  <a href="#">Ambiente</a>
                </li>
                <li>
                  <a href="#">Salute, benessere e assistenza</a>
                </li>
                <li>
                  <a href="#">Autorizzazioni</a>
                </li>
                <li>
                  <a href="#">Agricoltura e pesca</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 footer-items-wrapper">
          <h3 class="footer-heading-title">Novità</h3>
          <ul class="footer-list">
            <li>
              <a href="#">Notizie</a>
            </li>
            <li>
              <a href="#">Comunicati</a>
            </li>
            <li>
              <a href="#">Avvisi</a>
            </li>
          </ul>
          <h3 class="footer-heading-title">Vivere il comune</h3>
          <ul class="footer-list">
            <li>
              <a href="#">Luoghi</a>
            </li>
            <li>
              <a href="#">Eventi</a>
            </li>
          </ul>
        </div>
        <div class="col-md-9 mt-md-4 footer-items-wrapper">
          <h3 class="footer-heading-title">Contatti</h3>
          <div class="row">
            <div class="col-md-4">
              <p class="footer-info">Comune di Nome Comune<br>
                Via Roma 123 - 00100 Comune<br>
                Codice fiscale / P. IVA: 00123456789<br><br>
                <a href="#">Ufficio Relazioni con il Pubblico</a><br>
                Numero verde: 800 016 123<br>
                SMS e WhatsApp: +39 320 1234567<br>
                Posta Elettronica Certificata<br>
                Centralino unico: 012 3456
              </p>
            </div>
            <div class="col-md-4">
              <ul class="footer-list">
                <li>
                  <a href="#" data-element="faq">Leggi le FAQ</a>
                </li>
                <li>
                  <a href="#">Prenotazione appuntamento</a>
                </li>
                <li>
                  <a href="#" data-element="report-inefficiency">Segnalazione disservizio</a>
                </li>
                <li>
                  <a href="#">Richiesta d'assistenza</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="footer-list">
                <li>
                  <a href="#">Amministrazione trasparente</a>
                </li>
                <li>
                  <a href="#" data-element="privacy-policy-link">Informativa privacy</a>
                </li>
                <li>
                  <a href="#">Note legali</a>
                </li>
                <li>
                  <a href="#" data-element="accessibility-link">Dichiarazione di accessibilità</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-md-4 footer-items-wrapper">
          <h3 class="footer-heading-title">Seguici su</h3>
          <ul class="list-inline text-start social">
            <li class="list-inline-item">
              <a class="p-1 text-white" href="#" target="_blank">
                <svg class="icon icon-sm icon-white align-top">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-twitter"></use>
                </svg>
                <span class="visually-hidden">Twitter</span></a>
            </li>
            <li class="list-inline-item">
              <a class="p-1 text-white" href="#" target="_blank">
                <svg class="icon icon-sm icon-white align-top">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-facebook"></use>
                </svg>
                <span class="visually-hidden">Facebook</span></a>
            </li>
            <li class="list-inline-item">
              <a class="p-1 text-white" href="#" target="_blank">
                <svg class="icon icon-sm icon-white align-top">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-youtube"></use>
                </svg>
                <span class="visually-hidden">YouTube</span></a>
            </li>
            <li class="list-inline-item">
              <a class="p-1 text-white" href="#" target="_blank">
                <svg class="icon icon-sm icon-white align-top">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-telegram"></use>
                </svg>
                <span class="visually-hidden">Telegram</span></a>
            </li>
            <li class="list-inline-item">
              <a class="p-1 text-white" href="#" target="_blank">
                <svg class="icon icon-sm icon-white align-top">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-whatsapp"></use>
                </svg>
                <span class="visually-hidden">Whatsapp</span></a>
            </li>
            <li class="list-inline-item">
              <a class="p-1 text-white" href="#" target="_blank">
                <svg class="icon icon-sm icon-white align-top">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-rss"></use>
                </svg>
                <span class="visually-hidden">RSS</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 footer-items-wrapper">
          <div class="footer-bottom">
            <a href="#">Media policy</a>
          <a href="#">Mappa del sito</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>