<div class="cmp-hero">
  <section class="it-hero-wrapper bg-white align-items-start">
    <div class="it-hero-text-wrapper {{wrapper-class}}">
      <h1 class="text-black hero-title mb-2">{{hero-title}}</h1>
      <p class="text-black titillium hero-text">{{{hero-text}}}</p>
    </div>
  </section>
</div>
