.cmp-info-progress {
  margin-bottom: um(40px);
  
  .info-progress-body {
    border-bottom: 2px solid transparent;
  }

  .info-progress-wrapper {
    &:first-child {
      border-left: 1px solid #E7EAED;
    }

    &:not(:last-child) {
      border-right: 1px solid #E7EAED;
    }
  }

  .completed{
    .title-medium {
      font-weight: 700;
      color: get-color(primary, main);
    }
  }

  .step-active {
    .title-medium {
      font-weight: 700;
      color: get-color(primary, main);
    }

      .info-progress-body {
        border-bottom: 2px solid get-color(primary, main);;
      }
  }

  .iscrizioni-header {
    .drop-shadow {
      box-shadow: 0 0.9375rem 1.325rem -0.9rem rgba(0, 0, 0, 0.1);
    }

    .step-wrapper {
      font-size: um(24px);
      font-weight: 700;
      line-height: 30px;
    }

    .step-title {
      font-size: um(18px);
      font-weight: 600;
      line-height: 36px;
      padding: um(14px) 0;
      margin: um(8px) 0 um(40px) 0;
    }

    .step {
      font-size: um(14px);
      font-weight: 600;
      line-height: 21.29px;
    }
  }
}
