.it-header-wrapper {
  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }

  .navbar .navbar-collapsable .navbar-nav li a.nav-link {
    @include media-breakpoint-up(lg) {
      padding: 0.833rem;
    }

    @include media-breakpoint-up(xl) {
      padding: 0.89rem 1.33rem;
    }
  }

  .it-header-slim-wrapper .it-header-slim-wrapper-content a {
    background-color: transparent;

    &:hover {
      text-decoration: underline !important;
    }
  }


  .search-link {
    width: 3rem;
    height: 3rem;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    transition: all .3s;

    @include media-breakpoint-up(sm) {
      width: 2.67rem;
      height: 2.67rem;
    }

    @include media-breakpoint-up(md) {
      background: #fff;
    }

    svg {
      fill: #fff;
      width: 1.5rem;
      height: 1.5rem;

      @include media-breakpoint-up(sm) {
        width: 1.33rem;
        height: 1.33rem;
      }

      @include media-breakpoint-up(md) {
        fill: get-color(primary, main);
      }
    }
  }
}
