<header class="it-header-wrapper" data-bs-target="#header-nav-wrapper" style="">
  <div class="it-header-slim-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a class="d-lg-block navbar-brand" target="_blank" href="#"
              aria-label="Vai al portale {Nome della Regione} - link esterno - apertura nuova scheda"
              title="Vai al portale {Nome della Regione}">Nome della Regione</a>
            <div class="it-header-slim-right-zone" role="navigation">
              <div class="nav-item dropdown">
                <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                  aria-controls="languages" aria-haspopup="true">
                  <span class="visually-hidden">Lingua attiva:</span>
                  <span>ITA</span>
                  <svg class="icon">
                    <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use>
                  </svg>
                </button>
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-12">
                      <div class="link-list-wrapper">
                        <ul class="link-list">
                          <li><a class="dropdown-item list-item" href="#"><span>ITA <span
                                  class="visually-hidden">selezionata</span></span></a></li>
                          <li><a class="dropdown-item list-item" href="#"><span>ENG</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{#if logged}}
                <div class="it-user-wrapper nav-item dropdown">
                  <a aria-expanded="false" class="btn btn-primary btn-icon btn-full" data-bs-toggle="dropdown" href="#"
                    data-focus-mouse="false">
                    <span class="rounded-icon">
                      <img src="https://picsum.photos/20/20" class="border rounded-circle icon-white" alt="Mario Rossi">
                    </span>
                    <span class="d-none d-lg-block">Mario Rossi</span>
                    <svg class="icon icon-white d-none d-lg-block">
                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use>
                    </svg>
                  </a>
                  <div class="dropdown-menu">
                    <div class="row">
                      <div class="col-12">
                        <div class="link-list-wrapper">
                          <ul class="link-list">
                            <li>
                              <a class="dropdown-item list-item" href="#"><span>I miei servizi</span></a>
                            </li>
                            <li>
                              <a class="dropdown-item list-item" href="#"><span>Le mie pratiche</span></a>
                            </li>
                            <li>
                              <a class="dropdown-item list-item" href="#"><span>Notifiche</span></a>
                            </li>
                            <li>
                              <span class="divider"></span>
                            </li>
                            <li>
                              <a class="dropdown-item list-item" href="#"><span>Impostazioni</span></a>
                            </li>
                            <li>
                              <a class="list-item left-icon" href="#">
                                <svg class="icon icon-primary icon-sm left">
                                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-external-link">
                                  </use>
                                </svg>
                                <span class="fw-bold">Esci</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {{else}}
                <a class="btn btn-primary btn-icon btn-full" href="#" data-element="personal-area-login">
                  <span class="rounded-icon" aria-hidden="true">
                    <svg class="icon icon-primary">
                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-user"></use>
                    </svg>
                  </span>
                  <span class="d-none d-lg-block">Accedi all'area personale</span>
                </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper">
                <a href="#" title="Vai alla homepage" aria-label="Home Nome del Comune">
                  <svg class="icon" aria-hidden="true">
                    <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-pa"></use>
                  </svg>
                  <div class="it-brand-text">
                    <div class="it-brand-title">Nome del Comune</div>
                  </div>
                </a>
              </div>
              <div class="it-right-zone">
                <div class="it-socials d-none d-lg-flex">
                  <span>Seguici su</span>
                  <ul>
                    <li>
                      <a href="#" target="_blank" aria-label="twitter" title="vai alla pagina twitter">
                        <svg class="icon icon-sm icon-white align-top">
                          <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-twitter"></use>
                        </svg>
                        <span class="visually-hidden">Twitter</span></a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="facebook" title="vai alla pagina facebook">
                        <svg class="icon icon-sm icon-white align-top">
                          <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-facebook"></use>
                        </svg>
                        <span class="visually-hidden">Facebook</span></a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="youtube" title="vai alla pagina youtube">
                        <svg class="icon icon-sm icon-white align-top">
                          <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-youtube"></use>
                        </svg>
                        <span class="visually-hidden">YouTube</span></a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="telegram" title="vai alla pagina telegram">
                        <svg class="icon icon-sm icon-white align-top">
                          <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-telegram"></use>
                        </svg>
                        <span class="visually-hidden">Telegram</span></a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="whatsapp" title="vai alla pagina whatsapp">
                        <svg class="icon icon-sm icon-white align-top">
                          <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-whatsapp"></use>
                        </svg>
                        <span class="visually-hidden">Whatsapp</span></a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="rss" title="vai alla pagina rss">
                        <svg class="icon icon-sm icon-white align-top">
                          <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-rss"></use>
                        </svg>
                        <span class="visually-hidden">RSS</span></a>
                    </li>
                  </ul>
                </div>
                <div class="it-search-wrapper">
                  <span class="d-none d-md-block">Cerca</span>
                  <button class="search-link rounded-icon" type="button" data-bs-toggle="modal"
                    data-bs-target="#search-modal" aria-label="Cerca nel sito">
                    <svg class="icon">
                      <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-search"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-header-navbar-wrapper" id="header-nav-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!--start nav-->
              <nav class="navbar navbar-expand-lg has-megamenu" aria-label="Navigazione principale">
                <button class="custom-navbar-toggler" type="button" aria-controls="nav4" aria-expanded="false"
                aria-label="Mostra/Nascondi la navigazione" data-bs-target="#nav4" data-bs-toggle="navbarcollapsible"
                role="navigation">
                <svg class="icon">
                  <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-burger"></use>
                </svg>
              </button>
              <div class="navbar-collapsable" id="nav4">
                <div class="overlay" style="display: none;"></div>
                <div class="close-div">
                  <button class="btn close-menu" type="button">
                    <span class="visually-hidden">Nascondi la navigazione</span>
                    <svg class="icon">
                      <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-close-big"></use>
                    </svg>
                  </button>
                </div>
                <div class="menu-wrapper">
                  <a href="#" title="Vai alla home" aria-label="home Nome del Comune" class="logo-hamburger">
                    <svg class="icon" aria-hidden="true">
                      <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-pa"></use>
                    </svg>
                    <div class="it-brand-text">
                      <div class="it-brand-title">Nome del Comune</div>
                    </div>
                  </a>
                  <ul class="navbar-nav" data-element="main-navigation">
                    <li class="nav-item">
                      <a class="nav-link{{#if active1}} active{{/if}}" href="#" data-element="management">
                        <span>Amministrazione</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link{{#if active2}} active{{/if}}" href="#" data-element="news">
                        <span>Novità</span>
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link{{#if active3}} active{{/if}}" href="#" data-element="all-services">
                        <span>Servizi</span>
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link{{#if active4}} active{{/if}}" href="#" data-element="live">
                        <span>Vivere il Comune</span>
                      </a>
                    </li>
                  </ul>
                  <ul class="navbar-nav navbar-secondary">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Iscrizioni</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Estate in città</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Polizia locale</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link " href="#" data-element="all-topics">
                        <span class="fw-bold">Tutti gli argomenti...</span>
                      </a>
                    </li>
                  </ul>
                  <div class="it-socials">
                    <span>Seguici su</span>
                    <ul>
                      <li>
                        <a href="#" target="_blank" aria-label="twitter" title="vai alla pagina twitter">
                          <svg class="icon icon-sm icon-white align-top">
                            <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-twitter"></use>
                          </svg>
                          <span class="visually-hidden">Twitter</span></a>
                      </li>
                      <li>
                        <a href="#" target="_blank" aria-label="facebook" title="vai alla pagina facebook">
                          <svg class="icon icon-sm icon-white align-top">
                            <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-facebook"></use>
                          </svg>
                          <span class="visually-hidden">Facebook</span></a>
                      </li>
                      <li>
                        <a href="#" target="_blank" aria-label="youtube" title="vai alla pagina youtube">
                          <svg class="icon icon-sm icon-white align-top">
                            <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-youtube"></use>
                          </svg>
                          <span class="visually-hidden">YouTube</span></a>
                      </li>
                      <li>
                        <a href="#" target="_blank" aria-label="telegram" title="vai alla pagina telegram">
                          <svg class="icon icon-sm icon-white align-top">
                            <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-telegram"></use>
                          </svg>
                          <span class="visually-hidden">Telegram</span></a>
                      </li>
                      <li>
                        <a href="#" target="_blank" aria-label="whatsapp" title="vai alla pagina whatsapp">
                          <svg class="icon icon-sm icon-white align-top">
                            <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-whatsapp"></use>
                          </svg>
                          <span class="visually-hidden">Whatsapp</span></a>
                      </li>
                      <li>
                        <a href="#" target="_blank" aria-label="rss" title="vai alla pagina rss">
                          <svg class="icon icon-sm icon-white align-top">
                            <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-rss"></use>
                          </svg>
                          <span class="visually-hidden">RSS</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>