.cmp-info-checkbox {

  p{
    margin-bottom: 0;
  }

  &:not(:first-child){
    margin-top: um(16px);

    @include media-breakpoint-up(lg) {
      margin-top: um(32px);
    }
  }

  &.has-border-green {
    outline: 2px solid get-color(primary, main);
  }

  .card {
    padding: um(16px);

    @include media-breakpoint-up(lg) {
      padding: um(24px);
    }
  }
  .card-header {
   padding: 0;
   margin-bottom: 0;
   border: none;
  }

  .card-body {
    padding: 0;
  }

  .form-check.form-check-group {
    margin-bottom: 0;
    box-shadow: none;
  }

  .form-check [type=checkbox]:not(:checked)+label::after {
    border-color: get-color(primary, main);
  }

  .form-check [type=checkbox] + label:after {
    margin-top: um(8px) ;
  }

  .form-check [type=checkbox]:checked+label::before {
    top: um(8px);
  }

  .form-check.form-check-group [type=checkbox]+label::after {
    right: 0;
  }


  .form-check.form-check-group [type=checkbox]:checked+label::before {
    right: um(11px);
  }

  .info-wrapper {
    padding: um(4px) 0;
  }

  .info-wrapper-payment {
    padding: um(9px) 0;
  }

  .info-wrapper,
  .info-wrapper-payment {
    border-bottom: 1px solid get-color(light-grey, grey);

    &__label {
      font-size: um(16px);
      font-weight: 400;
    }

    &__value {
      font-size: um(16px);
      font-weight: 600;
    }
  }
}
