.card-teaser-wrapper {
  .card-image {
    img {
      object-fit: cover;

      @include media-breakpoint-up(md) {
        max-width: 100%;
      }

      @include media-breakpoint-up(lg) {
        max-width: 150px;
        max-height: 200px;
      }
    }

    &.card-bg-image {
      display: flex;
      flex-direction: column;
      width: 30%;
      background-image: url('https://picsum.photos/200/300');
      background-position: center;
      background-size: cover;
    }
  }
}

.btn-result {
  &:active {
    color: get-color(black, main);
    box-shadow: unset;
  }


  &:disabled {
    color: #BACCD9;
  }
}

.numResult{
  font-weight: 400;

  @include media-breakpoint-up(md) {
    font-weight: 600;
  }
  
}

.drop-shadow {
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.row-shadow {
  box-shadow: 0 0.9375rem 1.325rem -0.9rem rgba(0, 0, 0, 0.1);
}

.home-carousel-title {
  @include font(18, 20);
  line-height: 1.5;
}

.card .card-body {
  .category-top {
    @include font(14, 14);
    line-height: 1.3;
    letter-spacing: 1.1px;
  }
}

a.read-more {
  @include font(14, 14);
  line-height: 1.3;
  font-weight: 700;
}

.hero-p{
  padding: 2rem 1.5rem;
  @include media-breakpoint-up(md){
    padding: 1.778rem;
  }

  .breadcrumb {
    padding-top: 0;
  }
}

.row-calendar {
  .it-header-block-title h4 {
    @include font(18, 20);
    line-height: 1.688;
    font-weight: 700;
  }

  .it-calendar-wrapper .card {
    &::after {
      content: unset;
    }

    .card-body .card-title {
      @include font(40, 40);
      font-family: "Roboto Mono", monospace;
      font-weight: 100;
      line-height: 1.44;
      padding-top: 0;

      span {
        @include font(16, 16);
        font-weight: 500;
        line-height: 1.3;
        padding-left: 0.7em;
        padding-top: 0;
      }
    }

    .card-text {
      @include font(16, 16);
      font-weight: 400;
      line-height: 1.5;

      &:last-child {
        border-bottom: unset;
        padding-bottom: 0;
      }

      img {
        max-width: 56px;
        max-height: 56px;
      }
    }
  }
}

#tutti-gli-argomenti{
  .card.card-teaser .icon+.card-body{
    margin-left: unset;
  }
}

.link-list-wrapper ul li a.active span {
  text-decoration: none;
}

.chip .chip-label:hover {
  text-decoration: underline;
}

.card.card-teaser {
  padding: 16px 24px;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  &.card-bg-dark, &.card-bg-warning, &.card-bg-blue {
    &:hover {
      color: #fff;
    }
  }
}

.card-wrapper.card-teaser-wrapper.card-teaser-block-3>.card-teaser {
  @include media-breakpoint-up(md) {
    flex: 0 0 49%;
  }

  @include media-breakpoint-up(lg) {
    flex: 0 0 32%;
  }
}

#evidenza {
  .section {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 300px;
  }

  .card.card-teaser {
    .card-text {
      @include font(16, 16);
      font-weight: 400;
      line-height: 1.5;
    }

    h4.card-title {
      @include font(20, 20);
      line-height: 1.5;

      &.sito-tematico {
        @include font(16, 20);

      }
    }

    .link-list-wrapper ul li a {
      @include font(16, 16);
      font-weight: 400;

      span {
        line-height: 1.7;
      }
    }
  }

  .argomenti .chip {
    min-width: unset;
  }
}

.card-bg-blue {
  background-color: get-color(light, blue);
}

#evidenza,
#novita {
  .list-item.active {
    line-height: normal;

    span {
      color: #007A52 !important;
    }
  }
}

#novita {

  .input-group .input-group-text,
  input[type=text] {
    border-bottom: unset !important;
  }

  .form-group label {
    @include font(16, 16);
    font-weight: 400;
    top: 25%;

    &.active {
      transform: translateY(-150%);
    }
  }
}

.chip {
  &.chip-simple {
    margin-bottom: 5px;
  }
}

.sport-wrapper {
  .card.card-teaser-info {
    border-left: 8px solid rgba(0, 122, 82, 0.1);
  }
}

.border-semi-dark {
  border-color: #455B71;
}

#calendario .card-wrapper.card-overlapping {
  margin-top: -50px;
}

#novita {
  .card-wrapper {
    .sm-row {
      @include media-breakpoint-down(sm) {
        flex-direction: row-reverse;
      }

      .img-responsive-wrapper {
        @include media-breakpoint-down(sm) {
          width: 75%;
          border-top-left-radius: 0;
          border-bottom-right-radius: 4px;
        }

        .img-responsive {
          @include media-breakpoint-down(sm) {
            height: 100%;
          }
        }

        .card-calendar {
          @include media-breakpoint-down(sm) {
            right: 20px;
          }
        }
      }

      .card-body {
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }
}

#contenuti-correlati{
  .card-wrapper{
    .card-teaser{
      .link-list-wrapper{
        a{
          span.underline{
            color: #007A52;
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 992px) {
  #argomento .row {
    --bs-gutter-x: 40px;
    --bs-gutter-y: 40px
  }
}

@media only screen and (max-width: 560px) {
  #calendario .splide__track {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
