{{#>cmp-modal/cmp-modal-structure id="modal-registry-office" modalTitle="Anagrafica" buttons=true modalInfo="I campi contraddistinti dal
simbolo asterisco sono obbligatori"}}

  <form action="" id="registry-office-form">

    {{> cmp-input/input id="name" type="text" label="Nome" text="Inserisci nome" required=true }}
    {{> cmp-input/input id="surname" type="text" label="Cognome" text="Inserisci cognome" required=true}}
    {{> cmp-input/input id="cf" type="text" label="Codice fiscale" text="Inserisci codice fiscale" required=true }}
    {{> cmp-input/input id="date-birth" type="text" label="Data di nascita" text="Inserisci data di nascita gg/mm/aaaa" required=true}}
    {{> cmp-input/input id="place" type="text" label="Luogo di nascita" text="Inserisci comune di nascita" required=true }}


        {{> cmp-select/select class="mt-30 mb-4" id="property-location" label-class="mb-3" label-text="Sesso" text="Seleziona sesso" text-class="mb-30" placeholder="Seleziona" no-bg=true required=true select-option-list=vantaggi-economici.controllare-dati-personali.modal-registry-office.list-1}}


    {{> cmp-select/select class="mt-30" id="property-type" label-class="mb-3" label-text="Nazionalità" text="Seleziona nazionalità" placeholder="Seleziona" no-bg=true required=true select-option-list=vantaggi-economici.controllare-dati-personali.modal-registry-office.list-2}}

  </form>

{{#if documents}}
<h4 class="cmp-modal__header-title" id="documents-modal-title">Documenti</h4>

  <form method="post" action="" enctype="multipart/form-data" id="documents-title-form">
  {{> cmp-upload/cmp-upload inputId="ci" label="Carta di identità" required="true" class="mb-2"}}
  </form>

{{/if}}
{{/cmp-modal/cmp-modal-structure}}


