{{#>cmp-modal/cmp-modal-structure id="modal-vehicle" modalTitle="Documenti" buttons=true modalInfo="I campi
contraddistinti dal simbolo asterisco sono obbligatori"}}

  <form method="post" action="" enctype="multipart/form-data" id="vehicle-form">

    {{> cmp-upload/cmp-upload inputId="license-id" label="Patente di guida" fronteRetro="true" success="true" document="mario_rossi-patente.pdf"}}
  </form>

{{/cmp-modal/cmp-modal-structure}}