{{#>cmp-modal/cmp-modal-structure-scrollable id="modal-isee" modalTitle="ISEE" buttons=true modalInfo="I campi contraddistinti dal simbolo asterisco sono obbligatori"}}

  <form action="" id="isee-form">
    {{>partials/input/input id="isee" type="text" label="Valore ISEE" text="Inserisci valore ISEE" required=true}}
    {{>partials/input/input id="scadenza" type="text" label="Scadenza ISEE" text="Inserisci data scadenza ISEE
    gg/mm/aaaa" required=true}}
    {{>partials/input/input id="anno-protocollo" type="text" label="Anno protocollo" text="Inserisci numero anno
    protocollo" required=true }}
    {{>partials/input/input id="numero-protocollo" type="text" label="Numero protocollo" text="Inserisci numero
    protocollo" required=true }}
    {{>partials/input/input id="codice-filiale" type="text" label="Codice filiale protocollo" text="Inserisci numero codice
    filiale protocollo"  required=true }}
    {{>partials/cmp-upload/cmp-upload  inputId="cond-lav-isee" label="Modulo condizione lavorativa" required="true" error="true" document="documento_ISEE-2019.pdf"}}
  </form>

{{/cmp-modal/cmp-modal-structure-scrollable}}
