{{#>base/base title="Index" }}
<main class="my-5">
  <div class="container">
    <p class="h1">Trasversale: Prenota Appuntamento</p>
    <ul>
      <li><a href="./prenota-appuntamento-inserire-dati-specifici-servizio.html">Inserire i dati specifici del
          servizio</a></li>
      <li><a href="./prenota-appuntamento-inserire-dati-specifici-servizio-var-1.html">Inserire i dati specifici del
          servizio
          variante-1</a></li>
      <li><a href="./prenota-appuntamento-inserire-dati-specifici-servizio-step-2.html">Inserire i dati specifici del
          servizio step
          2</a>
      </li>
      <li><a href="./prenota-appuntamento-inserire-dati-specifici-servizio-step-3.html">Inserire i dati specifici del
          servizio step
          3</a>
      </li>
      <li><a href="./prenota-appuntamento-controllare-dati-personali.html">Inserire/Controllare i dati personali</a>
      </li>
      <li><a href="./prenota-appuntamento-controllare-dati-personali-var-1.html">Inserire/Controllare i dati personali
          variante-1</a>
      </li>
      <li><a href="./prenota-appuntamento-conferma-riepilogo-informazioni-inserite.html">Confermare riepilogo
          informazioni inserite</a>
      </li>
      <li><a href="./prenota-appuntamento-finalizzare-procedura.html">Finalizzare procedura</a></li>
    </ul>


    <p class="h1">Trasversale: Richiedi Assistenza</p>
    <ul>
      <li><a href="./richiedi-assistenza-controllare-dati-personali.html">Inserire/Controllare i dati personali</a></li>

      <li><a href="./richiedi-assistenza-finalizzare-procedura.html">Finalizzare procedura</a></li>
    </ul>


    <p class="h1">Trasversale: Domande Frequenti</p>
    <ul>
      <li><a href="./domande-frequenti.html">Domande frequenti</a></li>
    </ul>


    <p class="h1">Sito pubblico: Sezione Servizi</p>
    <ul>
      <li><a href="./template-servizi.html">Primo Livello - Tutti i servizi</a></li>
      <li><a href="./template-servizi-servizio.html">Secondo Livello - Categoria di servizio</a></li>
    </ul>


    <p class="h1">Sito pubblico: Ricerca globale</p>
    <ul>
      <li><a href="./template-risultati.html">Risultati</a></li>
    </ul>


    <p class="h1">Sito pubblico: Pagina amministrazione</p>
    <ul>
      <li><a href="./template-amministrazione.html">Amministrazione</a></li>
    </ul>


    <p class="h1">Sito pubblico: Pagina vivere il Comune</p>
    <ul>
      <li><a href="./template-vivi.html">Vivi il Comune</a></li>
    </ul>


    <p class="h1">Sito pubblico: Templates</p>
    <ul>
      <li><a href="./template-homepage.html">Homepage</a></li>
      <li><a href="./template-lista-contenuti-categorie.html">Lista con contenuti e categorie</a></li>
      <li><a href="./template-lista-solo-contenuti.html">Lista solo contenuti</a></li>
      <li><a href="./template-lista-solo-categorie.html">Lista solo categorie</a></li>
      <li><a href="./template-documenti.html">Pagina di secondo livello - Documenti</a></li>
      <li><a href="./template-novita.html">Pagina di primo livello - Novità</a></li>
      <li><a href="./template-argomenti.html">Pagina di primo livello - Lista Argomenti</a></li>
      <li><a href="./template-novita-evento.html">Pagina di secondo livello - Evento</a></li>
      <li><a href="./template-novita-notizia.html">Pagina di secondo livello - Notizia</a></li>
      <li><a href="./template-dettaglio-servizio.html">Pagina di secondo livello - Servizio</a></li>
      <li><a href="./template-argomenti-argomento.html">Pagina di secondo livello - Argomento</a></li>
      <li><a href="./template-area-personale.html">Pagina "Area Personale"</a></li>
      <li><a href="./template-area-personale-dettaglio-pratica.html">Pagina "Area Personale - Dettaglio Pratica"</a>
      </li>
    </ul>
  </div>
</main>
{{/base/base }}