{{#>base/base title="Novità - Nome del comune" headerActive2=true}}
  <main>
    <div class="container" id="main-container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          {{>cmp-breadcrumbs/cmp-breadcrumbs link2="Home" link3="Novità"}}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center row-shadow">
        <div class="col-12 col-lg-10">
          {{>cmp-hero/cmp-hero
        hero-title="Novità"
        hero-text="Tutte le novità comunali per i cittadini per restare aggiornati."
        wrapper-class="pt-0 ps-0 pb-4 pb-lg-60"}}
        </div>
      </div>
    </div>

    <div class="container py-5">
      <h2 class="title-xxlarge mb-4">In evidenza</h2>
      {{>cmp-list-card-img/cmp-list-card-img-hr cards=cards.card-news}}
    </div>

    <div class="bg-grey-card py-5">
      <div class="container">
        <h2 class="title-xxlarge mb-4">Esplora tutte le novità</h2>
        {{>partials/input-search/input-search
            id="autocomplete-three"
            placeholder-text="Cerca per parola chiave"
            btnSearch=true
            search-subtitle=true
            text-subtitle="62 notizie trovate in ordine alfabetico"
            text-subtitle-class="u-grey-light text-paragraph-card mt-2 mb-30 mt-lg-3 mb-lg-40"
            wrapper-class="mb-0"
            icon-class="icon-primary"
          }}
        {{>cmp-list-card-img/cmp-list-card-img-hr cards=cards.card-all-news rowClass="pb-4"}}
        <p class="text-center text-paragraph-regular-medium mt-4 mb-0">Nessun altro risultato</p>
      </div>
    </div>


    <div class="container py-5" id="argomento">
      <h2 class="title-xxlarge mb-4">Esplora per categoria</h2>
      <div class="row g-4">

        <div class="col-md-6 col-xl-4">
          {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        card-title="News"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        }}
        </div>

        <div class="col-md-6 col-xl-4">
          {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        card-title="Comunicato stampa"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        }}
        </div>

        <div class="col-md-6 col-xl-4">
          {{>cmp-card/cmp-card-simple
        borderlight=true
        icon="it-arrow-right"
        classTitle="title-xlarge"
        card-title="Avviso"
        card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula fermentum eros a elementum.
        Donec."
        }}
        </div>
      </div>
    </div>

    <div class="bg-primary">
      <div class="container">
        <div class="row d-flex justify-content-center bg-primary">
          <div class="col-12 col-lg-6">
            {{>cmp-rating/cmp-rating public-template=true rating-title="Quanto è utile questa pagina?"}}
          </div>
        </div>
      </div>
    </div>

    <div class="bg-grey-card shadow-contacts">
      <div class="container">
        <div class="row d-flex justify-content-center p-contacts">
          <div class="col-12 col-lg-6">
            {{>cmp-contacts/cmp-contacts city-problems=true}}
          </div>
        </div>
      </div>
    </div>
  </main>
  {{/base/base }}