.cmp-hero{

  .categoryicon-top {
    .icon {
      position: relative;
      top: 12px;
      &.big-lg-icon{
        width: 1.75rem;
        @include media-breakpoint-up(md) {
          width: 1.833rem;
        }
      }
    }
  }

  .it-hero-wrapper{
    min-height: unset;

    & .it-hero-text-wrapper{
      padding: 48px 0;
    }
  }

  .it-hero-wrapper .it-hero-text-wrapper .hero-title{
    @include font(40, 48);
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 1rem;
  }

  .it-hero-wrapper .it-hero-text-wrapper .hero-text{
    @include font(16, 18);
    font-weight: 400;
    line-height: 28px;
    max-width: 600px;
    color: get-color(black, main);

    p {
      color: get-color(black, main);
      font-family: "Titillium Web" !important;
    }
  }
}
