<div class="cmp-cardBorder">
  <div class="card-wrapper card-space">
    <div class="card border rounded">
      <div class="card-body">
        {{#if date}}
          <p class="cmp-cardBorder__content-date mb-5">{{date}}</p>
        {{/if}}
        {{#if title}}
        <h5 class="cmp-cardBorder__content-title mb-5 primary-color">{{title}}</h5>
        {{/if}}
          {{#if message}}
        <p class="card-text cmp-cardBorder__content-message text-truncate mb-15">{{message}}</p>
          {{/if}}
         {{#if btnOpen}}
        <a class="cmp-cardBorder__content-link d-flex align-items-center" href="#">
          <svg class="icon icon-primary icon-xs">
            <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-password-visible"></use>
          </svg>
          <span class="text btnLabel text-capitalize ml-5 primary-color">{{btnOpen}}</span>
          <span class="visually-hidden">su Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</span>
        </a>
          {{/if}}
      </div>
    </div>
  </div>

</div>

