{{#>cmp-base/base title="Prenotazioni - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs active="Prenotazione appuntamento"}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{>cmp-hero/cmp-hero
        hero-title="Appuntamento confermato"
        icon="it-check-circle"
        iconClass="mr-10 icon-sm mb-1"
        hero-text="L’appuntamento è fissato per<strong> Giovedì 11 marzo 2022 dalle ore 10:00 alle ore 10:30</strong>
        <br><br>Abbiamo inviato il riepilogo all’email:<br>
        <strong>giulia.bianchi@gmail.com</strong>"
        wrapper-class="pt-0 ps-0 pb-40"}}
      </div>
    </div>
    <hr class="d-none d-lg-block mb-40">
  </div>

  <div class="container">
    <div class="row mb-4 mb-lg-80">
      <div class="d-none d-sm-none d-lg-block col-lg-3">
        {{>cmp-navscroll/cmp-navscroll
        accordion-title="INDICE DELLA PAGINA" id="one"
        link-list=link-list.links-procedura-pagamento
        }}
      </div>

      <div class="col-12 col-lg-8 offset-lg-1">
        <div class="it-page-sections-container">
          <section class="it-page-section" id="needed">
            {{#>cmp-card/cmp-card-content-box card-title="Cosa serve" bg-grey-primary=true
            class="p-3" cmpClass="mb-50" h2-class="mb-0"}}
            {{>cmp-ul-list/cmp-ul-list font-list="titillium" info-list=info-prenotazione.lista-1 }}
            {{/cmp-card/cmp-card-content-box}}
          </section>
          
          <section class="it-page-section" id="address">
            <div class="address-wrapper mb-50">
              <h2 class="title-xxlarge mb-10">Indirizzo</h2>
              {{>cmp-card-img/cmp-card-img card-title="Ufficio anagrafe 03" card-description="Via Grazia Deledda 9/a -
              20127<br> Milano <br> anagrafe@comune.it"}}
            </div>
          </section>

          <section class="it-page-section" id="calendar">
            {{>cmp-icon-list/cmp-icon-list
            title="Aggiungi al tuo calendario"
            icon-list=icon-list.calendario-reservation-pagamento
            classMenu="mt-3"
            }}
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 px-4 p-lg-0">
          {{>cmp-rating/cmp-rating id-title="rating"}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-6 p-contacts">
          {{>cmp-contacts/cmp-contacts-trasversali faq=true assistance=true}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/cmp-base/base }}
