{{#>cmp-base/base title="Prenotazioni - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Servizi" active="Prenotazioni"}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{>cmp-hero/cmp-hero
        hero-title="Prenotazione appuntamento"
        wrapper-class="pt-0 ps-0 pb-3 pb-lg-4"}}
      </div>
    </div>
  </div>

  <div class="container">
    {{> cmp-info-progress/cmp-info-progress
    step-list=step-list.prenota-appuntamento-step-1
    step-num="1"
    step-tot="5"
    step-title="Luogo"
    classSubtitle="mt-40 mb-3"
    subtitle="I campi contraddistinti dal simbolo asterisco sono obbligatori"
    }}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 d-lg-block mb-4 d-none ">
        {{>cmp-navscroll/cmp-navscroll
        accordion-title="INFORMAZIONI RICHIESTE" id="one"
        link-list=link-list.prenota-appuntamento-step-1}}
      </div>
      <div class="col-12 col-lg-8 offset-lg-1">
        <div class="steppers-content" aria-live="polite">
          <div class="it-page-sections-container">
            <section class="it-page-section" id="office">
              {{#>cmp-card/cmp-card-content-box
              class="p-big"
              bg-grey=true
              h2-class="mb-0"
              card-title="Ufficio"
              subtitle="Scegli l’ufficio a cui vuoi richiedere l’appuntamento"
              }}
              {{> cmp-select/select placeholder="Seleziona opzione" id="office-option" label-text="Tipo di ufficio"
              label-hidden=true class="p-0" select-option-list=ufficio-appuntamento}}
              {{/cmp-card/cmp-card-content-box}}
            </section>
          </div>
          {{> cmp-nav-steps/cmp-nav-steps save="true" aria-label-save="di prenotazione appuntamento"}}
        </div>
      </div>
    </div>
  </div>


  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center p-contacts">
        <div class="col-12 col-lg-6">
          {{>cmp-contacts/cmp-contacts-trasversali faq=true assistance=true}}
        </div>
      </div>
    </div>
  </div>

</main>
{{/cmp-base/base }}