{{#>cmp-base/base title="Sport - Nome del Comune"}}
<main>
  <div class="it-hero-wrapper it-wrapped-container" id="main-container">
    <div class="img-responsive-wrapper">
      <div class="img-responsive">
        <div class="img-wrapper">
          <img src="https://picsum.photos/800/400" title="titolo immagine" alt="descrizione immagine" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 drop-shadow">
          <div class="it-hero-card it-hero-bottom-overlapping rounded px-lg-5 py-4 py-lg-5">
            <div class="row justify-content-center">
              <div class="col-12">
                {{>cmp-breadcrumbs/cmp-breadcrumbs class="mt-0" link1="Argomenti" active="Sport"}}

              </div>
            </div>
            <div class="row justify-content-between mt-lg-2">
              <div class="col-12 col-lg-5 pl-lg-5">
                <h1 class="mb-3">Sport</h1>
                <h2 class="visually-hidden" id="news-details">Dettagli della notizia</h2>
                <p class="text-secondary mb-5">
                  Informazioni su eventi sportivi, impianti comunali, servizi dedicati allo sport
                </p>
              </div>
              <div class="col-12 col-lg-5">
                <div class="card-wrapper card-column">
                  <h3 class="title-xsmall-semi-bold text-secondary">Questo argomento è gestito da:</h3>
                  <div class="card card-teaser card-teaser-info shadow-sm rounded d-flex align-items-center p-3">
                    <div class="card-body">
                      <h4 class=" mb-1 title-small-semi-bold-medium">
                        <a href="#" class="text-decoration-none">
                          Sport, cultura, spettacolo
                        </a>
                      </h4>
                      <div class="card-text">
                        <p class="u-main-black">Via Dei Transiti 21, 50302</p>
                      </div>
                    </div>
                    <div class="avatar size-xl">
                      <img src="https://picsum.photos/200/200" alt="Immagine" />
                    </div>
                  </div>
                  <div
                    class="card card-teaser card-teaser-info shadow-sm rounded d-flex align-items-center mb-2 mb-lg-0">
                    <div class="card-body">
                      <h4 class=" mb-1 title-small-semi-bold-medium">
                        <a href="#" class="text-decoration-none">
                          Gestione impianti sportivi
                        </a>
                      </h4>
                      <div class="card-text">
                        <p class="u-main-black">Via Dei Transiti 21, 50302</p>
                      </div>
                    </div>
                    <div class="avatar size-xl">
                      <img src="https://picsum.photos/200/200" alt="Immagine" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="novita">
    <div class="bg-grey-card py-5">
      <div class="container">
        <div class="row row-title pt-md-5">
          <div class="col-12">
            <h2 class="text-secondary border-bottom pb-2 pb-lg-3 mt-lg-5">Novità
            </h2>
          </div>
        </div>
        <div class="row pt-4 mt-lg-2 pb-lg-4">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-wrapper">
              <div class="card card-img no-after rounded sm-row">
                <div class="img-responsive-wrapper">
                  <div class="img-responsive img-responsive-panoramic">
                    <figure class="img-wrapper">
                      <img src="https://picsum.photos/400/200" title="titolo immagine" alt="descrizione immagine" />
                    </figure>
                  </div>
                </div>
                <div class="card-body p-4">
                  <div class="category-top">
                    <a class="text-decoration-none fw-semibold" href="#">Notizie</a>
                    <span class="data text-secondary">18 MAG 2022</span>
                  </div>
                  <h3 class="mb-0">
                    <a href="#" class="text-decoration-none">
                      Sport nel verde: le iniziative della prossima edizione
                    </a>
                  </h3>
                  <p class="pt-3 text-secondary">
                    Le informazioni per partecipare all’iniziativa rivolta a tutte le fasce d’età per promuovere
                    l’attività motoria nelle aree verdi della città.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-wrapper">
              <div class="card card-img no-after sm-row">
                <div class="img-responsive-wrapper">
                  <div class="img-responsive img-responsive-panoramic">
                    <figure class="img-wrapper">
                      <img src="https://picsum.photos/400/200" title="titolo immagine" alt="descrizione immagine" />
                    </figure>
                    <div class="card-calendar d-flex flex-column justify-content-center">
                      <span class="card-date">2-3</span>
                      <span class="card-day">giu</span>
                    </div>
                  </div>
                </div>
                <div class="card-body p-4">
                  <div class="category-top">
                    <a class="text-decoration-none fw-semibold" href="#">Eventi</a>
                    <span class="data text-secondary">DAL 2 AL 3 GIU 2022</span>
                  </div>
                  <h3 class="mb-0 ">
                    <a href="#" class="text-decoration-none">
                      Torneo di beneficienza “Tutti in pista”
                    </a>
                  </h3>
                  <p class="pt-3 text-secondary">
                    Dal 2 al 3 giugno torna il torneo di beneficienza “Tutti in pista”. La raccolta fondi finanzierà
                    progetti sportivi per ragazzi e ragazze.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-wrapper">
              <div class="card card-img no-after rounded">
                <div class="card-body p-4">
                  <div class="category-top">
                    <a class="text-decoration-none fw-semibold" href="#">Avviso</a>
                    <span class="data text-secondary">18 MAG 2022</span>
                  </div>
                  <h3 class="mb-0 ">
                    <a href="#" class="text-decoration-none">
                      Chiusa per ristrutturazione la piscina Minghetti
                    </a>
                  </h3>
                  </a>
                  <p class="pt-3 text-secondary">
                    Partiti i lavori per l’adeguamento dell’impianto. La riapertura è prevista per giugno 2023.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-3 offset-lg-9">
            <a href="#" class="btn btn-primary text-button w-100" title="Vai a tutte le novità">Tutte le novità</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="amministrazione">
    <div class="py-5">
      <div class="container">
        <div class="row row-title">
          <div class="col-12">
            <h2 class="text-secondary border-bottom pb-2 pb-lg-3">Amministrazione</h2>
          </div>
        </div>
        <div class="row mx-0">
          <div
            class="card-wrapper px-0 card-teaser-wrapper card-teaser-wrapper-equal card-teaser-block-3">
            {{> cmp-card-teaser/cmp-card-teaser category="Giunta e consiglio" title="Gabriele
            Bianchi"
            description="Assessore allo sport" image="https://picsum.photos/200/200"}}

            {{> cmp-card-teaser/cmp-card-teaser category="Aree di competenza" title="Area
            impiantistica sportiva e
            manifestazioni sportive" description="Dirigente Arch. M. Alessandra Verdi"}}

            {{> cmp-card-teaser/cmp-card-teaser category="Aree di competenza" title="Area pratiche
            ed erogazione dei
            contributi" description="Dirigente Ing. Mauro Brambilla"}}
          </div>
        </div>
        <div class="row mt-lg-4">
          <div class="col-12 col-lg-3 offset-lg-9">
            <a href="#" class="btn btn-primary text-button w-100" title="Vai a Amministrazione">Tutta l’amministrazione</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="servizi">
    <div class="pb-5">
      <div class="container">
        <div class="row row-title">
          <div class="col-12">
            <h2 class="text-secondary border-bottom pb-2 pb-lg-3">Servizi</h2>
          </div>
        </div>
        <div class="row mx-0">
          <div
            class="card-wrapper px-0 card-teaser-wrapper card-teaser-wrapper-equal card-teaser-block-3">
            {{> cmp-card-teaser/cmp-card-teaser category="Autorizzazioni" title="Rimborsi alle società sportive" description="Nuovo bando per l’Anno sportivo 2022-2023"}}

            {{> cmp-card-teaser/cmp-card-teaser category="Appalti pubblici" title="Concessione degli
            impianti sportivi"
            description="Domanda per la concessione degli impianti sportivi"}}

            {{> cmp-card-teaser/cmp-card-teaser category="Giustizia e sicurezza pubblica"
            title="Manifestazioni
            sportive" description="Richiesta autorizzativa per eventi sportivi"}}
          </div>
        </div>
        <div class="row mt-lg-4">
          <div class="col-12 col-lg-3 offset-lg-9">
            <a href="#" class="btn btn-primary text-button w-100" title="Vai a tutti i servizi">Tutti i servizi</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="documenti">
    <div class="pb-5">
      <div class="container">
        <div class="row row-title">
          <div class="col-12">
            <h2 class="text-secondary border-bottom pb-2 pb-lg-3">Documenti</h2>
          </div>
        </div>
        <div class="row mx-0">
          <div
            class="card-wrapper px-0 card-teaser-wrapper card-teaser-wrapper-equal card-teaser-block-3 g-4">
            {{> cmp-card-teaser/cmp-card-teaser category="Documento albo pretorio" title="Bandi per
            impianti e
            manifestazioni" description="Elenco dei bandi attivi"}}

            {{> cmp-card-teaser/cmp-card-teaser category="Modulistica" title="Concessione per la
            piscina Verdicchio"
            description="Bando per la concessione dell’impianto"}}

            {{> cmp-card-teaser/cmp-card-teaser category="Documento albo pretorio" title="Piano
            lavori 2023"
            description="Deliberazione del Consiglio comunale per piano lavori previsto per il 2023"}}
          </div>
        </div>
        <div class="row mt-lg-4">
          <div class="col-12 col-lg-3 offset-lg-9">
            <a href="#" class="btn btn-primary text-button w-100" aria-label="vai a tutti i documenti">Tutti i documenti</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6">
          {{>cmp-rating/cmp-rating id-title="rating" public-template=true}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center p-contacts">
        <div class="col-12 col-lg-6">
          {{>cmp-contacts/cmp-contacts city-problems=true}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/cmp-base/base }}