{{#>base/base title="Richiesta assistenza - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Servizi" active="Assistenza"}}
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{>cmp-hero/cmp-hero
        hero-title="Richiesta assistenza"
        hero-text="I campi contraddistinti dal simbolo asterisco sono obbligatori.<br><br>
        Hai un’identità digitale SPID o CIE? <a class='title-small-semi-bold t-primary text-decoration-none'
          href='./iscrizione-graduatoria-accedere-servizio.html'>Accedi</a>"
        wrapper-class="pt-0 ps-0 pb-40"}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-lg-50">
      <div class="col-12 col-lg-3 d-lg-block mb-4 d-none ">
        {{>cmp-navscroll/cmp-navscroll
        accordion-title="INFORMAZIONI RICHIESTE" id="one"
        link-list=richiedi-assistenza.controllare-dati-personali.navscroll}}
      </div>
      <div class="col-12 col-lg-8 offset-lg-1">

        <form class="steppers-content" aria-live="polite" id="justValidateForm">
          <div class="it-page-sections-container">
            <section class="it-page-section" id="applicant">
              {{#>cmp-card/cmp-card-content-box
              class="p-big"
              bg-grey=true
              h2-class="mb-0"
              card-title="Richiedente"
              margin-class="mb-40"
              }}

              <div class="form-wrapper bg-white p-4">
                {{> cmp-input/input type="text" id="name" label="Nome" required=true name="name" text="Inserisci il
                tuo nome" formClass="mb-0" inputClass="mt-4"}}

                {{> cmp-input/input type="text" id="surname" label="Cognome" required=true name="surname"
                text="Inserisci il tuo cognome" formClass="mb-0"}}

                {{> cmp-input/input type="email" id="email" label="Email" required=true name="email" text="Inserisci
                la tua email" formClass="mb-0"}}
              </div>
              {{/cmp-card/cmp-card-content-box}}
            </section>

            <section class="it-page-section" id="request">
              {{#>cmp-card/cmp-card-content-box
              class="p-big"
              bg-grey=true
              h2-class="mb-0"
              card-title="Richiesta"
              margin-class="mb-40"
              }}

              <div class="form-wrapper bg-white p-4">
                {{> cmp-select/select
                class="mb-40 mt-4"
                id="category"
                selectClass="form-control"
                label-text="Categoria di servizio"
                placeholder="Seleziona categoria"
                required=true
                no-bg=true
                text="Seleziona la categoria del servizio per cui vuoi richiedere assistenza"
                select-option-list=richiedi-assistenza.controllare-dati-personali.select-categoria}}

                {{> cmp-select/select
                id="service"
                selectClass="form-control"
                label-text="Servizio"
                placeholder="Scegli il servizio"
                required=true
                no-bg=true
                text="Seleziona il servizio per cui vuoi richiedere assistenza"
                select-option-list=richiedi-assistenza.controllare-dati-personali.select-servizio}}

                {{> cmp-text-area/text-area
                class="p-0 mt-40"
                textareaClass="form-control"
                num="-details"
                id="description"
                required=true
                visible=true
                placeholder="Dettagli"
                value="Trasferimento di mio figlio dall’Istituto Narcisi all’Istituto Anemoni durante l’anno scolastico
                2021-2022"
                label="Inserire massimo 600 caratteri"
                }}
              </div>
              {{/cmp-card/cmp-card-content-box}}
            </section>

            <div class="privacy-wrapper">
              <p class="text-paragraph mb-3">Per i dettagli sul trattamento dei dati personali consulta l’
                <a href="#" class="t-primary">informativa sulla privacy.</a>
              </p>

              <div class="form-check mb-2">
                <div class="checkbox-body d-flex align-items-center flex-wrap">
                  <input type="checkbox" id="privacy" name="privacy-field" value="privacy-field" required>
                  <label class="title-small-semi-bold pt-1 mb-0" for="privacy">Ho letto e compreso l’informativa sulla
                    privacy</label>
                </div>
              </div>
            </div>
          </div>
          {{> cmp-nav-steps/cmp-nav-steps
          next=true
          validate=true
          icon="<svg class='icon icon-white icon-sm'>
            <use href='../assets/bootstrap-italia/dist/svg/sprites.svg#it-chevron-right'></use>
          </svg>"
          }}
        </form>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center p-contacts">
        <div class="col-12 col-lg-6">
          {{>cmp-contacts/cmp-contacts-trasversali faq=true appointment=true}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}