{{#>base/base title="Domande freqeunti - Nome del Comune"}}
  <main>
    <div class="container" id="main-container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          {{>cmp-breadcrumbs/cmp-breadcrumbs active="Domande più frequenti"}}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          {{>cmp-hero/cmp-hero
        hero-title="Domande frequenti"
        hero-text="Elenco di risposte alle domande più frequenti raccolte dalle richieste di assistenza dei cittadini."
        wrapper-class="pt-0 ps-0 pb-4 pb-lg-60"}}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 px-sm-3 mt-2">
          {{> cmp-input-search/input-search
            id="autocomplete-three"
            label-text="Cerca nel sito"
            placeholder-text="Cerca"
            wrapper-class="mb-2 mb-lg-4"
            icon-class="icon-primary"
            btnSearch=true
          }}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 px-0 px-sm-3">
          {{> cmp-accordion/cmp-accordion-faq accordion=domande-frequenti.accordion}}
        </div>
        <div class="col-12 col-lg-8 offset-lg-2 px-4">
          {{> cmp-button/cmp-button outline-primary=true label="Carica altre domande" class="w-100 mt-40 mb-40 title-medium-bold"}}
        </div>
      </div>
    </div>

    <div class="bg-primary">
      <div class="container">
        <div class="row d-flex justify-content-center bg-primary">
          <div class="col-12 col-lg-6 p-lg-0 px-4">
            {{>cmp-rating/cmp-rating id-title="rating" public-template=true}}
          </div>
        </div>
      </div>
    </div>

    <div class="bg-grey-card shadow-contacts">
      <div class="container">
        <div class="row d-flex justify-content-center p-contacts">
          <div class="col-12 col-lg-6">
            {{>cmp-contacts/cmp-contacts-trasversali assistance=true appointment=true city-problems=true}}
          </div>
        </div>
      </div>
    </div>
  </main>
  {{/base/base}}
