{{#>base/base-index title="Index"}}
<main>
  <div class="container px-4 my-4">
    <div class="row">
      <div class="col-12 px-lg-4 py-lg-2">
        <h1>I templates HTML per il sito comunale</h1>
        <em>Versione {{version}}</em>

        <section>
          <div class="it-list-wrapper">
            <h2>Generali</h2>
            <ul class="it-list mb-5">
              <li>
                <a href="domande-frequenti.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Domande frequenti (FAQ)
                      <em>La pagina per la presentazione delle domande frequenti (FAQ)</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">domande-frequenti.html</span></span>
                  </div>
                </a>
              <li>
                <a href="homepage.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Homepage
                      <em>La homepage del sito comunale</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">homepage.html</span></span>
                  </div>
                </a>
              </li>
              </li>
              <li>
                <a href="risultati-ricerca.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Risultati di ricerca
                      <em>La pagina per la presentazione dei risultati di ricerca</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">risultati-ricerca.html</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="argomenti.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Argomenti
                      <em>La pagina con la lista di tutti gli argomenti a cui sono associati i contenuti del sito</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">argomenti.html</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="argomento.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Argomento
                      <em></em>
                    </span>
                    <span class="it-multiple"><span class="metadata">argomento.html</span></span>
                  </div>
                </a>
              </li>
            </ul>
            
            <h2>Sezione Amministrazione</h2>
            <ul class="it-list mb-5">
              <li>
                <a href="amministrazione.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Amministrazione
                      <em>La pagina lista di primo livello per la sezione Amministrazione</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">amministrazione.html</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="documenti-dati.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Documenti e dati
                      <em>La pagina principale della sottosezione Documenti e dati</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">documenti-dati.html</span></span>
                  </div>
                </a>
              </li>
            </ul>

            <h2>Sezione Novità</h2>
            <ul class="it-list mb-5">
              <li>
                <a href="novita.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Novità
                      <em>La pagina lista di primo livello per la sezione Novità</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">novita.html</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="novita-dettaglio.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Notizia, Comunicato, Avviso
                      <em>La pagina di dettaglio per le notizie, i comunicati e gli avvisi</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">novita-dettaglio</span></span>
                  </div>
                </a>
              </li>
            </ul>

            <h2>Sezione Servizi</h2>
            <ul class="it-list mb-5">
              <li>
                <a href="servizi.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Servizi
                      <em>La pagina lista di primo livello per la sezione Servizi</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">servizi.html</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="categoria-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Categoria di servizio - pagina di secondo livello
                      <em>La pagina dei servizi appartenenti a una specifica categoria</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">categoria-servizio.html</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="dettaglio-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Scheda servizio
                      <em>La pagina di dettaglio di un servizio specifico</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">servizio-dettaglio.html</span></span>
                  </div>
                </a>
              </li>
            </ul>

            <h2>Sezione Vivere il Comune</h2>
            <ul class="it-list mb-5">
              <li>
                <a href="eventi.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Eventi
                      <em>La pagina lista di primo livello per la sezione Vivere il Comune</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">eventi.html/span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="evento-dettaglio.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Evento
                      <em>La pagina di dettaglio di un evento</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">evento-dettaglio.html</span></span>
                  </div>
                </a>
              </li>
            </ul>
            {{!--
            <h2>Pagine Lista</h2>
            <ul>
              <li>
                <a href="lista-contenuti-categorie.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Lista con contenuti e categorie
                      <em>lista-contenuti-categorie.html</em>
                    </span>
                    <span class="it-multiple"><span class="metadata"></span></span>
                  </div>
                </a>
              </li> --}}
              {{!-- <li>
                <a href="lista-solo-contenuti.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Lista solo contenuti
                      <em>lista-solo-contenuti.html</em>
                    </span>
                    <span class="it-multiple"><span class="metadata"></span></span>
                  </div>
                </a>
              </li> --}}
              {{!-- <li>
                <a href="lista-solo-categorie.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Lista solo categorie
                      <em>lista-solo-categorie.html</em>
                    </span>
                    <span class="it-multiple"><span class="metadata"></span></span>
                  </div>
                </a>
              </li>
            </ul>
            --}}
            
            <h2>Prenotazione Appuntamento</h2>
            <p>Templates specifici per la funzionalità di prenotazione appuntamento</p>
            <ul class="it-list">
              <li>
                <a href="appuntamento-01-ufficio.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Step 1 - Selezione ufficio (1 di 2)
                      <em>La schermata di selezione di un ufficio</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">appuntamento-01-ufficio.html</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="appuntamento-01-ufficio-luogo.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Step 1 - Selezione ufficio (2 di 2)
                      <em>La schermata di selezione tra più sedi dello stesso ufficio</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">appuntamento-01-ufficio-luogo.html</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="appuntamento-02-data-orario.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Step 2 - Scelta appuntamento
                      <em>La schermata di selezione della data e ora dell'appuntamento</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">appuntamento-02-data-orario.html</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="appuntamento-03-dettagli.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Step 3 - Selezione del motivo e aggiunta dei dettagli
                      <em>La schermata di selezione del motivo dell'appuntamento e integrazione della richiesta con maggiori
                        dettagli</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">appuntamento-03-dettagli.html</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="appuntamento-04-richiedente.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Step 4 - Aggiunta delle informazioni personali (utente non autenticato)
                      <em>La schermata di inserimento delle informazioni personali senza essersi autenticato tramite identità
                        digitale</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">appuntamento-04-richiedente.html</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="appuntamento-04-richiedente-autenticato.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Step 4 - Aggiunta delle informazioni personali (utente autenticato)
                      <em>La schermata per verificare le informazioni personali provenienti da identità digitale</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">appuntamento-04-richiedente-autenticato.html</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="appuntamento-05riepilogo.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Step 5 - Riepilogo delle informazioni inserite
                      <em>La schermata di riepilogo delle informazioni inserite, con la possibilità di confermarle o tornare
                        indietro per effettuare una modifica</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">appuntamento-05riepilogo.html</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="appuntamento-06-conferma.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Step 6 - Conferma dell'appuntamento
                      <em>La schermata con la conferma della prenotazione appuntamento e il riepilogo di data, ora, cosa serve e
                        indirizzo dell'ufficio</em>
                    </span>
                    <span class="it-multiple"><span class="metadata">appuntamento-06-conferma.html</span></span>
                  </div>
                </a>
              </li>
            </ul>

            <h2>Richiesta Assistenza</h2>
            <p>Templates specifici per la funzionalità di prenotazione appuntamento</p>
            <ul class="it-list">
              <li>
                <a href="richiedi-assistenza-controllare-dati-personali.html" target="_blank" class="list-item"
                  data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Inserire/Controllare i dati personali
                      <em>richiedi-assistenza-controllare-dati-personali.html</em>
                    </span>
                    <span class="it-multiple"><span class="metadata"></span></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="richiedi-assistenza-finalizzare-procedura.html" target="_blank" class="list-item" data-focus-mouse="false">
                  <div class="it-right-zone">
                    <span class="text">Finalizzare procedura
                      <em>richiedi-assistenza-finalizzare-procedura.html</em>
                    </span>
                    <span class="it-multiple"><span class="metadata"></span></span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>



  {{/base/base-index }}