{{#>base/base-index title="Index"}}
  <main>
  <div class="container px-4 my-4">
    <div class="row">
      <div class="col-12 px-lg-4 py-lg-2">
        <h1>I templates HTML per il sito comunale</h1>
      </div>
      <div class="col-12 px-lg-4 py-lg-2">
        <em>Versione {{version}}</em>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 px-lg-4 pt-4 pb-2">
        <h2>Generali</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="it-list-wrapper">
          <ul>
            <li>
              <a href="domande-frequenti.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Domande frequenti (FAQ)
                    <em>La pagina per la presentazione delle domande frequenti (FAQ)</em>
                  </span>
                  <span class="it-multiple"><span class="metadata">domande-frequenti.html</span></span>
                </div>
              </a>ul class="it-list">
            <li>
              <a href="homepage.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Homepage
                    <em>La homepage del sito comunale</em>
                  </span>
                  <span class="it-multiple"><span class="metadata">homepage.html</span></span>
                </div>
              </a>
            </li>
            </li>
            <li>
              <a href="risultati-ricerca.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Risultati di ricerca
                    <em>La pagina per la presentazione dei risultati di ricerca</em>
                  </span>
                  <span class="it-multiple"><span class="metadata">risultati-ricerca.html</span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="argomenti.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Argomenti
                    <em>La pagina con la lista di tutti gli argomenti a cui sono associati i contenuti del sito</em>
                  </span>
                  <span class="it-multiple"><span class="metadata">argomenti.html</span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="argomento.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Argomento
                    <em></em>
                  </span>
                  <span class="it-multiple"><span class="metadata">argomento.html</span></span>
                </div>
              </a>
            </li>
          </ul>
          <h2>Sezione Amministrazione</h2>
          <ul>
            <li>
              <a href="amministrazione.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Amministrazione
                    <em>La pagina lista di primo livello per la sezione Amministrazione</em>
                  </span>
                  <span class="it-multiple"><span class="metadata">amministrazione.html</span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="documenti-dati.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Documenti e dati
                    <em>La pagina principale della sottosezione Documenti e dati</em>
                  </span>
                  <span class="it-multiple"><span class="metadata">documenti-dati.html</span></span>
                </div>
              </a>
            </li>
            {{!-- <li>
              <a href="lista-contenuti-categorie.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Lista con contenuti e categorie
                    <em>lista-contenuti-categorie.html</em>
                  </span>
                  <span class="it-multiple"><span class="metadata"></span></span>
                </div>
              </a>
            </li> --}}
            {{!-- <li>
              <a href="lista-solo-contenuti.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Lista solo contenuti
                    <em>lista-solo-contenuti.html</em>
                  </span>
                  <span class="it-multiple"><span class="metadata"></span></span>
                </div>
              </a>
            </li> --}}
            {{!-- <li>
              <a href="lista-solo-categorie.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Lista solo categorie
                    <em>lista-solo-categorie.html</em>
                  </span>
                  <span class="it-multiple"><span class="metadata"></span></span>
                </div>
              </a>
            </li> --}}
          </ul>
          <h2>Sezione Novità</h2>
          <ul>
            <li>
              <a href="novita.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Novità
                    <em>La pagina lista di primo livello per la sezione Novità</em>
                  </span>
                  <span class="it-multiple"><span class="metadata">novita.html</span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="novita-dettaglio.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Notizia, Comunicato, Avviso
                    <em>La pagina di dettaglio per le notizie, i comunicati e gli avvisi</em>
                  </span>
                  <span class="it-multiple"><span class="metadata">novita-dettaglio</span></span>
                </div>
              </a>
            </li>
          </ul>
          <h2>Sezione Servizi</h2>
          <ul>
            <li>
              <a href="servizi.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Servizi
                    <em>La pagina lista di primo livello per la sezione Servizi</em>
                  </span>
                  <span class="it-multiple"><span class="metadata">servizi.html</span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="categoria-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Categoria di servizio - pagina di secondo livello
                    <em>La pagina dei servizi appartenenti a una specifica categoria</em>
                  </span>
                  <span class="it-multiple"><span class="metadata">categoria-servizio.html</span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="dettaglio-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Scheda servizio
                    <em>La pagina di dettaglio di un servizio specifico</em>
                  </span>
                  <span class="it-multiple"><span class="metadata">servizio-dettaglio.html</span></span>
                </div>
              </a>
            </li>
          </ul>
          <h2>Sezione Vivere il Comune</h2> 
          <ul>
            <li>
              <a href="eventi.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Eventi
                    <em>La pagina lista di primo livello per la sezione Vivere il Comune</em>
                  </span>
                  <span class="it-multiple"><span class="metadata">eventi.html/span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="evento-dettaglio.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Evento
                    <em>La pagina di dettaglio di un evento</em>
                  </span>
                  <span class="it-multiple"><span class="metadata">evento-dettaglio.html</span></span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 px-lg-4 pt-4 pb-2">
        <h3>Sito Pubblico: Prenota Appuntamento</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="it-list-wrapper">
          <ul class="it-list">
            <li>
              <a href="prenota-appuntamento-inserire-dati-specifici-servizio.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Inserire i dati specifici del servizio
                    <em>prenota-appuntamento-inserire-dati-specifici-servizio.html</em>
                  </span>
                  <span class="it-multiple"><span class="metadata"></span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="prenota-appuntamento-inserire-dati-specifici-servizio-var-1.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Inserire i dati specifici del servizio variante-1
                    <em>prenota-appuntamento-inserire-dati-specifici-servizio-var-1.html</em>
                  </span>
                  <span class="it-multiple"><span class="metadata"></span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="prenota-appuntamento-inserire-dati-specifici-servizio-step-2.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Inserire i dati specifici del servizio Step 2
                    <em>prenota-appuntamento-inserire-dati-specifici-servizio-step-2.html</em>
                  </span>
                  <span class="it-multiple"><span class="metadata"></span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="prenota-appuntamento-inserire-dati-specifici-servizio-step-3.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Inserire i dati specifici del servizio Step 3
                    <em>prenota-appuntamento-inserire-dati-specifici-servizio-step-3.html</em>
                  </span>
                  <span class="it-multiple"><span class="metadata"></span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="prenota-appuntamento-controllare-dati-personali.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Inserire/Controllare i dati personali
                    <em>prenota-appuntamento-controllare-dati-personali.html</em>
                  </span>
                  <span class="it-multiple"><span class="metadata"></span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="prenota-appuntamento-controllare-dati-personali-var-1.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Inserire/Controllare i dati personali variante-1
                    <em>prenota-appuntamento-controllare-dati-personali-var-1.html</em>
                  </span>
                  <span class="it-multiple"><span class="metadata"></span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="prenota-appuntamento-conferma-riepilogo-informazioni-inserite.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Confermare riepilogo informazioni inserite
                    <em>prenota-appuntamento-conferma-riepilogo-informazioni-inserite.html</em>
                  </span>
                  <span class="it-multiple"><span class="metadata"></span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="prenota-appuntamento-finalizzare-procedura.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Finalizzare procedura
                    <em>prenota-appuntamento-finalizzare-procedura.html</em>
                  </span>
                  <span class="it-multiple"><span class="metadata"></span></span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 px-lg-4 pt-4 pb-2">
        <h3>Sito Pubblico: Richiedi Assistenza</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="it-list-wrapper">
          <ul class="it-list">
            <li>
              <a href="richiedi-assistenza-controllare-dati-personali.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Inserire/Controllare i dati personali
                    <em>richiedi-assistenza-controllare-dati-personali.html</em>
                  </span>
                  <span class="it-multiple"><span class="metadata"></span></span>
                </div>
              </a>
            </li>
            <li>
              <a href="richiedi-assistenza-finalizzare-procedura.html" target="_blank" class="list-item" data-focus-mouse="false">
                <div class="it-right-zone">
                  <span class="text">Finalizzare procedura
                    <em>richiedi-assistenza-finalizzare-procedura.html</em>
                  </span>
                  <span class="it-multiple"><span class="metadata"></span></span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  </main>



  {{/base/base-index }}