{{#>cmp-base/base title="Novità" headerActive2=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{>cmp-breadcrumbs/cmp-breadcrumbs active="Novità"}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center row-shadow">
      <div class="col-12 col-lg-10">
        {{>cmp-hero/cmp-hero
        hero-title="Notizie"
        hero-text="Tutte le novità comunali per i cittadini per restare aggiornati."
        wrapper-class="pt-0 ps-0 pb-4 pb-lg-60"}}
      </div>
    </div>
  </div>

  <div class="container py-5">
    <h2 class="title-xxlarge mb-4">Notizie in evidenza</h2>
    {{>cmp-list-card-img/cmp-list-card-img-hr cards=cards.card-news}}
  </div>

  <div class="bg-grey-card py-5">
    <div class="container">
      <h2 class="title-xxlarge mb-4">Esplora tutte le novità</h2>
      {{> cmp-input-search/input-search
        id="autocomplete-three"
        placeholder-text="Cerca per parola chiave"
        btnSearch=true
        search-subtitle=true
        text-subtitle="62 notizie trovate in ordine alfabetico"
        text-subtitle-class="u-grey-light text-paragraph-card mt-2 mb-30 mt-lg-3 mb-lg-40"
        wrapper-class="mb-0"
        icon-class="icon-primary"
      }}
      {{>cmp-list-card-img/cmp-list-card-img-hr cards=cards.card-all-news}}
      
      <div class="row my-4">
        <nav class="pagination-wrapper justify-content-center" aria-label="Navigazione centrata">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-hidden="true">
                <svg class="icon icon-primary">
                  <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-chevron-left"></use>
                </svg>
                <span class="visually-hidden">Pagina precedente</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-current="page">
                <span class="d-inline-block d-sm-none">Pagina </span>1
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">
                <span class="visually-hidden">Pagina successiva</span>
                <svg class="icon icon-primary">
                  <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </div>

  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6">
          {{>cmp-rating/cmp-rating id-title="rating" public-template=true}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center p-contacts">
        <div class="col-12 col-lg-6">
          {{>cmp-contacts/cmp-contacts city-problems=true}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/cmp-base/base }}
