{{#>cmp-base/base title="Mappa del sito"}}
<main>
  <div class="container my-4">
    <div class="row">
      <div class="col-12">
        <h1>Mappa del sito</h1>
        
        <div class="link-list-wrapper">
          <ul class="link-list">
            <li>
              <a class="list-item large medium" href="#">
                <span class="list-item-title">Homepage</span>
              </a>
              <ul class="link-sublist" id="">
                <li><a class="list-item" href="#"><span>Area personale</a></li>
                <li><a class="list-item" href="#"><span>Amministratione Trasparente</span></a></li>
                <li><a class="list-item" href="#"><span>Informativa privacy</span></a></li>
                <li><a class="list-item" href="#"><span>Dichiarazione di accessibilità</span></a></li>
                <li><a class="list-item" href="#"><span>Note legali</span></a></li>
                <li><a class="list-item" href="#"><span>Domande frequenti (FAQ)</span></a></li>
                <li><a class="list-item" href="#"><span>Richiesta di assistenza</span></a></li>
                <li><a class="list-item" href="#"><span>Prenotazione appuntamento</span></a></li>
                <li><a class="list-item" href="#"><span>Segnalazione disservizio</span></a></li>
                <li><a class="list-item" href="#"><span>Mappa del sito</span></a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li>
              <a class="list-item large medium" href="#">
                <span class="list-item-title">Amministrazione</span>
              </a>
              <ul class="link-sublist" id="">
                <li>
                  <a class="list-item" href="#"><span class="fw-semibold">/ Organi di governo</span></a>
                  <ul class="link-sublist" id="">
                    <li><a class="list-item" href="#"><span>Giunta comunale</a></li>
                    <li><a class="list-item" href="#"><span>Consiglio comunale</span></a></li>
                    <li><a class="list-item" href="#"><span>Commissione</span></a></li>
                  </ul>
                </li>
                <li>
                  <a class="list-item" href="#"><span class="fw-semibold">/ Aree amministrative</span></a>
                  <ul class="link-sublist" id="">
                    <li><a class="list-item" href="#"><span>Area 1</a></li>
                    <li><a class="list-item" href="#"><span>Area 2</span></a></li>
                    <li><a class="list-item" href="#"><span>Area 3</span></a></li>
                  </ul>
                </li>
                <li>
                  <a class="list-item" href="#"><span class="fw-semibold">/ Uffici</span></a>
                  <ul class="link-sublist" id="">
                    <li><a class="list-item" href="#"><span>Ufficio 1</a></li>
                    <li><a class="list-item" href="#"><span>Ufficio 2</span></a></li>
                    <li><a class="list-item" href="#"><span>Ufficio 3</span></a></li>
                  </ul>
                </li>
                <li>
                  <a class="list-item" href="#"><span class="fw-semibold">/ Enti e fondazioni</span></a>
                  <ul class="link-sublist" id="">
                    <li><a class="list-item" href="#"><span>Ente 1</a></li>
                    <li><a class="list-item" href="#"><span>Ente 2</span></a></li>
                    <li><a class="list-item" href="#"><span>Ente 3</span></a></li>
                  </ul>
                </li>
                <li>
                  <a class="list-item" href="#"><span class="fw-semibold">/ Politici</span></a>
                  <ul class="link-sublist" id="">
                    <li><a class="list-item" href="#"><span>Persona 1</a></li>
                    <li><a class="list-item" href="#"><span>Persona 2</span></a></li>
                    <li><a class="list-item" href="#"><span>Persona 3</span></a></li>
                  </ul>
                </li>
                <li>
                  <a class="list-item" href="#"><span class="fw-semibold">/ Personale amministrativo</span></a>
                  <ul class="link-sublist" id="">
                    <li><a class="list-item" href="#"><span>Persona 1</a></li>
                    <li><a class="list-item" href="#"><span>Persona 2</span></a></li>
                    <li><a class="list-item" href="#"><span>Persona 3</span></a></li>
                  </ul>
                </li>
                <li>
                  <a class="list-item" href="#"><span class="fw-semibold">/ Documenti e dati</span></a>
                  <ul class="link-sublist" id="">
                    <li><a class="list-item" href="#"><span>Categoria 1</a></li>
                    <li><a class="list-item" href="#"><span>Categoria 2</span></a></li>
                    <li><a class="list-item" href="#"><span>Categoria 3</span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="divider"></li>
            <li>
              <a class="list-item large medium" href="#">
                <span class="list-item-title">Novità</span>
              </a>
              <ul class="link-sublist">
                <li><a class="list-item" href="#"><span>Notizie</span></a>
                </li>
                <li><a class="list-item" href="#"><span>Comunicati</span></a>
                </li>
                <li><a class="list-item" href="#"><span>Avvisi</span></a>
                </li>
              </ul>
            </li>
            <li class="divider"></li>
            <li>
              <a class="list-item large medium" href="#">
                <span class="list-item-title">Servizi</span>
              </a>
              <ul class="link-sublist">
                <li>
                  <a class="list-item" href="#"><span class="fw-semibold">/ Categoria 1</span></a>
                  <ul class="link-sublist">
                    <li><a class="list-item" href="#"><span>Servizio 1</span></a></li>
                    <li><a class="list-item" href="#"><span>Servizio 2</span></a></li>
                    <li><a class="list-item" href="#"><span>Servizio 3</span></a></li>
                  </ul>
                </li>
                <li>
                  <a class="list-item" href="#"><span class="fw-semibold">/ Categoria 2</span></a>
                </li>
                <li>
                  <a class="list-item" href="#"><span class="fw-semibold">/ Categoria 3</span></a>
                </li>
              </ul>
            </li>
            <li class="divider"></li>
            <li>
              <a class="list-item large medium" href="#">
                <span class="list-item-title">Vivere il Comune</span>
              </a>
              <ul class="link-sublist">
                <li>
                  <a class="list-item" href="#"><span class="fw-semibold">/ Luoghi</span></a>
                  <ul class="link-sublist">
                    <li>
                      <a class="list-item" href="#"><span class="fw-semibold">/ Categoria 1</span></a>
                      <ul class="link-sublist">
                        <li><a class="list-item" href="#"><span>Luogo 1</span></a></li>
                        <li><a class="list-item" href="#"><span>Luogo 2</span></a></li>
                        <li><a class="list-item" href="#"><span>Luogo 3</span></a></li>
                      </ul>
                    </li>
                    <li>
                      <a class="list-item" href="#"><span class="fw-semibold">/ Categoria 2</span></a>
                      <ul class="link-sublist">
                        <li><a class="list-item" href="#"><span>Luogo 1</span></a></li>
                        <li><a class="list-item" href="#"><span>Luogo 2</span></a></li>
                        <li><a class="list-item" href="#"><span>Luogo 3</span></a></li>
                      </ul>
                    </li>
                    <li>
                      <a class="list-item" href="#"><span class="fw-semibold">/ Categoria 3</span></a>
                      <ul class="link-sublist">
                        <li><a class="list-item" href="#"><span>Luogo 1</span></a></li>
                        <li><a class="list-item" href="#"><span>Luogo 2</span></a></li>
                        <li><a class="list-item" href="#"><span>Luogo 3</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="list-item" href="#"><span class="fw-semibold">/ Eventi</span></a>
                  <ul class="link-sublist">
                    <li><a class="list-item" href="#"><span>Categoria 1</span></a></li>
                    <li><a class="list-item" href="#"><span>Categoria 2</span></a></li>
                    <li><a class="list-item" href="#"><span>Categoria 3</span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="divider"></li>
            <li>
              <a class="list-item large medium" href="#">
                <span class="list-item-title">Argomenti</span>
              </a>
              <ul class="link-sublist">
                <li><a class="list-item" href="#"><span>Argomento 1</a></li>
                <li><a class="list-item" href="#"><span>Argomento 2</a></li>
                <li><a class="list-item" href="#"><span>Argomento 3</a></li>
                <li><a class="list-item" href="#"><span>Argomento 4</a></li>
              </ul>
            </li>
          </ul>
        </div>


      </div>
    </div>
  </div>

</main>
{{/cmp-base/base }}
