{{#>cmp-base/base title="Osservatorio sul turismo - Nome del Comune" headerActive2=true}}
<main>
  <div class="container" id="main-container">
    <div class="row">
      <div class="col px-lg-4">
        {{>cmp-breadcrumbs/cmp-breadcrumbs link1="Novità" active="Osservatorio sul turismo"}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 px-lg-4 py-lg-2">
        <h1 data-audio>
          Osservatorio sul turismo
        </h1>
        <h2 class="visually-hidden">Dettagli della notizia</h2>
        <p data-audio>
          Donec in consequat nunc. Duis semper fermentum lacus, ac condimentum
          justo auctor a. Nam erat erat, porta vel pharetra in, ullamcorper vel
          turpis.
        </p>
        <div class="row mt-5 mb-4">
          <div class="col-6">
            <small>Data:</small>
            <p class="fw-semibold font-monospace">03 dicembre 2019</p>
          </div>
          <div class="col-6">
            <small>Tempo di lettura:</small>
            <p class="fw-semibold">3 min</p>
          </div>
        </div>
      </div>


      <div class="col-lg-3 offset-lg-1">
        <div class="dropdown d-inline">
          <button aria-label="condividi sui social"
            class="btn btn-dropdown dropdown-toggle text-decoration-underline d-inline-flex align-items-center fs-0"
            type="button" id="shareActions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-share"></use>
            </svg>
            <small>Condividi</small>
          </button>
          <div class="dropdown-menu shadow-lg" aria-labelledby="shareActions">
            <div class="link-list-wrapper">
              <ul class="link-list" role="menu">
                <li role="none">
                  <a class="list-item" href="#" role="menuitem">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-facebook"></use>
                    </svg>
                    <span>Facebook</span>
                  </a>
                </li>
                <li role="none">
                  <a class="list-item" href="#" role="menuitem">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-twitter"></use>
                    </svg>
                    <span>Twitter</span>
                  </a>
                </li>
                <li role="none">
                  <a class="list-item" href="#" role="menuitem">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-linkedin"></use>
                    </svg>
                    <span>Linkedin</span>
                  </a>
                </li>
                <li role="none">
                  <a class="list-item" href="#" role="menuitem">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-whatsapp"></use>
                    </svg>
                    <span>Whatsapp</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="dropdown d-inline">
          <button aria-label="vedi azioni da compiere sulla pagina"
            class="btn btn-dropdown dropdown-toggle text-decoration-underline d-inline-flex align-items-center fs-0"
            type="button" id="viewActions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-more-items"></use>
            </svg>
            <small>Vedi azioni</small>
          </button>
          <div class="dropdown-menu shadow-lg" aria-labelledby="viewActions">
            <div class="link-list-wrapper">
              <ul class="link-list" role="menu">
                <li role="none">
                  <a class="list-item" href="#" role="menuitem">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-print"></use>
                    </svg>
                    <span>Stampa</span>
                  </a>
                </li>
                <li role="none">
                  <a class="list-item" role="menuitem" onclick="listenElements(this, '[data-audio]')">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-hearing"></use>
                    </svg>
                    <span>Ascolta</span>
                  </a>
                </li>
                <li role="none">
                  <a class="list-item" href="#" role="menuitem">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-mail"></use>
                    </svg>
                    <span>Invia</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mt-4 mb-4">
          <div class="row">
            <span class="mb-2 small">Argomenti</span>
          </div>
          <ul class="d-flex flex-wrap gap-1">
            <li>
              {{> cmp-tag/cmp-tag label-tag="Cultura"}}
            </li>
            <li>
              {{> cmp-tag/cmp-tag label-tag="Muoversi"}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid my-3">
    <div class="row">
      <figure class="figure px-0 img-full">
        <img src="https://picsum.photos/800/400" class="figure-img img-fluid"
          alt="Un'immagine generica segnaposto con angoli arrotondati in una figura.">
        <figcaption class="figure-caption text-center pt-3">Una didascalia per l'immagine sopra.</figcaption>
      </figure>
    </div>
  </div>
  <div class="container">
    <div class="row border-top border-light row-column-border row-column-menu-left">
      <aside class="col-lg-4">
        {{>cmp-navscroll/cmp-navscroll accordion-title="INDICE DELLA PAGINA" id="one"
        link-list=link-list.template-novita-notizia}}
      </aside>
      <section class="col-lg-8 it-page-sections-container border-light">
        <article id="descrizione" class="it-page-section anchor-offset" data-audio>
          <h2 class="mb-3">Descrizione</h2>
          <p class="font-serif">
            Vivamus orci risus, fringilla sit amet enim vel, semper faucibus
            elit. Aliquam nec laoreet leo. Integer eu venenatis purus, eu
            tincidunt eros. Aliquam egestas est quis lacinia ultrices.
            Vestibulum vehicula sit amet purus id suscipit. Sed gravida urna
            tellus, sed aliquet erat faucibus porta. Aenean condimentum.
          </p>
        </article>
        <article id="documenti" class="it-page-section anchor-offset mt-5">
          <h2 class="mb-3">Documenti</h2>
          <div class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal">
            <div class="card card-teaser shadow-sm p-4 mt-3 rounded border border-light flex-nowrap">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-clip"></use>
              </svg>
              <div class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none" href="#" title="Scarica Lo speciale di National Geographic sulle regate in
                    Sardegna" aria-label="Scarica Lo speciale di National Geographic sulle regate in
                    Sardegna">Lo speciale di National Geographic sulle regate in
                    Sardegna</a>
                </h5>
              </div>
            </div>
            <div class="card card-teaser shadow-sm p-4 mt-3 rounded border border-light flex-nowrap">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-clip"></use>
              </svg>
              <div class="card-body">
                <h5 class="card-title">
                  <a class="text-decoration-none" href="#" title="Scarica Le rotte del mare: porti e approdi sulle coste
                    dell'Isola" aria-label="Scarica Le rotte del mare: porti e approdi sulle coste
                    dell'Isola">Le rotte del mare: porti e approdi sulle coste
                    dell'Isola</a>
                </h5>
              </div>
            </div>
          </div>
        </article>
        <article id="a-cura-di" class="it-page-section anchor-offset mt-5">
          <h2 class="mb-3">A cura di</h2>
          <div class="row">
            <div class="col-12 col-sm-8">
              <p class="h6"><small>Questa pagina è gestita da</small></p>
              <div class="card-wrapper rounded shadow-sm h-auto">
                <div class="card card-teaser card-teaser-info rounded shadow-sm p-4">
                  <div class="card-body pe-3">
                    <h5 class="card-title">
                      <a class="text-decoration-none" href="#">
                        Assessorato al Turismo
                      </a>
                    </h5>
                    <div class="card-text">
                      <p>Via Roma 1</p>
                      <p>00100 Roma</p>
                    </div>
                  </div>
                  <div class="avatar size-xl">
                    <img src="https://picsum.photos/200/200" alt="Immagine" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <h6><small>Persone</small></h6>
              <ul class="d-flex flex-wrap gap-1 mt-2">
                <li>
                  {{> cmp-tag/cmp-tag label-tag="Mario Rossi"}}
                </li>
                <li>
                  {{> cmp-tag/cmp-tag label-tag="Alessandro Bianchi"}}
                </li>
              </ul>
            </div>
          </div>
        </article>
        <article id="ultimo-aggiornamento" class="anchor-offset mt-5">
          <h4 class="h6">Ultimo aggiornamento</h4>
          <p class="h6"><strong>10/06/2019, 16:00</strong></p>
        </article>
      </section>
    </div>
  </div>
  
  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6">
          {{>cmp-rating/cmp-rating public-template=true}}
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center p-contacts">
        <div class="col-12 col-lg-6">
          {{>cmp-contacts/cmp-contacts city-problems=true}}
        </div>
      </div>
    </div>
  </div>
</main>

{{/cmp-base/base }}