{{#>cmp-base/base title="Novità - Nome del comune" headerActive2=true}}
  <main>
    <div class="container" id="main-container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          {{>cmp-breadcrumbs/cmp-breadcrumbs active="Novità"}}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center row-shadow">
        <div class="col-12 col-lg-10">
          {{>cmp-hero/cmp-hero
        hero-title="Novità"
        hero-text="Le notizie, i comunicati e gli avvisi per restare aggiornati sulle ultime novità, opportunità e cosa succede nel
        territorio comunale."
        wrapper-class="pt-0 ps-0 pb-4 pb-lg-60"}}
        </div>
      </div>
    </div>

    <div class="container py-5">
      <h2 class="text-secondary mb-4">In evidenza</h2>
      {{>cmp-list-card-img/cmp-list-card-img-hr cards=cards.card-news}}
    </div>

    <div class="bg-grey-card py-5">
      <div class="container">
        <h2 class="text-secondary mb-4">Esplora tutte le novità</h2>
        {{> cmp-input-search/input-search
            id="autocomplete-three"
            placeholder-text="Cerca per parola chiave"
            btnSearch=true
            label-text="cerca"
            search-subtitle=false
            text-subtitle="63 novità trovate in ordine alfabetico"
            text-subtitle-class="u-grey-light text-paragraph-card mt-2 mb-30 mt-lg-3 mb-lg-40"
            icon-class="icon-primary"
        }}
        {{>cmp-list-card-img/cmp-list-card-img-hr cards=cards.card-all-news rowClass="pb-4"}}

      </div>
    </div>


    <div class="container py-5" id="argomento">
      <h2 class="text-secondary mb-4">Esplora per categoria</h2>
      <div class="row g-4">

        <div class="col-md-6 col-xl-4">
          {{> cmp-card/cmp-card-simple
              borderlight=true
              classTitle="title-xlarge"
              card-title="Notizie"
              data-element="news-category-link"
              card-text="Gli ultimi aggiornamenti sugli avvenimenti e la vita culturale nel Comune."
          }}
        </div>

        <div class="col-md-6 col-xl-4">
          {{> cmp-card/cmp-card-simple
              borderlight=true
              classTitle="title-xlarge"
              card-title="Comunicati"
              data-element="news-category-link"
              card-text="Le comunicazioni ufficiali del Sindaco, degli organi politici e degli uffici comunali."
          }}
        </div>

        <div class="col-md-6 col-xl-4">
          {{> cmp-card/cmp-card-simple
              borderlight=true
              classTitle="title-xlarge"
              card-title="Avvisi"
              data-element="news-category-link"
              card-text="Bandi di gara, avvisi di concorso e tutte le opportunità per cittadini e imprese."
          }}
        </div>
      </div>
    </div>

    <div class="bg-primary">
      <div class="container">
        <div class="row d-flex justify-content-center bg-primary">
          <div class="col-12 col-lg-6">
            {{>cmp-rating/cmp-rating public-template=true}}
          </div>
        </div>
      </div>
    </div>

    <div class="bg-grey-card shadow-contacts">
      <div class="container">
        <div class="row d-flex justify-content-center p-contacts">
          <div class="col-12 col-lg-6">
            {{>cmp-contacts/cmp-contacts city-problems=true}}
          </div>
        </div>
      </div>
    </div>
  </main>
  {{/cmp-base/base }}