{{#>base/base title="Prenotazioni - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Prenotazioni"}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{>cmp-hero/cmp-hero
        hero-title="Prenotazione appuntamento"
        wrapper-class="pt-0 ps-0 pb-3 pb-lg-4"}}
      </div>
    </div>
  </div>

  <div class="container">
    {{> cmp-info-progress/cmp-info-progress
    step-list=step-list.prenota-appuntamento-step-4
    step-num="4"
    step-tot="5"
    step-title="Richiedente"
    classSubtitle="mt-40 mb-3"
    subtitle="I campi contraddistinti dal simbolo asterisco sono obbligatori"
    }}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 d-lg-block mb-4 d-none ">
        {{>cmp-navscroll/cmp-navscroll
        accordion-title="INFORMAZIONI RICHIESTE" id="one"
        link-list=link-list.prenota-appuntamento-step-4}}
      </div>
      <div class="col-12 col-lg-8 offset-lg-1">
        <div class="steppers-content" aria-live="polite">
          <div class="it-page-sections-container">
            <section class="it-page-section" id="applicant">
              {{#>cmp-card/cmp-card-content-box
              class="p-big"
              bg-grey=true
              h2-class="mb-1"
              card-title="Richiedente"
              subtitle="Informazioni su di te"
              }}
              {{> cmp-info-button-card/cmp-info-button-card big-title="Giulia Bianchi"
              label-2="Codice Fiscale <br> <span>GLABNC72H25H501Y</span>"
              show-more-anagrafica="true"
              onlyContact=true
              no-header=true
              collapse-id="collapse-parents"
              }}
              {{/cmp-card/cmp-card-content-box}}
            </section>
          </div>
          {{> cmp-nav-steps/cmp-nav-steps save="true" saveBtn=true aria-label-save="di prenotazione appuntamento"}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center p-contacts">
        <div class="col-12 col-lg-6">
          {{>cmp-contacts/cmp-contacts-trasversali faq=true assistance=true}}
        </div>
      </div>
    </div>
  </div>

</main>
{{/base/base }}