{{#>base/base title="Servizi - Nome del Comune" headerActive3=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs active="Servizi"}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{>cmp-hero/cmp-hero
        hero-title="Servizi"
        hero-text="Tutti i servizi comunali per i cittadini, disponibili online o a sportello,
        per richiedere documenti e permessi, iscriversi a graduatorie ed effettuare pagamenti."
        wrapper-class="pt-0 ps-0 pb-4 pb-lg-60"}}
      </div>
    </div>
  </div>

  <div class="bg-grey-card">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title-xxlarge mb-4 mt-5 mb-lg-10">Esplora tutti i servizi</h2>
        </div>

        <div class="col-12 col-lg-8 pt-lg-50 pb-lg-50">
          {{> cmp-input-search/input-search
            id="autocomplete-three"
            label-text="Cerca una parola chiave"
            placeholder-text="Cerca una parola chiave"
            wrapper-class="mb-2 mb-lg-4"
            icon-class="icon-primary"
            btnSearch=true
          }}
          
          <p class="mb-4"><strong>620 </strong>servizi trovati in ordine alfabetico</p>

          {{>cmp-card-latest-messages/cmp-card-latest-messages
          category="Ambiente"
          category-class="text-uppercase"
          category-class="text-uppercase"
          text-small-class="underline text-success"
          green-title-big="Abbandono di rifiuti in aree private"
          description="Il servizio gestisce gli esposti e le segnalazioni riguardanti l'abbandono di rifiuti in aree
          private"
          cmp-card-class="mb-30"
          cardRounded=true
          }}

          {{>cmp-card-latest-messages/cmp-card-latest-messages
          category="Mobilità e trasporti"
          category-class="text-uppercase"
          text-small-class="underline text-success"
          green-title-big="Abbonamento bike sharing"
          description="Sottoscrizione dell’abbonameno al servizio di bike sharing"
          cmp-card-class="mb-30"
          cardRounded=true
          }}

          {{>cmp-card-latest-messages/cmp-card-latest-messages
          category="Anagrafe e stato civile"
          category-class="text-uppercase"
          text-small-class="underline text-success"
          green-title-big="Albo dei giudici popolari"
          description="Tenuta e aggiornamento dell'Albo dei giudici popolari di Corte di assise e di Corte di assise di
          appello"
          cmp-card-class="mb-30"
          cardRounded=true
          }}

          {{>cmp-card-latest-messages/cmp-card-latest-messages
          category="Anagrafe e stato civile"
          category-class="text-uppercase"
          text-small-class="underline text-success"
          green-title-big="Abbandono di rifiuti in aree private"
          description="Albo delle persone idonee a svolgere le funzioni di presidente di seggio in occasione delle
          elezioni"
          cmp-card-class="mb-30"
          cardRounded=true
          }}

          {{>cmp-card-latest-messages/cmp-card-latest-messages
          category="Anagrafe e stato civile"
          category-class="text-uppercase"
          text-small-class="underline text-success"
          green-title-big="Albo scrutatori di seggio"
          description="Tenuta e aggiornamento dell'Albo degli scrutatori di seggio: l'elenco delle persone idonee a
          svolgere le funzioni di scrutatore in occasione delle elezioni"
          cardRounded=true
          }}

          {{> cmp-button/cmp-button
          outline-primary="true"
          class="pt-15 pb-15 pl-90 pr-90 mb-30 mt-3 mb-lg-50 full-mb text-button"
          label="Carica altri risultati"
          }}
        </div>

          <div class="col-12 col-lg-4 pt-30 pt-lg-5 ps-lg-5 order-first order-md-last">
            <div class="link-list-wrap">
              <h2 class="title-xsmall-semi-bold"><span>SERVIZI IN EVIDENZA</span></h2>
              <ul class="link-list t-primary">
                <li class="mb-3 mt-3">
                  <a class="list-item ps-0 title-medium" href="#">
                    <span>Rilascio Carta Identità Elettronica
                      (CIE)</span>
                  </a>
                </li>
                <li class="mb-3">
                  <a class="list-item ps-0 title-medium" href="#">
                    <span>Cambio di residenza</span>
                  </a>
                </li>
                <li class="mb-3">
                  <a class="list-item ps-0 title-medium" href="#">
                    <span>Tributi online</span>
                  </a>
                </li>
                <li class="mb-3">
                  <a class="list-item ps-0 title-medium" href="#">
                    <span>Prenotazione appuntamenti</span>
                  </a>
                </li>
                <li class="mb-3">
                  <a class="list-item ps-0 title-medium" href="#">
                    <span>Rilascio tessera elettorale</span>
                  </a>
                </li>
                <li>
                  <a class="list-item ps-0 title-medium" href="#">
                    <span>Voucher connettività</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5">
    <h2 class="title-xxlarge mb-4">Esplora per categoria</h2>
    <div class="row g-4">

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Agricoltura e pesca"
        card-text="Autorizzazioni e politiche alimentari per agricoltura e pesca."
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Ambiente"
        card-text="Aree verdi e parchi, inquinamento, igiene urbana e rifiuti."
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Anagrafe e stato civile"
        card-text="Documenti d’identità, cambio di residenza, servizi elettorali, cimiteriali e certificati per
        nascita, matrimoni e unioni civili."
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Appalti pubblici"
        card-text="Gare d’appalto e avvisi per lavori, servizi e forniture al Comune."
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Autorizzazioni"
        card-text="Autorizzazioni, permessi, licenze, concessioni di suolo, passi carrabili e prestito di beni del
        Comune."
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Catasto e urbanistica"
        card-text="Piani urbanistici, piani paesaggistici e tutti i certificati per immobili, case, terreni ed
        edifici. "
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Cultura e tempo libero"
        card-text="Luoghi della cultura e dell’arte, impianti sportivi e richieste di contributi per la cultura, lo
        spettacolo e lo sport."
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Educazione e formazione"
        card-text="Iscrizioni, agevolazioni e servizi per nidi, scuole e università."
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Giustizia e sicurezza pubblica"
        card-text="Polizia municipale, tribunale e Protezione civile."
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Imprese e commercio"
        card-text="Avvio di un’attività, commercio, autorizzazioni e concessioni per attività produttive, mercati,
        incentivi e supporto alle imprese."
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Mobilità e trasporti"
        card-text="Parcheggi, viabilità, automobili e trasporto pubblico."
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Salute, benessere e assistenza"
        card-text="Servizi santirari e di sostegno per minori, famiglie, anziani e persone con disabilità."
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Tributi, finanze e contravvenzioni"
        card-text="Tasse e tributi su immobili, rifiuti, affissioni e pubblicità."
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Turismo"
        card-text="Sostegno e sviluppo del turismo, strutture ricettive e informazioni turistiche."
        data-element="service-category-link"
        }}
      </div>

      <div class="col-md-6 col-xl-4">
        {{>cmp-card/cmp-card-simple
        borderlight=true
        classTitle="title-xlarge"
        card-title="Vita lavorativa"
        card-text="Lavoro, concorsi e selezioni, licenze, abilitazioni professionali e sicurezza sul lavoro."
        data-element="service-category-link"
        }}
      </div>
    </div>
  </div>


  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6">
          {{>cmp-rating/cmp-rating public-template=true}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center p-contacts">
        <div class="col-12 col-lg-6">
          {{>cmp-contacts/cmp-contacts city-problems=true}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}