{{#>base/base title="Sport - Nome del Comune"}}
<main>
  <div class="it-hero-wrapper it-wrapped-container" id="main-container">
    <div class="img-responsive-wrapper">
      <div class="img-responsive">
        <div class="img-wrapper">
          <img src="https://picsum.photos/800/400" title="titolo immagine" alt="descrizione immagine" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 px-0 px-lg-2 drop-shadow">
          <div class="it-hero-card it-hero-bottom-overlapping rounded hero-p pb-lg-80">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                {{>cmp-breadcrumbs/cmp-breadcrumbs class="mt-0" link1="Home" link2="Argomenti" link3="Sport"}}

              </div>
            </div>
            <div class="row sport-wrapper justify-content-between mt-lg-2">
              <div class="col-12 col-lg-5 offset-lg-1">
                <h1 class="mb-3 mb-lg-4 title-xxlarge">Sport</h1>
                <h2 class="visually-hidden" id="news-details">Dettagli della notizia</h2>
                <p class="u-main-black text-paragraph-regular-medium mb-60">
                  Informazioni su eventi sportivi, impianti comunali, servizi dedicati allo sport
                </p>
              </div>
              <div class="col-12 col-lg-5 me-lg-5">
                <div class="card-wrapper card-column">
                  <h3 class="title-xsmall-semi-bold">Questo argomento è gestito da:</h3>
                  <div class="card card-teaser card-teaser-info shadow-sm rounded d-flex align-items-center p-3 p-lg-4">
                    <div class="card-body">
                      <h4 class=" mb-1 title-small-semi-bold-medium">
                        <a href="#" class="text-decoration-none">
                        Sport, cultura, spettacolo
                        </a>
                      </h4>
                      <div class="card-text">
                        <p class="u-main-black">Via Dei Transiti 21, 50302</p>
                      </div>
                    </div>
                    <div class="avatar size-xl">
                      <img src="https://picsum.photos/200/200" alt="Immagine" />
                    </div>
                  </div>
                  <div class="card card-teaser card-teaser-info shadow-sm rounded d-flex align-items-center mb-2 mb-lg-0">
                    <div class="card-body">
                      <h4 class=" mb-1 title-small-semi-bold-medium">
                        <a href="#" class="text-decoration-none">
                        Gestione impianti sportivi
                        </a>
                      </h4>
                      <div class="card-text">
                        <p class="u-main-black">Via Dei Transiti 21, 50302</p>
                      </div>
                    </div>
                    <div class="avatar size-xl">
                      <img src="https://picsum.photos/200/200" alt="Immagine" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="novita">
    <div class="bg-grey-card pt-40 pt-md-100 pb-50">
      <div class="container">
        <div class="row row-title">
          <div class="col-12">
            <h3 class="u-grey-light border-bottom border-semi-dark pb-2 pb-lg-3 mt-lg-3 title-large-semi-bold">Novità</h3>
          </div>
        </div>
        <div class="row pt-4 mt-lg-2 pb-lg-4">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-wrapper">
              <div class="card card-img no-after rounded sm-row">
                <div class="img-responsive-wrapper">
                  <div class="img-responsive img-responsive-panoramic">
                    <figure class="img-wrapper">
                      <img src="https://picsum.photos/400/200" title="titolo immagine" alt="descrizione immagine" />
                    </figure>
                  </div>
                </div>
                <div class="card-body p-4">
                  <div class="category-top">
                    <a class="text-decoration-none fw-semibold" href="#">Notizie</a>
                    <span class="data u-grey-light">18 MAG 2022</span>
                  </div>
                    <h4 class="title-small-semi-bold-big mb-0">
                      <a href="#" class="text-decoration-none">
                      Sport nel verde: le iniziative della prossima edizione
                      </a>
                    </h4>
                  <p class="pt-3 d-none d-lg-block text-paragraph-card u-grey-light">
                    Le informazioni per partecipare all’iniziativa rivolta a tutte le fasce d’età per promuovere
                    l’attività motoria nelle aree verdi della città.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-wrapper">
              <div class="card card-img no-after sm-row">
                <div class="img-responsive-wrapper">
                  <div class="img-responsive img-responsive-panoramic">
                    <figure class="img-wrapper">
                      <img src="https://picsum.photos/400/200" title="titolo immagine" alt="descrizione immagine" />
                    </figure>
                    <div class="card-calendar d-flex flex-column justify-content-center">
                      <span class="card-date">2-3</span>
                      <span class="card-day">giu</span>
                    </div>
                  </div>
                </div>
                <div class="card-body p-4">
                  <div class="category-top">
                    <a class="text-decoration-none fw-semibold" href="#">Eventi</a>
                    <span class="data u-grey-light">DAL 2 AL 3 GIU 2022</span>
                  </div>
                    <h4 class="title-small-semi-bold-big mb-0 ">
                       <a href="#" class="text-decoration-none">
                      Torneo di beneficienza “Tutti in pista”
                      </a>
                    </h4>
                  <p class="pt-3 d-none d-lg-block text-paragraph-card u-grey-light">
                    Dal 2 al 3 giugno torna il torneo di beneficienza “Tutti in pista”. La raccolta fondi finanzierà
                    progetti sportivi per ragazzi e ragazze.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-wrapper">
              <div class="card card-img no-after rounded">
                <div class="card-body p-4">
                  <div class="category-top">
                    <a class="text-decoration-none fw-semibold" href="#">Avviso</a>
                    <span class="data u-grey-light">18 MAG 2022</span>
                  </div>
                    <h4 class="title-small-semi-bold-big mb-0 ">
                       <a href="#" class="text-decoration-none">
                      Chiusa per ristrutturazione la piscina Minghetti
                      </a>
                    </h4>
                  </a>
                  <p class="pt-3 d-none d-lg-block text-paragraph-card u-grey-light">
                    Partiti i lavori per l’adeguamento dell’impianto. La riapertura è prevista per giugno 2023.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-4 d-md-none">
            <div class="card-wrapper">
              <div class="card card-img no-after rounded">
                <div class="card-body p-4">
                  <div class="category-top">
                    <a class=" fw-semibold" href="#">Comunicati stampa</a>
                    <span class="data u-grey-light">18 MAG 2022</span>
                  </div>
                  <h4 class="title-small-semi-bold-big mb-0 u-grey-light">
                    Annunciato il calendario delle manifestazioni sportive 2022-2023
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-lg-2">
          <div class="col-12 col-lg-3 offset-lg-9">
            <button type="button" class="btn btn-primary text-button w-100">Tutte le novità</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="amministrazione">
    <div class="pb-40 pt-40 pt-lg-80">
      <div class="container">
        <div class="row row-title">
          <div class="col-12">
            <h3 class="u-grey-light border-bottom border-semi-dark pb-2 pb-lg-3 title-large-semi-bold">Amministrazione</h3>
          </div>
        </div>
        <div>
          <div class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal card-teaser-block-3 py-2 py-lg-3 d-flex d-md-block d-lg-flex">
            <div class="card card-teaser card-teaser-image card-flex rounded border border-light">
              <div class="card-body d-flex justify-content-between">

                <div class="py-4 px-4">
                  <div class="category-top">
                    <a class="text-decoration-none fw-semibold" href="#">Giunta e consiglio</a>
                  </div>
                    <h4 class="text-paragraph-medium ">
                     <a href="#" class="text-decoration-none">Gabriele Bianchi</a>
                    </h4>
                  <p class="m-0 u-grey-light text-paragraph-card">
                    Assessore allo sport
                  </p>
                </div>

                <div class="card-image card-image-rounded card-bg-image">
                  {{!-- <img src="https://picsum.photos/200/300" alt="Immagine di esempio"/> --}}
                </div>
              </div>

            </div>
            <div class="card card-teaser rounded border border-light">
              <div class="card-body">
                <div class="category-top">
                  <a class="text-decoration-none fw-semibold" href="#">Aree di competenza</a>
                </div>
                  <h4 class="text-paragraph-medium ">
                   <a href="#" class="text-decoration-none">Area impiantistica sportiva e manifestazioni sportive</a>
                  </h4>
                <p class="m-0 u-grey-light text-paragraph-card">
                  Dirigente Arch. M. Alessandra Verdi
                </p>
              </div>
            </div>
            <div class="card card-teaser rounded border border-light">
              <div class="card-body">
                <div class="category-top">
                  <a class="text-decoration-none fw-semibold" href="#">Aree di competenza</a>
                </div>
                  <h4 class="text-paragraph-medium ">
                   <a href="#" class="text-decoration-none">Area pratiche ed erogazione dei contributi</a>
                  </h4>
                <p class="m-0 u-grey-light text-paragraph-card">
                  Dirigente Ing. Mauro Brambilla
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 offset-lg-9">
            <button type="button" class="btn btn-primary text-button w-100">Tutta l’amministrazione</button>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="servizi">
    <div class="pb-40 pt-40">
      <div class="container">
        <div class="row row-title">
          <div class="col-12">
            <h3 class="u-grey-light border-bottom border-semi-dark pb-2 pb-lg-3 title-large-semi-bold">Servizi</h3>
          </div>
        </div>
        <div>
          <div
            class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal card-teaser-block-3 py-2 py-lg-3 justify-content-between">
            <div class="card card-teaser rounded border border-light">
              <div class="card-body">
                <div class="category-top">
                  <a class="text-decoration-none fw-semibold" href="#" title="Vai al servizio - autorizzazioni">Autorizzazioni</a>
                </div>
                
                  <h4 class="text-paragraph-medium ">
                    <a href="#" class="text-decoration-none">
                    Rimborsi alle società sportive
                     </a>
                  </h4>
               
                <p class="text-paragraph-card u-grey-light">
                  Nuovo bando per l’Anno sportivo 2022-2023
                </p>
              </div>
            </div>
            <div class="card card-teaser rounded border border-light ms-0">
              <div class="card-body">
                <div class="category-top">
                  <a class="text-decoration-none fw-semibold" href="#">Appalti pubblici</a>
                </div>
                
                  <h4 class="text-paragraph-medium ">
                    <a href="#" class="text-decoration-none">
                    Concessione degli impianti sportivi
                    </a>
                  </h4>
                
                <p class="text-paragraph-card u-grey-light">
                  Domanda per la concessione degli impianti sportivi
                </p>
              </div>
            </div>

            <div class="card card-teaser rounded border border-light ms-0">
              <div class="card-body">
                <div class="category-top">
                  <a class="text-decoration-none fw-semibold" href="#">Giustizia e sicurezza pubblica</a>
                </div>
                  <h4 class="text-paragraph-medium ">
                     <a href="#" class="text-decoration-none">
                    Manifestazioni sportive
                    </a>
                  </h4>
                <p class="text-paragraph-card u-grey-light">
                  Richiesta autorizzativa per eventi sportivi.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 offset-lg-9">
          <button type="button" class="btn btn-primary text-button w-100">Tutti i servizi</button>
        </div>
      </div>
    </div>



  </section>

  <section id="documenti">
    <div class="pb-80 pt-40">
      <div class="container">
        <div class="row row-title">
          <div class="col-12">
            <h3 class="u-grey-light border-bottom border-semi-dark pb-2 pb-lg-3 title-large-semi-bold">Documenti</h3>
          </div>
        </div>
        <div>
          <div class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal card-teaser-block-3  py-2 py-lg-3">
            <div class="card card-teaser rounded border border-light">
              <div class="card-body">
                <div class="category-top">
                  <a class="text-decoration-none fw-semibold" href="#">Documento albo pretorio</a>
                </div>
                  <h4 class="text-paragraph-medium">
                     <a href="#" class="text-decoration-none">
                    Bandi per impianti e manifestazioni
                    </a>
                  </h4>
                </a>
                
                <p class="text-paragraph-card u-grey-light">
                  Elenco dei bandi attivi
                </p>
              </div>
            </div>
            <div class="card card-teaser rounded border border-light">
              <div class="card-body">
                <div class="category-top">
                  <a class="text-decoration-none fw-semibold" href="#">Modulistica</a>
                </div>
                
                  <h4 class="text-paragraph-medium ">
                    <a href="#" class="text-decoration-none">
                    Concessione per la piscina Verdicchio
                    </a>
                  </h4>
                <p class="text-paragraph-card u-grey-light">
                  Bando per la concessione dell’impianto
                </p>
              </div>
            </div>
            <div class="card card-teaser rounded border border-light">
              <div class="card-body">
                <div class="category-top">
                  <a class="text-decoration-none fw-semibold" href="#">Documento albo pretorio</a>
                </div>
                  <h4 class="text-paragraph-medium ">
                    <a href="#" class="text-decoration-none">
                    Piano lavori 2023
                    </a>
                  </h4>
                <p class="text-paragraph-card u-grey-light">
                  Deliberazione del Consiglio comunale per piano lavori previsto per il 2023
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 offset-lg-9">
          <button type="button" class="btn btn-primary text-button w-100">Tutti i documenti</button>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6">
          {{>cmp-rating/cmp-rating public-template=true rating-title="Quanto è utile questa pagina?"}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center p-contacts">
        <div class="col-12 col-lg-6">
          {{>cmp-contacts/cmp-contacts city-problems=true}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }}
