{{#>base/base title="Iscrizione alla Scuola dell’infanzia - Nome del Comune" headerActive3=true service-json=true}}
<main>
  <div class="container" id="main-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-breadcrumbs/cmp-breadcrumbs link1="Home" link2="Servizi" link3="Educazione e formazione"}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> cmp-heading/cmp-heading-detail
        title="Iscrizione alla Scuola dell’infanzia"
        subTitle="Come iscrivere i propri figli alle Scuole dell'infanzia comunali o nelle strutture accreditate."
        pClass="mb-3"
        button=true
        label="Richiesta di iscrizione online"
        primary=true
        class="text-button"
        label-tag-up="Servizio attivo"
        servizio-attivo=true
        }}
      </div>
      <hr class="d-none d-lg-block mt-2">
    </div>
  </div>

  <div class="container">
    <div class="row row-column-menu-left mt-4 mt-lg-80 pb-lg-80 pb-40">
      <div class="col-12 col-lg-3 mb-4 border-col">
        {{>cmp-navscroll/cmp-navscroll accordion-title="INDICE DELLA PAGINA"  id="one"
        link-list=link-list.template-dettaglio-servizio}}
      </div>

      <div class="col-12 col-lg-8 offset-lg-1">
        <div class="it-page-sections-container">
        <section class="it-page-section mb-30" id="who-needs">
          <h2 class="title-xxlarge mb-3">A chi è rivolto</h2>
          <div class="richtext-wrapper lora">
            <ul>
              <li><span>Bambini di età compresa tra i 3 e i 5 anni compiuti o da compiere entro il 31 dicembre di ogni anno.</span></li>
              <li><span>Bambini che compiranno i 3 anni dopo il 31 dicembre e, comunque, entro e non oltre il 30 aprile dell’anno successivo (ammissione anticipata).</span></li>
            </ul>
          </div>
        </section>

        <section class="it-page-section mb-30" id="description">
          <h2 class="title-xxlarge mb-3" data-element="service-description">Descrizione</h2>
          <div class="richtext-wrapper lora">
            <p>Le domande di iscrizione devono essere presentate alle scuole nei mesi di
            gennaio/febbraio.
            L'Amministrazione pubblica un avviso con le modalità di accesso e i termini di presentazione della domanda.
            <br>
            <br>
            Le graduatorie ai fini dell'inserimento dei bambini sono curate dal Servizio Istruzione del Comune che le
            approva con determinazione dirigenziale.
            </p>
          </div>
          
        </section>

        <section class="it-page-section mb-30" id="how-to">
          <h2 class="title-xxlarge mb-3">Come fare</h2>
          <div class="richtext-wrapper lora">
            <p> Puoi presentare la richiesta di iscrizione esclusivamente online dalle ore
            10:00 del 4 gennaio 2022 alle 20:00
            del 4 febbraio 2022. I posti assegnati vanno accettati entro 15 giorni dalla pubblicazione della
            graduatoria.
            </p>
          </div>
        </section>

        <section class="it-page-section mb-30 has-bg-grey p-3" id="needed">
          <h2 class="title-xxlarge mb-3">Cosa serve</h2>
          <div class="richtext-wrapper lora">
            <p>Per accedere al servizio, assicurati di avere:</p>
            <ul>
              <li><span>SPID (Sistema Pubblico per la gestione dell'Identità Digitale), Carta identità
                  elettronica (CIE) o Carta Nazionale dei Servizi (CNS);</span></li>
              <li><span>la documentazione attestante eventuali disabilità</span></li>
              <li><span>il permesso di soggiorno del genitore che presenta la richiesta</span></li>
              <li><span>l’ISEE in corso di validità</span></li>
            </ul>
          </div>
        </section>

        <section class="it-page-section mb-30" id="obtain">
          <h2 class="title-xxlarge mb-3">Cosa si ottiene</h2>
          <div class="richtext-wrapper lora">
            <p>Se - in base ai requisiti e alla graduatoria - la richiesta verrà accettata,
            sarà possibile perfezionare l’iscrizione all’asilo.</p>
          </div>
        </section>

        <section class="it-page-section mb-30" id="deadlines">
          {{>cmp-timeline/cmp-timeline
          title="Tempi e scadenze"
          timeline=timeline.template-dettaglio-servizio
          description="Le graduatorie verranno aggiornate ogni mese con nuove assegnazioni e trasferimenti in base ai
          posti disponibili."
          lora=true
          }}
        </section>

        <section class="it-page-section mb-30" id="costs">
          <h2 class="title-xxlarge mb-3">Quanto costa</h2>
          <div class="richtext-wrapper lora">
            <p>L’importo della retta si
            basa sul reddito del nucleo famigliare in base al certificato ISEE. Per maggiori informazioni, consulta la
            tabella allegata al bando.</p>
          </div>
          {{>cmp-icon-link/cmp-icon-link link="Tabella rette in base al reddito"}}
        </section>

        <section class="it-page-section mb-30 has-bg-grey p-4" id="submit-request">
          <h2 class="mb-3">Accedi al servizio</h2>
          <p class="text-paragraph lora mb-4">Puoi richiedere l’iscrizione alla Scuola dell’infanzia direttamente online
            tramite identità digitale.</p>
          <button type="button"
            class="btn btn-primary mobile-full">
            <span>Richiedi iscrizione online</span>
          </button>
          <p class="text-paragraph lora mt-4">Oppure, puoi prenotare un appuntamento e presentarti presso gli uffici.
          </p>
          <button type="button"
            class="btn btn-outline-primary t-primary bg-white mobile-full">
            <span>Prenota appuntamento</span>
          </button>
        </section>
        
        <section class="it-page-section mb-30" id="more-info">
          <h2 class="title-xxlarge mb-3">Ulteriori informazioni</h2>
          <h3 class="mb-3 subtitle-medium">Graduatorie di accesso</h3>
          <div class="richtext-wrapper lora">
            <p>I bambini già ammessi alla frequenza nell’anno scolastico in corso sono riammessi di diritto nell’anno scolastico successivo previa richiesta, su appositi moduli trasmessi alle strutture di riferimento.<br> Alle domande viene attribuito un punteggio secondo i criteri stabiliti dall'Amministrazione Comunale. La famiglia può in qualsiasi momento rinunciare al posto, presentando al responsabile del servizio specifica dichiarazione scritta di rinuncia.<br><br>
            Se hai già inviato la richiesta di iscrizione puoi vedere le graduatorie d’accesso nella sezione documenti."</p>
          </div>
        </section>

        <section class="it-page-section mb-30" id="conditions">
          <h2 class="title-xxlarge mb-3">Condizioni di servizio</h2>
          <p class="text-paragraph lora">Per conoscere i dettagli di
            scadenze, requisiti e altre informazioni importanti, leggi i termini e le condizioni di servizio.</p>
          {{>cmp-icon-link/cmp-icon-link link="Termini e condizioni di servizio" dimensione-file="(PDF 1MB)"}}
        </section>

        <section class="it-page-section" id="contacts">
          <h2 class="mb-3">Contatti</h2>
          <div class="row">
            <div class="col-12 col-md-8 col-lg-6 mb-30">
              <div class="card-wrapper rounded h-auto mt-10">
                <div class="card card-teaser card-teaser-info rounded shadow-sm p-3">
                  <div class="card-body pe-3">
                    <p class="card-title text-paragraph-regular-medium-semi mb-3">
                      <a class="text-decoration-none" href="#" data-element="service-area">Ufficio Scuola</a>
                    </p>
                    <div class="card-text">
                      <p class="u-main-black">Via Dei Transiti 21, 50302</p>
                      <p class="u-main-black">05 505</p>
                      <p class="u-main-black">ufficioscuola@email.it</p>
                    </div>
                  </div>
                  <div class="avatar size-xl">
                    <img src="https://picsum.photos/200/200" alt="Immagine" />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 mb-30">
              <span class="text-paragraph-small">Argomenti:</span>
              <div class="d-flex flex-wrap gap-2 mt-10 mb-30">
                {{>partials/cmp-tag/cmp-tag label-tag="Educazione" class="t-primary bg-tag"}}
                {{>partials/cmp-tag/cmp-tag label-tag="Famiglia" class="t-primary bg-tag"}}
                {{>partials/cmp-tag/cmp-tag label-tag="Scuola materna" class="t-primary bg-tag"}}
                {{>partials/cmp-tag/cmp-tag label-tag="Bambini 3 - 5 anni" class="t-primary bg-tag"}}
              </div>
              <p class="text-paragraph-small mb-0">Pagina aggiornata il 14/04/2022</p>
            </div>
        </section>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6 p-lg-0 px-4">
          {{>cmp-rating/cmp-rating}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-5">
          {{>cmp-carousel/cmp-carousel carousel-title="Contenuti correlati" class="carousel-4-card"
          carTitle-class="pb-0"}}
        </div>
        <div class="col-12 col-lg-6 offset-lg-3 p-contacts">
          {{>cmp-contacts/cmp-contacts city-problems=true}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/base/base }} 
