.cmp-tab{
  .nav-tabs{
    overflow: hidden;
    background-color: get-color(card, grey);
    box-shadow: none;
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    background-color: get-color(card, grey);
  }

  .form-check [type=radio]+label {
    @include font(16, 16);
    height: max-content;
    margin: 0.75rem 0;
    font-weight: 600;
    line-height: 1.5;
    color: get-color(black, main);
    padding-left: 2.5rem;

    @include media-breakpoint-up(sm) {
      margin: 0.67rem 0;
      padding-left: 2.22rem;
    }
  }

  .form-check [type=radio]:not(:checked)+label::before {
    border-color:get-color(black, main) ;
    top: -3px;
  }
}
