<div class="cmp-tab mt-4">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item"><a class="nav-link active ps-0" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Prime disponibilità</a></li>
  <li class="nav-item"><a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Calendario</a></li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane py-4 fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
    <div class="cmp-card-radio">
  <div class="card p-3">
    <div class="card-body p-0">
      <div class="form-check m-0">
        <div class="radio-body border-bottom border-light">
          <input name="radio" type="radio" id="radio-1">
          <label for="radio-1">Giovedì 11 Marzo 2022 ore 10:00</label>
        </div>
        <div class="radio-body border-bottom border-light">
          <input name="radio" type="radio" id="radio-2">
          <label for="radio-2">Venerdì 12 Marzo 2022 ore 11:15</label>
        </div>
        <div class="radio-body border-bottom border-light">
          <input name="radio" type="radio" id="radio-3">
          <label for="radio-3">Lunedì 15 Marzo 2022 ore 09:00</label>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
  <div class="tab-pane py-4 fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
    {{>partials/input-calendar/input-calendar  label-text="Seleziona data o periodo" label-class="d-none" form-class="mb-0 p-3" index="1"}}
    <h3 class="title-large-semi-bold mt-4">Orario*</h3>
    <div class="cmp-card-radio">
  <div class="card p-3">
    <div class="card-body p-0">
      <div class="form-check m-0">
        <div class="radio-body border-bottom border-light">
          <input name="radio" type="radio" id="radio-4">
          <label for="radio-4">10:00 - 10:30</label>
        </div>
        <div class="radio-body border-bottom border-light">
          <input name="radio" type="radio" id="radio-5">
          <label for="radio-5">17:00 - 17:30</label>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
</div>
