.cmp-input-autocomplete {
  .autocomplete-list {
    width: auto;
    margin: 0 um(16px);
    border: 1px solid get-color(dark, grey);

    &.autocomplete-list-show {
      margin-top: um(-10px);

      a{
        padding: um(7px);
      }
    }
  }

  .label-span {
    color: get-color(dark, grey);
    font-size: um(14px);
    font-weight: 700;
  }

}
