<div class="cmp-upload">
  <label for="file-1" class="cmp-upload__label {{class}}">{{label}}{{#if required}}*{{/if}}</label>
  <ul class="upload-file-list cmp-upload__list m-0">
    {{#if success}}
    <li id="file-1" class="upload-file success">
      <svg class="icon icon-sm" aria-hidden="true">
        <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
      </svg>
      <p class="cmp-upload__list-item">
        <span class="visually-hidden">File caricato:</span>
        documento_ISEE-2022.pdf
      </p>
      <button disabled>
        <span class="visually-hidden">Caricamento ultimato</span>
        <svg class="icon icon-sm" aria-hidden="true">
          <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
        </svg>
      </button>
    </li>
    {{/if}}
    {{#if error}}
    <li class="upload-file error">
      <svg class="icon icon-sm" aria-hidden="true">
        <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
      </svg>
      <p>
        <span class="visually-hidden">Errore caricamento file:</span>
        documento_ISEE-2022.pdf<span class="upload-file-weight"></span>
      </p>
      <button>
        <span class="visually-hidden">Elimina file caricato nome-file-04.jpg</span>
        <svg class="icon" aria-hidden="true">
          <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
        </svg>
      </button>
    </li>
    {{/if}}
  </ul>
  <input type="file" name="upload1" id="upload-{{inputId}}" class="upload" multiple="multiple" />
  <label for="upload-{{inputId}}" class="w-100 d-flex justify-content-center w-100 ">
    <svg class="icon icon-sm" aria-hidden="true">
      <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-upload"></use>
    </svg>
    <span>Carica documento</span>
  </label>
  <p class="mt-2 cmp-upload__info mb-4">Caricare uno o più file in formato pdf, jpg, png</p>
</div>
